<header>
    <div class="header-wrap">
        <a id="nav-btn" onclick="toggleClass()" href="javascript:void(0);" class="nav-btn">&#x2261;</a>
        <nav id="nav" class="vertical-mode-closed">
            <ul class="nav">
                <li <%- pageName == 'index' ? 'class="active"' : '' %>>
                  <a href="index.html">About</a>
                </li>
              <li <%- pageName == 'schedule' ? 'class="active"' : '' %>>
                <a href="schedule.html">Schedule</a>
              </li>
                <li <%- pageName == 'venue' ? 'class="active"' : '' %>>
                  <a href="venue.html">Venue</a>
                </li>
                <li <%- pageName == 'codeofconduct' ? 'class="active"' : '' %>>
                  <a href="codeofconduct.html">Code of conduct</a>
                </li>
                <li>
                  <a href="http://2015.conf.rollingscopes.com/coverage.html" target="_blank">
                    2015
                  </a>
                </li>
                <li>
                  <a href="mailto:rolling.scopes@gmail.com">
                    <i class="fa fa-envelope-o"></i>
                    Contact us
                  </a>
                </li>
            </ul>
        </nav>
    </div>
</header>
