<nav>

  <input class="menu-btn" type="checkbox"/>

  <div class="menu-icon">

    <span>hamburger menu line</span>
    <span>hamburger menu line</span>
    <span>hamburger menu line</span>

  </div>

  <div class="menu-wrapper">

    <div class="menu-content">

      <div class="menu-item-primary">
        <ul>
          <li><a href="index.html">Home</a></li>
          <li><a href="schedule.html">Schedule</a></li>
          <li><a href="speakers.html">Speakers</a></li>
          <li><a href="https://www.eventbrite.com/e/the-rolling-scopes-conference-2018-minsk-tickets-42312482775">Tickets</a></li>
          <li><a href="venue.html">Venue</a></li>
          <li><a href="partners.html">Partners</a></li>
          <li><a href="contacts.html">Contacts</a></li>
          <li><a href="code-of-conduct.html">Code of Conduct</a></li>
        </ul>
      </div>

      <!--<div class="menu-item-lang">-->
      <!--<ul>-->
      <!--<li><a class="active" href="https://2018.conf.rollingscopes.com/">En</a></li>-->
      <!--<li><a href="#">Ru</a></li>-->
      <!--</ul>-->
      <!--</div>-->

      <div class="menu-item-about">
        <h2><a href="about.html">About</a></h2>
        <p>The Rolling Scopes is a front-end conference, located in Minsk, Belarus.</p>
        <p><a href="about.html">Read more</a></p>
      </div>

      <div class="menu-item-previous">
        <h2>Previous years</h2>
        <ul class="preview-slider">
          <li><a href="https://2015.conf.rollingscopes.com/">2015 </a>
          </li>
          <li><a href="https://2016.conf.rollingscopes.com/">2016 </a>
          </li>
          <li><a href="https://2017.conf.rollingscopes.com/">2017 </a>
          </li>
        </ul>
      </div>

      <div class="menu-item-venue">
        <h2><a href="venue.html">Venue</a></h2>
        <img src="images/venue-menu.jpg"
             alt="">
        <h3>Palac kuĺtury prafsajuzaŭ</h3>
        <p>praspiekt Niezaliežnasci 25, Minsk</p>
        <p><a href="venue.html">Learn more</a></p>
      </div>

      <div class="menu-item-tickets">
        <h2><a href="https://www.eventbrite.com/e/the-rolling-scopes-conference-2018-minsk-tickets-42312482775">Tickets</a></h2>
        <p class="bold">The Rolling Scopes Conference
          February 10-11, 2018
          <br><span class="city-address">Minsk, Belarus</span></p>

        <p><a class="btn" href="https://www.eventbrite.com/e/the-rolling-scopes-conference-2018-minsk-tickets-42312482775"> Free Ticket</a></p>

        <p>Follow us on <a target="_blank" href="https://twitter.com/rollingscopes">Twitter</a> or
          <a target="_blank" href="https://www.facebook.com/groups/TheRollingScopes/">Facebook</a>
          to learn about the tickets first!</p>
      </div>

      <div class="menu-item-social">
        <h2>Follow us</h2>
        <p>Follow us on social media, our hashtag #rollingscopes</p>
        <ul class="social-links">
          <li><a target="_blank" href="http://frontendbelarus.herokuapp.com/"><i class="fa fa-slack"></i></a></li>
          <li><a target="_blank" href="https://www.facebook.com/groups/TheRollingScopes/"><i
                class="fa fa-facebook"></i></a></li>
          <li><a target="_blank" href="https://www.youtube.com/user/therollingscopes"><i class="fa fa-youtube-play"
                                                                                         aria-hidden="true"></i></a>
          </li>
          <li><a target="_blank" href="https://vk.com/therollingscopes"><i class="fa fa-vk"></i></a></li>
          <li><a target="_blank" href="https://twitter.com/rollingscopes"><i class="fa fa-twitter"></i></a></li>
          <li><a target="_blank" href="https://www.instagram.com/explore/tags/rollingscopes/"><i
                class="fa fa-instagram"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</nav>
