// functions
@import 'nib';

$light_blue = #3D94F6;
$dark_blue = #1E62D0;

linear-gradient-button(start, end, height=0) {
	if (height) {
		background-image: linear-gradient-image(height, start 5%, end 100%);
	} else {
		background-image: linear-gradient(start 5%, end 100%);
	}
}

.header {
	text-align: center;
}

.stylish-enjoy-button {
	linear-gradient-button($light_blue, $dark_blue);
	display: inline-block;
	padding: 6px 24px;
	color: #fff;
	cursor: pointer;
	font-family: arial;
	font-size: 15px;
	font-weight: bold;

	.ie8 & {
		linear-gradient-button($light_blue, $dark_blue, 30px);
	}

	&:hover {
		linear-gradient-button($dark_blue, $light_blue);

		.ie8 & {
			linear-gradient-button($dark_blue, $light_blue, 30px);
		}
	}
}