//  Embed url (30kb by default)
@import 'nib';
global-reset();

body {
	background-size:100%;
	background-image: embedurl('background.png');
}

$light_blue = #3D94F6;
$dark_blue = #1E62D0;

linear-gradient-button(start, end, height=0) {
	if (height) {
		background-image: linear-gradient-image(height, start 5%, end 100%);
	} else {
		background-image: linear-gradient(start 5%, end 100%);
	}
}

.header {
	text-align: center;
}

.stylish-enjoy-button {
	// SYNTAX WITHOUT COMMA
	linear-gradient-button: $light_blue $dark_blue;
	display: inline-block;
	margin: 10px;
	padding: 6px 24px;
	cursor: pointer;

	&-text{
		color: #fff;
		font-family: arial;
		font-size: 15px;
		font-weight: bold;
	}

	.ie8 & {
		// SYNTAX WITH COMMA
		linear-gradient-button: $light_blue, $dark_blue, 30px;
	}

	&:hover {
		linear-gradient-button: $dark_blue $light_blue;

		.ie8 & {
			linear-gradient-button: $dark_blue $light_blue 30px;
		}
	}
}

$gray_interval = 40;

.stylish-table {
	@extend .stylish-enjoy-button-text;
	
	margin: 10px auto;

	thead td {
		padding: 7px;
		font-size: 22px;
	}

	td:nth-child(1) {
		padding: 5px;
	}

	tr:not(:first-child) {
		text-align: center;
	}

	for num in 1 2 3 4 {
		td:nth-child({num}) {
			background-color: rgba($gray_interval * num, $gray_interval * num, $gray_interval * num, 0.7);
		}
	}
}

.header {
	text-align: center;
}

.stylish-footer {
	fixed: bottom left right;
	text-align: center;
	background-color: $dark_blue;
	padding: 5px 0;

	&-copyright {
		@extend .stylish-enjoy-button-text;

		&:after {
			content: copyright;
		}
	}
}