@import 'nib'

.stylish-enjoy-button {
	background-image: linear-gradient(rgb(61, 148, 246) 5%, rgb(30, 98, 208) 100%);
	display: inline-block;
	padding: 6px 24px;
	color: #fff;
	cursor: pointer;
	font-family: arial;
	font-size: 15px;
	font-weight: bold;

	.ie8 & {
		background-image: linear-gradient-image(30px, rgb(61, 148, 246) 5%, rgb(30, 98, 208) 100%);
	}
}

.stylish-enjoy-button:hover {
	background-image: linear-gradient(rgb(30, 98, 208) 5%, rgb(61, 148, 246) 100%);
	.ie8 & {
		background-image: linear-gradient-image(30px, rgb(30, 98, 208) 5%, rgb(61, 148, 246) 100%);
	}
}