@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,700);

* {
  margin: 0;
  padding: 0;
}

body {
  padding: 5%;
  font-family: 'Open Sans';
  font-size: 1em;
}

.container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
	-moz-flex-flow: row wrap;
	-ms-flex-flow: row wrap;
	-ms-flex-direction: row;
	-ms-flex-wrap: wrap;
	flex-flow: row wrap;
  margin: 0 auto;
  max-width: 1000px;
}

.header {
  padding: 1em 0.5em;
  width: 100%;
  height: 100px;
  background: #cdc9bb; 
}

.content {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -moz-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  
  padding: 1em;
  background: #e7e3d4;
}

.nav {
  width: 200px;
  padding: 1em 0.5em;
  background: #eceae4;
}

.aside {  
  width: 140px;
  padding: 1em 0.5em;
  background: #f8f8f6;
}
.footer {
  padding: 1em 0.5em;
  width: 100%;
  height: 100px;
  background: #cdc9bb; 
}
@media (max-width: 800px) {
  .container{
    flex-flow: column wrap;
  }
  .header {
    order: 2;
  }
  .aside {  
    order: 5;
    width: 100%;
    background: aqua;
  }
  .nav {
    order: 1;
    width: 100%;
  }
  .content {
    order: 3;
  }
  .footer {
    order: 4;
  }
}