.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

html, body {
    height: 100%;
}
.page-wrap {
    min-height: 100%;
    margin-bottom: -200px;
}
.page-wrap:after {
    content: "";
    display: block;
}
footer, .page-wrap:after {
    height: 200px;
}

/******************  general  ******************/
html, body, div, span, h1, h2, h3, h4, p, img, strong, ul, li, form, label, article, nav {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    outline: 0;
}

body {
    background: #fff;
    color: #444;
    font-family: 'Lusitana', 'Cambria', 'Georgia', 'Times New Roman', 'Times', serif;
    line-height: 1.46em;
    text-align: center;
}

a {
    color: #f0194b;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

p {
    margin-bottom: 0.5em;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    font-style: normal;
    font-family: 'Roboto Condensed', sans-serif;
    color: #444;
    margin-top: 0.2em;
    margin-bottom: 0.5em;
    line-height: 1.2125em
}

h1 {
    font-size: 2.125em
}

h2 {
    font-size: 1.6875em
}

h3 {
    font-size: 1.375em
}

h4 {
    font-size: 1.125em
}

h5 {
    font-size: 1.125em
}

h6 {
    font-size: 1em
}

.left {
    float: left !important
}

.right {
    float: right !important
}

.text-left {
    text-align: left !important
}

.text-right {
    text-align: right !important
}

.text-center {
    text-align: center !important
}

.vertical-margin {
    margin: 1em 0;
}

section h1 {

    color: #19b6f0;
    font-size: 300%;
    font-weight: 100;
    letter-spacing: -1px;
    line-height: 1.1em;
    font-family: 'Roboto Condensed', sans-serif;
    text-align: right;
    margin-top: .5em 0;
}

/*************  header ************/
header {
    min-height: 50px;
    background: #000;
    text-align: center;
}

.header-wrap {
    position: relative;
    max-width: 960px;
    margin: 0 auto;
    padding-left: 140px;
    box-sizing: border-box;
}

.logo {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 5px;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 96px;
    height: 50px;
    background: url(../images/logo_rs_text.svg) no-repeat 0 0;
    background-size: cover;
    z-index: 10;
}

.speaker-photo {
    width: 100px;
    border-radius: 50%;
    border: 1px solid #bbb;
}

.rs-tag {
    color: #f0bf19;
}

/**************    navigation  ******************/
.nav {
    list-style-type: none;
    overflow: hidden;
}

.nav li {
    float: left;
}

.nav li a {
    color: #aaa;
    display: inline-block;
    padding: .8em .4em;
    font-family: 'Roboto Condensed', sans-serif;
}

.nav li.active a {
    color: #fff;
}

.nav li a:hover {
    color: #f0bf19;
    text-decoration: none;
}

.nav li a:before {
    visibility: hidden;
    content: "[ \"";
}

.nav li a:after {
    visibility: hidden;
    content: "\" ]";
}

.nav li:hover a:before {
    visibility: visible;
    content: "[ \"";
    color: #aaa;
}

.nav li:hover a:after {
    visibility: visible;
    content: "\" ]";
    color: #aaa;
}

.nav-btn {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 50px;
    height: 50px;

    background: #000;
    color: #fff;

    font-family: "Verdana";
    font-size: 200%;
    line-height: 46px;
    text-align: center;
    text-decoration: none;
    opacity: 0.7;
    z-index: 51;
}

.nav-btn:hover {
    text-decoration: none;
}

.vertical-mode {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 75%;
    z-index: 50;
    background: #000;
    opacity: 0.9;
    text-align: right;
}

.vertical-mode .nav {
    display: block;
    padding: 70px 0 0 0;
}

.vertical-mode ul li {
    display: block;
    float: none;
    padding: 0;
}

.vertical-mode ul li a {
    display: block;
    padding: 1em;
    font-size: 120%;
}

.vertical-mode ul li a:hover {
    color: #f0bf19;
    text-decoration: none;
}

/**************    banner   ******************/
.banner {
    padding: .5em 1em;
    text-align: right;
}

.banner h1 {
    margin-bottom: .3em;
}

.banner p {
    color: #444;
    margin: 0;
    font-size: 180%;
}

.location {
    display: inline-block;
    padding-left: 1em;
    line-height: 1.3em;
    background: url("../images/icon-location.svg") no-repeat 0 center;
    background-size: .9em;
    color: #bbb;
    margin-left: 1em;
    font-weight: 100;
}

.fa-external-link-square {
    margin-left: .3em;
}

/**************    section  ******************/
section {
    max-width: 960px;
    padding: .5em 1em;
    margin: 0 auto;
    box-sizing: border-box;
    text-align: left;
    clear: both;
}

section:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility:hidden;
}


/**************   schedule  ******************/
.icon-coffee {
    display: inline-block;
    background: url("../images/icon-coffee.svg") no-repeat 0 0;
    background-size: contain;
    width: 30px;
    height: 26px;
}

.schedule-full {
    list-style-type: none;
    padding-bottom: 1em;
}

.schedule-full li {
    position: relative;
    padding: .6em 0 .6em 120px;
}

.schedule-full .break {
    min-height: inherit;
    border-top: 1px solid #f2f2f2;
    border-bottom: 1px solid #f2f2f2;
    background: #f8f8f8;
    margin: 0 -1em;
    padding: .6em 1em .6em 136px;
}

.schedule-full .break h3 {
    margin-bottom: 0;
}

.schedule-full .time {
    color: #19b6f0;
    font-weight: bold;
    font-size: 130%;
}

.schedule-full .speaker-name {
    color: #aaa;
}

.schedule-full .speaker-photo {
    position: absolute;
    top: 1em;
    left: 0;
}

iframe {
    width: 100%;
    height: 300px;
}

.map img {
    width: 615px;
    margin: 0 1em .5em 0;
}

/**************   speaker-list  ******************/

.speaker-list {
    list-style-type: none;

    -webkit-flex-flow: wrap row;
    flex-flow: row wrap;
    list-style-type: none;

    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

.speaker-list li {
    width: 220px;
    margin: 0 auto;
    padding:.5em;
    border-radius: 5px;
    box-sizing: border-box;
    text-align: center;
}

/*.speaker-list li:hover {*/
    /*background-color: #f7f7f7;*/
/*}*/

.speaker-list li h3 {
    font-size: 100%;
    line-height: 1.4em;
}

.speaker-list li .speaker-photo {
    width: 100%;
    height: auto;
}

.speaker-list li .report {
    margin-bottom: 0;
    text-align: left;
    font-size: 90%;
    cursor: default;
}

.socialize {
    display: inline-block;
    margin-left: .6em;
}

.socialize a {
    display: inline-block;
    padding: 0 .3em 0 0;
    font-size: 100%;
    color: #aaa;
}

.socialize a:hover {
    color: #f0194b;
}

.speaker-list.team li {
    width: 160px;
    padding: .4em;
}

/**************   footer   ******************/
footer {
    background: #000;
    color: #aaa;
    text-align: center;
}

.footer-nav-wrap {
    position: relative;
    max-width: 960px;
    margin: 0 auto;
    padding: 1em;
    text-align: left;
}

/**************   contacts-nav   ******************/
.contacts-nav li {
    display: inline-block;
    padding: 1em 1em 1em 0;
}

.contacts-nav a {
    color: #ccc;
    font-size: 230%;
}

.contacts-nav a:hover {
    color: #f0bf19;
    text-decoration: none;
}

.footer-logo {
    position: absolute;
    top: 50%;
    right: 0;
    display: block;
    background: url("../images/logo_rs2.svg") no-repeat 0 0;
    background-size: contain;
    width: 289px;
    height: 151px;
    opacity: 0.7;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    transform: translateY(-50%);
}

.copy {
    margin-top: 2em;
}

.register-button {
    display: inline-block;
    padding: .5em .6em;
    background: #eee;
    line-height: 1em;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1rem;
}

.register-button:hover {
    text-decoration: none;
    background-color: #ddd;
}

/**************   likes  ******************/
.likes-wrap {
    list-style-type: none;
}

.likes-wrap li {
    padding: .3em 0;
    float: left;
}

.fb-like > span {
    height: 23px !important;
}