<p>Панельная дискуссия будет посвящена образованию. Обсудим образование в ИТ:</p>

<ul>
  <li>Набор компетенций для juniour фе разработчика. Кого ждет индустрия?</li>
  <li>Какие проблемы у джуниоров на рабочем месте?</li>
  <li>С чего начинать обучение с нуля?</li>
  <li>Курсы для новичков: онлайн, офлайн или самообразование?</li>
  <li>Менторинг</li>
  <li>Процесс интервью</li>
</ul>

<h2>Участники</h2>
<ul class="team-list hall-of-fame">

  <li>
    <div class="speaker-photo-wrapper"><img class="speaker-photo" src="images/speakers/dzianis_sheka.jpg"
                                            alt="Денис Шеко photo"></div>
    <h3>Денис Шеко</h3>
    <p>timyo.com, p2p активист</p></li>
  <li>
    <div class="speaker-photo-wrapper"><img src="images/speakers/dzmitry_varabei.jpg" alt="Дмитрий Воробей photo"></div>
    <h3>Дмитрий Воробей</h3>
    <p>Chief Software Engineer в EPAM</p>
    <p>Организатор The Rolling Scopes и RS School</p></li>

  <li>
    <div class="speaker-photo-wrapper"><img class="speaker-photo" src="images/speakers/pavel_specian.jpg"
                                            alt="Павел Специан photo"></div>
    <h3>Павел Специан</h3>
    <p>Директор Академии Шаг</p></li>

  <li>
    <div class="speaker-photo-wrapper"><img class="speaker-photo" src="images/speakers/maria_kocur.jpg"
                                            alt="Мария Коцур photo"></div>
    <h3>Мария Коцур</h3>
    <p>Менеджер-проектов, Академия Шаг</p></li>

  <li>
    <div class="speaker-photo-wrapper"><img class="speaker-photo" src="images/speakers/andrey_silkov.jpg"
                                            alt="Андрей Силков photo"></div>
    <h3>Андрей Силков</h3>
    <p>Преподаватель в IT-школе Myfreedom</p></li>

  <li>
    <div class="speaker-photo-wrapper"><img class="speaker-photo" src="images/speakers/vadim_zelenkov.jpg"
                                            alt="Вадим Зеленков photo"></div>
    <h3>Вадим Зеленков</h3>
    <p> Директор образовательного центра ПВТ</p></li>

  <li>
    <div class="speaker-photo-wrapper"><img class="speaker-photo" src="images/speakers/Alexey_Potyomkin.jpg"
                                            alt="Алексей Потемкин photo"></div>
    <h3>Алексей Потемкин</h3>
    <p>Senior Software Engineering Manager в EPAM</p></li>

  <li>
    <div class="speaker-photo-wrapper"><img class="speaker-photo" src="images/speakers/kanstantsin_yatskevich.jpg"
                                            alt="Константин Яцкевич photo"></div>
    <h3>Константин Яцкевич</h3>
    <p>Lead Software Engineer в EPAM</p></li>


  <li>
    <div class="speaker-photo-wrapper"><img class="speaker-photo" src="images/speakers/pavel_bakunovich.jpg"
                                            alt="Павел Бакунович photo"></div>
    <h3>Павел Бакунович</h3>
    <p>Software Engineering Team Leader в EPAM</p></li>


  <li>
    <div class="speaker-photo-wrapper"><img class="speaker-photo" src="images/speakers/anton_kulikov.jpg"
                                            alt="Антон Куликов photo"></div>
    <h3>Антон Куликов</h3>
    <p>Software Engineering Team Leader в EPAM</p></li>


</ul>
