<div class="speaker-wanted">
    <section><h2>Call for speakers!</h2>
        <p>
            Want to give a talk or conduct a workshop?<br/>
            Eager to give a shout-out for your open source project or share your success story?<br/>
            Ready to preach the must-know fundamentals of Web, JavaScript, CSS, etc.?<br/>
            We welcome all kinds of talk proposals, so do not hesitate to drop a short synopsis to <a href="mailto:rolling.scopes@gmail.com">rolling.scopes@gmail.com</a>
        </p>
    </section>
</div>
