<section>
    <h2>Мы ищем докладчиков</h2>

    <p>Мы всегда рады сотрудничеству. <br/> Если у вас есть какие-либо предложения или просто желание выступить и
        поделиться своим опытом, то, пожалуйста, напишите
        нам <a href="mailto:rolling.scopes@gmail.com">rolling.scopes@gmail.com</a>
    </p>
</section>
