<div class="footer-wrapper">
    <footer><p>Follow us on Social Media! Our hashtag is <a class="rs-tag"
                                                                       href="https://twitter.com/search?f=realtime&amp;q=%23rollingscopes&amp;src=typd">#rollingscopes</a>
        </p>
      <ul class="nav">
        <li><a href="http://frontendbelarus.herokuapp.com/"><i class="fab fa-slack-hash"></i></a></li>
        <li><a href="https://www.facebook.com/groups/TheRollingScopes/"><i class="fab fa-facebook-f"></i></a></li>
        <li><a href="https://www.youtube.com/user/therollingscopes"><i class="fab fa-youtube"></i></a></li>
        <li><a href="https://vk.com/therollingscopes"><i class="fab fa-vk"></i></a></li>
        <li><a href="https://twitter.com/rollingscopes"><i class="fab fa-twitter"></i></a></li>
        <li><a href="https://www.instagram.com/explore/tags/rollingscopes/"><i class="fab fa-instagram"></i></a></li>
        <li><a target="_blank" href="https://t.me/therollingscopes/"><i class="fab fa-telegram-plane"></i></a></li>
      </ul>

        <p class="copy">&copy; 2013 – <%= (new Date()).getFullYear() %> The Rolling Scopes</p>

        <a href="//rollingscopes.com/" class="footer-logo"></a>

    </footer>
</div>
