<div class="footer-wrapper">
    <footer><p>Follow us on Social Media! Our hashtag is <a class="rs-tag"
                                                                       href="https://twitter.com/search?f=realtime&amp;q=%23rollingscopes&amp;src=typd">#rollingscopes</a>
        </p>
        <ul class="nav">
            <li><a target="_blank" href="http://www.front-end.by/"><i class="fa fa-slack"></i></a></li>
            <li><a target="_blank" href="https://www.facebook.com/groups/TheRollingScopes/"><i class="fa fa-facebook"></i></a></li>
            <li><a target="_blank" href="https://www.youtube.com/user/therollingscopes"><i class="fa fa-youtube"></i></a></li>
            <li><a target="_blank" href="https://vk.com/therollingscopes"><i class="fa fa-vk"></i></a></li>
            <li><a target="_blank" href="https://twitter.com/rollingscopes"><i class="fa fa-twitter"></i></a></li>
            <li><a target="_blank" href="https://www.instagram.com/explore/tags/rollingscopes/"><i class="fa fa-instagram"></i></a></li>
        </ul>

        <p class="copy">&copy; 2013 – <%= (new Date()).getFullYear() %> The Rolling Scopes</p>

        <a href="//rollingscopes.com/" class="footer-logo"></a>

    </footer>
</div>
