<header>
    <div class="header-wrap">
        <a class="logo" href="http://rollingscopes.com/"> </a>
        <a id="nav-btn" onclick="toggleClass()" href="javascript:void(0);" class="nav-btn">&#x2261;</a>
        <nav id="nav" class="vertical-mode-closed">
            <ul class="nav">
                <li <%- pageName == 'index' ? 'class="active"' : '' %>>
                  <a href="/">Главная</a>
                </li>
                <li <%- pageName == 'archive' ? 'class="active"' : '' %>>
                  <a href="archive.html">Архив</a>
                </li>
                <li <%- pageName == 'hall-of-fame' ? 'class="active"' : '' %>>
                  <a href="hall-of-fame.html">Зал славы</a>
                </li>
                <li <%- pageName == 'about' ? 'class="active"' : '' %>>
                  <a href="about.html">О сообществе</a>
                </li>
                <li>
                  <a href="http://conf.rollingscopes.com/">RSCONF</a>
                </li>
                <li>
                  <a href="http://brest.rollingscopes.com/">RS Brest</a>
                </li>
            </ul>
        </nav>
    </div>
</header>
