<div class="header-wrapper">
  <header>
    <nav class="no-print">
      <ul class="nav">
        <li><a href="http://frontendbelarus.herokuapp.com/"><i class="fab fa-slack-hash"></i></a></li>
        <li><a href="https://www.facebook.com/groups/TheRollingScopes/"><i class="fab fa-facebook-f"></i></a></li>
        <li><a href="https://www.youtube.com/user/therollingscopes"><i class="fab fa-youtube"></i></a></li>
        <li><a href="https://vk.com/therollingscopes"><i class="fab fa-vk"></i></a></li>
        <li><a href="https://twitter.com/rollingscopes"><i class="fab fa-twitter"></i></a></li>
        <li><a href="https://www.instagram.com/explore/tags/rollingscopes/"><i class="fab fa-instagram"></i></a></li>
        <li><a target="_blank" href="https://t.me/therollingscopes/"><i class="fab fa-telegram-plane"></i></a></li>
      </ul>

      <ul class="nav">
        <li><a target="_blank" href="https://rs.school/">RS School</a></li>
        <li><a href="//rollingscopes.com/archive.html">Archive</a></li>
        <li><a href="//rollingscopes.com/hall-of-fame.html">Hall of fame</a></li>
      </ul>
    </nav>

    <a class="logo" href="https://rollingscopes.com/"><img src="images/logo_rs_text.svg" alt=""/></a>


  </header>
</div>
