<section class="main-nav-wrapper">
    <ul class="main-nav">
        <li class="main-nav-item"><a href="//minsk.rollingscopes.com/"><img src="images/locations/minsk.jpg" alt=""/>

                <div class="title">Minsk</div>
            </a></li>
        <li class="main-nav-item"><a href="//brest.rollingscopes.com/"><img src="images/locations/brest.jpg" alt=""/>

                <div class="title">Brest</div>
            </a></li>
        <li class="main-nav-item"><a href="//gomel.rollingscopes.com/"><img src="images/locations/gomel.jpg" alt=""/>

                <div class="title">Gomel</div>
            </a></li>
      <li class="main-nav-item"><a href="//grodno.rollingscopes.com/"><img src="images/locations/grodno.jpg" alt=""/>

          <div class="title">Grodno</div>
        </a></li>
        <li class="main-nav-item"><a href="//krakow.rollingscopes.com/"><img src="images/locations/krakow.jpg" alt=""/>

                <div class="title">Krakow</div>
            </a></li>
      <li class="main-nav-item"><a href="//gdansk.rollingscopes.com/"><img src="images/locations/gdansk.jpg" alt=""/>

          <div class="title">Gdansk</div>
        </a></li>
      <li class="main-nav-item"><a href="//2017.conf.rollingscopes.com/"><img src="images/RS-conf-2017.jpg" alt=""/>

          <div class="title">RS Conf <br/> 2017</div>
        </a></li>
        <li class="main-nav-item"><a href="//2016.conf.rollingscopes.com/"><img src="images/RS-conf-2016.jpg" alt=""/>

                <div class="title">RS Conf <br/> 2016</div>
            </a></li>
        <li class="main-nav-item"><a href="//2015.conf.rollingscopes.com/"><img src="images/RS-conf-2015.jpg" alt=""/>

                <div class="title">RS Conf <br/> 2015</div>
            </a></li>
        <li class="main-nav-item"><a href="//school.rollingscopes.com/"><img src="images/RS-school.jpg" alt=""/>

                <div class="title">RS <br/> School</div>
            </a></li>
    </ul>
</section>
