<div class="button-wrapper"><a class="register-button"
                               href="https://docs.google.com/forms/d/1Tt5vI4EQNeHib5iAQpMx6bQUqs4PJXWD003Jk_A58Kc/viewform"><i
                class="fa fa-sign-in"></i> Зарегистрироваться! Участие бесплатное!</a>
</div>
