<div class="button-wrapper"><a target="_blank" class="register-button"
                               href="<%= event.registerLink || '' %>">
    <i class="fas fa-ticket-alt"></i> Get your free ticket </a>
</div>
