<div class="button-wrapper"><a class="register-button"
                               href="<%= event.registerLink || '' %>"><i
                class="fa fa-sign-in"></i> Зарегистрироваться! Участие бесплатное!</a>
</div>
