<!doctype html>
<html lang="en" class="no-js">
<head>
  <% include common/styles %>
  <title>RS Conf 2018 | About</title>
</head>
<body>
<div class="page-wrap page-about">
  <% include common/browsehappy %>
  <% include common/menu %>
  <section>
    <div class="content-md">
      <h2 class="text-lg">About</h2>
      <p class="text-md">On behalf of Minsk front-end/JavaScript community, The RS crew is glad to announce the upcoming
        The Rolling
        Scopes front-end conference! Previous one was too good to do it again. Let’s Roll!</p>
    </div>
  </section>
  <section class="shorted">
    <div class="content-sm text-center">
      <p class="text-lg">The Rolling Scopes Conference</p>
      <p class="text-md">February 10-11, 2018</p>

      <p class="text-center"><a class="btn margin-bottom-md" href="https://imaguru.by/product-tag/rolling-scopes/">Buy a Ticket</a></p>

      <p>Follow us on <a target="_blank" href="https://twitter.com/rollingscopes">Twitter</a> or
        <a target="_blank" href="https://www.facebook.com/groups/TheRollingScopes/">Facebook</a>
        to learn about the tickets and other news first!</p>

    </div>
  </section>

  <section>
    <div class="content-sm">
      <iframe src="https://www.youtube.com/embed/N92H1fmsow4?rel=0" frameborder="0"
              gesture="media" allow="encrypted-media" allowfullscreen></iframe>
      <p class="text-center">Watch Minsk time-laps video.</p>
    </div>
  </section>

  <section>
    <div class="content-md">
      <p class="text-lg">The Rolling Scopes Conference is two full days of delicious content – Workshop Saturday and Conference Sunday –
        for amazing people of the front-end scene.</p>
    </div>
  </section>

  <section>
    <div class="content-lg">
      <div class="gallery-wrap">
        <ul class="gallery">
          <li><img src="images/gallery/1_gallery.jpg" alt=""></li>
          <li><img src="images/gallery/2_gallery.jpg" alt=""></li>
          <li><img src="images/gallery/3_gallery.jpg" alt=""></li>
          <li><img src="images/gallery/4_gallery.jpg" alt=""></li>
          <li><img src="images/gallery/5_gallery.jpg" alt=""></li>
          <li><img src="images/gallery/6_gallery.jpg" alt=""></li>
          <li><img src="images/gallery/7_gallery.jpg" alt=""></li>
          <li><img src="images/gallery/8_gallery.jpg" alt=""></li>
        </ul>
      </div>
      <p>View all photos on <a target="_blank"
                               href="https://www.facebook.com/groups/TheRollingScopes/photos/?filter=albums">Facebook</a>.
      </p>
    </div>
  </section>
  <section>
    <div class="content-md">
      <ul class="previous-conf-list text-lg">
        <li><a href="">2015</a></li>
        <li><a href="">2016</a></li>
        <li><a href="">2017</a></li>
      </ul>
      <p class="text-lg padding-top-md">Join us this year!</p>
      <p>Currently the agenda is still in progress, but we can promise you two full days of delicious content! Follow us
        on Twitter or Facebook to learn about the tickets, shedule and other conference news first!</p>
    </div>
  </section>

  <section>
    <div class="content-md">
      <h2>Follow us</h2>
      <p class="text-lg">Follow us on <a target="_blank"
                                         href="https://www.facebook.com/groups/TheRollingScopes/">Facebook</a> and <a
          target="_blank" href="https://twitter.com/rollingscopes">Twitter</a>
        to be the first to learn the news</p>

      <p class="content-sm">Our hashtag on social media is <a
          href="https://twitter.com/hashtag/rollingscopes?vertical=default&src=hash">#rollingscopes</a>.
        Or contact us directly on our email <a href="mailto:rolling.scopes@gmail.com">rolling.scopes@gmail.com</a></p>

      <p class="text-lg padding-top-lg">Join our Slack channel <a target="_blank"
                                                                  href="https://frontendbelarus.slack.com/?redir=%2Fmessages%2FC0KGWSMGE">#rsconf</a>.
      </p>
      <p class="content-sm">If you don't have access to frontendbelarus.slack.com, please, register <a target="_blank"
                                                                                                       href="http://frontendbelarus.herokuapp.com/">here</a>.
      </p>

      <ul class="social-links">
        <li><a target="_blank" href="http://frontendbelarus.herokuapp.com/"><i class="fa fa-slack"></i></a></li>
        <li><a target="_blank" href="https://www.facebook.com/groups/TheRollingScopes/"><i
              class="fa fa-facebook"></i></a></li>
        <li><a target="_blank" href="https://www.youtube.com/user/therollingscopes"><i class="fa fa-youtube-play"
                                                                                       aria-hidden="true"></i></a>
        </li>
        <li><a target="_blank" href="https://vk.com/therollingscopes"><i class="fa fa-vk"></i></a></li>
        <li><a target="_blank" href="https://twitter.com/rollingscopes"><i class="fa fa-twitter"></i></a></li>
        <li><a target="_blank" href="https://www.instagram.com/explore/tags/rollingscopes/"><i
              class="fa fa-instagram"></i></a></li>
      </ul>
    </div>
  </section>

</div>
<% include common/footer %>
<% include common/scripts %>
</body>
</html>
