<!doctype html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <title><%= page.title %></title>
    <meta name="viewport" content="width=device-width">
    <% include common/styles %>
</head>
<body>
<% include common/browsehappy.ejs %>
<div class="page-wrap">
  <% include common/header %>
    <section>
    <h2>Conference Code of Conduct</h2>
    <p>All attendees, speakers, sponsors and volunteers at our conference are required to agree with the following code of conduct. Organisers will enforce this code throughout the event. We are expecting cooperation from all participants to help ensuring a safe environment for everybody.</p>

    <p><em>tl;dr: Be excellent with each other</em></p>
    </section>
    <section>
    <h3>Need Help?</h3>

    <p>If you are at the event, reach out to any team member wearing a staff t-shirt.</p>

    <p>If you are unable to, we are available to help at any time:</p>
    <ul>
        <li>Dzmitry Varabei: <a href="mailto:dzmitry.varabei@gmail.com">dzmitry.varabei@gmail.com</a>, +375 29 3651565</li>
        <li>Alexander Gerasimov <a href="mailto:leo.daquirm@gmail.com">leo.daquirm@gmail.com</a>, +375 44 7544797</li>
        <li>Dzmitry Gerasimov <a href="mailto:timonthelure@gmail.com">timonthelure@gmail.com</a>, +375 29 3421981</li>
        <li>Andrei Volchenko <a href="mailto:volchenko.andrei@gmail.com">volchenko.andrei@gmail.com</a>, +375 25 9193714</li>
        <li>Alexander Karlovich <a href="mailto:alexkarlovich@gmail.com">alexkarlovich@gmail.com</a>, +375 29 2704301</li>
    </ul>
    </section>
    <section>
    <h3>The Quick Version</h3>

    <p>Our conference is dedicated to providing a harassment-free conference experience for everyone, regardless of gender, age, sexual orientation, disability, physical appearance, body size, race, or religion (or lack thereof). We do not tolerate harassment of conference participants in any form. Sexual language and imagery is not appropriate for any conference venue, including talks, workshops, parties, Twitter and other online media. Conference participants violating these rules may be sanctioned or expelled from the conference <em>without a refund</em> at the discretion of the conference organisers.</p>
    </section>
    <section>
    <h3>The Less Quick Version</h3>

    <p>Harassment includes offensive verbal comments related to gender, age, sexual orientation, disability, physical appearance, body size, race, religion, sexual images in public spaces, deliberate intimidation, stalking, following, harassing photography or recording, sustained disruption of talks or other events, inappropriate physical contact, and unwelcome sexual attention.</p>

    <p>Participants asked to stop any harassing behavior are expected to comply immediately.</p>

    <p>Sponsors are also subject to the anti-harassment policy. In particular, sponsors should not use sexualised images, activities, or other material. Booth staff (including volunteers) should not use sexualised clothing/uniforms/costumes, or otherwise create a sexualised environment.</p>

    <p>If a participant engages in harassing behavior, the conference organisers may take any action they deem appropriate, including warning the offender or expulsion from the conference with no refund.</p>

    <p>If you are being harassed, notice that someone else is being harassed, or have any other concerns, please contact a member of conference staff immediately. Conference staff can be identified as they&#39;ll be wearing branded t-shirts.</p>

    <p>Conference staff will be happy to help participants contact hotel/venue security or local law enforcement, provide escorts, or otherwise assist those experiencing harassment to feel safe for the duration of the conference. We value your attendance.</p>

    <p>We expect participants to follow these rules at conference and workshop venues and conference-related social events.</p>
    </section>
    <section>
       <small><em>Original source and credit: <a href="http://2012.jsconf.us/#/about">http://2012.jsconf.us/#/about</a> &amp; <a href="http://geekfeminism.wikia.com/wiki/Conference_anti-harassment/Policy">The Ada Initiative</a><br>

            Please help by translating or improving: <a href="https://github.com/leftlogic/confcodeofconduct.com">http://github.com/leftlogic/confcodeofconduct.com</a><br>

            This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by/3.0/deed.en_US">Creative Commons Attribution 3.0 Unported License</a></em></small>



    </section>
</div>
<% include common/footer %>
<% include common/scripts %>
</body>
</html>
