<!doctype html>
<html class="no-js">

<head>
  <meta charset="utf-8">
  <title>RS Conf 2018</title>
  <meta name="viewport" content="width=device-width">
  <% include common/styles %>
</head>

<body>
  <% include common/browsehappy %>
    <div class="page-wrap">
      <% include common/header %>
        <section class="conf-title">
          <div class="text-center">
            <a class="rs-logo" href="http://rollingscopes.com/"> </a>
          </div>
          <h1>The Rolling Scopes Conference</h1>
          <h2>10 – 11th February 2018, Minsk</h2>
          <!-- <section class="sign-up">
        <div class="sign-up-wrap">
            <input type="email" placeholder="E-mail" class="sign-up-field" name="email" autocomplete="on">
            <a onclick="signupForUpdates(); return false;" href="#" class="sign-up-btn">
              <span>Sign up for Updates</span>
            </a>
        </div>
    </section> -->
        </section>
        <section>

          <h2>What's up front-end folks!</h2>
          <p>
            On behalf of Minsk front-end/JavaScript community,
            <a target="_blank" href="http://rollingscopes.com/">The Rolling Scopes
              <i class="fa fa-external-link-square"></i>
            </a> crew is glad to announce the upcoming RSConf2018 front-end conference!
          </p>
          <p>
            Next winter Minsk will once again become a gathering spot for amazing people of the front-end scene presenting hot topics
            and sharing their expertise and vision. Currently the agenda is still work-in-progress, but we can promise you
            two full days of delicious content! We hope to treat you to talks in
            both standard-length and lightning format so we issue the Call for Papers at our full lung capacity! Workshops,
            presentations, lightning talks – we want it all at
            <a href="mailto:rolling.scopes@gmail.com">rolling.scopes@gmail.com</a> (primary conference language is English).
            <br/> Let’s Roll!
          </p>

          <!--<div style="width:100%; text-align:left;">-->
          <!--<iframe src="//eventbrite.com/tickets-external?eid=30351747895&ref=etckt" frameborder="0" height="275"-->
          <!--width="100%" vspace="0" hspace="0" marginheight="5" marginwidth="5" scrolling="auto"-->
          <!--allowtransparency="true"></iframe>-->
          <!--<div-->
          <!--style="font-family:Helvetica, Arial; font-size:12px; padding:10px 0 5px; margin:2px; width:100%; text-align:left;">-->
          <!--<a class="powered-by-eb" style="color: #ADB0B6; text-decoration: none;" target="_blank"-->
          <!--href="http://www.eventbrite.com/">Powered by Eventbrite</a></div>-->
          <!--</div>-->
        </section>

        <section>
          <h2>Tickets</h2>
          <p>Coming soon</p>
        </section>

        <!-- <section>
          <h2>Schedule</h2>
          <p>
            <a href="http://2017.conf.rollingscopes.com/schedule.html">Click here to see full schedule</a>
          </p>
        </section> -->


        <section>
          <h2>Speakers</h2>
          <ul class="schedule-full">
            <li>
              <img class="speaker-photo" src="images/speakers/martin_splitt.jpg" alt="photo Martin Splitt" />
              <p class="speaker-name">Martin Splitt
                <a class="speaker-twitter" target="_blank" href="https://twitter.com/g33konaut">@g33konaut</a>
              </p>
              <p>Zürich, Switzerland</p>
              <p>Martin is open source contributor and web evangelist by heart from Zurich with a decade experience from the
                trenches of software engineering in multiple fields.
                <br/> He works as a software engineer at Archilogic in front- and backend.
                <br/> He devotes his time to moving the web forward, fixing problems, building applications and systems and breaking
                things for fun & profit.
                <br/> Martin believes in the web platform and is working with bleeding edge technologies that will allow the web
                to prosper.
              </p>
            </li>
          </ul>
        </section>

        <!--<section>-->
        <!--<h2>Lightning Talks</h2>-->
        <!--<p>Want to give a talk, but do not have enough material for a full talk? Have a shout-out for an open source project-->
        <!--or tool?-->
        <!--Want to share a community story (everyone loves stories!)? Preach the must-know fundamentals of Web, JavaScript,-->
        <!--CSS, etc?-->
        <!--Then lightning talks are for you! These talks are, at max, 5 minute talks done in quick succession. No need to-->
        <!--fill the whole slot, though!-->

        <!--We are accepting, reviewing, and selecting proposals for lightning talks in advance.-->
        <!--<a href="mailto:rolling.scopes@gmail.com">Submit a lightning talk proposal</a>-->
        <!--</p>-->
        <!--</section>-->
        <!--<section>-->
        <!--<h2>Language</h2>-->
        <!--<p>We offer simultaneous translation of all the talks to English or Russian.-->
        <!--Headsets will be available free of charge, but we'll have to hold your passport or driver's license for the-->
        <!--duration of the conference.</p>-->
        <!--</section>-->
        <section>
          <h2>Venue</h2>
          <p>Minsk is the capital and the largest city in Belarus with population over 2 million. Minsk hosted IIHF Ice Hockey
            World Championship in 2014.
            <a target="_blank" href="venue.html">See more
              <i class="fa fa-external-link-square"></i>
            </a>
          </p>
          <p>
            <strong>Venue:</strong>
            Palac kuĺtury prafsajuzaŭ
          </p>
          <p>
            <strong>Address:</strong> praspiekt Niezaliežnasci 25, Minsk</p>
        </section>
        <!--<section>-->
        <!--<h2>Afterparty</h2>-->
        <!--<p>Stay put after the talks, we'll party hard right there at IBB, beer and snacks included.</p>-->
        <!--</section>-->
        <section>
          <h2>Do you have any questions?</h2>
          <p>Join our Slack channel:
            <a href="https://frontendbelarus.slack.com/messages/rsconf/">#rsconf</a>
          </p>
          <p>If you don't have access to frontendbelarus.slack.com, please, register here:
            <a href="http://frontendbelarus.herokuapp.com/">http://frontendbelarus.herokuapp.com/</a>
          </p>
        </section>
        <section class="partners">
          <h2>Partners</h2>

          <ul class="partner-list">
            <li>
              <a href="http://www.epam.by/">
                <img src="images/partners/epam-systems.jpg" alt="epam logo" />
              </a>
            </li>
            <!-- <li>
              <a href="https://www.jetbrains.com/">
                <img src="images/partners/logo_jetbrains.png" alt="jetbrains logo" />
              </a>
            </li> -->
            <!--<li><a href="http://google.com"><img src="images/partners/google.jpg" alt="google logo" /></a></li>-->
            <!-- <li>
              <a href="http://mozilla.org">
                <img src="images/partners/mozilla.jpg" alt="mozilla logo" />
              </a>
            </li>
            <li>
              <a href="https://htmlacademy.ru/">
                <img src="images/partners/html-academy.gif" alt="html academy logo" />
              </a>
            </li> -->
            <!--<li><a href="http://imaguru.co/en"><img src="images/partners/logo_guru.png" alt="imaguru logo" /></a></li>-->
            <!--<li><a href="https://www.yandex.com/"><img src="images/partners/yandex.png" alt="yandex logo" /></a></li>-->
            <!-- <li>
              <a href="http://www.park.by/">
                <img src="images/partners/htp.gif" alt="htp logo" />
              </a>
            </li> -->
          </ul>

          <p>
            We would be happy to discuss any kind of partnership and gladly accept any help e.g. making contributions to our budget (speakers
            travelling expenses, venue/coffee breaks/afterparty organization etc.) or prizes (books, coupons, gadgets) to
            be awarded to the winners of contests & competitions taking place during the conference.

            <p>
              Here's what you can expect in return:
              <ul>
                <li>thematic company stands at the venue hall/lobby</li>
                <li>banners around the stage and anywhere else at the venue</li>
                <li>contests/competitions</li>
                <li>have your logo displayed during the breaks</li>
                <li>be mentioned in the respective website section, our mailing list and posts in public media</li>
                <li>have your logo printed on attendee bags and lanyards</li>
              </ul>
            </p>
            The event is non-profit, all sponsors' contributions will be used to run the conference as well as making tickets affordable
            for the attendees. Please contact us about information and media partnership by writing an email to
            <a
              href="mailto:rolling.scopes@gmail.com">rolling.scopes@gmail.com</a>.
              <br/> See you at RSConf2018!
              <br/>
          </p>
          <p>
            <a class="become-partner" href="mailto:rolling.scopes@gmail.com">
              <i class="fa fa-user"></i> Become a Partner</a>
          </p>
        </section>
    </div>
    <% include common/footer %>
    <% include common/scripts %>
</body>

</html>
