<!doctype html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <title>RS Conf 2016</title>
    <meta name="viewport" content="width=device-width">
    <% include common/styles %>
</head>
<body>
<% include common/browsehappy %>
<div class="page-wrap">
    <% include common/header %>
    <section class="conf-title">
        <div class="text-center"><a class="rs-logo" href="http://rollingscopes.com/"> </a></div>
        <h1>The Rolling Scopes Conference</h1>
        <h2>20th &ndash; 21st February 2016, Minsk</h2>
        <section class="sign-up">
            <div class="sign-up-wrap">
                <input type="email" placeholder="E-mail" class="sign-up-field" name="email" autocomplete="on">
                <a onclick="signupForUpdates(); return false;" href="#" class="sign-up-btn">
                  <span>Sign up for Updates</span>
                </a>
            </div>
        </section>
    </section>
    <section>
        <h2>What's up front-end folks!</h2>
        <p>
On behalf of Minsk front-end/JavaScript community, <a target="_blank" href="http://rollingscopes.com/">The Rolling Scopes <i class="fa fa-external-link-square"></i></a> crew is glad to announce the upcoming RSConf2016 front-end conference! <a href="http://2015.conf.rollingscopes.com/">February 2015</a> was too awesome to do it just once :)
</p>
  <p>
    This winter Minsk will once again become a gathering spot for amazing people of the front-end scene presenting hot topics and sharing their expertise and vision.
Currently the agenda is still work-in-progress, but we can promise you two full days of delicious content: Workshop Saturday and Conference Sunday! We hope to treat you to talks in both standard-length and lightning format so we issue  the Call for Papers at our full lung capacity! Workshops, presentations, lightning talks – we want it all at
<a href="mailto:rolling.scopes@gmail.com">rolling.scopes@gmail.com</a> (primary conference language is English).
<br />
Let’s Roll!
  </p>
    </section>
    <section>
        <h2>Speakers</h2>
        <ul class="schedule-full">
            <li>
                <img class="speaker-photo" src="images/speakers/seth_thompson.jpg"
                     alt="photo Seth Thompson"/>
                <p class="speaker-name">Seth Thompson, <a target="_blank" href="https://twitter.com/s3ththompson">@s3ththompson<i class="fa fa-twitter"></i></a></p>
                <p>Product Manager, Google Chrome V8 team</p>
                <p>San Francisco, California</p>
                <p>Seth Thompson works at Google on the Chrome V8 JavaScript engine.
                Seth is passionate about empowering developers with great tools,
                expressive languages, and productive open source communities.</p>
                <br />
            </li>
            <li>
                <img class="speaker-photo" src="images/speakers/vitaly_friedman_2.jpg"
                     alt="photo vitaly friedman"/>
                <p class="speaker-name">Vitaly Friedman</p>
                <p>Co-founder and editor-in-chief of Smashing Magazine</p>
                <p>Freiburg, Germany</p>
                <p>Vitaly Friedman loves beautiful content and doesn’t like to give in easily. Vitaly is writer, speaker, author and editor-in-chief of Smashing Magazine. He runs responsive Web design workshops, online workshops and loves solving complex performance problems in large companies.</p>
                <br />
            </li>
            <li>
                <img class="speaker-photo" src="images/speakers/kseniya_koltun.jpg"
                     alt="photo vitaly friedman"/>
                <p class="speaker-name">Kseniya Koltun</p>
                <p>Lead UX Designer in EPAM Systems</p>
                <p>Minsk, Belarus</p>
                <p>Skilled in UX Research and Usability testing. <br />
                When designing forms, need to remember that most people think a field is a place where a cow lives.</p>
                <br />
            </li>
          <li>
            <img class="speaker-photo" src="images/speakers/vladimir_petriko.jpg"
                 alt="photo Vladimir Petriko"/>
            <p class="speaker-name">Vladimir Petriko</p>
            <p>Minsk, Belarus</p>
            <p>
              Developer at Taucraft. Co-author of <a target="_blank" href="https://github.com/TargetProcess/tauCharts">Taucharts</a> - open-source library for visualization and data exploration.
              Passionate about functional programming, data-driven problem solving and information perception.
            </p>
            <br />
          </li>
          <li>
            <img class="speaker-photo" src="images/speakers/andrey_listochkin.jpg"
                 alt="photo Andrey Listochkin"/>
            <p class="speaker-name">Andrey Listochkin</p>
            <p>Kiev, Ukraine</p>
            <p>
              Andrey Listochkin is a full-stack web developer from Kiev with over eight years of experience building large complex web applications.
              He's a very active member of Ukrainian development community.
              He's a co-founder of dev-ua - the largest chat community for developers in Eastern Europe, - Node.js/iojs Ukrainian localization working group member, Ukrainian Rust community leader, KyivJS co-organizer and the member of Kottans.org - an IT education non-profit. Andrey regularly speaks at conferences in Ukraine and abroad, does training and workshops on Ember.js, Node.js, API design, etc., takes part in hackathons and programming competitions, both as a participant and a mentor.
            </p>
            <br />
          </li>
          <li>
            <img class="speaker-photo" src="images/speakers/ingvar_stepanyan.jpg"
                 alt="photo Ingvar Stepanyan"/>
            <p class="speaker-name">Ingvar Stepanyan</p>
            <p>London, United Kingdom</p>
            <p>
              Developer, speaker and reverse engineer. Obsessed D2D (developers-to-developers) programmer.
              Working on Acorn, Babel, ESTree spec, low-level binary and video manipulation and other things on the dark side of JavaScript.
            </p>
            <br />
          </li>
          <li>
            <img class="speaker-photo" src="images/speakers/martin_naumann.jpg"
                 alt="photo Martin Naumann"/>
            <p class="speaker-name">Martin Naumann</p>
            <p>Zurich, Switzerland</p>
            <p>Martin is open source contributor and web evangelist by heart from Zurich
              with a decade experience from the trenches of software engineering in multiple fields.

              He works as a software engineer at <a href="http://about.archilogic.com/">Archilogic</a> in front- and backend.
              He devotes his time to moving the web forward, fixing problems, building applications and systems
              and breaking things for fun & profit.

              Martin believes in the web platform and is working with bleeding edge technologies that will allow the web to prosper.</p>
          </li>
          <li>
            <img class="speaker-photo" src="images/speakers/roman_prudnikov.jpg"
                 alt="photo Roman Prudnikov"/>
            <p class="speaker-name">Roman Prudnikov</p>
            <p>Novosibirsk, Russia</p>
            <p>Young frontend-developer from Novosibirsk, Russia. Roman loves beautiful design and rock music.
              In he's own time he sings in rock band and performs with he's own songs as "RayProud"
            </p>
          </li>
            <li>
                <img class="speaker-photo" src="images/unknown_speaker.jpg"
                     alt="photo unknown speaker"/>
                <h3>Call for speakers</h3>
                <p> If you are interested in speaking please submit a short synopsis to <a
                        href="mailto:rolling.scopes@gmail.com">rolling.scopes@gmail.com</a>.
                    We will be happy to cover your travel expenses and provide you with a place to stay. If you need a visa we will help you to obtain it.
                    Talk proposals are accepted in Russian, Belarusian and English.
                    The call for speakers will be closed on the 31st of December.</p>
            </li>
        </ul>
    </section>
    <section>
      <h2>Lightning Talks</h2>
      <p>Want to give a talk, but do not have enough material for a full talk? Have a shout-out for an open source project or tool?
        Want to share a community story (everyone loves stories!)? Preach the must-know fundamentals of Web, JavaScript, CSS, etc?
        Then lightning talks are for you! These talks are, at max, 5 minute talks done in quick succession. No need to fill the whole slot, though!

        We are accepting, reviewing, and selecting proposals for lightning talks in advance.
        <a href="mailto:rolling.scopes@gmail.com">Submit a lightning talk proposal</a>
      </p>
    </section>
    <section>
        <h2>Language</h2>
        <p>We offer simultaneous translation of all the talks to English or Russian.
          Headsets will be available free of charge, but we'll have to hold your passport or driver's license for the duration of the conference.</p>
    </section>
<!--     <section>
        <h2>Lightning Talks</h2>
        <p>Want to give a talk, but do not have enough material for a full talk? Have a shout-out for an open source project or tool?
            Want to share a community story (everyone loves stories!)? Preach the must-know fundamentals of Web, JavaScript, CSS, etc?
            Then lightning talks are for you! These talks are, at max, 5 minute talks done in quick succession. No need to fill the whole slot, though!

           We are accepting, reviewing, and selecting proposals for lightning talks in advance.
        </p>
        <p><a href="mailto:rolling.scopes@gmail.com"><i class="fa fa-envelope-o"></i> Submit a lightning talk proposal</a></p>
    </section> -->
    <section>
        <h2>Workshops</h2>
        <p>The Saturday before the main conference will be dedicated to a series of workshops.
            Your ticket for the conference does not grant you admission to the workshops.
            Space being limited, please only register if you are sure to attend.
            Please, sign up for updates to receive a notification when registration will start.</p>
        <!--<p>Planned workshops:</p>-->
        <!--<ul class="schedule-full">-->
            <!--<li>-->
                <!--<img class="speaker-photo" src="images/workshops/webgl.png"-->
                     <!--alt="Web-GL logo"/>-->
                <!--<p class="speaker-name">WebGL via Martin Naumann</p>-->

                <!--<p>The web is transforming into a more interactive, more powerful platform every day.</p>-->
<!--<p>Yet we’re rarely using its full potential – for instance by using impressive and powerful 3D visualisations to convey better visual representations.</p>-->
<!--<p>In this workshop I will show a few case studies using WebGL for data visualisation of source code repositories, interactive models of apartments with realistic furniture, traffic visualisation.</p>-->
<!--<p>The workshop will also talk about potential pitfalls and performance bottlenecks and how to overcome them – using Three.js as an example.</p>-->
            <!--</li>-->
        <!--</ul>-->
    </section>
    <section><h2>Venue</h2>
        <p>Minsk is the capital and the largest city in Belarus with population over 2 million.
           Minsk hosted IIHF Ice Hockey World Championship in 2014. <a target="_blank" href="venue.html">See more <i
                class="fa fa-external-link-square"></i></a></p>
        <p>The conference takes place in the <a target="_blank" href="http://ibb.by/conference">IBB conference center</a> (pr. Gazety Pravda, 11)</p>
        <a href="https://www.google.com/maps/place/IBB/@53.8689397,27.4868488,17z/data=!3m1!4b1!4m2!3m1!1s0x46dbd076f257ee65:0x420b8af99a36cad9" target="blank">
          <img src="./images/map.png" alt="Click to show on map" style="width: 100%"/>
        </a>
    </section>
    <section>
        <h2>Afterparty</h2>
        <p>Stay put after the talks, we'll party hard right there at IBB, beer and snacks included.</p>
    </section>
    <section>
        <h2>Tickets</h2>
        <div style="width:100%; text-align:left;" >
            Tickets will be available soon.
<!--             <iframe src="http://www.eventbrite.com/tickets-external?eid=14600463379&ref=etckt&v=2" frameborder="0" height="350" width="100%" vspace="0" hspace="0" marginheight="5" marginwidth="5" scrolling="auto" allowtransparency="true"></iframe> -->
<!--             <iframe width="100%" src="http://www.kvitki.by/ru/buy/23971?tp=3" height="1150px" frameborder="0"></iframe> -->
        </div>
    </section>
    <section class="partners">
        <h2>Partners</h2>
        <p>
          We would be happy to discuss any kind of partnership and gladly accept any help e.g. making contributions to our budget (speakers travelling expenses, venue/coffee breaks/afterparty organization etc.) or prizes (books, coupons, gadgets) to be awarded to the winners of contests & competitions taking place during the conference.

<p>
Here's what you can expect in return:
          <ul>
            <li>thematic company stands at the venue hall/lobby</li>
            <li>banners around the stage and anywhere else at the venue</li>
            <li>contests/competitions</li>
            <li>have your logo displayed during the breaks</li>
            <li>be mentioned in the respective website section, our mailing list and posts in public media</li>
            <li>have your logo printed on attendee bags and lanyards</li>
          </ul>
</p>
          The event is non-profit, all sponsors' contributions will be used to run the conference as well as making tickets affordable for the attendees.

          Please contact us about information and media partnership by writing an email to <a href="mailto:rolling.scopes@gmail.com">rolling.scopes@gmail.com</a>.
          <br />
          See you at RSConf2016!
          <br />
        </p>
        <p><a class="become-partner" href="mailto:rolling.scopes@gmail.com"><i class="fa fa-user"></i> Become a Partner</a></p>
        <!--<h3>Platinum</h3>-->
        <ul class="partner-list">
            <li><a href="http://www.epam.by/"><img src="images/partners/epam-systems.jpg" alt="epam logo" /></a></li>
            <li><a href="http://imaguru.co/en"><img src="images/partners/logo_guru.png" alt="imaguru logo" /></a></li>
        </ul>
        <!--<h3>Bronze</h3>-->
        <!--<ul class="partner-list">-->
            <!--<li><a href="https://www.jetbrains.com/"><img src="images/partners/logo_jetbrains.png" alt="jetbrains logo" /></a></li>-->
            <!--<li><a href="https://www.pandadoc.com/"><img src="images/partners/pd-logo.svg" alt="pandadoc logo" /></a></li>-->
        <!--</ul>-->
        <!--<h3>Supporting</h3>-->
        <!--<ul class="partner-list">-->
            <!--<li><a href="http://imaguru.co/en"><img src="images/partners/logo_guru.png" alt="imaguru logo" /></a></li>-->
        <!--</ul>-->
    </section>
</div>
<% include common/footer %>
<% include common/scripts %>
</body>
</html>
