<!doctype html>
<html class="no-js">

<head>
  <meta charset="utf-8">
  <title>RS Conf 2018</title>
  <meta name="viewport" content="width=device-width">
  <link href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css">
  <% include common/styles %>
</head>

<body>
<% include common/browsehappy %>
<div class="page-wrap">
  <% include common/header %>
  <section class="conf-title">
    <div class="text-center">
      <a class="rs-logo" href="http://rollingscopes.com/"> </a>
    </div>
    <h1>The Rolling Scopes Conference</h1>
    <h2>10 – 11th February 2018, Minsk</h2>
    <!-- Begin MailChimp Signup Form -->
    <div id="mc_embed_signup">
      <form
        action="https://rollingscopes.us10.list-manage.com/subscribe/post?u=9c2bed8351f4aa14daae104dc&amp;id=ab0bda5fce"
        method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank"
        novalidate>
        <div id="mc_embed_signup_scroll">

          <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="Email address" required>
          <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
          <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text"
                                                                                    name="b_9c2bed8351f4aa14daae104dc_ab0bda5fce"
                                                                                    tabindex="-1" value=""></div>
          <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe"
                                    class="button"></div>
        </div>
      </form>
    </div>

    <!--End mc_embed_signup-->
    <!-- <section class="sign-up">
  <div class="sign-up-wrap">
      <input type="email" placeholder="E-mail" class="sign-up-field" name="email" autocomplete="on">
      <a onclick="signupForUpdates(); return false;" href="#" class="sign-up-btn">
        <span>Sign up for Updates</span>
      </a>
  </div>
</section> -->
  </section>
  <section>

    <h2>What's up front-end folks!</h2>
    <p>
      On behalf of Minsk front-end/JavaScript community,
      <a target="_blank" href="http://rollingscopes.com/">The Rolling Scopes
        <i class="fa fa-external-link-square"></i>
      </a> crew is glad to announce the upcoming RSConf2018 front-end conference!
    </p>
    <p>
      Next winter Minsk will once again become a gathering spot for amazing people of the front-end scene presenting hot
      topics
      and sharing their expertise and vision. Currently the agenda is still work-in-progress, but we can promise you
      two full days of delicious content! We hope to treat you to talks in both standard-length and lightning format
      so we issue the Call for Papers at our full lung capacity! Workshops, presentations, lightning talks – we want
      it all at
      <a href="mailto:rolling.scopes@gmail.com">rolling.scopes@gmail.com</a> (primary conference language is English).
      <br/> Let’s Roll!
    </p>

    <!--<div style="width:100%; text-align:left;">-->
    <!--<iframe src="//eventbrite.com/tickets-external?eid=30351747895&ref=etckt" frameborder="0" height="275"-->
    <!--width="100%" vspace="0" hspace="0" marginheight="5" marginwidth="5" scrolling="auto"-->
    <!--allowtransparency="true"></iframe>-->
    <!--<div-->
    <!--style="font-family:Helvetica, Arial; font-size:12px; padding:10px 0 5px; margin:2px; width:100%; text-align:left;">-->
    <!--<a class="powered-by-eb" style="color: #ADB0B6; text-decoration: none;" target="_blank"-->
    <!--href="http://www.eventbrite.com/">Powered by Eventbrite</a></div>-->
    <!--</div>-->
  </section>

  <section>
    <h2>How was it going past year</h2>
    <p style="font-size: 1.2em; margin-top: 40px;">
      <a href="https://medium.com/@ioana_cis/about-rolling-scopes-conf-83311099e4b0" target="blank">
        Medium post about RSConf2017
      </a>
      by
      <a href="https://twitter.com/ioana_cis" target="blank">
        @ioana_cis
      </a>
    </p>

    <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
    <div class="tweets-carousel">
      <div class="tweet">
        <blockquote class="twitter-tweet" data-lang="en">
          <p lang="en" dir="ltr">Hey
            <a href="https://twitter.com/hashtag/rsconf2017?src=hash&amp;ref_src=twsrc%5Etfw">#rsconf2017</a> -&quot;
            how you doin?&quot; - don&#39;t forget to check
            <a href="https://twitter.com/mozilla?ref_src=twsrc%5Etfw">@mozilla</a>&#39;s booth and take a picture! 📸 Do
            you like mine?
            <a href="https://twitter.com/hashtag/rsconf?src=hash&amp;ref_src=twsrc%5Etfw">#rsconf</a>
            <a href="https://twitter.com/hashtag/rollingscopes?src=hash&amp;ref_src=twsrc%5Etfw">#rollingscopes</a>
            <a href="https://t.co/WF1BcODgGU">pic.twitter.com/WF1BcODgGU</a>
          </p>&mdash; Cissy The Fox (@foxcissy)
          <a href="https://twitter.com/foxcissy/status/833230378261438465?ref_src=twsrc%5Etfw">February 19, 2017</a>
        </blockquote>
      </div>
      <div class="tweet">
        <blockquote class="twitter-tweet" data-lang="en">
          <p lang="en" dir="ltr">Hey
            <a href="https://twitter.com/hashtag/RSConf2017?src=hash&amp;ref_src=twsrc%5Etfw">#RSConf2017</a>, I have A
            LOT OF STICKERS and I&#39;m open for exchange! 👀😮😱
            <a href="https://twitter.com/hashtag/rsconf?src=hash&amp;ref_src=twsrc%5Etfw">#rsconf</a>
            <a href="https://twitter.com/rollingscopes?ref_src=twsrc%5Etfw">@rollingscopes</a>
            <a href="https://t.co/kSFMJYrsdW">pic.twitter.com/kSFMJYrsdW</a>
          </p>&mdash; Denys Dovhan (@denysdovhan)
          <a href="https://twitter.com/denysdovhan/status/832586016775094272?ref_src=twsrc%5Etfw">February 17, 2017</a>
        </blockquote>
      </div>
      <div class="tweet">
        <blockquote class="twitter-tweet" data-lang="en">
          <p lang="en" dir="ltr">ECMA script history &amp; features, async, NodeJS ⚒
            <a href="https://twitter.com/rauschma?ref_src=twsrc%5Etfw">@rauschma</a> on the stage at
            <a href="https://twitter.com/hashtag/rsconf?src=hash&amp;ref_src=twsrc%5Etfw">#rsconf</a>.
            <a href="https://t.co/xyWQSaPyVe">pic.twitter.com/xyWQSaPyVe</a>
          </p>&mdash; Gabriel Mičko (@gabriel_micko)
          <a href="https://twitter.com/gabriel_micko/status/833230259763949568?ref_src=twsrc%5Etfw">February 19,
            2017</a>
        </blockquote>
      </div>
    </div>
  </section>

  <section>
    <h2>Tickets</h2>
    <p>Coming soon</p>
  </section>

  <!-- <section>
    <h2>Schedule</h2>
    <p>
      <a href="http://2017.conf.rollingscopes.com/schedule.html">Click here to see full schedule</a>
    </p>
  </section> -->


  <section>
    <h2>Speakers</h2>
    <ul class="schedule-full">
      <li>
        <img class="speaker-photo" src="images/speakers/martin_splitt.jpg" alt="photo Martin Splitt"/>
        <p class="speaker-name">Martin Splitt
          <a class="speaker-twitter" target="_blank" href="https://twitter.com/g33konaut">@g33konaut</a>
        </p>
        <p>Zürich, Switzerland</p>
        <p>Martin is open source contributor and web evangelist by heart from Zurich with a decade experience from the
          trenches of software engineering in multiple fields.</p>
        <p>He works as a software engineer at Archilogic in front- and backend.</p>
        <p> He devotes his time to moving the web forward, fixing problems, building applications and systems and
          breaking
          things for fun & profit.</p>
        <p> Martin believes in the web platform and is working with bleeding edge technologies that will allow the
          web
          to prosper.
        </p>
      </li>
      <li>
        <img class="speaker-photo" src="images/speakers/asim_hussain.jpg" alt="photo Asim Hussain"/>
        <p class="speaker-name">Asim Hussain<a class="speaker-twitter" target="_blank"
                                               href="https://twitter.com/jawache">@jawache</a></p>
        <p>London, United Kingdom</p>
        <p>I'm a developer, trainer, author and speaker with over 16 years experience working for organisations such as
          the European Space Agency, Google and now Microsoft, where I am a Senior Cloud Developer Advocate.
        </p>
      </li>
      <li>
        <img class="speaker-photo" src="images/speakers/ivan_jovanovic.jpg" alt="photo Ivan Jovanovic"/>
        <p class="speaker-name">Ivan Jovanovic <a class="speaker-twitter" target="_blank"
                                                  href="https://twitter.com/ivanjov96">@ivanjov96</a></p>
        <p>Belgrade, Republic of Serbia</p>
        <p>Ivan is the senior software engineer currently working at Welltok. He had been working for more than 8 years
          for many international companies, like Cloud Horizon, Pathable, Clevertech, Thinkful etc. His focus is on
          building scalable JS applications and experimenting with new languages and frameworks. He is into functional
          and reactive programming. Leading teams and mentoring junior developers is his everyday duty. He loves to
          share knowledge and to write on his tech blog.
        </p>
      </li>
      <li>
        <img class="speaker-photo" src="images/speakers/vsevolod_shmyrov.jpg" alt="photo Vsevolod Shmyrov"/>
        <p class="speaker-name">Vsevolod Shmyrov
          <a class="speaker-twitter" target="_blank" href="https://twitter.com/v_shmyrov">@v_shmyrov</a>
        </p>
        <p>Moscow, Russia</p>
        <p>Vsevolod is the web developer more than five years. The main direction is the front-end. He participated in
          the development of applications and games for social networks and mobile OS. Since 2012, Vsevolod has been
          developing the Yandex Maps API.
        </p>
      </li>
      <li>
        <img class="speaker-photo" src="images/speakers/konstantin_krivlenia.jpg" alt="photo Konstantin Krivlenia"/>
        <p class="speaker-name">Konstantin Krivlenia </p>
        <p>Minsk, Belarus</p>
        <p>Konstantin Krivlenia is the lead developer at Targetprocess. He is the maintainer of tauCharts.
        </p>
      </li>
      <li>
        <img class="speaker-photo" src="images/speakers/vasiliy_vanchuk.jpg" alt="photo Vasiliy Vanchuk"/>
        <p class="speaker-name">Vasiliy Vanchuk
          <a class="speaker-twitter" target="_blank" href="https://twitter.com/vvscode">@vvscode</a>
        </p>
        <p>Minsk, Belarus</p>
        <p>Vasiliy Vanchuk, Team Lead in DevHub company. Managed to quit backend development and learn to love
          JavaScript. Believes that it's better to work harder on tests for your app than having hard working
          application.
        </p>
      </li>
      <li>
        <img class="speaker-photo" src="images/speakers/egor_malkevich.png" alt="photo Egor Malkevich"/>
        <p class="speaker-name">Egor Malkevich
          <a class="speaker-twitter" target="_blank" href="https://twitter.com/wegorelax">@wegorelax</a>
        </p>
        <p>Minsk, Belarus</p>
        <p>Egor Malkevich, the self-taught specialist from Minsk, it’s long story how I went down to the IT. Mine
          roadmap wasn’t row.
          Started doing small sites and games, increased to consulting, designing microservices ecosystem and
          frameworks for company usages in a wide range of internal products. And now I am the active member of
          local developers community, participate in hackathons and meet-ups. Also participated in several startups,
          extend my communication and networking skills.
        </p>
      </li>
      <li>
        <img class="speaker-photo" src="images/speakers/marek_piasecki.jpg" alt="photo Marek Piasecki"/>
        <p class="speaker-name">Marek Piasecki
          <a class="speaker-twitter" target="_blank" href="https://twitter.com/mad_maniak">@mad_maniak</a>
        </p>
        <p>Poznan, Poland</p>
        <p>Freelance Full Stack Senior Polyglot Developer. (Currently) Rome, Italy</p>

        <p>I do web technologies since 2000. I worked for successful startups, huge corporations,
          banks and government organisations. Travelling a lot and visiting conferences. Single page applications I do
          for 5 years already (React 3 years).</p>

        <p>My message is - world is deterministic, people are good, there is no time.</p>
      </li>
      <li>
        <img class="speaker-photo" src="images/speakers/ilja_satchok.jpeg" alt="photo Ilja Satchok"/>
        <p class="speaker-name">Ilja Satchok
          <a class="speaker-twitter" target="_blank" href="https://twitter.com/_ifours_">@_ifours_</a>
        </p>
        <p>Minsk, Belarus</p>
        <p>Developer at Viber. Interested in mobile technologies powered by JS. Loves React and music!
        </p>
      </li>
      <li>
        <img class="speaker-photo" src="images/speakers/dmitry_dudin.jpg" alt="photo Dmitry Dudin"/>
        <p class="speaker-name">Dmitry Dudin
          <a class="speaker-twitter" target="_blank" href="https://twitter.com/nedudi">@nedudi</a>
        </p>
        <p>Minsk, Belarus</p>
        <p>Chief of products and services development department at XB Software, Ltd.
          dmitry Organizer of 4front meetups and “What the Hack” hackathon
        </p>
      </li>
      <li>
        <img class="speaker-photo" src="images/speakers/alexander_gerasimov.png" alt="photo Alexander Gerasimov"/>
        <p class="speaker-name">Alexander Gerasimov
          <a class="speaker-twitter" target="_blank" href="https://twitter.com/da_quirm">@da_quirm</a>
        </p>
        <p>Berlin, Germany</p>
        <p>Alex is employed as a front-end engineer at Wix.com, earning just enough to sustain his functional
          programming
          addiction.</p>
        <p>In his spare time he teaches programming and creates educational games with his hacker friends.
        </p>
      </li>
      <li>
        <img class="speaker-photo" src="images/speakers/alexey_migutsky.jpg" alt="photo Alexey Migutsky"/>
        <p class="speaker-name">Alexey Migutsky
          <a class="speaker-twitter" target="_blank" href="https://twitter.com/mr_mig_by">@mr_mig_by</a>
        </p>
        <p>Berlin, Germany</p>
        <p>Alexey works as a Senior Software Development Engineer at Microsoft Berlin building Microsoft To-Do web app.
          He is coaching fellow programmers, mastering the craft and trolling in twitter as a hobby. Occasionally
          blogging at http://mtdv.io. Made in Belarus. Lives in Berlin. Was involved in organizing OdessaJS.
        </p>
      </li>
      <li>
        <img class="speaker-photo" src="images/speakers/andrei_vouchanka.jpg" alt="photo Andrei Vouchanka"/>
        <p class="speaker-name">Andrei Vouchanka
          <a class="speaker-twitter" target="_blank" href="https://twitter.com/r1zzu">@r1zzu</a>
        </p>
        <p>Minsk, Belarus</p>
        <p>Andrei Vouchanka, the Software developer at EPAM Systems. Passioned about front-end development, bleeding
          edge web-technologies, js performance, public speaking and knowledge sharing. Constantly experimenting with
          new stuff, messing around with pet projects for fun
        </p>
      </li>

      <li>
        <img class="speaker-photo" src="images/speakers/tomasz_lakomy.jpg" alt="photo Tomasz Łakomy"/>
        <p class="speaker-name">Tomasz Łakomy
          <a class="speaker-twitter" target="_blank" href="https://twitter.com/tlakomy">@tlakomy</a>
        </p>
        <p>Poznan, Poland</p>
        <p>Tomasz is a Software Engineer at Egnyte Poland. Co-organiser of React Poznań Meetup, JavaScript tinkerer who
          enjoys sharing his knowledge with other developers. His interests include VR, AR, React, app performance and
          making cheesiest jokes known to mankind.
        </p>
      </li>

      <li>
        <img class="speaker-photo" src="images/speakers/ilya_pukhalski.jpg" alt="photo Ilya Pukhalski"/>
        <p class="speaker-name">Ilya Pukhalski
          <a class="speaker-twitter" target="_blank" href="https://twitter.com/pukhalski">@pukhalski</a>
        </p>
        <p>Amsterdam, The Netherlands</p>
        <p>Digital architect helping great brands launch not always great products. All-way JavaScript junkie, retired
          rock star, rym gat, beer drinker, hell raiser.
        </p>
      </li>

      <li>
        <img class="speaker-photo" src="images/speakers/timofey_lavrenyuk.jpg" alt="photo Timofey Lavrenyuk"/>
        <p class="speaker-name">Timofey Lavrenyuk
          <a class="speaker-twitter" target="_blank" href="https://twitter.com/geek_timofey">@geek_timofey</a>
        </p>
        <p>Odessa, Ukraine</p>
        <p>Developer at Keepsolid. 5+ years in web development. Interested in creating my own projects, testing new
          features and going into production.
        </p>
      </li>
      <li>
        <img class="speaker-photo" src="images/speakers/mikhail_hatsilau.jpg" alt="photo Mikhail Hatsilau"/>
        <p class="speaker-name">Mikhail Hatsilau
          <a class="speaker-twitter" target="_blank" href="https://twitter.com/gatik9306">@gatik9306</a>
        </p>
        <p>Gomel, Belarus</p>
        <p>Mikhail is developer at EPAM Systems. Likes frontend and is hooked to React. He is interested in mentoring
          and helping beginners to grow as frontend developers. Main focus is building web applications with React, but
          new area of interest is automating JavaScript codebase refactoring.
        </p>
      </li>
    </ul>
  </section>

  <section>
    <h2>Lightning Talks</h2>
    <p>Want to give a talk, but do not have enough material for a full talk? Have a shout-out for an open source project
      or tool?
      Want to share a community story (everyone loves stories!)? Preach the must-know fundamentals of Web, JavaScript,
      CSS, etc?
      Then lightning talks are for you! These talks are, at max, 5 minute talks done in quick succession. No need to
      fill the whole slot, though!

      We are accepting, reviewing, and selecting proposals for lightning talks in advance.
      <a href="mailto:rolling.scopes@gmail.com">Submit a lightning talk proposal</a>
    </p>
  </section>
  <!--<section>-->
  <!--<h2>Language</h2>-->
  <!--<p>We offer simultaneous translation of all the talks to English or Russian.-->
  <!--Headsets will be available free of charge, but we'll have to hold your passport or driver's license for the-->
  <!--duration of the conference.</p>-->
  <!--</section>-->
  <section>
    <h2>Venue</h2>
    <p>Minsk is the capital and the largest city in Belarus with population over 2 million. Minsk hosted IIHF Ice Hockey
      World Championship in 2014.
      <a target="_blank" href="venue.html">See more
        <i class="fa fa-external-link-square"></i>
      </a>
    </p>
    <p>
      <strong>Venue:</strong>
      Palac kuĺtury prafsajuzaŭ
    </p>
    <p>
      <strong>Address:</strong> praspiekt Niezaliežnasci 25, Minsk</p>

    <p class="venue-gallery"><img src="images/venue/venue2.jpg" alt="Venue outside photo"> <img
        src="images/venue/venue1.jpg" alt="Venue inside photo"></p>
  </section>
  <!--<section>-->
  <!--<h2>Afterparty</h2>-->
  <!--<p>Stay put after the talks, we'll party hard right there at IBB, beer and snacks included.</p>-->
  <!--</section>-->
  <section>
    <h2>Do you have any questions?</h2>
    <p>Join our Slack channel:
      <a href="https://frontendbelarus.slack.com/messages/rsconf/">#rsconf</a>
    </p>
    <p>If you don't have access to frontendbelarus.slack.com, please, register here:
      <a href="http://frontendbelarus.herokuapp.com/">http://frontendbelarus.herokuapp.com/</a>
    </p>
  </section>
  <section class="partners">
    <h2>Partners</h2>

    <ul class="partner-list">
      <li>
        <a target="_blank" href="http://www.epam.by/">
          <img src="images/partners/epam-systems.jpg" alt="epam logo"/>
        </a>
      </li>
      <li>
        <a target="_blank" href="http://imaguru.co">
          <img src="images/partners/logo_guru.png" alt="imaguru logo"/></a>
      </li>
      <!-- <li>
        <a href="https://www.jetbrains.com/">
          <img src="images/partners/logo_jetbrains.png" alt="jetbrains logo" />
        </a>
      </li> -->
      <!--<li><a href="http://google.com"><img src="images/partners/google.jpg" alt="google logo" /></a></li>-->
      <!-- <li>
        <a href="http://mozilla.org">
          <img src="images/partners/mozilla.jpg" alt="mozilla logo" />
        </a>
      </li>
      <li>
        <a href="https://htmlacademy.ru/">
          <img src="images/partners/html-academy.gif" alt="html academy logo" />
        </a>
      </li> -->
      <!--<li><a href="https://www.yandex.com/"><img src="images/partners/yandex.png" alt="yandex logo" /></a></li>-->
      <!-- <li>
        <a href="http://www.park.by/">
          <img src="images/partners/htp.gif" alt="htp logo" />
        </a>
      </li> -->
    </ul>

    <h2>Travel Sponsors</h2>
    <ul class="partner-list">
      <li>
        <a target="_blank" href="https://www.microsoft.com/">
          <img src="images/partners/logo-microsoft.png" alt="microsoft logo"/>
        </a>
      </li>
      <li>
        <a target="_blank" href="https://www.yandex.com/">
          <img src="images/partners/logo-yandex.png" alt="yandex logo"/>
        </a>
      </li>
      <li>
        <a target="_blank" href="http://mad.maniak.pro">
          <img src="images/partners/logo-madmaniak.png" alt="madmaniak logo"/>
        </a>
      </li>
      <li>
        <a target="_blank" href="https://www.keepsolid.com/">
          <img src="images/partners/logo-keep-solid.png" alt="keep solid logo"/>
        </a>
      </li>
    </ul>


    <p>
      We would be happy to discuss any kind of partnership and gladly accept any help e.g. making contributions to our
      budget (speakers
      travelling expenses, venue/coffee breaks/afterparty organization etc.) or prizes (books, coupons, gadgets) to
      be awarded to the winners of contests & competitions taking place during the conference.

    <p>
      Here's what you can expect in return:
    <ul>
      <li>thematic company stands at the venue hall/lobby</li>
      <li>banners around the stage and anywhere else at the venue</li>
      <li>contests/competitions</li>
      <li>have your logo displayed during the breaks</li>
      <li>be mentioned in the respective website section, our mailing list and posts in public media</li>
      <li>have your logo printed on attendee bags and lanyards</li>
    </ul>
    </p>
    The event is non-profit, all sponsors' contributions will be used to run the conference as well as making tickets
    affordable
    for the attendees. Please contact us about information and media partnership by writing an email to
    <a href="mailto:rolling.scopes@gmail.com">rolling.scopes@gmail.com</a>.
    <br/> See you at RSConf2018!
    <br/>
    </p>
    <p>
      <a class="become-partner" href="mailto:rolling.scopes@gmail.com">
        <i class="fa fa-user"></i> Become a Partner</a>
    </p>
  </section>

  <section>
    <div class="info-accented">

      <h2>RS School Mentors Wanted!</h2>
      <blockquote>"Teaching is a privilege. It's part of a Jedi's responsibility to help train the next generation."
        <p>―Obi-Wan Kenobi, Star Wars: The Clone Wars</p>
      </blockquote>

      <p><a class="become-partner"
            href="https://docs.google.com/forms/d/e/1FAIpQLSeJX9b70eoF3MsB0shzeMzkyd8T0MfZbErul9-GKLmyL0svOg/viewform">See
          more</a></p>
    </div>
  </section>
</div>
<% include common/footer %>
<% include common/scripts %>
</body>

</html>
