<!doctype html>
<html lang="en" class="no-js">
<head>
  <% include common/styles %>
  <title>RS Conf 2018</title>
</head>
<body>
<div class="page-wrap">
  <% include common/browsehappy %>
  <% include common/menu %>

  <section class="announcement" data-color="#6CD9FF">
    <div class="content-md">
      <img src="images/logo-snowflake.svg" alt="The Rolling Scopes Conference Logo">
      <h1>The Rolling Scopes <br> Conference</h1>
      <p class="bold text-md">10–11 February 2018, Minsk</p>
      <p class="text-md">The lagest JavaScript/Front-end conference in Belarus. Two full days of delicious content for
        amazing
        people of the front-end scene.</p>
      <p>
        <!--<a class="btn" href="https://www.eventbrite.com/e/the-rolling-scopes-conference-2018-minsk-tickets-42312482775">Free Ticket</a>-->
        <a class="btn" href="schedule.html">See Schedule</a>
      </p>

      <p class="text-lg padding-top-md">Sorry, tickets are sold out</p>

    </div>
  </section>
  <section data-color="#BB94FF">
    <div class="content-md">
      <p class="text-lg">On behalf of Minsk front-end/JavaScript community, <a
          href="https://rollingscopes.com/">The Rolling Scopes</a> crew
        is glad to announce the upcoming
        RSConf2018 front-end conference! <a href="https://2017.conf.rollingscopes.com/">February 2017</a> was too
        awesome
        to
        do it just once :)</p>
      <p>Read the <a target="_blank"
                     href="https://medium.com/@ioana_cis/about-rolling-scopes-conf-83311099e4b0">review</a> about RSConf
        2017 and watch the <a target="_blank"
                              href="https://youtu.be/JPdm-lcISBM">video</a>
        on our Youtube channel.</p>
    </div>
  </section>
  <section data-color="#FC94FC">
    <div class="content-lg">
      <h2>Speakers</h2>
      <ul class="speaker-list">
        <li>
          <figure>
            <img src="images/speakers/irina_levina.svg" alt="Irina Levina photo">
            <figcaption>
              <h3><a href="speaker/irina-levina.html">Irina Levina</a></h3>
              <p>Minsk, Belarus</p>
            </figcaption>
          </figure>
        </li>
        <li>
          <figure>
            <img src="images/speakers/asim_hussain.svg" alt="">
            <figcaption><h3><a href="speaker/asim-hussain.html">Asim Hussain</a></h3>
              <p>London, United Kingdom</p>
            </figcaption>
          </figure>
        </li>
        <li>
          <figure>
            <img src="images/speakers/anna_selezniova.svg" alt="Anna Selezniova">
            <figcaption><h3><a href="speaker/anna-selezniova.html">Anna Selezniova</a></h3>
              <p>Minsk, Belarus</p>
            </figcaption>
          </figure>
        </li>
        <li>
          <figure>
            <img src="images/speakers/ivan_jovanovic.svg" alt="">
            <figcaption><h3><a href="speaker/ivan-jovanovic.html">Ivan Jovanovic</a></h3>
              <p>Belgrade, Republic of Serbia</p>
            </figcaption>
          </figure>
        </li>
        <li>
          <figure>
            <img src="images/speakers/vsevolod_shmyrov.svg" alt="">
            <figcaption><h3><a href="speaker/vsevolod-shmyrov.html">Vsevolod Shmyrov</a></h3>
              <p>Moscow, Russia</p>
            </figcaption>
          </figure>
        </li>
        <li>
          <figure>
            <img src="images/speakers/konstantin_krivlenia.svg" alt="">
            <figcaption><h3><a href="speaker/konstantin-krivlenia.html">Konstantin Krivlenia</a></h3>
              <p>Minsk, Belarus</p>
            </figcaption>
          </figure>
        </li>
        <li>
          <figure>
            <img src="images/speakers/vasiliy_vanchuk.svg" alt="">
            <figcaption><h3><a href="speaker/vasiliy-vanchuk.html">Vasiliy Vanchuk</a></h3>
              <p>Minsk, Belarus</p>
            </figcaption>
          </figure>
        </li>
        <li>
          <figure>
            <img src="images/speakers/alexey_migutsky.svg" alt="Alexey Migutsky">
            <figcaption><h3><a href="speaker/alexey-migutsky.html">Alexey Migutsky</a></h3>
              <p>Berlin, Germany</p>
            </figcaption>
          </figure>
        </li>
      </ul>

      <h3>
        <a href="speakers.html">See all speakers</a>
      </h3>
    </div>
  </section>
  <section data-color="#F8EF5A">
    <div class="content-md">
      <h2>Venue</h2>
      <p><img class="img-venue" src="images/venue.svg" alt="Photo Palac kuĺtury prafsajuzaŭ"></p>
      <p class="text-md bold"><a target="_blank" href="https://goo.gl/maps/GbECQ5BqUUs">Palac kuĺtury prafsajuzaŭ</a>
      </p>
      <p>Praspiekt Niezaliežnasci 25, Minsk</p>
      <p class="text-lg padding-top-lg">Minsk is the capital and the largest city in Belarus with population over 2
        million. It is a
        progressive, modern
        and clean place that's easy to become fond of.</p>
      <p><a target="_blank" href="https://34travel.me/gotobelarus/en/post/minsk-english-guide">Learn more</a> about the
        city, food and
        attractions.</p>
    </div>
  </section>
  <section data-color="#CDE525">
    <div class="content-md">
      <p class="text-lg">Join our Slack channel
        <a target="_blank"
           href="https://frontendbelarus.slack.com/?redir=%2Fmessages%2FC0KGWSMGE">#rsconf</a>
        and follow us on
        <a target="_blank" href="https://www.facebook.com/groups/TheRollingScopes/">Facebook</a>
        and <a target="_blank" href="https://twitter.com/rollingscopes">Twitter</a> to be the first to learn the news.
      </p>
      <p>If you don't have access to frontendbelarus.slack.com, please, register here:
        <a target="_blank" href="http://frontendbelarus.herokuapp.com/">www.frontendbelarus.herokuapp.com</a>
      </p>
    </div>
  </section>
  <section data-color="#CDE525">
    <div class="content-md">
      <h2>WHAT THEY SAY</h2>
      <div class="tweets-carousel">
        <div class="tweet">
          <blockquote class="twitter-tweet" data-lang="en">
            <a class="bold" href="https://twitter.com/foxcissy/status/833230378261438465?ref_src=twsrc%5Etfw">Cissy The
              Fox</a> @foxcissy
            &middot; February 19, 2017
            <p lang="en" dir="ltr">Hey
              <a href="https://twitter.com/hashtag/rsconf2017?src=hash&amp;ref_src=twsrc%5Etfw">#rsconf2017</a> -&quot;
              how you doin?&quot; - don&#39;t forget to check
              <a href="https://twitter.com/mozilla?ref_src=twsrc%5Etfw">@mozilla</a>&#39;s booth and take a picture! 📸
              Do
              you like mine?
              <a href="https://twitter.com/hashtag/rsconf?src=hash&amp;ref_src=twsrc%5Etfw">#rsconf</a>
              <a href="https://twitter.com/hashtag/rollingscopes?src=hash&amp;ref_src=twsrc%5Etfw">#rollingscopes</a>
              <a href="https://t.co/WF1BcODgGU">pic.twitter.com/WF1BcODgGU</a>
            </p>
          </blockquote>
        </div>

        <div class="tweet">
          <blockquote class="twitter-tweet" data-lang="en">
            <a class="bold" href="https://twitter.com/denysdovhan/status/832586016775094272?ref_src=twsrc%5Etfw">Denys
              Dovhan</a> @denysdovhan
            &middot; February 17, 2017
            <p lang="en" dir="ltr">Hey
              <a href="https://twitter.com/hashtag/RSConf2017?src=hash&amp;ref_src=twsrc%5Etfw">#RSConf2017</a>, I have
              A
              LOT OF STICKERS and I&#39;m open for exchange! 👀😮😱
              <a href="https://twitter.com/hashtag/rsconf?src=hash&amp;ref_src=twsrc%5Etfw">#rsconf</a>
              <a href="https://twitter.com/rollingscopes?ref_src=twsrc%5Etfw">@rollingscopes</a>
              <a href="https://t.co/kSFMJYrsdW">pic.twitter.com/kSFMJYrsdW</a>
            </p>
          </blockquote>
        </div>

        <div class="tweet">
          <blockquote class="twitter-tweet" data-lang="en">
            <a class="bold" href="https://twitter.com/gabriel_micko/status/833230259763949568?ref_src=twsrc%5Etfw">Gabriel
              Mičko</a> @gabriel_micko
            &middot; February 19,
            2017
            <p lang="en" dir="ltr">ECMA script history &amp; features, async, NodeJS ⚒
              <a href="https://twitter.com/rauschma?ref_src=twsrc%5Etfw">@rauschma</a> on the stage at
              <a href="https://twitter.com/hashtag/rsconf?src=hash&amp;ref_src=twsrc%5Etfw">#rsconf</a>.
              <a href="https://t.co/xyWQSaPyVe">pic.twitter.com/xyWQSaPyVe</a>
            </p>
          </blockquote>
        </div>
      </div>
      <p class="text-center">Follow us on <a target="_blank" href="https://twitter.com/rollingscopes">Twitter</a>.</p>
    </div>
  </section>
  <section data-color="#51E782">
    <div class="content-lg">
      <div class="gallery-wrap">
        <ul class="gallery">
          <li><img src="images/gallery/1_gallery.jpg" alt="Photo from RS confs"></li>
          <li><img src="images/gallery/2_gallery.jpg" alt="Photo from RS confs"></li>
          <li><img src="images/gallery/3_gallery.jpg" alt="Photo from RS confs"></li>
          <li><img src="images/gallery/4_gallery.jpg" alt="Photo from RS confs"></li>
          <li><img src="images/gallery/5_gallery.jpg" alt="Photo from RS confs"></li>
          <li><img src="images/gallery/6_gallery.jpg" alt="Photo from RS confs"></li>
          <li><img src="images/gallery/7_gallery.jpg" alt="Photo from RS confs"></li>
          <li><img src="images/gallery/8_gallery.jpg" alt="Photo from RS confs"></li>
        </ul>
      </div>
      <p>View all photos on <a target="_blank"
                               href="https://www.facebook.com/groups/TheRollingScopes/photos/?filter=albums">Facebook</a>.
      </p>
    </div>
  </section>
  <section data-color="#51E782">
    <div class="content-lg">

      <h2>Organizers</h2>
      <ul class="partner-list">
        <li>
          <a target="_blank" href="http://www.rollingscopes.com/">
            <img src="images/partners/logo-rs.svg" alt="rollingscopes logo"/>
          </a>
        </li>
        <li>
          <a target="_blank" href="http://imaguru.co">
            <img src="images/partners/logo-imaguru.svg" alt="imaguru logo"/></a>
        </li>
      </ul>

      <h2>Partners</h2>

      <ul class="partner-list starred-list">
        <li>
          <a class="partner-diamond" target="_blank" href="http://www.epam.by/">
            <img src="images/partners/logo-epam.svg" alt="epam logo"/>
          </a>
        </li>
        <li>
          <a class="partner-gold" target="_blank" href="https://emerline.com/">
            <img src="images/partners/logo-emerline.svg" alt="emerline logo"/>
          </a>
        </li>
        <li>
          <a class="partner-gold" target="_blank" href="https://www.evolutiongaming.com/">
            <img src="images/partners/logo-evolution-gaming.svg" alt="evolution gaming logo"/>
          </a>
        </li>
        <li>
          <a class="partner-silver" target="_blank" href="https://www.oxagile.com/">
            <img src="images/partners/logo-oxagile.png" alt="oxagile logo"/></a>
        </li>
        <li>
          <a class="partner-silver shift-left" target="_blank" href="http://hqsoftwarelab.by/">
            <img src="images/partners/logo-hqsoftware.png" alt="hqsoftwarelab logo"/></a>
        </li>
        <li>
          <a class="partner-silver" target="_blank" href="http://www.apalon.com/">
            <img src="images/partners/logo-apalon.png" alt="apalon logo"/></a>
        </li>
        <li>
          <a class="partner-bronze shift-left" target="_blank" href="https://www.facebook.com/nikofirm/">
            <img src="images/partners/logo-nikofirm.png" alt="Niko Firm logo"/></a>
        </li>
      </ul>

      <h2>Travel Sponsors</h2>
      <ul class="partner-list">
        <li><a href="http://google.com">
            <img src="images/partners/logo-google.svg" alt="google logo"/>
          </a>
        </li>
        <li>
          <a href="http://mozilla.org">
            <img src="images/partners/logo-mozilla.svg" alt="mozilla logo"/>
          </a>
        </li>
        <li>
          <a target="_blank" href="https://www.microsoft.com/">
            <img src="images/partners/logo-microsoft.svg" alt="microsoft logo"/>
          </a>
        </li>
        <li>
          <a target="_blank" href="https://www.yandex.com/">
            <img src="images/partners/logo-yandex.svg" alt="yandex logo"/>
          </a>
        </li>
        <li>
          <a target="_blank" href="https://www.egnyte.com/">
            <img src="images/partners/logo-egnyte.svg" alt="egnyte logo"/>
          </a>
        </li>
        <li>
          <a target="_blank" href="http://mad.maniak.pro">
            <img src="images/partners/logo-madmaniak.svg" alt="madmaniak logo"/>
          </a>
        </li>
        <li>
          <a target="_blank" href="https://www.keepsolid.com/">
            <img src="images/partners/logo-keepsolid.svg" alt="keep solid logo"/>
          </a>
        </li>
        <li>
          <a target="_blank" href="https://www.toptal.com/">
            <img src="images/partners/logo-toptal.png" alt="toptal logo"/>
          </a>
        </li>
      </ul>

      <h2>Information partners</h2>
      <ul class="partner-list">
        <li>
          <a target="_blank" href="https://dev.by/">
            <img src="images/partners/logo-devby.png" alt="dev by logo"/>
          </a>
        </li>
        <li>
          <a target="_blank" href="https://www.onliner.by/">
            <img src="images/partners/logo-onliner.png" alt="onliner logo"/>
          </a>
        </li>
      </ul>
    </div>
  </section>
  <section class="section-follow-us" data-color="#BB94FF">
    <div class="content-md">
      <h2>Follow us</h2>
      <p class="text-lg">Follow us on <a target="_blank"
                                         href="https://www.facebook.com/groups/TheRollingScopes/">Facebook</a> and <a
          target="_blank" href="https://twitter.com/rollingscopes">Twitter</a>
        to be the first to learn the news</p>

      <p class="content-xsm">Our hashtag on social media is <a
          href="https://twitter.com/hashtag/rollingscopes?vertical=default&src=hash">#rollingscopes</a>.
        Or contact us directly on our email <a href="mailto:rolling.scopes@gmail.com">rolling.scopes@gmail.com</a></p>

      <p class="text-lg padding-top-lg">Join our Slack channel <a target="_blank"
                                                                  href="https://frontendbelarus.slack.com/?redir=%2Fmessages%2FC0KGWSMGE">#rsconf</a>.
      </p>
      <p class="content-xsm">If you don't have access to frontendbelarus.slack.com, please, register <a target="_blank"
                                                                                                        href="http://frontendbelarus.herokuapp.com/">here</a>.
      </p>

      <ul class="social-links">
        <li><a target="_blank" href="http://frontendbelarus.herokuapp.com/"><i class="fa fa-slack"></i></a></li>
        <li><a target="_blank" href="https://www.facebook.com/groups/TheRollingScopes/"><i
              class="fa fa-facebook"></i></a></li>
        <li><a target="_blank" href="https://www.youtube.com/user/therollingscopes"><i class="fa fa-youtube-play"
                                                                                       aria-hidden="true"></i></a>
        </li>
        <li><a target="_blank" href="https://vk.com/therollingscopes"><i class="fa fa-vk"></i></a></li>
        <li><a target="_blank" href="https://twitter.com/rollingscopes"><i class="fa fa-twitter"></i></a></li>
        <li><a target="_blank" href="https://www.instagram.com/explore/tags/rollingscopes/"><i
              class="fa fa-instagram"></i></a></li>
      </ul>
    </div>
  </section>
</div>
<% include common/footer %>
<% include common/scripts %>
</body>
</html>
