<!doctype html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <title>RS Conf 2017</title>
  <meta name="viewport" content="width=device-width">
  <% include common/styles %>
</head>
<body>
<% include common/browsehappy %>
<div class="page-wrap">
  <% include common/header %>
  <section class="conf-title">
    <div class="text-center"><a class="rs-logo" href="http://rollingscopes.com/"> </a></div>
    <h1>The Rolling Scopes Conference</h1>
    <h2>18 – 19th February 2017, Minsk</h2>
    <!-- <section class="sign-up">
        <div class="sign-up-wrap">
            <input type="email" placeholder="E-mail" class="sign-up-field" name="email" autocomplete="on">
            <a onclick="signupForUpdates(); return false;" href="#" class="sign-up-btn">
              <span>Sign up for Updates</span>
            </a>
        </div>
    </section> -->
  </section>
  <section>
    <h2>What's up front-end folks!</h2>
    <p>
      On behalf of Minsk front-end/JavaScript community, <a target="_blank" href="http://rollingscopes.com/">The Rolling
        Scopes <i class="fa fa-external-link-square"></i></a> crew is glad to announce the upcoming RSConf2017 front-end
      conference! <a href="http://2016.conf.rollingscopes.com/">February 2016</a> was too awesome to do it just once :)
    </p>
    <p>
      Next winter Minsk will once again become a gathering spot for amazing people of the front-end scene presenting hot
      topics and sharing their expertise and vision.
      Currently the agenda is still work-in-progress, but we can promise you two full days of delicious content:
      Workshop Saturday and Conference Sunday! We hope to treat you to talks in both standard-length and lightning
      format so we issue the Call for Papers at our full lung capacity! Workshops, presentations, lightning talks – we
      want it all at
      <a href="mailto:rolling.scopes@gmail.com">rolling.scopes@gmail.com</a> (primary conference language is English).
      <br/>
      Let’s Roll!
    </p>
  </section>
  <section>
    <h2>Speakers</h2>
    <ul class="schedule-full">
      <li>
        <img class="speaker-photo" src="images/speakers/axel_rauschmayer.jpg"
             alt="photo Gabriel Mičko"/>
        <p class="speaker-name">Dr. Axel Rauschmayer <a class="speaker-twitter" target="_blank"
                                                        href="https://twitter.com/rauschma">@rauschma</a></p>
        <p>Munich, Germany</p>
        <p>
          <a href="http://rauschma.de/">Dr. Axel Rauschmayer</a> specializes in JavaScript and web development. He
          teaches classes for <a href="http://ecmanauten.de/">Ecmanauten</a>, blogs at <a href="http://www.2ality.com/">2ality.com</a>,
          holds talks and workshops at conferences and organizes the <a href="http://www.munichjs.org/">MunichJS</a>
          user group. <br/>
          Axel has been writing about ECMAScript 6 <a
            href="http://www.2ality.com/2011/02/david-herman-on-ecmascriptnext.html">since early 2011</a>.</p>

      </li>
      <li>
        <img class="speaker-photo" src="images/speakers/gabriel_micko.jpg"
             alt="photo Gabriel Mičko"/>
        <p class="speaker-name">Gabriel Mičko <a class="speaker-twitter" target="_blank"
                                                 href="https://twitter.com/gabriel_micko">@gabriel_micko</a></p>
        <p>Budapest, Hungary</p>
        <p>Gabriel is working as a Front-end Developer Specialist for DoclerHolding based in Budapest.
          Mozilla Tech Speaker and enthusiastic voluntary at Hungarian Mozilla Community.
          He is interested in everything related to web. The world of open source impresses him as well.
          WebRTC geek, Firefox OS app hacker and devotee of the platform.
        </p>
      </li>
      <li>
        <img class="speaker-photo" src="images/speakers/david_ferreira.jpg"
             alt="photo David Ferreira"/>
        <p class="speaker-name">David Ferreira <a class="speaker-twitter" target="_blank"
                                                  href="https://twitter.com/daminufe">@daminufe</a></p>
        <p>Amsterdam, Netherlands</p>
        <p>David is a programming enthusiast since 2004, which turned out to become his professional career.
          He loves Javascript language, and for years has been improving his expertise. At the moment David works as a
          consultant developer in the Netherlands.
          Lately, he has been working on a hybrid mobile app for a bank. Also David has multiple websites in production
          with full-stack Javascript.
        </p>
      </li>
      <li>
        <img class="speaker-photo" src="images/unknown_speaker.jpg"
             alt="photo unknown speaker"/>
        <h3>Call for speakers</h3>
        <p> If you are interested in speaking please submit a short synopsis to <a
            href="mailto:rolling.scopes@gmail.com">rolling.scopes@gmail.com</a>.
          <!--We will be happy to cover your travel expenses and provide you with a place to stay. If you need a visa we will help you to obtain it.-->
          Talk proposals are accepted in Russian, Belarusian and English.
          The call for speakers will be closed on the 31st of December.</p>
      </li>
    </ul>
  </section>

  <section>
    <h2>Lightning Talks</h2>
    <p>Want to give a talk, but do not have enough material for a full talk? Have a shout-out for an open source project
      or tool?
      Want to share a community story (everyone loves stories!)? Preach the must-know fundamentals of Web, JavaScript,
      CSS, etc?
      Then lightning talks are for you! These talks are, at max, 5 minute talks done in quick succession. No need to
      fill the whole slot, though!

      We are accepting, reviewing, and selecting proposals for lightning talks in advance.
      <a href="mailto:rolling.scopes@gmail.com">Submit a lightning talk proposal</a>
    </p>
  </section>
  <section>
    <h2>Language</h2>
    <p>We offer simultaneous translation of all the talks to English or Russian.
      Headsets will be available free of charge, but we'll have to hold your passport or driver's license for the
      duration of the conference.</p>
  </section>
  <section><h2>Venue</h2>
    <p>Minsk is the capital and the largest city in Belarus with population over 2 million.
      Minsk hosted IIHF Ice Hockey World Championship in 2014. <a target="_blank" href="venue.html">See more <i
          class="fa fa-external-link-square"></i></a></p>
  </section>
  <section>
    <h2>Afterparty</h2>
    <p>Stay put after the talks, we'll party hard right there at IBB, beer and snacks included.</p>
  </section>
  <section>
    <h2>Do you have any questions?</h2>
    <p>Join our Slack channel: <a href="https://frontendbelarus.slack.com/messages/rsconf/">#rsconf</a></p>
    <p>If you don't have access to frontendbelarus.slack.com, please, register here: <a
        href="http://frontendbelarus.herokuapp.com/">http://frontendbelarus.herokuapp.com/</a></p>
  </section>
  <section class="partners">
    <h2>Partners</h2>
    <p>
      We would be happy to discuss any kind of partnership and gladly accept any help e.g. making contributions to our
      budget (speakers travelling expenses, venue/coffee breaks/afterparty organization etc.) or prizes (books, coupons,
      gadgets) to be awarded to the winners of contests & competitions taking place during the conference.

    <p>
      Here's what you can expect in return:
    <ul>
      <li>thematic company stands at the venue hall/lobby</li>
      <li>banners around the stage and anywhere else at the venue</li>
      <li>contests/competitions</li>
      <li>have your logo displayed during the breaks</li>
      <li>be mentioned in the respective website section, our mailing list and posts in public media</li>
      <li>have your logo printed on attendee bags and lanyards</li>
    </ul>
    </p>
    The event is non-profit, all sponsors' contributions will be used to run the conference as well as making tickets
    affordable for the attendees.

    Please contact us about information and media partnership by writing an email to <a
      href="mailto:rolling.scopes@gmail.com">rolling.scopes@gmail.com</a>.
    <br/>
    See you at RSConf2017!
    <br/>
    </p>
    <p><a class="become-partner" href="mailto:rolling.scopes@gmail.com"><i class="fa fa-user"></i> Become a Partner</a>
    </p>
  </section>
</div>
<% include common/footer %>
<% include common/scripts %>
</body>
</html>
