<!doctype html>
<html lang="en" class="no-js">
<head>
  <% include common/styles %>
  <title>RS Conf 2018 | Schedule</title>
</head>
<body>
<div class="page-wrap page-schedule">
  <% include common/browsehappy %>
  <% include common/menu %>

  <section>
    <div class="content-md">
      <h2 class="text-lg">Schedule <span class="for-print"> <br/> 10 February | #RSConf2018</span></h2>

      <p><a href="javascript:void(0);" class="btn first-day-btn rounded active"><span class="full-view">Saturday</span>
          <span class="abbr-view">SAT</span></a> <a href="javascript:void(0);"
                                                    class="btn second-day-btn rounded"><span
            class="full-view">Sunday</span> <span class="abbr-view">SUN</span></a></p>

      <ul class="schedule first-day active">
        <li>
          <h3><span class="schedule-time">9:00</span> Coffee & Registration</h3>
        </li>
        <li>
          <h3><span class="schedule-time">9:40</span> Opening. Welcome speech from conference
            organizers
          </h3>
          <p class="text-sm"><a href="speaker/dzmitry-varabei.html">Dzmitry Varabei</a>, <a
              href="speaker/nastia-khamiankova.html">Nastia Khamiankova</a>, <a
              href="speaker/julia-rumyanceva.html">Julia Rumyanceva</a></p>
          <p class="text-sm">30min | RU
            <span class="talk-place">Pink Room</span>
          </p>
        </li>
        <li class="first-stream">
          <h3><span class="schedule-time">10:20</span><a href="speaker/andrei-vouchanka.html"> Tricky JS and WebGL
              practices to achieve the best
              performance on mobile</a></h3>
          <p class="text-sm">Andrei Vouchanka</p>
          <p class="text-sm">35min | EN
            <span class="talk-place">Pink Room</span>
          </p>
        </li>
        <li class="second-stream">
          <h3><span class="schedule-time">10:20</span><a href="speaker/kristi-progri.html">Developing and maintaining a
              coding community</a></h3>
          <p class="text-sm">Kristi Progri</p>
          <p class="text-sm">35min | EN
            <span class="talk-place">Blue Room</span>
          </p>
        </li>
        <li>
          <h3><span class="schedule-time">10:55</span> Short break (5 min)</h3>
        </li>
        <li class="first-stream">
          <h3><span class="schedule-time">11:00</span><a href="speaker/konstantin-krivlenia.html"> Сказ о
              microservices</a></h3>
          <p class="text-sm">Konstantin Krivlenia</p>
          <p class="text-sm">40min | RU
            <span class="talk-place">Pink Room</span>
          </p>
        </li>
        <li class="second-stream">
          <h3><span class="schedule-time">11:00</span><a href="speaker/trishul-goel.html"> Cross browser extensions -
              lets make one</a></h3>
          <p class="text-sm">Trishul Goel </p>
          <p class="text-sm">40min | EN
            <span class="talk-place">Blue Room</span>
          </p>
        </li>
        <li>
          <h3><span class="schedule-time">11:40</span> Coffee break (20 min) </h3>
        </li>
        <li class="first-stream">
          <h3><span class="schedule-time">12:00</span><a href="speaker/ivan-jovanovic.html">Introduction to Micro
              Frontends</a></h3>
          <p class="text-sm">Ivan Jovanovic</p>
          <p class="text-sm">35min | EN
            <span class="talk-place">Pink Room</span>
          </p>
        </li>
        <li class="second-stream">
          <h3><span class="schedule-time">12:00</span><a href="speaker/alexander-shushunov.html"> Пробуем Flow в бою</a>
          </h3>
          <p class="text-sm">Alexander Shushunov</p>
          <p class="text-sm">35min | RU
            <span class="talk-place">Blue Room</span>
          </p>
        </li>
        <li>
          <h3><span class="schedule-time">12:35</span> Short break (5 min)</h3>
        </li>
        <li class="first-stream">
          <h3><span class="schedule-time">12:40</span><a href="speaker/asim-hussain.html">How to hack a node app?</a>
          </h3>
          <p class="text-sm">Asim Hussain</p>
          <p class="text-sm">50min | EN
            <span class="talk-place">Pink Room</span>
          </p>
        </li>
        <li class="second-stream">
          <h3><span class="schedule-time">12:40</span> <a href="speaker/denis-ilin.html">Что не так с мобильным
              вебом?</a>
          </h3>
          <p class="text-sm">Denis Ilin</p>
          <p class="text-sm">40min | RU
            <span class="talk-place">Blue Room</span>
          </p>
        </li>
        <li>
          <h3><span class="schedule-time">13:30</span> Lunch break </h3>
          <p><a target="_blank" href="https://www.google.com/maps/d/embed?mid=1AbU8-yXK90eT3S2LDYKrevtlrSD6rlQ3">Some
              food places near RSConf venue</a></p>
        </li>
        <li class="first-stream">
          <h3><span class="schedule-time">15:00</span><a href="speaker/tomasz-lakomy.html">Journey through VR and AR
              with React</a></h3>
          <p class="text-sm">Tomasz Łakomy</p>
          <p class="text-sm">35min | EN
            <span class="talk-place">Pink Room</span>
          </p>
        </li>
        <li class="second-stream">
          <h3><span class="schedule-time">15:00</span><a href="speaker/timofey-lavrenyuk.html"> Making mobile web app
              better with WEB APIs</a></h3>
          <p class="text-sm">Timofey Lavrenyuk</p>
          <p class="text-sm">35min | RU
            <span class="talk-place">Blue Room</span>
          </p>
        </li>
        <li>
          <h3><span class="schedule-time">15:35</span> Short break (5 min)</h3>
        </li>
        <li class="first-stream">
          <h3><span class="schedule-time">15:40</span><a href="speaker/anna-selezniova.html">Rock’n’scroll</a></h3>
          <p class="text-sm">Anna Selezniova </p>
          <p class="text-sm">40min | RU
            <span class="talk-place">Pink Room</span>
          </p>
        </li>
        <li class="second-stream">
          <h3><span class="schedule-time">16:40</span><a href="speaker/marek-piasecki.html"> Beyond React</a></h3>
          <p class="text-sm">Marek Piasecki</p>
          <p class="text-sm">40min | EN
            <span class="talk-place">Blue Room</span>
          </p>
        </li>
        <li>
          <h3><span class="schedule-time">16:20</span> Coffee break (20 min)</h3>
        </li>
        <li class="first-stream">
          <h3><span class="schedule-time">16:40</span><a href="speaker/ilya-pukhalski.html">On JAM Stack
              Architectures</a></h3>
          <p class="text-sm">Ilya Pukhalski</p>
          <p class="text-sm">35min | EN
            <span class="talk-place">Pink Room</span>
          </p>
        </li>
        <li class="second-stream">
          <h3><span class="schedule-time">16:40</span> <a href="speaker/ales-tsvil.html">Stream API, through
              Redux-Observable in Electron-based app</a>
          </h3>
          <p class="text-sm">Ales Tsvil</p>
          <p class="text-sm">35min | RU
            <span class="talk-place">Blue Room</span>
          </p>
        </li>
        <li>
          <h3><span class="schedule-time">17:15</span> Short break (5 min)</h3>
        </li>
        <li class="first-stream">
          <h3><span class="schedule-time">17:20</span><a href="speaker/alexey-migutsky.html">Как заработать больше в
              фронтенде?</a></h3>
          <p class="text-sm">Alexey Migutsky</p>
          <p class="text-sm">40min | RU
            <span class="talk-place">Pink Room</span>
          </p>
        </li>
        <li class="second-stream">
          <h3><span class="schedule-time">17:15</span> <a href="speaker/pavel-birukou.html">Navigating the Frontend
              landscape without encountering JS fatigue</a>
          </h3>
          <p class="text-sm">Pavel Birukou</p>
          <p class="text-sm">20min | RU
            <span class="talk-place">Blue Room</span>
          </p>
        </li>
        <li>
          <h3><span class="schedule-time">19:00</span>Afterparty</h3>
          <p class="text-sm">Staramiescki pivavar</p>
          <p class="text-sm">
            <a href="https://goo.gl/maps/Z2XQjx6A6bF2">vułica Revalucyjnaja 32, Minsk</a>
          </p>
        </li>
      </ul>

      <h2 class="text-lg for-print">Schedule <span><br/> 11 February | #RSConf2018</span></h2>

      <ul class="schedule second-day">
        <li>
          <h3><span class="schedule-time">9:00</span> Coffee & Registration</h3>
        </li>
        <li class="first-stream">
          <h3><span class="schedule-time">10:00</span><a href="speaker/alexander-gerasimov.html"> All-You-Can-Eat-Types:
              Monad Buffet</a></h3>
          <p class="text-sm">Alexander Gerasimov</p>
          <p class="text-sm">35min | EN
            <span class="talk-place">Pink Room</span>
          </p>
        </li>
        <li class="second-stream">
          <h3><span class="schedule-time">10:00</span> <a href="speaker/irina-levina.html">Как рефакторить и оставаться
              в
              живых? (Рефакторинг клиентского кода)</a>
          </h3>
          <p class="text-sm">Irina Levina</p>
          <p class="text-sm">35min | RU
            <span class="talk-place">Blue Room</span>
          </p>
        </li>
        <li>
          <h3><span class="schedule-time">10:35</span> Short break (5 min)</h3>
        </li>
        <li class="first-stream">
          <h3><span class="schedule-time">10:40</span><a href="speaker/vsevolod-shmyrov.html"> Защита сервиса при помощи
              CSP</a></h3>
          <p class="text-sm">Vsevolod Shmyrov</p>
          <p class="text-sm">35min | RU
            <span class="talk-place">Pink Room</span>
          </p>
        </li>
        <li class="second-stream">
          <h3><span class="schedule-time">10:40</span><a href="speaker/tomasz-jonasz-kujawski.html"> How developers can
              upgrade their visual design skills
              for better front end development</a></h3>
          <p class="text-sm">Tomasz Jonasz Kujawski</p>
          <p class="text-sm">35min | EN
            <span class="talk-place">Blue Room</span>
          </p>
        </li>
        <li>
          <h3><span class="schedule-time">11:15</span> Coffee break </h3>
        </li>
        <li class="first-stream">
          <h3><span class="schedule-time">11:40</span><a href="speaker/vitali-novikau.html">Когда продуктов много, а
              дизайнеров чуть-чуть</a></h3>
          <p class="text-sm">Vitali Novikau</p>
          <p class="text-sm">35min | RU
            <span class="talk-place">Pink Room</span>
          </p>
        </li>
        <li class="second-stream">
          <h3><span class="schedule-time">11:40</span><a href="speaker/james-akwuh.html">DI: DIY</a></h3>
          <p class="text-sm">James Akwuh</p>
          <p class="text-sm">35min | RU
            <span class="talk-place">Blue Room</span>
          </p>
        </li>
        <li>
          <h3><span class="schedule-time">12:15</span> Short break (5 min)</h3>
        </li>
        <li class="first-stream">
          <h3><span class="schedule-time">12:20</span><a href="speaker/ilja-satchok.html">The elegance of decorated
              Redux</a></h3>
          <p class="text-sm">Ilja Satchok</p>
          <p class="text-sm">35min | EN
            <span class="talk-place">Pink Room</span>
          </p>
        </li>
        <li class="second-stream">
          <h3><span class="schedule-time">12:20</span><a href="speaker/dzmitry-vanitski.html">Ресерчили-ресерчили, да не
              выресерчавали</a></h3>
          <p class="text-sm">Dzmitry Vanitski</p>
          <p class="text-sm">35min | RU
            <span class="talk-place">Blue Room</span>
          </p>
        </li>
        <li>
          <h3><span class="schedule-time">12:55</span> Short break (5 min)</h3>
        </li>
        <li class="first-stream">
          <h3><span class="schedule-time">13:00</span><a href="speaker/aliaksandr-pasynkau.html">How to improve test
              coverage up to 80% with generated unit testing approach and be calm.</a></h3>
          <p class="text-sm">Aliaksandr Pasynkau</p>
          <p class="text-sm">15min | RU
            <span class="talk-place">Pink Room</span>
          </p>
        </li>
        <li class="second-stream">
          <h3><span class="schedule-time">13:00</span><a href="speaker/egor-malkevich.html"> И снова телевизоры!</a>
          </h3>
          <p class="text-sm">Egor Malkevich </p>
          <p class="text-sm">20min | RU
            <span class="talk-place">Blue Room</span>
          </p>
        </li>
        <li>
          <h3><span class="schedule-time">13:30</span> Lunch break </h3>
          <p><a target="_blank" href="https://www.google.com/maps/d/embed?mid=1AbU8-yXK90eT3S2LDYKrevtlrSD6rlQ3">Some
              food places near RSConf venue</a></p>
        </li>
        <li class="first-stream">
          <h3><span class="schedule-time">15:00</span><a href="speaker/mikhail-hatsilau.html">Codemods и трансформация
              JavaScript кода</a></h3>
          <p class="text-sm">Mikhail Hatsilau </p>
          <p class="text-sm">35min | RU
            <span class="talk-place">Pink Room</span>
          </p>
        </li>
        <li class="second-stream">
          <h3><span class="schedule-time">15:00</span><a href="speaker/fedor-shepelenko.html">Lego для дизайнера</a>
          </h3>
          <p class="text-sm">Fedor Shepelenko</p>
          <p class="text-sm">35min | RU
            <span class="talk-place">Blue Room</span>
          </p>
        </li>
        <li>
          <h3><span class="schedule-time">15:35</span> Short break (5 min)</h3>
        </li>
        <li class="first-stream">
          <h3><span class="schedule-time">15:40</span><a href="speaker/vasiliy-vanchuk.html">Ускорение UI тестов</a>
          </h3>
          <p class="text-sm">Vasiliy Vanchuk</p>
          <p class="text-sm">35min | RU
            <span class="talk-place">Pink Room</span>
          </p>
        </li>
        <li class="second-stream">
          <h3><span class="schedule-time">15:40</span><a href="speaker/yauheniya-zhur.html">Дизайнерская
              неожиданность</a></h3>
          <p class="text-sm">Yauheniya Zhur</p>
          <p class="text-sm">35min | RU
            <span class="talk-place">Blue Room</span>
          </p>
        </li>
        <li>
          <h3><span class="schedule-time">16:15</span> Coffee break </h3>
        </li>
        <li class="first-stream">
          <h3><span class="schedule-time">16:30</span><a href="speaker/alex-shkor.html">Front-end для блокчейн проекта
              децентрализованной исследовательской платформы</a></h3>
          <p class="text-sm">Alex Shkorh </p>
          <p class="text-sm">35min | RU
            <span class="talk-place">Pink Room</span>
          </p>
        </li>

        <li class="second-stream">
          <h3><span class="schedule-time">16:30</span><a href="speaker/workshop.html">Workshop: Думай, как дизайнер
              (часть 1)</a></h3>
          <p class="text-sm">Krystsina Svirydzenka, Hanna Kolesava, Svetlana Jeltok </p>
          <p class="text-sm">35min | RU
            <span class="talk-place">Blue Room</span>
          </p>
        </li>

        <li>
          <h3><span class="schedule-time">17:05</span> Short break (5 min)</h3>
        </li>

        <li class="first-stream">
          <h3><span class="schedule-time">17:10</span><a href="speaker/dmitry-volokh.html">Разработка редактора
              документов</a></h3>
          <p class="text-sm">Dmitry Volokh </p>
          <p class="text-sm">35min | RU
            <span class="talk-place">Pink Room</span>
          </p>
        </li>

        <li class="second-stream">
          <h3><span class="schedule-time">17:10</span><a href="speaker/workshop.html">Workshop: Думай, как дизайнер
              (часть 2)</a></h3>
          <p class="text-sm">Krystsina Svirydzenka, Hanna Kolesava, Svetlana Jeltok </p>
          <p class="text-sm">35min | RU
            <span class="talk-place">Blue Room</span>
          </p>
        </li>

        <li>
          <h3><span class="schedule-time">17:45</span> Closing Ceremony</h3>
          <p class="text-sm">RS Crew</p>
          <p class="text-sm">15min | RU
            <span class="talk-place">Pink Room</span>
          </p>
        </li>
      </ul>

    </div>
  </section>

  <section class="section-follow-us">
    <div class="content-md">
      <h2>Follow us</h2>
      <p class="text-lg">Follow us on <a target="_blank"
                                         href="https://www.facebook.com/groups/TheRollingScopes/">Facebook</a> and <a
          target="_blank" href="https://twitter.com/rollingscopes">Twitter</a>
        to be the first to learn the news</p>

      <p class="content-sm">Our hashtag on social media is <a
          href="https://twitter.com/hashtag/rollingscopes?vertical=default&src=hash">#rollingscopes</a>.
        Or contact us directly on our email <a href="mailto:rolling.scopes@gmail.com">rolling.scopes@gmail.com</a></p>

      <p class="text-lg padding-top-lg">Join our Slack channel <a target="_blank"
                                                                  href="https://frontendbelarus.slack.com/?redir=%2Fmessages%2FC0KGWSMGE">#rsconf</a>.
      </p>
      <p class="content-sm">If you don't have access to frontendbelarus.slack.com, please, register <a target="_blank"
                                                                                                       href="http://frontendbelarus.herokuapp.com/">here</a>.
      </p>

      <ul class="social-links">
        <li><a target="_blank" href="http://frontendbelarus.herokuapp.com/"><i class="fa fa-slack"></i></a></li>
        <li><a target="_blank" href="https://www.facebook.com/groups/TheRollingScopes/"><i
              class="fa fa-facebook"></i></a></li>
        <li><a target="_blank" href="https://www.youtube.com/user/therollingscopes"><i class="fa fa-youtube-play"
                                                                                       aria-hidden="true"></i></a>
        </li>
        <li><a target="_blank" href="https://vk.com/therollingscopes"><i class="fa fa-vk"></i></a></li>
        <li><a target="_blank" href="https://twitter.com/rollingscopes"><i class="fa fa-twitter"></i></a></li>
        <li><a target="_blank" href="https://www.instagram.com/explore/tags/rollingscopes/"><i
              class="fa fa-instagram"></i></a></li>
      </ul>
    </div>
  </section>

</div>
<% include common/footer %>
<% include common/scripts %>
</body>
</html>
