<!doctype html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <title>RS Conf 2017</title>
  <meta name="viewport" content="width=device-width">
  <% include common/styles %>
</head>
<body>
<% include common/browsehappy %>
<div class="page-wrap">
  <% include common/header %>
  <!--<section>-->
  <!--<h2>Registration</h2>-->
  <!--<ul>-->
  <!--<li>"New Adventures in Responsive Web Design" Workshop [22$]: <a href="https://docs.google.com/forms/d/1q2QZ2a5QMAKfaYwVzQQJ0Yw41anqLnGyJvmZdz00ZdA/viewform">https://goo.gl/1MS0TJ</a></li>-->
  <!--<li>All other workshops: <a href="https://docs.google.com/forms/d/1LKrbqsqoWw-vvrdSXh18ztHO1QvXQZiuxM4FwRwp8K8/viewform">https://goo.gl/V4C7ex</a></li>-->
  <!--<li>Conference Day: <a href="https://docs.google.com/forms/d/1dgVHOe6XLQ_3vLlyz4ZD-msqD0W3k_v5_hlzujkG_qU/viewform">https://goo.gl/4zNePo</a> (<b>Your registration will be confirmed only when you receive Eventbrite ticket from us</b>)</li>-->
  <!--</ul>-->
  <!--</section>-->

  <section>
    <h2>Saturday, 18th February</h2>
    <h3>Venue: <a target="_blank" href="https://goo.gl/maps/nZ5MtuvzVz12">Belarus Hi-Tech Park, Business Incubator</a>
    </h3>
    <h4>Address: vulісa Akadеmіka Kuprеvіča 1, Building 5, Minsk</h4>

    <ul class="two-streams-schedule">

      <li class="two-streams-schedule-time"><h2>9:00</h2></li>

      <li class="two-streams-schedule-item">
        <h3>Registration, morning coffee</h3>
      </li>
      <li class="two-streams-schedule-time"><h2>10:00</h2></li>
      <li class="two-streams-schedule-item">
        <img class="speaker-photo" src="images/speakers/rolling_scopes.jpg"
             alt="photo Rolling Scopes"/>

        <p class="speaker-name">RS Crew</p>

        <p><span class="schedule-lang">RU</span></p>

        <h3>Opening. Welcome speech from conference organizers</h3>
      </li>

      <li class="two-streams-schedule-time"><h2>10:15</h2></li>

      <li class="two-streams-schedule-item">
        <div class="first-stream">
          <div class="stream-title">Stream A</div>
          <img class="speaker-photo" src="images/speakers/martin_splitt.jpg"
               alt="photo Martin Splitt"/>
          <p class="speaker-name">Martin Splitt <a class="speaker-twitter" target="_blank"
                                                   href="https://twitter.com/g33konaut">@g33konaut</a></p>

          <p><span class="schedule-lang">en</span></p>

          <h3>WARPSPEED: High performance tricks: Web Workers, GPU computing and Web Assembly</h3>

          <p>
            JavaScript is getting faster, but there are a few shady spots that most of us haven't seen yet.
            Let's shed some light on using Web Workers, GPU computing and Web Assembly to go into warp speed!
          </p></div>

        <div class="second-stream">
          <div class="stream-title">Stream B</div>
          <img class="speaker-photo" src="images/speakers/anna_selezniova.jpg" alt="Anna Selezniova photo"/>
          <p class="speaker-name">Anna Selezniova <a class="speaker-twitter" target="_blank"
                                                     href="https://twitter.com/asktwi">@asktwi</a></p>

          <p><span class="schedule-lang">ru</span></p>

          <h3>Front-end As I See It </h3>
          <p>Front-end technologies are evolving at astonishing speed. Trying to keep up with what's new, we forget
            about the basics. Sometimes we get tired and lose the desire to go on. At that point, it's time to look at
            the front-end from a different angle. I want to share with you how I see it. And to answer the question:
            "What is front-end?"
          </p>
        </div>
      </li>
      <li class="two-streams-schedule-time"><h2>11:00</h2></li>

      <li class="two-streams-schedule-item">
        <div><h3><span class="icon-coffee">&nbsp;</span>Coffee break</h3></div>
      </li>

      <li class="two-streams-schedule-time"><h2>11:20</h2></li>

      <li class="two-streams-schedule-item">
        <div class="first-stream">
          <div class="stream-title">Stream A</div>
          <img class="speaker-photo" src="images/speakers/matt_zeunert.jpg"
               alt="photo Matt Zeunert"/>
          <p class="speaker-name">Matt Zeunert <a class="speaker-twitter" target="_blank"
                                                  href="https://twitter.com/mattzeunert">@mattzeunert</a></p>

          <p><span class="schedule-lang">en</span></p>

          <h3>Dynamic Analysis with Babel</h3>

          <p>Most people use Babel to compile ES2015 or JSX code. But it's actually a general purpose
            JavaScript compilation tool.</p>

          <p>In the first part of the talk we’ll look at how Babel works and how to create your own code transformation
            rules.</p>

          <p>We’ll then look at how Babel can be used to write dynamic analysis tools. How can we find the callers of a
            function? Why does a variable have the value it has?</p></div>

        <div class="second-stream">
          <div class="stream-title">Stream B</div>

          <img class="speaker-photo" src="images/speakers/vsevolod_rodionov.jpg" alt="Vsevolod Rodionov photo"/>
          <p class="speaker-name">Vsevolod Rodionov <a class="speaker-twitter" target="_blank"
                                                       href="https://twitter.com/jabher">@jabher</a></p>

          <p><span class="schedule-lang">ru</span></p>
          <p>WORKSHOP:</p>
          <h3> Machine learning and neural nets in JavaScript (part 1)</h3>
          <p>Neural nets, widely called in news an AI, sounds like something extremely complicated, but actually they
            are simpler to understand than client-server sync, and sometimes easier to use. Vsevolod is going to talk
            about neural nets and machine learning in general, how they work, how to use them and why you can love them
            - speaking not like university professor, but as software engineer and a web developer. And, which is even
            more awesome - Synaptic 2, the upcoming version of neural nets framework for browsers and node.js, will be
            released right before Rolling Scopes and will be shown and talked about for the first time.</p></div>

      </li>

      <li class="two-streams-schedule-time"><h2>12:05</h2></li>
      <li class="two-streams-schedule-item">
        <div><h3><span class="icon-coffee">&nbsp;</span>Short break (5min)</h3></div>
      </li>


      <li class="two-streams-schedule-time"><h2>12:10</h2></li>

      <li class="two-streams-schedule-item">
        <div class="first-stream">
          <div class="stream-title">Stream A</div>
          <p><img class="speaker-photo" src="images/speakers/rafael_teixeira_fernandes.jpg"
                  alt="photo Rafael Teixeira Fernandes"/>
          </p>


          <p class="speaker-name">Rafael Teixeira Fernandes <a class="speaker-twitter" target="_blank"
                                                               href="https://twitter.com/adammodus">@adammodus</a></p>
          <p><span class="schedule-lang">en</span></p>

          <h3>Service Worker Crash Course</h3>

          <p>So you've heard about service workers, progressive web apps, how they're the "next big thing" for a lot of
            web developers and frontend developers and all that jazz… Well, I'm not gonna preach you the PWA gospel, but
            I will try to share my love for the emerging offline-first attitude.</p>

          <p>I'll be using a simple open source PWA for this and show what is the code behind a generic service worker
            that will work for most scenarios, tell you how it works, maybe what you can do with it and hopefully teach
            you a few tricks and have you excited about implementing it in your projects!</p>


        </div>


        <div class="second-stream">
          <div class="stream-title">Stream B</div>
          <img class="speaker-photo" src="images/speakers/vsevolod_rodionov.jpg" alt="Vsevolod Rodionov photo"/>
          <p class="speaker-name">Vsevolod Rodionov <a class="speaker-twitter" target="_blank"
                                                       href="https://twitter.com/jabher">@jabher</a></p>

          <p><span class="schedule-lang">ru</span></p>
          <p>WORKSHOP:</p>
          <h3>Machine learning and neural nets in JavaScript (part 2)</h3>
          <p>Neural nets, widely called in news an AI, sounds like something extremely complicated, but actually they
            are simpler to understand than client-server sync, and sometimes easier to use. Vsevolod is going to talk
            about neural nets and machine learning in general, how they work, how to use them and why you can love them
            - speaking not like university professor, but as software engineer and a web developer. And, which is even
            more awesome - Synaptic 2, the upcoming version of neural nets framework for browsers and node.js, will be
            released right before Rolling Scopes and will be shown and talked about for the first time.</p></div>
      </li>
      <li class="two-streams-schedule-time"><h2>13:00</h2></li>

      <li class="two-streams-schedule-item">
        <div><h3><span class="icon-coffee">&nbsp;</span>Lunch break (60 min)</h3>
          <p>Cafe <a target="_blank" href="https://2017.conf.rollingscopes.com/images/lunch-map.jpg">"iKompot"</a>.
            Address: vulісa Akadеmіka Kuprеvіča 3</p>
        </div>
      </li>

      <li class="two-streams-schedule-time"><h2>14:00</h2></li>

      <li class="two-streams-schedule-item">


        <div class="first-stream">
          <div class="stream-title">Stream A</div>
          <img class="speaker-photo" src="images/speakers/stefania_ioana_chiorean.jpg"
               alt="photo Stefania Ioana Chiorean"/>
          <p class="speaker-name">Stefania Ioana Chiorean <a class="speaker-twitter" target="_blank"
                                                             href="https://twitter.com/ioana_cis">@ioana_cis</a></p>
          <p><span class="schedule-lang">en</span></p>
          <h3>Why (Mobile) Web Compatibility is (so) important?</h3>

          <p>
            Many developers do not consider web standards while create their webpages/apps. This will create a bad
            experience for some users that not use that product with a certain OS or application. And nowdays there are
            way to many configuration available to be sure you use the right one. And a limited memory will narrow your
            option to have several apps installed only for certain webpages. Some simple example for a bike sharing
            system, a Michelin rated restaurant from Stockholm or a museum in Krakow - that worked poorly on several
            browsers will show the importance of compatibility. Best practices for developers will be presented. Best
            practices for report issues will be exemplified. Already fixed issue will present simple solutions to the
            audience that unblocked several users.
          </p></div>

        <div class="second-stream">
          <div class="stream-title">Stream B</div>
          <img class="speaker-photo" src="images/speakers/stefan_judis.jpg"
               alt="photo Stefan Judis"/>
          <p class="speaker-name">Stefan Judis <a class="speaker-twitter" target="_blank"
                                                  href="https://twitter.com/stefanjudis">@stefanjudis</a></p>

          <p><span class="schedule-lang">en</span></p>

          <h3>“I can’t work on my phone” - desktop all the things</h3>
          <!--<p>Abstract</p>-->
          <p>The web platform gets stronger every month. Bluetooth, offline capability and even virtual reality are
            coming into our browsers.</p>

          <p> Does this mean that we don't need desktop apps anymore?</p>

          <p> No, a big trend is happening in parallel. A new go-to platform to build desktop applications entered the
            stage – Electron.</p>

          <p> Everything in Electron is built with HTML, CSS and JavaScript. Now frontend developers build almost
            everything with it. From small tiny apps solving everyday problems to full fledged IDEs – developers build
            tools for the environment they spend at least eight hours a day in: the desktop.</p>

          <p>Let's have a look at how this works and what it takes to build a desktop app.</p>
        </div>

      </li>
      <li class="two-streams-schedule-time"><h2>14:45</h2></li>
      <li class="two-streams-schedule-item">
        <div><h3><span class="icon-coffee">&nbsp;</span>Short break (5min)</h3></div>
      </li>
      <li class="two-streams-schedule-time"><h2>14:50</h2></li>


      <li class="two-streams-schedule-item">
        <div class="first-stream">
          <div class="stream-title">Stream A</div>
          <img class="speaker-photo" src="images/speakers/gabriel_micko.jpg"
               alt="photo Gabriel Mičko"/>
          <p class="speaker-name">Gabriel Mičko <a class="speaker-twitter" target="_blank"
                                                   href="https://twitter.com/gabriel_micko">@gabriel_micko</a></p>

          <p><span class="schedule-lang">en</span></p>

          <h3>GraphQL beyond the limit (part 1)</h3>

          <p>The presentation covers an introduction to the GraphQL query language, explaining its features and
            benefits. I will show how minimal investment you have to do to start up your GraphQL endpoint without having
            to rewrite your entire database infrastructure. The workshop is mostly a live demonstration (live
            coding). </p></div>

        <div class="second-stream">
          <div class="stream-title">Stream B</div>
          <img class="speaker-photo" src="images/speakers/ekaterina_prigara.jpg" alt="Ekaterina Prigara photo"/>
          <p class="speaker-name">Ekaterina Prigara <a class="speaker-twitter" target="_blank"
                                                       href="https://twitter.com/katyaprigara">@katyaprigara</a></p>

          <p><span class="schedule-lang">ru</span></p>

          <h3>Workshop: Automate it! Or how to set up dev tools in WebStorm</h3>

          <p>JavaScript fatigue was one of the hottest topics in 2016. Every day a frontend developer uses a dozen of
            various tools: compilers, linters, task runners, debugger, VCS, not to mention all the frameworks and
            libraries. In this talk I'll explain how to set up your development workflow in WebStorm in a most
            productive way and use all these tools more efficiently in the IDE.</p>
        </div>
      </li>

      <li class="two-streams-schedule-time"><h2>15:50</h2></li>

      <li class="two-streams-schedule-item">
        <div><h3><span class="icon-coffee">&nbsp;</span>Coffee break</h3></div>
      </li>


      <li class="two-streams-schedule-time"><h2>16:00</h2></li>

      <li class="two-streams-schedule-item">
        <div class="first-stream">
          <div class="stream-title">Stream A</div>
          <img class="speaker-photo" src="images/speakers/gabriel_micko.jpg"
               alt="photo Gabriel Mičko"/>
          <p class="speaker-name">Gabriel Mičko <a class="speaker-twitter" target="_blank"
                                                   href="https://twitter.com/gabriel_micko">@gabriel_micko</a></p>

          <p><span class="schedule-lang">en</span></p>

          <h3>GraphQL beyond the limit (part 2)</h3>

          <p>The presentation covers an introduction to the GraphQL query language, explaining its features and
            benefits. I will show how minimal investment you have to do to start up your GraphQL endpoint without having
            to rewrite your entire database infrastructure. The workshop is mostly a live demonstration (live
            coding). </p></div>

        <div class="second-stream">
          <div class="stream-title">Stream B</div>
          <img class="speaker-photo" src="images/speakers/dmitriy_schekhovtsov.jpg" alt="Dmitriy Schekhovtsov photo"/>
          <p class="speaker-name">Dmitriy Schekhovtsov <a class="speaker-twitter" target="_blank"
                                                          href="https://twitter.com/valorkin">@valorkin</a></p>

          <p><span class="schedule-lang">ru</span></p>

          <h3>Unleashing The Power Of Patterns with Angular 2</h3>

          <p>Stop mapping knowledge of one implementation to another,
            get familiar with patterns once and use them everywhere.
            With this knowledge you will be able to understand and use
            Angular 2, or any other frameworks, much faster and effectively.</p></div>

      </li>

      <li class="two-streams-schedule-time"><h2>16:40</h2></li>

      <li class="two-streams-schedule-item">
        <div><h3><span class="icon-coffee">&nbsp;</span>Coffee break</h3></div>
      </li>

      <li class="two-streams-schedule-time"><h2>17:00</h2></li>

      <li class="two-streams-schedule-item">
        <div>
          <img class="speaker-photo" src="images/speakers/charlie_wood.jpg"
               alt="photo Charlie Wood"/>
          <p class="speaker-name">Charlie Wood </p>

          <p><span class="schedule-lang">en</span></p>

          <h3>A rapid flight through PatternFly</h3>

          <p>Do you like lego? Do you like consistency across websites? Do you want to be part of an open source
            community with real designers? Join us for a rapid flight through PatternFly. </p></div>
      </li>

      <li class="two-streams-schedule-time"><h2>17:20</h2></li>

      <li class="two-streams-schedule-item">
        <div>
          <img class="speaker-photo" src="images/speakers/vitaly_friedman_2.jpg"
               alt="photo Vitaly Friedman"/>
          <p class="speaker-name">Vitaly Friedman <a class="speaker-twitter" target="_blank"
                                                     href="https://twitter.com/smashingmag">@smashingmag</a></p>

          <p><span class="schedule-lang">ru</span></p>

          <h3>How We Moved To HTTP/2 To Improve Performance... And Failed </h3>

          <p>In this talk, Vitaly Friedman, editor-in-chief of Smashing Magazine, will be highlighting a case study of
            how Smashing Magazine’s team has been improving performance and their struggles along the way. We’ll talk
            about the transition to HTTP/2, dealing with web fonts and advertising, utilizing service workers and
            prefetching techniques, as well as loading and deploying strategies to improve both actual and perceived
            performance. In the end, some things worked, and others failed, and this talk will highlight them all — with
            a sneak preview of what’s coming up next. Beware: we’ll cover some of the dirty little tricks that you might
            not be able to unlearn once you see them.</p></div>

      </li>

      <li class="two-streams-schedule-time"><h2>19:00</h2></li>

      <li class="two-streams-schedule-item">
      <div class="first-stream">
      <h3>Afterparty at <a target="_blank" href="https://goo.gl/maps/FYTNfgdA5Yp">CRAFTMAN</a> beer bar</h3>
      <p>Address: Vulitsa Gikala 5, Minsk</p>
      </div>

      </li>

    </ul>
  </section>
  <section></section>
  <section>
    <h2>Sunday, 19th February</h2>
    <h3>Venue: <a target="_blank" href="https://goo.gl/maps/nZ5MtuvzVz12">Belarus Hi-Tech Park, Business Incubator</a>
    </h3>
    <h4>Address: vulісa Akadеmіka Kuprеvіča 1, Building 5, Minsk</h4>

    <ul class="two-streams-schedule">

      <li class="two-streams-schedule-time"><h2>10:00</h2></li>

      <li class="two-streams-schedule-item">
        <h3>Registration, morning coffee</h3>
      </li>
      <li class="two-streams-schedule-time"><h2>11:00</h2></li>

      <li class="two-streams-schedule-item">
        <div>
          <img class="speaker-photo" src="images/speakers/axel_rauschmayer.jpg"
               alt="photo Dr. Axel Rauschmayer"/>
          <p class="speaker-name">Dr. Axel Rauschmayer <a class="speaker-twitter" target="_blank"
                                                          href="https://twitter.com/rauschma">@rauschma</a></p>

          <p><span class="schedule-lang">en</span></p>

          <h3> ECMAScript 2017 and beyond</h3>

          <p>In this talk, we’ll go into the latest JavaScript features and how they are designed.</p>
          <p> Starting with ECMAScript 2016, the new “TC39 process” is used to create ECMAScript versions. We’ll start
            by learning how it works. Then we will take a look at the final feature set of ES2017, which was also
            created with that process and to which the last feature was aded at the end of January. Finally, we’ll
            examine what features are likely to be added to JavaScript after ES2017.</p></div>
      </li>

      <li class="two-streams-schedule-time"><h2>12:00</h2></li>
      <li class="two-streams-schedule-item">
        <div><h3><span class="icon-coffee">&nbsp;</span>Coffee break</h3></div>
      </li>
      <li class="two-streams-schedule-time"><h2>12:20</h2></li>


      <li class="two-streams-schedule-item">

        <div class="first-stream">
          <div class="stream-title">Stream A</div>
          <img class="speaker-photo" src="images/speakers/vital_varanovich.jpg" alt="Vital Varanovich photo"/>
          <p class="speaker-name">Vital Varanovich <a class="speaker-twitter" target="_blank"
                                                      href="https://twitter.com/vitvor">@vitvor</a></p>

          <p><span class="schedule-lang">ru</span></p>

          <h3>Service Design: Case study.</h3>
          <p>Service Design is a form of conceptual work which is to design service according to customers needs and
            capabilities of a service provider, so that service is user-friendly, competitive and relevant. Vital will
            describe how such kind of design work is performed based on constitutive project for Liberty Global, the
            leading international telecommunications and television company with operations in 14 countries.</p>
        </div>


        <div class="second-stream">

          <div class="stream-title">Stream B</div>
          <img class="speaker-photo" src="images/speakers/martin_splitt.jpg"
               alt="photo Martin Splitt"/>
          <p class="speaker-name">Martin Splitt <a class="speaker-twitter" target="_blank"
                                                   href="https://twitter.com/g33konaut">@g33konaut</a></p>

          <p><span class="schedule-lang">en</span></p>

          <h3>Making PWAs with Polymer (part 1)</h3>
          <p>WORKSHOP:</p>
          <p>In this workshop, you'll learn how to make a progressive web app using Polymer. We will create components
            to build an app that features user authentication, a database backend, offline data availability and the
            ability to be installed to the home screen of an Android device.</p>

          <p>That may sound like a lot to consider, but worry not: Polymer Web Components make it easy to unlock the
            power of the web platform. Let's get coding!</p></div>
      </li>
      <li class="two-streams-schedule-time"><h2>13:05</h2></li>
      <li class="two-streams-schedule-item">
        <div><h3><span class="icon-coffee">&nbsp;</span>Coffee break</h3></div>
      </li>


      <li class="two-streams-schedule-time"><h2>13:10</h2></li>

      <li class="two-streams-schedule-item">

        <div class="first-stream">
          <div class="stream-title">Stream A</div>
          <img class="speaker-photo" src="images/speakers/vadim_makeev.jpg"
               alt="photo Vadim Makeev"/>
          <p class="speaker-name">Vadim Makeev <a class="speaker-twitter" target="_blank"
                                                  href="https://twitter.com/pepelsbey">@pepelsbey</a></p>

          <p><span class="schedule-lang">ru</span></p>

          <h3>My Vanilla CSS</h3>

          <p>Everything is so covered with sugar we can’t even unstick our hands from keyboard—it’s so convenient! When
            one front-end developer can’t understand the others’ code, when you’re reading a article and there’s an
            alien language instead of styles, it means diabetes. Purism, Luddism and a bit of a holy war.</p>
        </div>

        <div class="second-stream">

          <div class="stream-title">Stream B</div>
          <img class="speaker-photo" src="images/speakers/martin_splitt.jpg"
               alt="photo Martin Splitt"/>
          <p class="speaker-name">Martin Splitt <a class="speaker-twitter" target="_blank"
                                                   href="https://twitter.com/g33konaut">@g33konaut</a></p>

          <p><span class="schedule-lang">en</span></p>
          <p>WORKSHOP:</p>
          <h3>Making PWAs with Polymer (part 2)</h3>

          <p>In this workshop, you'll learn how to make a progressive web app using Polymer. We will create components
            to build an app that features user authentication, a database backend, offline data availability and the
            ability to be installed to the home screen of an Android device.</p>

          <p>That may sound like a lot to consider, but worry not: Polymer Web Components make it easy to unlock the
            power of the web platform. Let's get coding!</p></div>
      </li>


      <li class="two-streams-schedule-time"><h2>14:00</h2></li>

      <li class="two-streams-schedule-item">
        <div><h3><span class="icon-coffee">&nbsp;</span>Lunch break (60 min)</h3>
          <p>Cafe <a target="_blank" href="https://2017.conf.rollingscopes.com/images/lunch-map.jpg">"iKompot"</a>.
            Address: vulісa Akadеmіka Kuprеvіča 3</p>
        </div>
      </li>

      <li class="two-streams-schedule-time"><h2>15:00</h2></li>

      <li class="two-streams-schedule-item">
        <div class="first-stream">
          <div class="stream-title">Stream A</div>
          <img class="speaker-photo" src="images/speakers/andrei_palchys.jpg"
               alt="Andrei Palchys photo"/>
          <p class="speaker-name">Andrei Palchys </p>

          <p><span class="schedule-lang">ru</span></p>

          <h3>Миграция с Angular 1 на Angular 2+</h3>

          <p>Что делать, если используешь Angular 1, но все говорят, что он "мертв" и будущее за новой версией? Все
            переписывать с нуля? Андрей расскажет о возможных вариантах развития событий и их плюсах/минусах основанных
            на
            реальных проектах.</p>

        </div>

        <div class="second-stream">
          <div class="stream-title">Stream B</div>

          <img class="speaker-photo" src="images/speakers/antoni_huguet_vives.jpg"
               alt="photo Antoni Huguet Vives"/>


          <p class="speaker-name">Antoni Huguet Vives <a class="speaker-twitter" target="_blank"
                                                         href="https://twitter.com/GatMesquer">@GatMesquer</a></p>
          <p><span class="schedule-lang">en</span></p>


          <h3> Service Workers, the gotchas in your path to production </h3>

          <p>From the moment someone accesses your site the loading time is a critical factor. Statistics have proven to
            us that if it takes more than 3 seconds to load, you’ve already lost half of your users.
            Fortunately modern browsers offer different storage technologies to cache information so it only needs to be
            downloaded once from your network. This is the largest loading performance win you can implement today.
            We all know that caching is hard so this talk will cover the best practices and design patterns to make your
            caching strategies production ready. And the most important (and coolest thing) is that I’ll demonstrate how
            to make them work together with one of the most cutting edge technologies for caching: service workers!</p>
        </div>

      </li>

      <li class="two-streams-schedule-time"><h2>15:45</h2></li>
      <li class="two-streams-schedule-item">
        <div><h3><span class="icon-coffee">&nbsp;</span>Coffee break</h3></div>
      </li>


      <li class="two-streams-schedule-time"><h2>15:50</h2></li>

      <li class="two-streams-schedule-item">
        <div class="first-stream">
          <div class="stream-title">Stream A</div>
          <img class="speaker-photo" src="images/speakers/andrey_listochkin.jpg"
               alt="photo Andrey Listochkin"/>
          <p class="speaker-name">Andrey Listochkin <a class="speaker-twitter" target="_blank"
                                                       href="https://twitter.com/listochkin">@listochkin</a></p>

          <p><span class="schedule-lang">ru</span></p>

          <h3>Designing for Composability</h3>

          <p>Бывает так: нужен дропдаун, но не стандартный, а особенный. Сердце подсказывает, что должен быть для моего
            фреймворка хороший расширяемый дропдаун! Берешь 2-3 популярных, а в них нет тех настроек, что тебе нужны, и
            нет возможности что-то в них менять так, чтобы не переписывать дропдаун целиком. Обидно. И вот сидишь в 2017
            году, и как на 10 лет назад переместился - пилишь свой дропдаун. Уже третий за год!
          </p>
          <p>Ведь так быть не должно, правда? Поговорим о расширяемых компонентах, о компонентах, способных меняться
            самим и менять поведение соседей. Как их писать? О чем стоит думать?</p>
        </div>

        <div class="second-stream">
          <div class="stream-title">Stream B</div>
          <img class="speaker-photo" src="images/speakers/denys_dovhan.jpg"
               alt="photo Denys Dovhan"/>
          <p class="speaker-name">Denys Dovhan <a class="speaker-twitter" target="_blank"
                                                  href="https://twitter.com/denysdovhan">@denysdovhan</a></p>
          <p><span class="schedule-lang">ru</span></p>

          <h3>Shells written in JavaScript</h3>

          <p>JavaScript may give us a convenient approach for extending possibilities of shells and command line
            applications. This talk is a review of existing solutions in the world of JavaScript shells, their cons and
            pros, possible areas of usage.</p></div>

      </li>

      <li class="two-streams-schedule-time"><h2>16:50</h2></li>
      <li class="two-streams-schedule-item">
        <div><h3><span class="icon-coffee">&nbsp;</span>Coffee break</h3></div>
      </li>
      <li class="two-streams-schedule-time"><h2>17:00</h2></li>

      <li class="two-streams-schedule-item">
        <div>
          <img class="speaker-photo" src="images/speakers/alexander_gerasimov.jpg" alt="Alexander Gerasimov photo"/>
          <p class="speaker-name">Alexander Gerasimov <a class="speaker-twitter" target="_blank"
                                                         href="https://twitter.com/da_quirm">@da_quirm</a></p>
          <p><span class="schedule-lang">ru</span></p>

          <h3>Lodash QuickDraw!</h3>

          <p>Lodash is fast, but are you?</p>
        </div>
      </li>

      <li class="two-streams-schedule-time"><h2>18:00</h2></li>
      <li class="two-streams-schedule-item">
        <div><h3><span class="icon-coffee">&nbsp;</span>Closing Ceremony</h3></div>
      </li>

    </ul>

  </section>
  <section>
    <h2>Do you have any questions?</h2>
    <p>Join our Slack channel: <a href="https://frontendbelarus.slack.com/messages/rsconf/">#rsconf</a></p>
    <p>If you don't have access to frontendbelarus.slack.com, please, register here: <a
        href="http://frontendbelarus.herokuapp.com/">http://frontendbelarus.herokuapp.com/</a></p>
  </section>
</div>
<% include common/footer %>
<% include common/scripts %>
</body>
</html>
