<!doctype html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <title>RS Conf 2016</title>
    <meta name="viewport" content="width=device-width">
    <% include common/styles %>
</head>
<body>
<% include common/browsehappy %>
<div class="page-wrap">
    <% include common/header %>
  <section>
    <h2>Registration</h2>
    <ul>
      <li>"New Adventures in Responsive Web Design" Workshop [22$]: <a href="https://docs.google.com/forms/d/1q2QZ2a5QMAKfaYwVzQQJ0Yw41anqLnGyJvmZdz00ZdA/viewform">https://goo.gl/1MS0TJ</a></li>
      <li>All other workshops: <a href="https://docs.google.com/forms/d/1LKrbqsqoWw-vvrdSXh18ztHO1QvXQZiuxM4FwRwp8K8/viewform">https://goo.gl/V4C7ex</a></li>
      <li>Conference Day: <a href="https://docs.google.com/forms/d/1dgVHOe6XLQ_3vLlyz4ZD-msqD0W3k_v5_hlzujkG_qU/viewform">https://goo.gl/4zNePo</a> (<b>Your registration will be confirmed only when you receive Eventbrite ticket from us</b>)</li>
    </ul>
  </section>
  <section>
    <h2>Thursday, 18th February</h2>
    <h3>Venue: <a href="http://ibb.by/en">IBB Conference Center</a></h3>
    <h4>Address: Prospekt Gasety Prawda 11, Minsk</h4>
    <p class="time">18:00 - 22:00 <span class="schedule-lang">ru</span></p>
    <ul class="schedule-full">
      <li>
        <img class="speaker-photo" src="images/speakers/kseniya_koltun.jpg"
             alt="Kseniya Koltun"/>
        <p class="speaker-name">Kseniya Koltun</p>
        <p><b>UX workshop "Concept design for a new product"</b>
          for novice professionals in the UX field
        </p>
        <p>This intense and hands-on workshop focuses on how to design a concept for a new product.
          During 4 hours, you will practice your skills in basic UX topics:<br/>

          - Users Interview - popular User Research method<br/>
          - User Scenarios design<br/>
          - Sketching<br/>
          - "Selling" your concept<br/>

          The workshop sheds light on the UX process as a whole; explains basic UX methods which you can easily use in your job.
          Requirements: pen or pencil, sticky notes
        </p>

      </li>
    </ul>
  </section>
  <section>
    <h2>Friday, 19th February</h2>
    <h3>Venue: <a href="http://imaguru.co/ru">Imaguru Startup Hub(2nd floor)</a></h3>
    <h4>Address: ulitsa Fabritsiusa 4, Minsk</h4>
    <p class="time">17:00 - 22:00 <span class="schedule-lang">ru</span></p>
    <ul class="schedule-full">
      <li>
        <img class="speaker-photo" src="images/speakers/vitaly_friedman_2.jpg"
             alt="Vitaly Friedman"/>
        <p class="speaker-name">Vitaly Friedman</p>
        <p><b>New Adventures in Responsive Web Design</b></p>
        <p>With HTTP/2, Service Workers, Responsive Images, Flexbox, SVG, WAI-ARIA roles and Font Loading API
          now available in browsers, we all are still trying to figure out just the right strategy
          for designing and buildings responsive websites efficiently. We want to use all
          of these technologies and smart processes like atomic design, but how can we use them efficiently,
          and how do we achieve it within a reasonable amount of time?</p>
        <p>In this workshop, Vitaly Friedman, editor-in-chief of Smashing Magazine, will be looking into a strategy
          for crafting fast, resilient and flexible responsive design systems by utilizing all
          of those wonderful shiny web technologies we have available today.
          We'll also talk about dealing with legacy browsers and will cover a few dirty
          little techniques that might ensure that your responsive websites will stay relevant,
          flexible and accessible in the years to come.</p>
      </li>
    </ul>
  </section>
  <section>
    <h2>Saturday, 20th February</h2>
    <h3>Venue: <a href="http://park.by/">Belarus Hi-Tech Park, Business Incubator</a></h3>
    <h4>Address: vulісa Akadеmіka Kuprеvіča 1, Building 5, Minsk</h4>
    <ul class="two-streams-schedule">

      <li class="two-streams-schedule-time"><h2>9:00</h2></li>

      <li class="two-streams-schedule-item">
        <h3>Registration, morning coffee</h3>
      </li>
      <li class="two-streams-schedule-time"><h2>9:45</h2></li>
      <li class="two-streams-schedule-item">
        <img class="speaker-photo" src="images/speakers/rolling_scopes.jpg"
             alt="photo Rolling Scopes"/>

        <p class="speaker-name">RS Crew</p>

        <p><span class="schedule-lang">RU</span></p>

        <h3>Welcome!</h3>
      </li>

      <li class="two-streams-schedule-time"><h2>10:00</h2></li>

      <li class="two-streams-schedule-item">
        <div class="first-stream">
          <div class="stream-title">Stream A</div>
          <img class="speaker-photo" src="images/speakers/ingvar_stepanyan.jpg"
               alt="photo Ingvar Stepanyan"/>

          <p class="speaker-name">Ingvar Stepanyan <a class="speaker-twitter" target="_blank"
                                                      href="https://twitter.com/rreverser">@rreverser</a></p>

          <p><span class="schedule-lang">en</span></p>

          <h3>JavaScript parsing, transformations, transpilation.</h3>

          <p>
            Talk will cover complete stack, starting from what are lexers and
            parsers in general and how they work, and ending with how well-known
            JS transpilers and parsers work and how you can write custom transformers
            for easing everyday development on own projects.
          </p></div>

        <div class="second-stream">
          <div class="stream-title">Stream B</div>
          <img class="speaker-photo" src="images/speakers/vsevolod.jpg"
               alt="photo Всеволод Шмыров"/>

          <p class="speaker-name">Всеволод Шмыров</p>

          <p><span class="schedule-lang">ru</span></p>

          <h3>Использование File API в Конструкторе Яндекс.Карт.</h3></div>
      </li>
      <li class="two-streams-schedule-time"><h2>10:45</h2></li>

      <li class="two-streams-schedule-item">
        <div><h3><span class="icon-coffee">&nbsp;</span>Short break (5min)</h3></div>
      </li>

      <li class="two-streams-schedule-time"><h2>10:50</h2></li>

      <li class="two-streams-schedule-item">
        <div class="first-stream">
          <div class="stream-title">Stream A</div>
          <img class="speaker-photo" src="images/speakers/gabriel_micko.jpg"
               alt="photo Gabriel Mičko"/>

          <p class="speaker-name">Gabriel Mičko <a class="speaker-twitter" target="_blank"
                                                   href="https://twitter.com/gabriel_micko">@gabriel_micko</a>
          </p>

          <p><span class="schedule-lang">en</span></p>

          <h3>WebRTC from Zero to Hero</h3>

          <p>Technology and the way people communicate have been evolving. With this in mind,
            WebRTC opens a whole new spectrum of communication platforms.
            It runs on the Web. The same platform I truly believe in.</p></div>

        <div class="second-stream">
          <div class="stream-title">Stream B</div>
          <img class="speaker-photo" src="images/speakers/vladimir_petriko.jpg"
               alt="photo Vladimir Petriko"/>

          <p class="speaker-name">Vladimir Petriko</p>

          <p><span class="schedule-lang">ru</span></p>

          <h3>TauCharts and data visualization</h3>
          <p>Визуализация стала горячей темой, как только мир вошёл в эру больших данных.
            Однако тихая революция случилась 19 августа 1999 года с выходом книги Леланда Вилкинсона
            “Grammar of graphics” (GoG), в которой автор представил универсальную концепцию визуализации данных.
            “Taucharts” - графическая open source библиотека, основанная на принципах GoG и разработанная компанией Taucraft.</p>
        </div>
      </li>

      <li class="two-streams-schedule-time"><h2>11:40</h2></li>

      <li class="two-streams-schedule-item">
        <div><h3><span class="icon-coffee">&nbsp;</span>Coffee break</h3></div>
      </li>


      <li class="two-streams-schedule-time"><h2>12:00</h2></li>

      <li class="two-streams-schedule-item">
        <div class="first-stream">
          <div class="stream-title">Stream A</div>
          <p class="speaker-name">Nastassia Kiseleva &amp; Konstantin Leyer</p>

          <p><span class="schedule-lang">en</span></p>

          <h3>WebRTC in Action!</h3></div>

        <div class="second-stream">
          <div class="stream-title">Stream B</div>
          <img class="speaker-photo" src="images/speakers/michael_bodnarchuk.jpg"
               alt="photo Seth Thompson"/>
          <p class="speaker-name">Michael Bodnarchuk<a class="speaker-twitter" target="_blank"
                                                       href="https://twitter.com/davert">@davert</a></p>

          <p><span class="schedule-lang">ru</span></p>

          <h3>Modern Acceptance Testing with CodeceptJS </h3>

          <p>What would you choose for acceptance testing? Selenium-webdriver, Protractor, WebDriverIO, Nightmare, Intern, or...
            Do you really know the difference? But now we have a framework to rule them!
            Meet CodeceptJS, which allows you to write tests in scenario-driven BDD manner,
            and execute by using a driver of your choice!</p>
        </div>
      </li>

      <li class="two-streams-schedule-time"><h2>12:18</h2></li>
      <li class="two-streams-schedule-item">
        <div><h3><span class="icon-coffee">&nbsp;</span>Short break (2min)</h3></div>
      </li>

      <li class="two-streams-schedule-time"><h2>12:20</h2></li>

      <li class="two-streams-schedule-item">
        <div class="first-stream">
          <div class="stream-title">Stream A</div>
          <img class="speaker-photo" src="images/speakers/seth_thompson.jpg"
               alt="photo Seth Thompson"/>

          <p class="speaker-name">Seth Thompson <a class="speaker-twitter" target="_blank"
                                                   href="https://twitter.com/s3ththompson">@s3ththompson</a>
          </p>

          <p><span class="schedule-lang">en</span></p>

          <h3>ES2015 in the browser: beyond the polyfillable</h3>

          <p>
            Some of the new, ES2015 features of the JavaScript language (including Proxies) can't be
            transpiled,
            polyfilled,
            or rewritten in ES5. Now that V8 and other JavaScript engines are nearing complete native ES2015
            support,
            it's time to explore how to develop and ship applications that take full advantage of these
            features.
            We'll talk about the cost of transpiling code to ES5, the use cases of ES2015 features that
            can't be
            polyfilled,
            and how to ship code that takes advantage of the state-of-the-art, but still runs in older
            browsers.
          </p></div>

        <div class="second-stream">
          <div class="stream-title">Stream B</div>
          <img class="speaker-photo" src="images/speakers/roman_prudnikov.jpg"
               alt="photo Roman Prudnikov"/>

          <p class="speaker-name">Roman Prudnikov <a class="speaker-twitter" target="_blank"
                                                     href="https://twitter.com/RayProud">@RayProud</a></p>

          <p><span class="schedule-lang">ru</span></p>

          <h3>Typography: from metal to pixels</h3>

          <p>Todays frontend-developers spend many hours learning about a wide range of JavaScript frameworks.
            This is why they almost always forget about the most important part— typography.
            The history and basics of typography may be helpful for frontend-developers who want to be able
            to
            make texts work.
            There are several interesting points in typography's history and laws that must be known,
            along with some specific CSS rules in real projects — that's about this speech.</p></div>
      </li>

      <li class="two-streams-schedule-time"><h2>13:20</h2></li>

      <li class="two-streams-schedule-item">
        <div><h3><span class="icon-coffee">&nbsp;</span>Coffee break (80 min)</h3></div>
      </li>

      <li class="two-streams-schedule-time"><h2>14:30</h2></li>

      <li class="two-streams-schedule-item">
        <div class="first-stream"><img class="speaker-photo" src="images/speakers/martin_naumann.jpg"
                                       alt="photo Martin Naumann"/>

          <p class="speaker-name">Martin Naumann <a class="speaker-twitter" target="_blank"
                                                    href="https://twitter.com/g33konaut">@g33konaut</a></p>

          <p><span class="schedule-lang">en</span></p>

          <h3>Life of a pixel: Computer Graphics for JavaScript Developers</h3>

          <p>All we do in frontend development ends up as pixels on screen yet many people don't really know
            how a
            pixel goes from zeroes and ones in memory to bright colours on screen.
            This talk explains how that works and gives an introduction into the basic principles of 2D and
            3D
            computer graphics, filtering and different techniques to make things look better.
            This can help you improve your rendering performance not only for games, but regular websites,
            too.
          </p></div>

      </li>

      <li class="two-streams-schedule-time"><h2>15:20</h2></li>

      <li class="two-streams-schedule-item">
        <div class="first-stream"><img class="speaker-photo" src="images/speakers/kseniya_koltun.jpg"
                                       alt="photo Kseniya Koltun"/>

          <p class="speaker-name">Kseniya Koltun</p>

          <p><span class="schedule-lang">ru</span></p>

          <h3>Forms are boring</h3></div>

      </li>

      <li class="two-streams-schedule-time"><h2>15:50</h2></li>

      <li class="two-streams-schedule-item">
        <div><h3><span class="icon-coffee">&nbsp;</span>Coffee break</h3></div>
      </li>


      <li class="two-streams-schedule-time"><h2>16:10</h2></li>

      <li class="two-streams-schedule-item">
        <div class="first-stream"><img class="speaker-photo" src="images/speakers/andrey_listochkin.jpg"
                                       alt="photo Andrey Listochkin"/>

          <p class="speaker-name">Andrey Listochkin <a class="speaker-twitter" target="_blank"
                                                       href="https://twitter.com/listochkin">@listochkin</a>
          </p>

          <p><span class="schedule-lang">ru</span></p>

          <h3>Качество. Как делать свою работу хорошо.</h3>

          <p>От качества кода до процессов и общения в команде.</p></div>

      </li>

      <li class="two-streams-schedule-time"><h2>17:10</h2></li>

      <li class="two-streams-schedule-item">
        <div><h3><span class="icon-coffee">&nbsp;</span>Coffee break</h3></div>
      </li>

      <li class="two-streams-schedule-time"><h2>17:30</h2></li>

      <li class="two-streams-schedule-item">
        <div class="first-stream"><img class="speaker-photo" src="images/speakers/vitaly_friedman_2.jpg"
                                       alt="Vitaly Friedman"/>

          <p class="speaker-name">Vitaly Friedman</p>

          <p><span class="schedule-lang">ru</span></p>

          <p><b>Dirty Little Tricks From The Dark Corners of eCommerce</b></p>

          <p>In this talk, Vitaly will be covering a few design patterns to increase conversion by improving
            clarity and consistency of
            the eCommerce experience and sparkling a little bit of delight here and there.
            You’ll walk away with hands-on tips and techniques for crafting better eCommerce experience
            right
            away.</p></div>

      </li>

      <li class="two-streams-schedule-time"><h2>18:30</h2></li>

      <li class="two-streams-schedule-item">
        <div class="first-stream"><img class="speaker-photo" src="images/speakers/rolling_scopes.jpg"
                                       alt="photo Rolling Scopes"/>

          <p class="speaker-name">Alexander Gerasimov</p>

          <p><span class="schedule-lang">ru</span></p>

          <h3>CSS QuickDraw!</h3>

          <p>Your CSS is fast, but are you?</p></div>

      </li>

      <li class="two-streams-schedule-time"><h2>19:15</h2></li>

      <li class="two-streams-schedule-item">
        <div class="first-stream">
          <h3>Closing Ceremony &amp; Afterparty</h3></div>

      </li>

    </ul>
  </section>
  <section>
    <h2>Sunday, 21th February</h2>
    <h3>Venue: <a href="http://ibb.by/en">IBB Conference Center</a></h3>
    <h4>Address: Prospekt Gasety Prawda 11, Minsk</h4>
    <ul class="schedule-full">
      <li>
        <img class="speaker-photo" src="images/speakers/ilja_satchok.jpg"
             alt="photo Ilja Satchok"/>
        <p class="time">11:00 - 13:00 <span class="schedule-lang">ru</span></p>
        <p class="speaker-name">Ilja Satchok</p>
        <p><b>Music of React Native</b></p>
        <p>
          Leverage your existing skill to build native mobile apps for iOS using React Native.
          Create a complex app with Deezer iOS SDK to demonstrate some features and workflow:
          set up an environment, debug, write native modules, communicate with obj-c.<br >
          Requirements: os x, nodejs 4+, xcode 6+;
        </p>
      </li>
      <li>
        <img class="speaker-photo" src="images/speakers/martin_naumann.jpg"
             alt="Martin Naumann"/>
        <p class="time">14:00 - 16:00 <span class="schedule-lang">en</span></p>
        <p class="speaker-name">Martin Naumann</p>
        <p><b>Shaders - unlocking the GPU with JavaScript</b></p>
        <p>You may have heard of shaders as a part of the WebGL pipeline for 3D graphics, but they can be used for much more!</p>
      </li>
      <li>
        <img class="speaker-photo" src="images/speakers/andrey_listochkin.jpg"
             alt="photo Andrey Listochkin"/>
        <p class="time">16:30 - 18:30 <span class="schedule-lang">ru</span></p>
        <p class="speaker-name">Andrey Listochkin</p>
        <p><b>Проектирование в тестировании</b></p>
        <p>Как часто вам встречаются проекты без тестов? Как часто на собеседовании на ваш вопрос "а есть ли у вас тесты" вы слышите "да, у нас слой API покрыт тестами"? В то же время вам постоянно встречается слово TDD и вы много раз слышали, что так "надо" писать.
          <br>
          Для многих из нас начать писать код с тестами кажется сложным. Особенно, когда дело касается UI, браузеров, внешних сервисов. Часто не понятно, с чего же начать, что именно проверять, как поддерживать тесты, как успевать выпускать продукт, когда какие-то изменения влекут за собой ворох поломанных тестов и часы работы по их исправлению. Или наоборот: тесты прошли, а баги все равно проскакивают.
          <br>
          Мы поговорим не о TDD, а о проектировании самих тестов. Как их писать, на что обращать внимание, как организовать взаимодействие тестов между собой и с вашим кодом, чтобы на всем протяжении проекта они оставались полезными для вас, не задерживали разработку, приносили удовольствие и радость.</p>
      </li>
    </ul>
  </section>
  <section>
    <h2>Do you have any questions?</h2>
    <p>Join our Slack channel: <a href="https://frontendbelarus.slack.com/messages/rsconf/">#rsconf</a></p>
    <p>If you don't have access to frontendbelarus.slack.com, please, register here: <a href="http://frontendbelarus.herokuapp.com/">http://frontendbelarus.herokuapp.com/</a></p>
  </section>
</div>
<% include common/footer %>
<% include common/scripts %>
</body>
</html>
