<!doctype html>
<html lang="en" class="no-js">
<head>
  <% include common/styles %>
  <title>RS Conf 2018 | Speakers</title>
</head>
<body>
<div class="page-wrap page-speakers">
  <% include common/browsehappy %>
  <% include common/menu %>
  <section>
    <div class="content-lg">
      <h2 class="text-lg">Speakers</h2>
      <ul class="speaker-list">
        <li>
          <figure>
            <img src="images/speakers/martin_splitt.svg" alt="Martin Splitt photo">
            <figcaption>
              <h3><a href="speaker/martin-splitt.html">Martin Splitt</a></h3>
              <p>Zürich, Switzerland</p>
            </figcaption>
          </figure>
        </li>

        <li>
          <figure>
            <img src="images/speakers/asim_hussain.svg" alt="Asim Hussain photo">
            <figcaption>
              <h3><a href="speaker/asim-hussain.html">Asim Hussain</a></h3>
              <p>London, United Kingdom</p>
            </figcaption>
          </figure>
        </li>
        <li>
          <figure>
            <img src="images/speakers/ivan_jovanovic.svg" alt="Ivan Jovanovic photo">
            <figcaption>
              <h3><a href="speaker/ivan-jovanovic.html">Ivan Jovanovic</a></h3>
              <p>Belgrade, Republic of Serbia</p>
            </figcaption>
          </figure>
        </li>
        <li>
          <figure>
            <img src="images/speakers/vsevolod_shmyrov.svg" alt="Vsevolod Shmyrov photo">
            <figcaption>
              <h3><a href="speaker/vsevolod-shmyrov.html">Vsevolod Shmyrov</a></h3>
              <p>Moscow, Russia</p>
            </figcaption>
          </figure>
        </li>
        <li>
          <figure>
            <img src="images/speakers/konstantin_krivlenia.svg" alt="Konstantin Krivlenia photo">
            <figcaption>
              <h3><a href="speaker/konstantin-krivlenia.html">Konstantin Krivlenia</a></h3>
              <p>Minsk, Belarus</p>
            </figcaption>
          </figure>
        </li>
        <li>
          <figure>
            <img src="images/speakers/vasiliy_vanchuk.svg" alt="Vasiliy Vanchuk photo">
            <figcaption>
              <h3><a href="speaker/vasiliy-vanchuk.html">Vasiliy Vanchuk</a></h3>
              <p>Minsk, Belarus</p>
            </figcaption>
          </figure>
        </li>
        <li>
          <figure>
            <img src="images/speakers/egor_malkevich.svg" alt="Egor Malkevich photo">
            <figcaption>
              <h3><a href="speaker/egor-malkevich.html">Egor Malkevich</a></h3>
              <p>Minsk, Belarus</p>
            </figcaption>
          </figure>
        </li>

        <li>
          <figure>
            <img src="images/speakers/marek_piasecki.svg" alt="Marek Piasecki photo">
            <figcaption>
              <h3><a href="speaker/marek-piasecki.html">Marek Piasecki</a></h3>
              <p>Poznan, Poland</p>
            </figcaption>
          </figure>
        </li>
        <li>
          <figure>
            <img src="images/speakers/ilja_satchok.svg" alt="Ilja Satchok photo">
            <figcaption>
              <h3><a href="speaker/ilja-satchok.html">Ilja Satchok</a></h3>
              <p>Minsk, Belarus</p>
            </figcaption>
          </figure>
        </li>
        <li>
          <figure>
            <img src="images/speakers/alexander_gerasimov.svg" alt="Alexander Gerasimov photo">
            <figcaption>
              <h3><a href="speaker/alexander-gerasimov.html">Alexander Gerasimov</a></h3>
              <p>Berlin, Germany</p>
            </figcaption>
          </figure>
        </li>
        <li>
          <figure>
            <img src="images/speakers/alexey_migutsky.svg" alt="Alexey Migutsky photo">
            <figcaption>
              <h3><a href="speaker/alexey-migutsky.html">Alexey Migutsky</a></h3>
              <p>Berlin, Germany</p>
            </figcaption>
          </figure>
        </li>
        <li>
          <figure>
            <img src="images/speakers/andrei_vouchanka.svg" alt="Andrei Vouchanka photo">
            <figcaption>
              <h3><a href="speaker/andrei-vouchanka.html">Andrei Vouchanka</a></h3>
              <p>Minsk, Belarus</p>
            </figcaption>
          </figure>
        </li>
        <li>
          <figure>
            <img src="images/speakers/tomasz_lakomy.svg" alt="Tomasz Łakomy photo">
            <figcaption>
              <h3><a href="speaker/tomasz-lakomy.html">Tomasz Łakomy</a></h3>
              <p>Poznan, Poland</p>
            </figcaption>
          </figure>
        </li>
        <li>
          <figure>
            <img src="images/speakers/ilya_pukhalski.svg" alt="Ilya Pukhalski photo">
            <figcaption>
              <h3><a href="speaker/ilya-pukhalski.html">Ilya Pukhalskiy</a></h3>
              <p>Amsterdam, The Netherlands</p>
            </figcaption>
          </figure>
        </li>
        <li>
          <figure>
            <img src="images/speakers/timofey_lavrenyuk.svg" alt="Timofey Lavrenyuk photo">
            <figcaption>
              <h3><a href="speaker/timofey-lavrenyuk.html">Timofey Lavrenyuk</a></h3>
              <p>Odessa, Ukraine</p>
            </figcaption>
          </figure>
        </li>

        <li>
          <figure>
            <img src="images/speakers/mikhail_hatsilau.svg" alt="Mikhail Hatsilau photo">
            <figcaption>
              <h3><a href="speaker/mikhail-hatsilau.html">Mikhail Hatsilau</a></h3>
              <p>Gomel, Belarus</p>
            </figcaption>
          </figure>
        </li>
        <li>
          <figure>
            <img src="images/speakers/anna_selezniova.svg" alt="Anna Selezniova photo">
            <figcaption>
              <h3><a href="speaker/anna-selezniova.html">Anna Selezniova</a></h3>
              <p>Minsk, Belarus</p>
            </figcaption>
          </figure>
        </li>
        <li>
          <figure>
            <img src="images/speakers/alexander_shushunov.svg" alt="Alexander Shushunov photo">
            <figcaption>
              <h3><a href="speaker/alexander-shushunov.html">Alexander Shushunov</a></h3>
              <p>Tver, Russia</p>
            </figcaption>
          </figure>
        </li>
        <li>
          <figure>
            <img src="images/speakers/trishul_goel.svg" alt="Trishul Goel photo">
            <figcaption>
              <h3><a href="speaker/trishul-goel.html">Trishul Goel</a></h3>
              <p>Delhi, India</p>
            </figcaption>
          </figure>
        </li>

        <li>
          <figure>
            <img src="images/speakers/dmitry_volokh.svg" alt="Dmitry Volokh photo">
            <figcaption>
              <h3><a href="speaker/dmitry-volokh.html">Dmitry Volokh</a></h3>
              <p>Minsk, Belarus</p>
            </figcaption>
          </figure>
        </li>
        <li>
          <figure>
            <img src="images/speakers/tomasz_jonasz_kujawski.svg" alt="Tomasz Jonasz Kujawski photo">
            <figcaption>
              <h3><a href="speaker/tomasz-jonasz-kujawski.html">Tomasz Jonasz Kujawski</a></h3>
              <p>Warsaw, Poland</p>
            </figcaption>
          </figure>
        </li>

        <li>
          <figure>
            <img src="images/speakers/james_akwuh.svg" alt="James Akwuh photo">
            <figcaption>
              <h3><a href="speaker/james-akwuh.html">James Akwuh</a></h3>
              <p>Minsk, Belarus</p>
            </figcaption>
          </figure>
        </li>
        <li>
          <figure>
            <img src="images/speakers/kristi_progri.svg" alt="Kristi Progri photo">
            <figcaption>
              <h3><a href="speaker/kristi-progri.html">Kristi Progri</a></h3>
              <p>Tirana, Albania</p>
            </figcaption>
          </figure>
        </li>
        <li>
          <figure>
            <img src="images/speakers/ales_tsvil.svg" alt="Ales Tsvil photo">
            <figcaption>
              <h3><a href="speaker/ales-tsvil.html">Ales Tsvil</a></h3>
              <p>Gomel, Belarus</p>
            </figcaption>
          </figure>
        </li>
        <li>
          <figure>
            <img src="images/speakers/vitali_novikau.svg" alt="Vitali Novikau photo">
            <figcaption>
              <h3><a href="speaker/vitali-novikau.html">Vitali Novikau</a></h3>
              <p>Minsk, Belarus</p>
            </figcaption>
          </figure>
        </li>
        <li>
          <figure>
            <img src="images/speakers/dzmitry_vanitski.svg" alt="Dzmitry Vanitski photo">
            <figcaption>
              <h3><a href="speaker/dzmitry-vanitski.html">Dzmitry Vanitski</a></h3>
              <p>Minsk, Belarus</p>
            </figcaption>
          </figure>
        </li>
        <li>
          <figure>
            <img src="images/speakers/fedor_shepelenko.svg" alt="Fedor Shepelenko photo">
            <figcaption>
              <h3><a href="speaker/fedor-shepelenko.html">Fedor Shepelenko</a></h3>
              <p>Minsk, Belarus</p>
            </figcaption>
          </figure>
        </li>
        <li>
          <figure>
            <img src="images/speakers/yauheniya_zhur.svg" alt="Yauheniya Zhur photo">
            <figcaption>
              <h3><a href="speaker/yauheniya-zhur.html">Yauheniya Zhur</a></h3>
              <p>Minsk, Belarus</p>
            </figcaption>
          </figure>
        </li>
        <li>
          <figure>
            <img src="images/speakers/aliaksandr_pasynkau.svg" alt="Aliaksandr Pasynkau photo">
            <figcaption>
              <h3><a href="speaker/aliaksandr-pasynkau.html">Aliaksandr Pasynkau</a></h3>
              <p>Minsk, Belarus</p>
            </figcaption>
          </figure>
        </li>
        <li>
          <figure>
            <img src="images/speakers/denis_ilin.svg" alt="Denis Ilin photo">
            <figcaption>
              <h3><a href="speaker/denis-ilin.html">Denis Ilin</a></h3>
              <p>Rostov-on-Don, Russia</p>
            </figcaption>
          </figure>
        </li>
        <li>
          <figure>
            <img src="images/speakers/irina_levina.svg" alt="Irina Levina photo">
            <figcaption>
              <h3><a href="speaker/irina-levina.html">Irina Levina</a></h3>
              <p>Minsk, Belarus</p>
            </figcaption>
          </figure>
        </li>
        <li>
          <figure>
            <img src="images/speakers/alex_shkor.svg" alt="Alex Shkor photo">
            <figcaption>
              <h3><a href="speaker/alex-shkor.html">Alex Shkor</a></h3>
              <p>Minsk, Belarus</p>
            </figcaption>
          </figure>
        </li>
        <li>
          <figure>
            <img src="images/speakers/julia_rumyanceva.svg" alt="Julia Rumyanceva photo">
            <figcaption>
              <h3><a href="speaker/julia-rumyanceva.html">Julia Rumyanceva</a></h3>
              <p>Minsk, Belarus</p>
            </figcaption>
          </figure>
        </li>
        <li>
          <figure>
            <!--<img src="images/speakers/nastia_khamiankova.svg" alt="Nastia Khamiankova photo">-->
            <figcaption>
              <h3><a href="speaker/nastia_khamiankova.html">Nastia Khamiankova</a></h3>
              <p>Minsk, Belarus</p>
            </figcaption>
          </figure>
        </li>
        <li>
          <figure>
            <!--<img src="images/speakers/dzmitry_varabei.svg" alt="Dzmitry Varabei photo">-->
            <figcaption>
              <h3><a href="speaker/dzmitry-varabei.html">Dzmitry Varabei</a></h3>
              <p>Minsk, Belarus</p>
            </figcaption>
          </figure>
        </li>
      </ul>
    </div>
  </section>

  <section>
    <div class="content-md">
      <h2>Follow us</h2>
      <p class="text-lg">Follow us on <a target="_blank"
                                         href="https://www.facebook.com/groups/TheRollingScopes/">Facebook</a> and <a
          target="_blank" href="https://twitter.com/rollingscopes">Twitter</a>
        to be the first to learn the news</p>

      <p class="content-sm">Our hashtag on social media is <a
          href="https://twitter.com/hashtag/rollingscopes?vertical=default&src=hash">#rollingscopes</a>.
        Or contact us directly on our email <a href="mailto:rolling.scopes@gmail.com">rolling.scopes@gmail.com</a></p>

      <p class="text-lg padding-top-lg">Join our Slack channel <a target="_blank"
                                                                  href="https://frontendbelarus.slack.com/?redir=%2Fmessages%2FC0KGWSMGE">#rsconf</a>.
      </p>
      <p class="content-sm">If you don't have access to frontendbelarus.slack.com, please, register <a target="_blank"
                                                                                                       href="http://frontendbelarus.herokuapp.com/">here</a>.
      </p>

      <ul class="social-links">
        <li><a target="_blank" href="http://frontendbelarus.herokuapp.com/"><i class="fa fa-slack"></i></a></li>
        <li><a target="_blank" href="https://www.facebook.com/groups/TheRollingScopes/"><i
              class="fa fa-facebook"></i></a></li>
        <li><a target="_blank" href="https://www.youtube.com/user/therollingscopes"><i class="fa fa-youtube-play"
                                                                                       aria-hidden="true"></i></a>
        </li>
        <li><a target="_blank" href="https://vk.com/therollingscopes"><i class="fa fa-vk"></i></a></li>
        <li><a target="_blank" href="https://twitter.com/rollingscopes"><i class="fa fa-twitter"></i></a></li>
        <li><a target="_blank" href="https://www.instagram.com/explore/tags/rollingscopes/"><i
              class="fa fa-instagram"></i></a></li>
      </ul>
    </div>
  </section>

</div>
<% include common/footer %>
<% include common/scripts %>
</body>
</html>
