<!doctype html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <title><%= page.title %></title>
  <meta name="viewport" content="width=device-width">
  <% include common/styles %>
</head>
<body>
<% include common/browsehappy %>
<div class="page-wrap">
  <% include common/header %>

  <section><h1>Venue</h1>

    <p>Minsk is the capital and the largest city in Belarus with population over 2 million.
      Minsk hosted IIHF Ice Hockey World Championship in 2014</p>

    <p>The conference takes place in the <a target="_blank" href="http://ibb.by/conference">IBB conference center</a>
      (pr. Gazety Pravda, 11)</p>
    <iframe class="map-box"
            src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2352.5336585535806!2d27.486849000000003!3d53.868939999999995!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46dbd076f257ee65%3A0x420b8af99a36cad9!2sIBB!5e0!3m2!1sru!2s!4v1420663918308"
            width="600" height="450" frameborder="0" style="border:0"></iframe>
  </section>
  <section>
    <h3>Minsk time-lapse</h3>
    <iframe class="video-box" src="//player.vimeo.com/video/109628678" frameborder="0" webkitallowfullscreen
            mozallowfullscreen allowfullscreen></iframe>
    <p><a href="http://vimeo.com/109628678">My Minsk | Мой Минск</a> from <a
      href="http://vimeo.com/user1232595">dimid</a>
      on <a href="https://vimeo.com">Vimeo</a>.</p>
  </section>
</div>
<% include common/footer %>
<% include common/scripts %>
</body>
</html>
