<!doctype html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <title><%= page.title %></title>
  <meta name="viewport" content="width=device-width">
  <% include common/styles %>
</head>
<body>
<% include common/browsehappy %>
<div class="page-wrap">
  <% include common/header %>

  <section><h1>Venue</h1>

    <p>Minsk is the capital and the largest city in Belarus with population over 2 million.
      Minsk hosted IIHF Ice Hockey World Championship in 2014</p>

    <h3>Useful links:</h3>
    <ul>
      <li><a target="_blank" href="https://34travel.me/post/faq-how-to-come-to-belarus">https://34travel.me/post/faq-how-to-come-to-belarus</a></li>
      <li><a target="_blank" href="https://34travel.me/post/minsk-english-guide">https://34travel.me/post/minsk-english-guide</a></li>
    </ul>

  </section>
  <section>
    <h3>Minsk time-lapse</h3>
    <iframe class="video-box" src="//player.vimeo.com/video/109628678" frameborder="0" webkitallowfullscreen
            mozallowfullscreen allowfullscreen></iframe>
    <p><a href="https://vimeo.com/109628678">My Minsk | Мой Минск</a> from <a
      href="https://vimeo.com/user1232595">dimid</a>
      on <a href="https://vimeo.com">Vimeo</a>.</p>
  </section>
</div>
<% include common/footer %>
<% include common/scripts %>
</body>
</html>
