<!doctype html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <title><%= page.title %></title>
    <meta name="viewport" content="width=device-width">
    <% include common/styles %>
</head>
<body>
<% include common/browsehappy %>
<div class="page-wrap">
    <% include common/header %>

    <section><h2>Venue</h2>
        <p>Minsk is the capital and the largest city in Belarus with population over 2 million.
            Minsk hosted IIHF Ice Hockey World Championship in 2014</p>
        <p><strong>Venue:</strong> <a target="_blank" href="https://goo.gl/maps/GbECQ5BqUUs">Palac kultury
                prafsajuzaŭ</a>
        </p>
        <p><strong>Address:</strong> praspiekt Niezaliežnasci 25, Minsk </p>
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3553.764087155447!2d27.56109154716434!3d53.90219003707516!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xcffbbd5fecbc0dc2!2z0JTQstC-0YDQtdGGINC60YPQu9GM0YLRg9GA0Ysg0L_RgNC-0YTRgdC-0Y7Qt9C-0LI!5e0!3m2!1sru!2spl!4v1507884225987"
                width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
    </section>
    <section>
        <h3>Useful links:</h3>
        <ul>
            <li><a target="_blank" href="https://34travel.me/post/faq-how-to-come-to-belarus">https://34travel.me/post/faq-how-to-come-to-belarus</a>
            </li>
            <li><a target="_blank" href="https://34travel.me/post/minsk-english-guide">https://34travel.me/post/minsk-english-guide</a>
            </li>
        </ul>

        <h3>Minsk time-lapse</h3>
        <iframe class="video-box" src="//player.vimeo.com/video/109628678" frameborder="0" webkitallowfullscreen
                mozallowfullscreen allowfullscreen></iframe>
        <p><a href="https://vimeo.com/109628678">My Minsk | Мой Минск</a> from <a
                    href="https://vimeo.com/user1232595">dimid</a>
            on <a href="https://vimeo.com">Vimeo</a>.</p>
    </section>
</div>
<% include common/footer %>
<% include common/scripts %>
</body>
</html>
