<!doctype html>
<html lang="en" class="no-js">
<head>
  <% include common/styles %>
  <title>RS Conf 2018 | Venue</title>
</head>
<body>
<div class="page-wrap page-venue">
  <% include common/browsehappy %>
  <% include common/menu %>
  <section>
    <div class="content-md">
      <h2 class="text-lg">Venue</h2>
      <p><img class="img-venue" src="images/venue.svg" alt="Photo Palac kuĺtury prafsajuzaŭ"></p>
      <p class="text-md bold"><a target="_blank" href="https://goo.gl/maps/GbECQ5BqUUs">Palac kuĺtury prafsajuzaŭ</a>
      </p>
      <p>Praspiekt Niezaliežnasci 25, Minsk</p>

      <p class="text-lg padding-top-lg">The Rolling Scopes Conference takes place in Minsk annually. This year it
        will be held in The
        Palace of Trade
        Unions in the historical center of the city. The venue has a nice touch of soviet vibes. </p>
    </div>
    <div class="content-sm">

      <p class="margin-bottom-md"><a target="_blank" href="https://34travel.me/gotobelarus/en/post/minsk-english-guide">Learn
          more</a> about
        the
        city, food and attractions.</p>

      <p class="margin-bottom-md">If you plan to stay in Minsk for more than 5 days, please, read here about <a
          href="https://34travel.me/gotobelarus/en/rubric/info">the registration process</a>.</p>
    </div>
  </section>

  <section class="shorted">
    <div class="content-sm">

      <iframe src="https://www.youtube.com/embed/N92H1fmsow4?rel=0" frameborder="0"
              gesture="media" allow="encrypted-media" allowfullscreen></iframe>
      <p class="text-center">Watch Minsk time-laps video.</p>

    </div>
  </section>

  <section>
    <div class="content-md">
      <h2>Follow us</h2>
      <p class="text-lg">Follow us on <a target="_blank"
                                         href="https://www.facebook.com/groups/TheRollingScopes/">Facebook</a> and <a
          target="_blank" href="https://twitter.com/rollingscopes">Twitter</a>
        to be the first to learn the news</p>

      <p class="content-sm">Our hashtag on social media is <a
          href="https://twitter.com/hashtag/rollingscopes?vertical=default&src=hash">#rollingscopes</a>.
        Or contact us directly on our email <a href="mailto:rolling.scopes@gmail.com">rolling.scopes@gmail.com</a></p>

      <p class="text-lg padding-top-lg">Join our Slack channel <a target="_blank"
                                                                  href="https://frontendbelarus.slack.com/?redir=%2Fmessages%2FC0KGWSMGE">#rsconf</a>.
      </p>
      <p class="content-sm">If you don't have access to frontendbelarus.slack.com, please, register <a target="_blank"
                                                                                                       href="http://frontendbelarus.herokuapp.com/">here</a>.
      </p>

      <ul class="social-links">
        <li><a target="_blank" href="http://frontendbelarus.herokuapp.com/"><i class="fa fa-slack"></i></a></li>
        <li><a target="_blank" href="https://www.facebook.com/groups/TheRollingScopes/"><i
              class="fa fa-facebook"></i></a></li>
        <li><a target="_blank" href="https://www.youtube.com/user/therollingscopes"><i class="fa fa-youtube-play"
                                                                                       aria-hidden="true"></i></a>
        </li>
        <li><a target="_blank" href="https://vk.com/therollingscopes"><i class="fa fa-vk"></i></a></li>
        <li><a target="_blank" href="https://twitter.com/rollingscopes"><i class="fa fa-twitter"></i></a></li>
        <li><a target="_blank" href="https://www.instagram.com/explore/tags/rollingscopes/"><i
              class="fa fa-instagram"></i></a></li>
      </ul>
    </div>
  </section>

</div>
<% include common/footer %>
<% include common/scripts %>
</body>
</html>
