<div class="header-wrapper">
    <header>
        <ul class="nav">
            <li><a href="http://www.front-end.by/"><i class="fa fa-slack"></i></a></li>
            <li><a href="https://www.facebook.com/groups/TheRollingScopes/"><i class="fa fa-facebook"></i></a></li>
            <li><a href="https://www.youtube.com/user/therollingscopes"><i class="fa fa-youtube"></i></a></li>
            <li><a href="https://vk.com/therollingscopes"><i class="fa fa-vk"></i></a></li>
            <li><a href="https://twitter.com/rollingscopes"><i class="fa fa-twitter"></i></a></li>
            <li><a href="https://www.instagram.com/explore/tags/rollingscopes/"><i class="fa fa-instagram"></i></a></li>
        </ul>

        <ul class="nav">
            <li><a href="//rollingscopes.com/hall-of-fame.html">Зал славы</a></li>
            <li><a href="//rollingscopes.com/about.html">О сообществе</a></li>
            <li><a href="//rollingscopes.com/archive.html">Архив</a></li>
        </ul>

        <a class="logo" href="#"><img src="images/logo_rs_text.svg" alt=""/></a>


    </header>
</div>
