<!DOCTYPE html>
<html>
  <head lang="en">
    <meta charset="UTF-8">
    <title>Front-end Course</title>
    <link rel="shortcut icon" href="favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link media="all" type="text/css" rel="stylesheet" href="css/main.css">
    <link media="all" type="text/css" rel="stylesheet" href="css/media-queries.css">
    <base target="_blank">
  </head>
  <body>
    <!--[if lt IE 10]>
    <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <header>
      <div class="header-wrap">
        <ul class="header-links">
          <li class="header-link-item"><a href="https://github.com/rolling-scopes/front-end-course/wiki/Course-Curriculum">Course plan</a></li>
          <li class="header-link-item"><a href="./archive.html">Archive</a></li>
          <li class="header-link-item"><a href="https://docs.google.com/forms/d/1F4NeS0oBq-CY805aqiPVp6CIrl4_nIYJ7Z_vUcMOFrQ/viewform">Feedback</a></li>
          <li class="header-link-item"><a href="https://docs.google.com/spreadsheet/ccc?key=0AnUA7wlxcI_-dFphZEFyUHFPZlJDS2hLbVJIc0VYREE&amp;usp=drive_web#gid=0">Score</a></li>
          <li class="header-link-item"><a href="skype:?chat&amp;blob=Zd_eInTRYsRxnM_N9Kxn7J75dEpcSK-nDMHV69saolq4MzBGDt9CgzOGq3b4SVdo1jlxI1mgIh_mAwZ5"><i class="fa fa-skype">Skype</i></a></li>
        </ul>
      </div>
    </header>
    <h1 class="course-title">Front-end course</h1>
    <section>
      <h2>Что надо знать до начала курса</h2>
      <p>
        Основы программирования на уровне: <a href="https://www.udacity.com/course/cs101">https://www.udacity.com/course/cs101</a> <br />
        Алгоритмы и структуры данных на уровне: <a href="https://www.coursera.org/course/algs4partI">https://www.coursera.org/course/algs4partI</a>
      </p>
    </section>
    <section><a href="https://www.youtube.com/playlist?list=PLbZju76qr6FH77EtbZFLHZRb7IY7Ve6Uu">Front-end course podcast</a></section>
    <section>
      <h2>Tasks</h2>
      <ul class="tasks">
        {{#tasks}}
        <li><a href="{{&link}}">{{title}}</a>
        </li>
        {{/tasks}}
      </ul>
    </section>
    <section>
      <h2>Talks</h2>
      {{#talks}}
      <article>
        <h3 class="talk-title">
          {{index}}. {{title}}
          <a href="{{&feedback_url}}" class="btn-feedback">Feedback</a></h3>
        <ul class="talks">
          {{#speakers}}
          <li class="talk-item">
            <span class="talk-speaker">{{name}}</span>
            {{#slides}}
              <a href="{{&href}}" class="talk-item-link">{{title}}</a>
            {{/slides}}
          </li>
          {{/speakers}}
        </ul>
      </article>
      {{/talks}}
    </section>
  </body>
</html>
