<!DOCTYPE html>
<html>
  <head lang="en">
    <meta charset="UTF-8">
    <title>Front-end Course</title>
    <link rel="shortcut icon" href="favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link media="all" type="text/css" rel="stylesheet" href="css/media-queries.css">
    <link rel="stylesheet" href="css/tasks.css">
    <link rel="stylesheet" href="/bower_components/github-markdown-css/github-markdown.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.5/styles/github.min.css">
    <script src="/bower_components/fetch/fetch.js"></script>
    <script src="/bower_components/marked/marked.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.5/highlight.min.js"></script>
  </head>
  <body>
    <div class="wrapper">
      <article style="float:left" class="markdown-body"></article>
      <section style="float:right" class="tasks-wrapper">
        <h2>Tasks</h2>
        <ul class="tasks">
          {{#tasks}}
          <li>
            <a href="{{task_page_link}}">{{title}}</a>
          </li>
          {{/tasks}}
        </ul>
      </section>
    </div>
    <script src="./scripts/tasks.js"></script>
  </body>
</html>
