.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

html, body {
    height: 100%;
}

.page-wrap {
    min-height: 100%;
    margin-bottom: -200px;
}

.page-wrap:after {
    content: "";
    display: block;
}

footer, .page-wrap:after {
    height: 200px;
}

/******************  general  ******************/
html, body, div, span, h1, h2, h3, h4, p, img, strong, ul, li, form, label, article, nav {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    outline: 0;
}

body {
    background: #fff;
    color: #444;
    font-family: 'PT Serif', serif;
    line-height: 1.56em;
    text-align: center;
}

a {
    color: #e5194c;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

p {
    margin-bottom: 0.5em;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    font-style: normal;
    font-family: 'PT Sans Narrow', sans-serif;
    color: #444;
    margin-top: 0.2em;
    margin-bottom: 0.5em;
    line-height: 1.2125em
}

h1 {
    font-size: 2.125em
}

h2 {
    font-size: 1.6875em;
    text-transform: uppercase;
    border-bottom: 1px solid #444;
    cursor: default;

}

h3 {
    font-size: 1.375em
}

h4 {
    font-size: 1.125em
}

h5 {
    font-size: 1.125em
}

h6 {
    font-size: 1em
}

.left {
    float: left !important
}

.right {
    float: right !important
}

.text-left {
    text-align: left !important
}

.text-right {
    text-align: right !important
}

.text-center {
    text-align: center !important
}

.italic {
    font-style: italic;
}

.vertical-margin {
    margin: 1em 0;
}

section h1 {
    color: #3b71b9;
    font-size: 300%;
    font-weight: 100;
    letter-spacing: -1px;
    line-height: 1.1em;
    font-family: 'PT Sans Narrow', sans-serif;
    margin-top: .5em;
}

.asterisk {
    color: #f00;
    font-family: sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 120%;
}

/*************  header ************/
header {
    text-align: center;
    background: #1e3459;
    width: 100%;
    min-height: 50px;
}

.header-wrap {
    position: relative;
    max-width: 960px;
    margin: 0 auto;
    box-sizing: border-box;
}

.speaker-photo {
    width: 100px;
    border-radius: 50%;
}

/**************    navigation  ******************/
.nav {
    list-style-type: none;
    overflow: hidden;
}

.nav li {
    float: left;
}

.nav li a {
    color: #aaa;
    display: inline-block;
    padding: .7em .4em;
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 1.1em;
    text-transform: uppercase;
}

.nav li.active a {
    color: #fff;
}

.nav li a:hover {
    color: #f0bf19;
    text-decoration: none;
}

.buy-tickets-btn {
    padding: 0 1em;
    height: 2em;
    background: #e5194c;
    color: #fff;
    text-align: center;
    line-height: 2em;
    position: absolute;
    top: 0.3em;
    right: 0.3em;
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 1.2em;
    font-weight: bold;
}

.buy-tickets-btn:hover {
    text-decoration: none;
}

.isDesktop .nav li a:before {
    visibility: hidden;
    color: #aaa;
    content: "[ \"";
}

.isDesktop .nav li a:after {
    visibility: hidden;
    color: #aaa;
    content: "\" ]";
}

.isDesktop .nav li:hover a:before {
    visibility: visible;
}

.isDesktop .nav li:hover a:after {
    visibility: visible;
}

.nav-btn {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 50px;
    height: 50px;

    background: #1e3459;
    color: #fff;

    font-family: "Verdana";
    font-size: 200%;
    line-height: 46px;
    text-align: center;
    text-decoration: none;
    opacity: 0.7;
    z-index: 51;
}

.nav-btn:hover {
    text-decoration: none;
}

.vertical-mode {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 75%;
    z-index: 50;
    background: #1e3459;
    opacity: 0.95;
    text-align: right;
}

.vertical-mode .nav {
    display: block;
    padding: 70px 0 0 0;
}

.vertical-mode ul li {
    display: block;
    float: none;
    padding: 0;
}

.vertical-mode ul li a {
    display: block;
    padding: 1em;
    font-size: 120%;
    color: #fff;
}

.vertical-mode ul li a:hover {
    color: #f0bf19;
    text-decoration: none;
}

.fa-external-link-square {
    margin-left: .3em;
}

/**************    section  ******************/
section {
    max-width: 960px;
    padding: 1em;
    margin: 0 auto;
    box-sizing: border-box;
    text-align: left;
    clear: both;
}

section:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

/**************   schedule  ******************/
.icon-coffee {
    display: inline-block;
    background: url("../images/icon-coffee.svg") no-repeat 0 0;
    background-size: contain;
    width: 30px;
    height: 26px;
}

.schedule-full {
    list-style-type: none;
    padding-bottom: 1em;
}

.schedule-full li {
    position: relative;
    padding: .6em 0 .6em 120px;
}

.schedule-full .break {
    min-height: inherit;
    margin: 0 -1em;
    padding: 1em 1em 1em 136px;
}

.schedule-full .break h3 {
    margin-bottom: 0;
}

.schedule-full .time {
    color: #b9833b;
    font-weight: bold;
    font-size: 130%;
}

.schedule-full .speaker-name {
    font-weight: bold;
}

.schedule-full .speaker-photo {
    position: absolute;
    top: 1em;
    left: 0;
}

.schedule-time {
    position: absolute;
    left: 0;
}

#schedule .schedule-full {
    font-family: 'PT Sans Narrow', sans-serif;
}

.schedule-speaker {
    font-size: 1.1em;
}

.schedule-theme {
    font-size: 1.2em;
    font-weight: bold;
}

/**************   partner-list ******************/
.partner-list {
    list-style-type: none;

    -webkit-flex-flow: wrap row;
    flex-flow: row wrap;
    list-style-type: none;

    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    margin: 1em 0;
}

.partner-list li {
    width: 220px;
    margin: auto;
    padding: 1em .5em;
    box-sizing: border-box;
    text-align: center;
}

.partner-list li img {
    width: 140px;
}

.become-partner {
    display: inline-block;
    background: #e5194c;
    color: #fff;
    padding: .2em 1.6em;
    border-radius: 3px;
}

.become-partner i {
    margin-right: .3em;
}

.become-partner:hover {
    text-decoration: none;
}

/**************   footer   ******************/
footer {
    background: #111e33;
    color: #aaa;
}

.footer-wrap {
    position: relative;
    max-width: 960px;
    margin: 0 auto;
    padding: 1em;
    text-align: left;
    min-height: 200px;
    box-sizing: border-box;
}

.footer-logo {
    position: absolute;
    top: 50%;
    right: 0;
    display: block;
    background: url("../images/logo_rs3.svg") no-repeat 0 0;
    background-size: contain;
    width: 289px;
    height: 151px;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    transform: translateY(-50%);
}

.copy {
    margin-top: 1em;
    font-size: 80%;
}

.footer-wrap a {
    color: #f0bf19;
}

/**************   contacts-nav   ******************/
.contacts-nav li {
    display: inline-block;
    padding: 0 1em 1em 0;
}

.contacts-nav a {
    color: #fff;
    font-size: 230%;
}

.contacts-nav a:hover {
    color: #f0bf19;
    text-decoration: none;
}

.rs-tag {
    color: #f0bf19;
}

.contacts-nav-wrapper {
    position: absolute;
    bottom: 0;
}

/**************  conference page styles ******************/

.rs-logo {
    display: inline-block;
    background: url(../images/logo_rs.svg) no-repeat;
    background-size: contain;
    max-width: 250px;
    width: 100%;
    height: 211px;
    margin: 2em 2em 0 -2em;
}

.conf-title {
    background: url("../images/bg2.jpg") no-repeat center 0;
    background-size: cover;
    max-width: none;
    padding: 0;
    min-height: 370px;
    margin-bottom: 2em;
}

.conf-title h1 {
    text-align: center;
    font-size: 400%;
    font-weight: bold;
    letter-spacing: -1px;
    line-height: 1.1em;
    margin-top: 0;

    -webkit-text-stroke: 1px black;
    color: #fff;
    text-shadow: 3px 3px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;

}

.conf-title h2 {
    text-align: center;
    margin: 0;
    font-size: 260%;
    line-height: 1.4em;
    font-family: 'PT Sans Narrow', sans-serif;
    text-transform: inherit;
    border: none;

    -webkit-text-stroke: 1px black;
    color: #fff;
    text-shadow: 3px 3px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.slogan {
    font-size: 500%;
    color: #444;
    text-align: center;
}

/*************************************************    sign-up   ******************/

.sign-up {
    position: relative;
    min-height: 100px;
    background: rgba(0, 0, 0, 0.6);
    max-width: none;
    margin-top: 2em;
}

.sign-up-field {
    height: 3em;
    width: 18em;
    padding: 0 1em;
    margin-right: 1em;
    border: 1px solid #ddd;
    font-size: 100%;
    color: #444;
}

.sign-up-btn {
    display: inline-block;
    padding: 0 1em;
    height: 3em;
    background: #e5194c;
    color: #fff;
    text-align: center;
    line-height: 3em;
}

.sign-up-btn.btn-inprogress .fa-cog {
    animation: rotate 8s linear infinite;
}

.sign-up-btn.btn-complete {
    background-color: green;
}

.sign-up-btn .fa-check {
    color: white;
}

@keyframes rotate {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}

.sign-up-btn:hover {
    text-decoration: none;
}

.sign-up-wrap {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
}

.video-box {
    width: 100%;
    max-width: 700px;
    height: 360px;
}
.partners h3 {
    text-align: center;
}
