@media only screen and (max-width: 45em) {
    /* Style adjustments for viewports that meet the condition */
    h1 {
        font-size: 1.8em
    }

    h2 {
        font-size: 1.35em
    }

    h3 {
        font-size: 1.16em
    }

    h4 {
        font-size: 0.95em
    }

    h5 {
        font-size: 0.95em
    }

    h6 {
        font-size: 0.8em
    }

    p {
        line-height: 1.3em;
        margin-bottom: .3em;
    }

    .logo {
        display: none;
    }

    .nav {
        display: none;
    }

    .nav-btn {
        display: block;
    }

    .nav li.active a {
        background: #182946;
        color: #f0bf19;
    }

    section h1 {
        font-size: 200%;
    }

    .schedule-full {
        padding: 0;
    }

    .schedule-full .time {
        margin-bottom: 0;
    }

    .schedule-full li {
        padding-left: 5px;
    }

    .schedule-full .break {
        padding: .6em 1em .6em 5px;
        margin: 0;
    }

    .schedule-full .speaker-photo {
        position: static;
        float: right;
        width: 60px;
        margin: 0 0.3em;
    }

    .schedule-full .schedule-time {
        right: 0;
        left: auto;
    }

    .schedule-full .talk-item-links {
      float: none;
      display: block;
      padding: 10px 0 0;
    }

    .schedule-full .talk-item-links a {
      margin: 0;
    }

    footer {
        margin-top: 20px;
    }

    .footer-logo {
        display: none;
    }

    .sign-up {
        min-height: 100px;
    }

    .sign-up-field {
        width: 10em;
        vertical-align: top;
    }

    .sign-up-btn {
        background: url("../images/email.svg") no-repeat 0 0;
        background-size: cover;
        width: 66px;
        height: 48px;
        padding: 0;
    }

    .sign-up-btn span {
        display: none;
    }

    .conf-title {
        min-height: 220px;
        padding-top: 50px;
    }

    .conf-title h1 {
        font-size: 300%;
        margin-bottom: 0;
    }

    .conf-title h2 {
        font-size: 150%;
        margin-bottom: 0;
    }

    .conf-title .rs-logo {
        display: none;
    }

    .video-box {
        height: 200px;
    }

}

@media print,
(-o-min-device-pixel-ratio: 5/4),
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }

    p {
        line-height: 1.3;
    }

    header, footer, .icon-coffee {
        display: none;
    }

    .schedule-full li {
        padding: .3em 0 .3em 120px;
    }
}
