.browsehappy {
    margin: .2em 0;
    background: #ccc;
    color: #000;
    padding: .2em 0
}

body, html {
    height: 100%
}

.page-wrap {
    min-height: 100%;
    margin-bottom: -200px
}

.page-wrap:after {
    content: "";
    display: block;
    height: 200px
}

footer {
    height: 200px
}

article, body, div, form, html, img, label, li, nav, span, strong, ul {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    outline: 0
}

h1, h2, h3, h4, p {
    padding: 0;
    border: 0;
    outline: 0
}

p {
    font-size: 100%;
    margin: 0 0 .5em
}

body, header {
    text-align: center
}

body {
    background: #fff;
    color: #444;
    font-family: sans-serif;
    line-height: 1.56em
}

a {
    color: #e5194c;
    text-decoration: none
}

a:hover {
    text-decoration: underline
}

ul {
    list-style-position: inside
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
    font-style: normal;
    font-family: 'PT Sans Narrow', sans-serif;
    color: #444;
    line-height: 1.2125em
}

h1, h2, h3, h4 {
    margin: .2em 0 .5em
}

h5, h6 {
    margin-top: .2em;
    margin-bottom: .5em
}

h1 {
    font-size: 2.125em
}

h2 {
    font-size: 1.6875em;
    text-transform: uppercase;
    border-bottom: 1px solid #444;
    cursor: default
}

h3 {
    font-size: 1.375em
}

h4, h5 {
    font-size: 1.125em
}

h6 {
    font-size: 1em
}

.left {
    float: left !important
}

.right {
    float: right !important
}

.text-left {
    text-align: left !important
}

.text-right {
    text-align: right !important
}

.text-center {
    text-align: center !important
}

.italic {
    font-style: italic
}

.vertical-margin {
    margin: 1em 0
}

blockquote {
  text-align: right;
  font-size: 1.2em;
  display: inline-block;
}

blockquote p {
  font-size: .8em;
  color: #bbb;
}

section h1 {
    color: #3b71b9;
    font-size: 300%;
    font-weight: 100;
    letter-spacing: -1px;
    line-height: 1.1em;
    font-family: 'PT Sans Narrow', sans-serif;
    margin-top: .5em
}

.asterisk {
    color: red;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 120%
}

header {
    background: #1e3459;
    width: 100%;
    min-height: 50px
}

.header-wrap {
    position: relative;
    max-width: 960px;
    margin: 0 auto;
    box-sizing: border-box
}

.speaker-photo {
    width: 100px;
    border-radius: 50%
}

.speaker-twitter {
    font-weight: 400
}

.nav {
    list-style-type: none;
    overflow: hidden
}

.nav li {
    float: left
}

.buy-tickets-btn, .nav li a {
    font-family: 'PT Sans Narrow', sans-serif
}

.nav li a {
    display: inline-block;
    text-transform: uppercase;
    color: #aaa;
    padding: .7em .4em;
    font-size: 1.1em
}

.nav li.active a {
    color: #fff
}

.nav li a:hover {
    color: #f0bf19
}

.buy-tickets-btn {
    padding: 0 1em;
    height: 2em;
    background: #e5194c;
    color: #fff;
    text-align: center;
    line-height: 2em;
    position: absolute;
    top: .3em;
    right: .3em;
    font-size: 1.2em;
    font-weight: 700
}

.buy-tickets-btn:hover, .nav li a:hover, .nav-btn:hover {
    text-decoration: none
}

.isDesktop .nav li a:after, .isDesktop .nav li a:before {
    visibility: hidden;
    color: #aaa;
    content: "[ \""
}

.isDesktop .nav li a:after {
    content: "\" ]"
}

.isDesktop .nav li:hover a:after, .isDesktop .nav li:hover a:before {
    visibility: visible
}

.nav-btn, .vertical-mode {
    position: fixed;
    top: 0;
    left: 0;
    background: #1e3459
}

.nav-btn {
    display: none;
    color: #fff;
    font-family: "Verdana";
    font-size: 200%;
    line-height: 46px;
    text-decoration: none;
    width: 50px;
    height: 50px;
    text-align: center;
    opacity: .7;
    z-index: 51
}

.vertical-mode {
    overflow: auto;
    height: 100%;
    width: 75%;
    z-index: 50;
    opacity: .95;
    text-align: right
}

.vertical-mode .nav {
    display: block;
    padding: 70px 0 0
}

.vertical-mode ul li {
    display: block;
    float: none;
    padding: 0
}

.vertical-mode ul li a {
    display: block;
    padding: 1em;
    font-size: 120%;
    color: #fff
}

.contacts-nav a:hover, .vertical-mode ul li a:hover {
    color: #f0bf19;
    text-decoration: none
}

.fa-external-link-square {
    margin-left: .3em
}

section {
    max-width: 960px;
    padding: 1em;
    margin: 0 auto;
    box-sizing: border-box;
    text-align: left;
    clear: both
}

section:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden
}

.icon-coffee {
    display: inline-block;
    background: url(../images/icon-coffee.svg) no-repeat 0 0;
    background-size: contain;
    width: 30px;
    height: 26px
}

.schedule-full {
    list-style-type: none;
    padding-bottom: 1em
}

.schedule-full li {
    position: relative;
    padding: .6em 0 .6em 120px
}

.schedule-full li:nth-child(2n) {
    background: #f1f5fa
}

.schedule-full .break {
    min-height: inherit;
    margin: 0;
    padding: 1em 1em 1em 120px
}

.schedule-full .break h3 {
    margin-bottom: 0
}

.schedule-full-workshops .break {
    margin: 0;
    padding: .6em 0 .6em 190px
}

.schedule-full .time {
    color: #b9833b;
    font-size: 130%
}

.schedule-lang {
    color: #777
}

.schedule-full .speaker-name {
    color: #000;
    font-weight: 700
}

.schedule-full .speaker-photo {
    position: absolute;
    left: 8px;
    top: 8px
}

.schedule-full .speaker-photo-tech {
    left: 78px;
    background-color: #fff
}

.schedule-full .speaker-photo-fr {
    left: 90px
}

.schedule-time {
    position: absolute;
    left: 0
}

.schedule-full-workshops li {
    padding-left: 190px
}

#schedule .schedule-full {
    font-family: 'PT Sans Narrow', sans-serif
}

.schedule-speaker {
    font-size: 1.1em
}

.schedule-theme {
    font-size: 1.2em;
    font-weight: 700
}

.two-streams-schedule-item {
    display: table;
    width: 100%
}

.two-streams-schedule-item .schedule-lang {
    font-weight: 700;
    text-transform: uppercase;
    color: #b9833b
}

.two-streams-schedule-time {
    display: block;
    font-size: 20px;
    padding: 30px 0
}

.two-streams-schedule-time h2 {
    border: 0;
    margin: 0;
    color: #fff;
    background: #24406c;
    text-align: center;
    font-weight: 400
}

.two-streams-schedule-item > div {
    display: table-cell;
    width: 50%
}

.two-streams-schedule-item .second-stream {
    padding: 0 0 0 60px
}

.two-streams-schedule-item .speaker-photo {
    float: left;
    margin: 10px 20px 0 0
}

.stream-title {
    display: none;
    line-height: 1.3em;
    color: #444;
    background: #f1f5fa;
    text-align: center;
    font-weight: 700;
    padding: 5px 0;
    margin-bottom: 10px
}

.two-streams-schedule-item .first-stream .stream-title {
    margin-top: -30px
}

.partner-list {
    -webkit-flex-flow: wrap row;
    flex-flow: row wrap;
    list-style-type: none;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    margin: 1em 0
}

.partner-list li {
    max-width: 240px;
    margin: auto;
    padding: 0 .5em;
    box-sizing: border-box;
    text-align: center
}

.partner-list li img {
    max-width: 140px
}

.become-partner {
    display: inline-block;
    background: #e5194c;
    color: #fff;
    padding: .2em 1.6em;
    border-radius: 3px
}

.become-partner i {
    margin-right: .3em
}

.become-partner:hover {
    text-decoration: none
}

footer {
    background: #111e33;
    color: #aaa
}

.footer-wrap {
    position: relative;
    max-width: 960px;
    margin: 0 auto;
    padding: 1em;
    text-align: left;
    min-height: 200px;
    box-sizing: border-box
}

.footer-logo {
    position: absolute;
    top: 50%;
    right: 0;
    display: block;
    background: url(../images/logo_rs3.svg) no-repeat 0 0;
    background-size: contain;
    width: 289px;
    height: 151px;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    transform: translateY(-50%)
}

.copy {
    margin-top: 1em;
    font-size: 80%
}

.footer-wrap a, .rs-tag {
    color: #f0bf19
}

.contacts-nav li {
    display: inline-block;
    padding: 0 1em 1em 0
}

.contacts-nav a {
    color: #fff;
    font-size: 230%
}

.contacts-nav-wrapper {
    position: absolute;
    bottom: 0
}

.rs-logo {
    display: inline-block;
    background: url(../images/logo_rs.svg) no-repeat;
    background-size: contain;
    max-width: 280px;
    width: 100%;
    height: 300px;
    margin-top: 1em
}

.conf-title {
    background: url(../images/bg2.jpg) no-repeat center 0;
    background-size: cover;
    max-width: none;
    min-height: 370px;
    margin-bottom: 2em;
    padding: 0 0 25px
}

.conf-title h1, .conf-title h2 {
    color: #fff;
    text-shadow: 3px 3px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000
}

.conf-title h1 {
    font-weight: 700;
    letter-spacing: -1px;
    margin-top: 0;
    font-size: 400%;
    line-height: 1.1em
}

.conf-title h2 {
    margin: 0;
    font-size: 260%;
    line-height: 1.4em;
    font-family: 'PT Sans Narrow', sans-serif;
    text-transform: inherit;
    border: none
}

.slogan {
    font-size: 500%;
    color: #444;
    text-align: center
}

.sign-up {
    position: relative;
    min-height: 100px;
    background: rgba(0, 0, 0, .6);
    max-width: none;
    margin-top: 2em
}

.sign-up-field {
    height: 3em;
    width: 18em;
    padding: 0 1em;
    margin-right: 1em;
    border: 1px solid #ddd;
    font-size: 100%;
    color: #444
}

.sign-up-btn {
    display: inline-block;
    padding: 0 1em;
    height: 3em;
    background: #e5194c;
    color: #fff;
    text-align: center;
    line-height: 3em
}

.sign-up-btn.btn-inprogress .fa-cog {
    animation: rotate 8s linear infinite
}

.sign-up-btn.btn-complete {
    background-color: green
}

.sign-up-btn .fa-check {
    color: #fff
}

@keyframes rotate {
    0% {
        -webkit-transform: rotate(0deg)
    }
    to {
        -webkit-transform: rotate(360deg)
    }
}

.sign-up-btn:hover {
    text-decoration: none
}

.sign-up-wrap {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center
}

.map-box, .video-box {
    width: 100% !important;
    max-width: 700px;
    height: 360px
}

.conf-title h1, .conf-title h2, .partners h3 {
    text-align: center
}

.talk-item-links {
    float: right;
    font-size: 20px
}

.talk-item-links a {
    margin: 0 5px
}
.venue-gallery img {
  width: 100%;
  max-width: 450px;
  max-height: 240px;
}


@media only screen and (max-width: 45em) {
    h1 {
        font-size: 1.8em
    }

    h2 {
        font-size: 1.35em
    }

    h3 {
        font-size: 1.16em
    }

    h4, h5 {
        font-size: .95em
    }

    h6 {
        font-size: .8em
    }

    p {
        line-height: 1.3em;
        margin-bottom: .3em
    }

    .logo, .nav {
        display: none
    }

    .nav-btn {
        display: block
    }

    .nav li.active a {
        background: #182946;
        color: #f0bf19
    }

    section h1 {
        font-size: 200%
    }

    .schedule-full {
        padding: 0
    }

    .schedule-full .time {
        margin-bottom: 0
    }

    .schedule-full li {
        padding-left: 5px
    }

    .schedule-full .break {
        padding: .6em 1em .6em 5px;
        margin: 0
    }

    .schedule-full .speaker-photo {
        position: static;
        float: right;
        width: 60px;
        margin: 0 .3em
    }

    .schedule-full .schedule-time {
        right: 0;
        left: auto
    }

    .schedule-full .talk-item-links {
        float: none;
        display: block;
        padding: 10px 0 0
    }

    .schedule-full .talk-item-links a {
        margin: 0
    }

    footer {
        margin-top: 20px
    }

    .conf-title .rs-logo, .footer-logo, .sign-up-btn span {
        display: none
    }

    .sign-up {
        min-height: 100px
    }

    .sign-up-field {
        width: 10em;
        vertical-align: top
    }

    .sign-up-btn {
        background: url(../images/email.svg) no-repeat 0 0;
        background-size: cover;
        width: 66px;
        height: 48px;
        padding: 0
    }

    .conf-title {
        min-height: 220px;
        padding-top: 50px
    }

    .conf-title h1, .conf-title h2 {
        font-size: 300%;
        margin-bottom: 0
    }

    .conf-title h2 {
        font-size: 150%
    }

    .video-box {
        height: 200px
    }

    .two-streams-schedule-item .first-stream, .two-streams-schedule-item .second-stream {
        display: block;
        width: 100%;
        padding: 0
    }

    .two-streams-schedule-item .first-stream {
        padding-bottom: 30px
    }

    .stream-title {
        display: block
    }
}

@media print {
    *, :after, :before {
        background: 0 0 !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important
    }

    a, a:visited {
        text-decoration: underline
    }

    a[href]:after {
        content: " (" attr(href) ")"
    }

    abbr[title]:after {
        content: " (" attr(title) ")"
    }

    a[href^="#"]:after, a[href^="javascript:"]:after {
        content: ""
    }

    blockquote, pre {
        border: 1px solid #999
    }

    thead {
        display: table-header-group
    }

    blockquote, img, pre, tr {
        page-break-inside: avoid
    }

    img {
        max-width: 100% !important
    }

    h2, h3, p {
        orphans: 3;
        widows: 3
    }

    h2, h3 {
        page-break-after: avoid
    }

    p {
        line-height: 1.3
    }

    .icon-coffee, footer, header {
        display: none
    }

    .schedule-full li {
        padding: .3em 0 .3em 120px
    }
}

.tweets-carousel {
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
}

.tweets-carousel > .tweet {
  margin: 10px;
  flex: 1;
  box-sizing: border-box;
  width: 33%;
  min-width: 200px;
}

section.conf-title {
  padding-bottom: 0;
}

#mc_embed_signup {
  box-sizing: border-box;
  background: rgba(0, 0, 0, 0.3);
  font: 14px Helvetica, Arial, sans-serif;
  width:100%;
  padding: 20px;
}

#mc_embed_signup .button {
  background-color: rgba(230, 25, 75, 0.8);
}

#mc_embed_signup .button:hover {
  background-color: rgba(230, 25, 75, 1);
  cursor: pointer;
}
