
@font-face{
    font-family: 'DrawingGuides';
    src: url(../fonts/DrawingGuides.ttf);
}
.slide h2:nth-child(2) {font-family: 'DrawingGuides';font-weight: normal;}
.slide h2.quiz {font-family: inherit;font-weight: normal;font-size:70px}


section.slide h2, section.slide h4, section.slide h6 {color: #fff;}
section.slide h6 {font-size: 40px;text-align: center;}
section.slide ul {color: #fff;}
section.slide span, section.slide p {color: #fff;}
.tile_head h2 color1 {color: #C3F571;}
.tile_DOM h2 color {color: #ff00f5;}
.tile_semantic h2 color {color: #c2e500;}