<!doctype html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <title><%= page.title %></title>
    <meta name="viewport" content="width=device-width">
    <% include common/styles %>
</head>
<body>
<% include common/browsehappy %>
<% include common/header %>
<section>
    <h1 class="event-title">The Rolling Scopes</h1>

    <p>This is not just another community of developers, this is something more.</p>

    <p>For years we have been organizing meetups and conferences, where you can always learn something new, share
        your knowledge, discover new technologies, meet old and find new friends.</p>

    <p>Web-related technologies stack is so broad that it is impossible to enumerate all the topics that have been
        covered at our events: JavaScript, HTML, CSS, Node, UX, UI, Testing, VR, React ...</p>

    <p>Each time our events take place in a different city, so that makes it hard to say where the next one will
        take place.</p>

    <p> We are happy to collaborate and welcome all kinds of talk proposals. Have any suggestions or feedback? Want
        to give a talk or conduct a workshop?
        Contact us on <a href="mailto:rolling.scopes@gmail.com">rolling.scopes@gmail.com</a></p>

    <h2> The Rolling Scopes School (Minsk, Brest, Grodno, Gomel, Mogilev)</h2>

    <p><a target="_blank" href="https://school.rollingscopes.com/">https://school.rollingscopes.com</a><br/>

        How to enroll in this school: <a target="_blank"
                                         href="https://school.rollingscopes.com/enrollment.html">https://school.rollingscopes.com/enrollment.html</a>
        <br/>

        Course Curriculum: <a target="_blank"
                              href="https://github.com/rolling-scopes-school/lectures">https://github.com/rolling-scopes-school/lectures</a>

        <br/>

        If you have any questions, feel free to join our gitter chat rooms:</p>
    <ul>
        <li><a target="_blank" href="https://gitter.im/rolling-scopes-school/padawans">Padawans</a> – discussions
            regarding the enrollment
        </li>
        <li><a target="_blank" href="https://gitter.im/rolling-scopes-school/questions">Questions</a> – chat for
            students enrolled
        </li>
    </ul>
</section>

<section><h1 class="event-title">Our Partners</h1>
    <ul class="partner-list">
        <li>
            <a href="http://www.epam.by/"><img src="images/partners/epam-systems.jpg" alt="epam logo"/></a>
        </li>
        <li>
            <a href="https://imaguru.by/en/"><img src="images/partners/logo_guru.png" alt="imaguru logo"/></a>
        </li>
        <li>
            <a href="https://www.jetbrains.com/"><img src="images/partners/jetbrains.png" alt="jetbrains logo"/></a>
        </li>
        <li>
            <a href="http://www.github.com/"><img src="images/partners/github_logo.png" alt="github logo"/></a>
        </li>
    </ul>
</section>
<% include common/call-for-speakers %>
<% include common/main-nav %>
<% include common/footer %>
<% include common/scripts %>
</body>
</html>
