<!doctype html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <title><%= page.title %></title>
    <meta name="viewport" content="width=device-width">
    <% include common/styles %>
</head>
<body>
<% include common/browsehappy %>
<% include common/header %>
<section>
    <h1 class="event-title">The Rolling Scopes</h1>

    <p>This is not just another community of developers, this is something more.</p>

    <p>For years we have been organizing meetups and conferences, where you can always learn something new, share
        your knowledge, discover new technologies, meet old and find new friends.</p>

    <p>Web-related technologies stack is so broad that it is impossible to enumerate all the topics that have been
        covered at our events: JavaScript, HTML, CSS, Node, UX, UI, Testing, VR, React ...</p>

    <p>Each time our events take place in a different city, so that makes it hard to say where the next one will
        take place.</p>

    <p> We are happy to collaborate and welcome all kinds of talk proposals. Have any suggestions or feedback? Want
        to give a talk or conduct a workshop?
        Contact us on <a href="mailto:rolling.scopes@gmail.com">rolling.scopes@gmail.com</a></p>

    <h2> The Rolling Scopes School (Belarus, Minsk)</h2>

    <p><a target="_blank" href="https://school.rollingscopes.com/">https://school.rollingscopes.com</a><br/>

        How to enroll in this school: <a target="_blank"
                                         href="https://github.com/rolling-scopes/front-end-course/wiki/About-Rolling-School">https://github.com/.../wiki/About-Rolling-School</a>
        <br/>

        Course Curriculum: <a target="_blank"
                              href="https://github.com/rolling-scopes/front-end-course/wiki/Course-Curriculum-2.0">https://github.com/.../wiki/Course-Curriculum-2.0</a>

        <br/>

        If you have any questions, feel free to join our gitter chat rooms:</p>
    <ul>
        <li><a target="_blank" href="https://gitter.im/rolling-scopes-school/padawans">Padawans</a> – discussions
            regarding the enrollment
        </li>
        <li><a target="_blank" href="https://gitter.im/rolling-scopes-school/questions">Questions</a> – chat for
            students enrolled
        </li>
    </ul>
    <h1 class="event-title">Our Team</h1>


    <ul class="team-list">
        <li>
            <img class="speaker-photo" src="images/speakers/dzmitry_gerasimov.jpg" alt="Dzmitry Herasimov"/>

            <h3>Dzmitry Herasimov</h3>
        </li>
        <li>
            <img class="speaker-photo" src="images/speakers/alexander_gerasimov.jpg" alt="Alexander Gerasimov"/>

            <h3>Alexander Gerasimov</h3>
        </li>
        <li>
            <img class="speaker-photo" src="images/speakers/alex_karlovich.jpg" alt="Alex Karlovich"/>

            <h3>Alex Karlovich</h3>
        </li>
        <li>
            <img class="speaker-photo" src="images/speakers/andre_gloukhmantchouk.jpg" alt="Andrew Gluhamanchuk"/>

            <h3>Andre Gloukhmantchouk</h3>
        </li>
        <li>
            <img class="speaker-photo" src="images/speakers/dzmitry_varabei.jpg" alt="Dzmitry Varabei"/>

            <h3>Dzmitry Varabei</h3>
        </li>
        <li>
            <img class="speaker-photo" src="images/speakers/serge_patronchik.jpg" alt="Serge Patronchik"/>

            <h3>Serge Patronchik</h3>
        </li>
        <li>
            <img class="speaker-photo" src="images/speakers/andrei_vouchanka.jpg" alt="Andrew Volchenko"/>

            <h3>Andrew Volchenko</h3>
        </li>
        <li>
            <img class="speaker-photo" src="images/speakers/paul_yuhnovich.jpg" alt="Paul Yuhnovich"/>

            <h3>Paul Yuhnovich</h3>
        </li>
        <li>
            <img class="speaker-photo" src="images/speakers/alexander_orgish.jpg" alt="Alex Orgish"/>

            <h3>Alex Orgish</h3>
        </li>
        <li>
            <img class="speaker-photo" src="images/speakers/kseniya_varabei.jpg" alt="Kseniya Varabei"/>

            <h3>Kseniya Varabei</h3>
        </li>
        <li>
            <img class="speaker-photo" src="images/speakers/julia_rumyanceva.jpg" alt="Julia Rumyantzeva"/>

            <h3>Julia Rumyantzeva</h3>
        </li>
        <li>
            <img class="speaker-photo" src="images/speakers/Yuliya_Labovich.jpg" alt="Yuliya Labovich"/>

            <h3>Yuliya Labovich</h3>
        </li>
        <li>
            <img class="speaker-photo" src="images/speakers/vadzim_yakushau.jpg" alt="Vadzim Yakushau"/>

            <h3>Vadzim Yakushau</h3>
        </li>
    </ul>

</section>

<section><h1 class="event-title">Our Partners</h1>
    <ul class="partner-list">
        <li>
            <a href="http://www.epam.by/"><img src="images/partners/epam-systems.jpg" alt="epam logo"/></a>
        </li>
        <li>
            <a href="https://imaguru.by/en/"><img src="images/partners/logo_guru.png" alt="imaguru logo"/></a>
        </li>
        <li>
            <a href="https://www.jetbrains.com/"><img src="images/partners/jetbrains.png" alt="jetbrains logo"/></a>
        </li>
        <li>
            <a href="https://www.google.com/"><img src="images/partners/google.jpg" alt="google logo"/></a>
        </li>
        <li>
            <a href="http://www.github.com/"><img src="images/partners/github_logo.png" alt="github logo"/></a>
        </li>

        <li>
            <a href="https://www.mozilla.org/en-US/"><img src="images/partners/mozilla.jpg" alt="mozilla logo"/></a>
        </li>
    </ul>
</section>
<% include common/call-for-speakers %>
<% include common/main-nav %>
<% include common/footer %>
<% include common/scripts %>
</body>
</html>
