<!doctype html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <title><%= page.title %></title>
  <meta name="viewport" content="width=device-width">
  <% include common/styles %>
</head>
<body>
<% include common/browsehappy %>
<div class="page-wrap">
  <% include common/header %>
  <section>
    <h1>The Rolling Scopes</h1>

    <p>Команда Rolling Scopes ежемесячно организует митапы, на которых frontend-разработчики выступают с докладами,
      обсуждают все, что связано с HTML, CSS, Javascript и веб-технологиями в целом. На площадках Rolling Scopes также
      проводятся воркшопы, где участники приобретают практические навыки.</p>
  </section>
  <section>
    <h2>Команда Rolling Scopes</h2>
    <ul class="team-list">
      <li>
        <img class="speaker-photo" src="images/speakers/dzmitry_gerasimov.jpg" alt="Дмитрий Герасимов"/>
        <h3>Дмитрий Герасимов</h3>
      </li>
      <li>
        <img class="speaker-photo" src="images/speakers/alexander_gerasimov.jpg" alt="Александр Герасимов"/>
        <h3>Александр Герасимов</h3>
      </li>
      <li>
        <img class="speaker-photo" src="images/speakers/alex_karlovich.jpg" alt="Александр Карлович"/>
        <h3>Александр Карлович</h3>
      </li>
      <li>
        <img class="speaker-photo" src="images/speakers/andre_gloukhmantchouk.jpg" alt="Андрей Глухманчук"/>
        <h3>Андрей Глухманчук</h3>
      </li>
      <li>
        <img class="speaker-photo" src="images/speakers/dzmitry_varabei.jpg" alt="Дмитрий Воробей"/>
        <h3>Дмитрий Воробей</h3>
      </li>
      <li>
        <img class="speaker-photo" src="images/speakers/serge_patronchik.jpg" alt="Сергей Патрончик"/>
        <h3>Сергей Патрончик</h3>
      </li>
      <li>
        <img class="speaker-photo" src="images/speakers/andrei_vouchanka.jpg" alt="Андрей Волченко"/>
        <h3>Андрей Волченко</h3>
      </li>
      <li>
        <img class="speaker-photo" src="images/speakers/kseniya_varabei.jpg" alt="Ксения Воробей"/>
        <h3>Ксения Воробей</h3>
      </li>
      <li>
        <img class="speaker-photo" src="images/speakers/julia_rumyanceva.jpg" alt="Юлия Румянцева"/>
        <h3>Юлия Румянцева</h3>
      </li>
    </ul>
  </section>
    <section>
      <h2>Контакты</h2>

      <p>Мы всегда рады сотрудничеству. <br/> Если у Вас есть какие-либо предложения или пожелания, пожалуйста, напишите
        нам на электронный ящик
        <a href="mailto:rolling.scopes@gmail.com">rolling.scopes@gmail.com</a>
      </p>
    </section>

    <section>
      <h1>Наши партнеры</h1>
      <ul class="partner-list">
        <li>
          <a href="http://www.epam.by/"><img src="images/partners/epam-systems.jpg" alt="epam logo" /></a>
        </li>
        <li>
          <a href="http://imaguru.co/en"><img src="images/partners/logo_guru.png" alt="imaguru logo" /></a>
        </li>
        <li>
          <a href="http://www.jetbrains.com/"><img src="images/partners/logo_jetbrains.png" alt="jetbrains logo" /></a>
        </li>
        <li>
          <a href="http://www.github.com/"><img src="images/partners/github_logo.png" alt="jetbrains logo" /></a>
        </li>
        <li>
          <a href="https://www.google.com/"><img src="images/partners/google.jpg" alt="google logo" /></a>
        </li>
        <li>
          <a href="https://www.mozilla.org/en-US/"><img src="images/partners/mozilla.jpg" alt="mozilla logo" /></a>
        </li>
      </ul>
    </section>
</div>
<% include common/main-nav %>
<% include common/footer %>
<% include common/scripts %>
</body>
</html>
