<!doctype html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <title><%= page.title %></title>
  <meta name="viewport" content="width=device-width">
  <% include common/styles %>
</head>
<body>
<% include common/browsehappy %>
<div class="page-wrap">
  <% include common/header %>
  <% include index/meetup-banner %>
  <% include common/materials %>
  <section class="banner"><p><a class="register-button" href="https://docs.google.com/forms/d/1elV-fpKFBvjEqppcCKSYzViC0O4mQZAaxFQUZHGUAS0/viewform"><i class="fa fa-sign-in"></i> Зарегистрироваться!</a></p></section>
  <section>
    <h2>Афиша</h2>
    <% include common/scedule %>
    <a target="_blank" href="https://goo.gl/w2KKvf"><img style="width: 100%;" src="images/rs-on-tour/rsbrestmap-2.jpg" alt=""/></a>
  </section>
  <section class="banner"><p><a class="register-button" href="https://docs.google.com/forms/d/1elV-fpKFBvjEqppcCKSYzViC0O4mQZAaxFQUZHGUAS0/viewform"><i class="fa fa-sign-in"></i> Зарегистрироваться!</a></p></section>
  <% include index/venue %>
  <% include common/call-for-speakers %>
</div>
<% include common/main-nav %>
<% include common/footer %>
<% include common/scripts %>
</body>
</html>
