<!doctype html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <title><%= page.title %></title>
  <meta name="viewport" content="width=device-width">
  <% include common/styles %>
  <style>
  .schedule-full ul {
    margin-left: 20px;
  }

  .schedule-full > li {
    min-height: 120px;
    margin-bottom: 10px;
  }

  .schedule-full ul > li {
    padding: 0;
  }
  </style>
</head>
<body>
<% include common/browsehappy %>
<div class="page-wrap">
  <% include common/header %>
  <section class="banner">
      <h1>The Rolling Scopes #20 - Brest</h1>
      <h2>Двухдневная Front-end тусовка на выезде</h2>
      <h2>
        21 ноября, 2015
        <a class="location" href="javascript:void(0)">Брест, ул.Гоголя,13</a>
      </h2>
      <p>
        <a class="register-button" href="https://docs.google.com/forms/d/1ECXQbXDHComWqfg98DF_QBPNKVWEoK6o6Snieeo2KbE/viewform">
          <i class="fa fa-sign-in"></i>
          Регистрация
        </a>
      </p>
  </section>
    <section>
      <h2>Информация для тех, кто едет из Минска!</h2>
      <h3>План на 21 ноября</h3>
      <p><b>21го ноября в 9:30 собираемся у ст. метро Петровщина возле McDonald's.</b></p>
      <p>В Брест едем на туристическом автобусе Iveco (55 мест, сине-черного цвета, номер начинается на 0007), проезд бесплатен в обе стороны.</p>
      <p>До поездки вам необходимо найти и забронить место, где вы будете ночевать в Бресте. Рекомендуем гостиницу <a href="http://www.tophotels.ru/main/hotel/al48769/">"5 колец"</a>. Номер можно забронировать по телефону 8-0162-20-84-95 (двухместный 410 тыс, четырехместный 510 тыс, есть одноместные)</p>
      <p>По неотложным вопросам звонить +375 29 365 15 65 (Дима)</p>
      <h3>План на 22 ноября</h3>
      <ul>
        <li>8:00 - завтрак (кафе около гостиницы работает с 8 утра)</li>
        <li><b>9:00 - общий сбор около гостиницы "5 колец" (ул. Гоголя, 9)</b></li>
        <li>9:15 - отъезд из Бреста</li>
        <li>10:00 - приезд в Скоки. Экскурсия, музей</li>
        <li>11:30 - выезд из Скоков</li>
        <li>13:30 - приезд в Коссово</li>
        <li>13:30-14:15 - осмотр дворца Пусловских</li>
        <li>14:15 - выезд из Коссово</li>
        <li>15:00 - приезд в Ружаны</li>
        <li>15:00-16:00 - осмотр дворца в Ружанах</li>
        <li>16:00 - выезд в Минск</li>
        <li>19:00 - приезд в Минск</li>
      </ul>
      <br />
      <p>Экскурсию проводит известный экскурсовод, историк - Павел Каралёў</p>
      <p>Вам необходимо будет заплатить 100 тыс за экскурсию и 15 тыс за вход в музей в Скоках.</p>
    </section>
  <section class="schedule">
      <h2>Общий план The Rolling Scopes #20 - Brest</h2>
      <p>Участие в митапе бесплатное!</p>
    <p>
      <a class="register-button" href="https://docs.google.com/forms/d/1ECXQbXDHComWqfg98DF_QBPNKVWEoK6o6Snieeo2KbE/viewform">
        <i class="fa fa-sign-in"></i>
        Зарегистрироваться!
      </a>
    </p>
      <h3>Место проведения</h3>
      Митап пройдет в Брестском отделении Белорусской Торгово-промышленной палаты (ул.Гоголя,13).
    <h2>Афиша митапа</h2>
    <ul class="schedule-full">
      <li>
        <p class="time">16:00</p>
        <img src="./images/speakers/dzmitry_varabei.jpg" alt="" class="speaker-photo">
        <h3>Доклад-обсуждение: Тренды front-end разработки 2015: Процессы, Фреймворки, Библиотеки, Инструменты.</h3>
        <p class="speaker-name">Дмитрий Воробей</p>
      </li>
      <li>
        <p class="time">16:45</p>
        <h3>Полгода жизни с хомяком</h3>
        <img src="./images/speakers/vasiliy_vanchuk.jpg" alt="" class="speaker-photo">
        <p class="speaker-name">Василий Ванчук</p>
        <p>История вливания в проект на Ember.js.  Какие ощущение появляются когда впервые знакомишься с "янтарным" фреймворком и как эти ощущения меняются с течением времени. Если бы я знал как это будет ...</p>
      </li>
      <li>
        <p class="time">17:30</p>
        <img class="speaker-photo" src="./images/speakers/stanislau_zubovich.jpg" alt="Станислав Зубович фото">
        <h3>WCAG 2.0 или боль доступного веба</h3>
        <p class="speaker-name">Станислав Зубович</p>
        <ul>
          <li>Introduction to accessibility</li>
          <li>Techniques you can implement today</li>
          <li>Introduction to screen readers and ARIA</li>
          <li>Testing tips and tricks&tricks</li>
        </ul>
      </li>
      <li class="break"><p class="time">18:00</p><h3><span class="icon-coffee">&nbsp;</span> Кофе пауза</h3></li>
      <li>
        <p class="time">18:20</p>
        <img class="speaker-photo" src="./images/speakers/denis_sheko.jpg">
        <h3>Глобальные оптимизации Глобальной карты или как подружить leaflet, lodash и marionette</h3>
        <p class="speaker-name">Денис Шеко</p>
        <p>Доклад о том, как оптимизировалась отрисовка Глобальной карты (пошаговая стратегия в браузере), какие проблемы пришлось решать, решения применять и какие выводы можно сделать.</p>
      </li>
      <li>
        <p class="time">19:00</p>
        <img class="speaker-photo" src="./images/speakers/alexander_orgish.jpg" alt="Александр Оргиш фото">
        <h3>How it works: WebSockets</h3>
        <p class="speaker-name">Александр Оргиш</p>
        <p>Как работают веб-сокеты, взгляд изнутри: протокол, сообщения, возможность расширения</p>
      </li>
      <li class="break"><p class="time">19:30</p><h3><span class="icon-coffee">&nbsp;</span> Кофе пауза</h3></li>
      <li>
        <p class="time">19:50</p>
        <img src="./images/speakers/dzmitry_gerasimov.jpg" alt="" class="speaker-photo">
        <h3>Программирование железа на JS - Tessel.io, NodeCopter</h3>
        <p class="speaker-name">Дмитрий Герасимов</p>
      </li>
      <li>
        <p class="time">20:30</p>
        <img src="./images/speakers/andrei_vouchanka.jpg" alt="" class="speaker-photo">
        <h3>CSS Quickdraw</h3>
        <p class="speaker-name">Андрей Волченко</p>
        <p>Real-time онлайн дуэль. CSS-селекторы - Ваш Colt .47! Выжившим - призы от JetBrains
        <br/>
        <b style="color:red;">Не забудьте взять ноутбуки!</b>
        </p>
      </li>
      <li>
        <p class="time">21:00</p>
        <img src="./images/beerjs.png" alt="" class="speaker-photo">
        <h3>BeerJS</h3>
        <p>Идем пить пиво!</p>
        <p>Golden Coffee Club в брони нам отказал, <b>новая точка сбора - Yoshi (г. Брест, ул. Карбышева, 28)</b></p>
      </li>
    </ul>
  </section>
  <section>
    <h3>Карта</h3>
    <a target="_blank" href="https://goo.gl/maps/YyNDP8Tiadk">
      <img style="width: 100%;" src="./images/rs-on-tour/rsbrestmap.jpg" alt=""/>
    </a>
  </section>
  <section>
    <h3>Получить дополнительную информацию и обсудить предстоящую поездку можно:</h3>
    <p>В slack канале - <a href="https://frontendbelarus.slack.com/messages/rs20-brest/">rs20-brest</a>.</p>
    <p>Получить инвайт в slack можно тут - <a href="http://frontendbelarus.herokuapp.com/">http://frontendbelarus.herokuapp.com/</a></p>
    <p>По неотложным вопросам звонить +375 29 365 15 65 (Дима)</p>
  </section>
  <% include common/call-for-speakers %>
</div>
<% include common/footer %>
<% include common/scripts %>
</body>
</html>
