<!doctype html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <title><%= page.title %></title>
    <meta name="viewport" content="width=device-width">
    <% include common/styles %>
</head>
<body>
<% include common/browsehappy %>
<div class="page-wrap">
    <% include common/header %>

    <section>
        <% include index/meetup-banner %>
        <% include common/materials %>

        <p><br/><a href="https://rollingscopes.com/">The Rolling Scopes</a> - Front-end/JavaScript developers community.
            <br/>
            Want to give a talk or conduct a workshop?<br/>
            Eager to give a shout-out for your open source project or share your success story?<br/>
            Ready to preach the must-know fundamentals of Web, JavaScript, CSS, etc.?<br/>
            We welcome all kinds of talk proposals, so do not hesitate to drop a short synopsis to
            <a href="mailto:rolling.scopes@gmail.com">rolling.scopes@gmail.com</a>
            <br/>
            <br/>
            This meetup is organized by developers and for developers. We do not generate any profit, just fun and
            awesomeness!
            Let’s Roll!
        </p>
      <div class="button-wrapper"><a class="register-button"
                                     href="http://goo.gl/QnHrpx"><i
            class="fa fa-sign-in"></i> Register Now - It's Free!</a></div>
        <h1>Agenda</h1>
        <% include common/scedule %>
      <h1>Venue</h1>
      <p>
        <a target="_blank" href="https://goo.gl/maps/t76GZ8oJbdz">Business Center Olivia Six</a><br/>
       Grunwaldzka 472D,<br/>
        80-309 Gdańsk, Poland<br/>
        7th floor (reception)</p>

      <a target="_blank" href="https://goo.gl/maps/t76GZ8oJbdz"><img style="width: 100%;"
                                                                     src="images/rs-on-tour/gdansk-map-olivia.jpg" alt=""/></a>

      <div class="button-wrapper"><a class="register-button"
                                     href="http://goo.gl/QnHrpx"><i
            class="fa fa-sign-in"></i> Register Now - It's Free!</a></div>

    </section>
    <section>
        <h2 class="text-center">Partners</h2>
        <ul class="partner-list">
            <li><a href="http://www.epam.com/"><img src="images/partners/epam-systems.jpg" alt="epam logo"/></a></li>
            <li><a href="https://www.jetbrains.com/"><img src="images/partners/jetbrains.png" alt="jetbrains logo"/></a>
            </li>
        </ul>
    </section>

    <% include index/venue %>
    <% include common/call-for-speakers %>
    <% include common/main-nav %>
</div>
<% include common/footer %>
<% include common/scripts %>
</body>
</html>
