<!doctype html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <title><%= page.title %></title>
  <meta name="viewport" content="width=device-width">
  <% include common/styles %>
</head>
<body>
<% include common/browsehappy %>
<div class="page-wrap">
  <% include common/header %>

  <section>
    <% include index/meetup-banner %>
    <% include common/materials %>

    <p><br/>Hoorah! The Rolling Scopes are coming to Gdańsk, Poland once again! The participation is free of charge. The
      Event is sponsored by <a href="https://www.epam.com/careers/poland" target="_blank">EPAM Poland</a>.</p>

    <p><a href="https://rollingscopes.com/">The Rolling Scopes</a> - Front-end/JavaScript developers community.
      <br/>
      Want to give a talk or conduct a workshop?<br/>
      Eager to give a shout-out for your open source project or share your success story?<br/>
      Ready to preach the must-know fundamentals of Web, JavaScript, CSS, etc.?<br/>
      We welcome all kinds of talk proposals, so do not hesitate to drop a short synopsis to
      <a href="mailto:rolling.scopes@gmail.com">rolling.scopes@gmail.com</a>
      <br/>
      <br/>
      This meetup is organized by developers and for developers. We do not generate any profit, just fun and
      awesomeness!
      Let’s Roll!
    </p>
    <div class="button-wrapper">
      <a class="register-button" href="https://www.eventbrite.com/e/the-rolling-scopes-34-gdansk-tickets-33121260582"><i
          class="fa fa-sign-in"></i> Register Now - It's Free!</a>
    </div>
    <h1>Agenda</h1>
    <% include common/scedule %>
    <h1>Venue</h1>
    <h3>
      <a target="_blank" href="https://goo.gl/maps/A6j2kqXKYQx">Olivia Business Centre - Olivia Four</a>, aleja
      Grunwaldzka 472b, Gdańsk</h3>
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2322.3839827256775!2d18.567634065878487!3d54.40319503021412!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46fd752e661fc60f%3A0x26c57d364561b997!2sOlivia+Four%2C+aleja+Grunwaldzka+472b%2C+80-309+Gda%C5%84sk!5e0!3m2!1sru!2spl!4v1512984151747"
      width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>

    <div class="button-wrapper">
      <a class="register-button" href="https://www.eventbrite.com/e/the-rolling-scopes-34-gdansk-tickets-33121260582">
        <i class="fa fa-sign-in"></i>Register Now - It's Free!
      </a>
    </div>

  </section>
  <section>
    <h2 class="text-center">Partners</h2>
    <ul class="partner-list">
      <li><a href="https://www.epam.com/careers/poland"><img src="images/partners/epam-systems.jpg"
                                                             alt="epam logo"/></a></li>
      <li><a href="https://www.jetbrains.com/"><img src="images/partners/jetbrains.png" alt="jetbrains logo"/></a>
      </li>
    </ul>
  </section>
  <section>
    <div class="info-accented">

      <h2>Join Frontend Poland Community on Slack <i class="fa fa-slack"></i></h2>

      <p><a href="https://frontend-pl.herokuapp.com/">https://frontend-pl.herokuapp.com/</a></p></div>
  </section>

  <% include index/venue %>
  <% include common/call-for-speakers %>
  <% include common/main-nav %>
</div>
<% include common/footer %>
<% include common/scripts %>
</body>
</html>
