<!doctype html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <title><%= page.title %></title>
    <% include common/styles %>
</head>
<body>
<% include common/browsehappy %>
<% include common/header %>
<section>

    <h1 class="event-title">Upcoming Events</h1>
    <ul class="event-list">

        <li class="event-list-item"><h2 class="date">10-11</h2>
            <p class="mounth">FEB</p>
            <h2>MINSK: <a href="https://2018.conf.rollingscopes.com">The Rolling Scopes Conference 2018</a></h2>
            <p><i class="fa fa-map-marker"></i> <a target="_blank" href="https://goo.gl/maps/GbECQ5BqUUs">Palac kuĺtury
                    prafsajuzaŭ
                </a></p></li>

    </ul>

</section>

<% include common/main-nav %>

<section>
    <div class="slack-info">

        <h2>Join Frontend Belarus Community on Slack <i class="fa fa-slack"></i></h2>

        <p><a href="http://frontendbelarus.herokuapp.com/">http://frontendbelarus.herokuapp.com/</a></p></div>
</section>

<% include common/call-for-speakers %>

<% include common/footer %>

<% include common/scripts %>
</body>
</html>
