<!doctype html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <meta name="description" content="">
  <title><%= page.title %></title>
  <% include common-v2/styles %>
</head>
<body>
<% include common/browsehappy %>
<div class="page-wrap">
  <% include common/header %>
  <% include common-v2/main-nav %>

  <% include common/call-for-speakers %>
</div>

<% include common/footer %>

<% include common/scripts %>
</body>
</html>
