<!doctype html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <title><%= page.title %></title>
    <% include common/styles %>
</head>
<body>
<% include common/browsehappy %>
<% include common/header %>
<section>

    <h1 class="event-title">Upcoming Events</h1>
    <ul class="event-list">
        <li class="event-list-item"><h2 class="date">3-4</h2>

            <p class="mounth">June</p>

            <h2>MINSK: <a href="https://minsk.rollingscopes.com/">The Rolling Scopes Summer Summit</a></h2>

            <p><i class="fa fa-map-marker"></i> <a target="_blank"
                                                   href="https://goo.gl/maps/sruo6GAM1QQ2">imaguru.co</a></p></li>
        <li class="event-list-item"><h2 class="date">16</h2>

            <p class="mounth">June</p>

            <h2>KRAKOW: <a href="https://krakow.rollingscopes.com/">The Rolling Scopes #26</a></h2>

            <p><i class="fa fa-map-marker"></i> <a target="_blank" href="https://goo.gl/maps/WdFJeXcynUz">Quattro
                    Business Park</a></p></li>



        <li class="event-list-item"><h2 class="date">16</h2>

            <p class="mounth">July</p>

            <h2>BREST: <a href="https://brest.rollingscopes.com/">The Rolling Scopes #27</a></h2>

            <p><i class="fa fa-map-marker"></i> TBD</li>
        <li class="event-list-item"><h2 class="date">23</h2>

            <p class="mounth">July</p>

            <h2>GOMEL: <a href="https://gomel.rollingscopes.com/">The Rolling Scopes #28</a></h2>

            <p><i class="fa fa-map-marker"></i> TBD</p></li>

    </ul>
</section>

<% include common/main-nav %>

<section>
    <div class="slack-info">

        <h2>Join Frontend Belarus Community on Slack <i class="fa fa-slack"></i></h2>

        <p><a href="http://frontendbelarus.herokuapp.com/">http://frontendbelarus.herokuapp.com/</a></p></div>
</section>

<% include common/call-for-speakers %>

<% include common/footer %>

<% include common/scripts %>
</body>
</html>
