<!doctype html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <title><%= page.title %></title>
    <% include common/styles %>
</head>
<body>
<% include common/browsehappy %>
<% include common/header %>
<section>

    <h1 class="event-title">Upcoming Events</h1>
    <ul class="event-list">
        <li class="event-list-item"><h2 class="date">23</h2>

            <p class="mounth">July</p>

            <h2>GOMEL: <a href="https://gomel.rollingscopes.com/">The Rolling Scopes #27</a></h2>

            <p><i class="fa fa-map-marker"></i> <a target="_blank" href="https://goo.gl/maps/9KWpmSqSKww">г. Гомель, ул. Коммунаров, 4</a></p></li>
      <li class="event-list-item"><h2 class="date">6</h2>

        <p class="mounth">August</p>

        <h2>BREST: <a href="https://brest.rollingscopes.com/">The Rolling Scopes #28</a></h2>

        <p><i class="fa fa-map-marker"></i> <a target="_blank" href="https://www.google.by/maps/place/Gogolia+St+13,+Brest/@52.090187,23.6789445,16.06z/data=!4m2!3m1!1s0x47210bec15bc9109:0x5e28b6234bb723b0?hl=en">г. Брест, ул.Гоголя,13</a></li>

    </ul>
</section>

<% include common/main-nav %>

<section>
    <div class="slack-info">

        <h2>Join Frontend Belarus Community on Slack <i class="fa fa-slack"></i></h2>

        <p><a href="http://frontendbelarus.herokuapp.com/">http://frontendbelarus.herokuapp.com/</a></p></div>
</section>

<% include common/call-for-speakers %>

<% include common/footer %>

<% include common/scripts %>
</body>
</html>
