<!doctype html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <meta name="description" content="">
  <title><%= page.title %></title>
  <% include common/styles %>
</head>
<body>
<% include common/browsehappy %>
<% include common/header %>
<section>

  <h1 class="event-title">Upcoming Events</h1>
  <ul class="event-list">

    <li class="event-list-item"><h2 class="date">10-11</h2>
      <p class="mounth">FEB</p>
      <h2>MINSK: <a href="https://2018.conf.rollingscopes.com">The Rolling Scopes Conference 2018</a></h2>
      <p><i class="fa fa-map-marker"></i> <a target="_blank" href="https://goo.gl/maps/GbECQ5BqUUs">Palac kuĺtury
          prafsajuzaŭ
        </a></p></li>
    <li class="event-list-item"><h2 class="date">19</h2>
      <p class="mounth">FEB</p>
      <h2><a href="https://school.rollingscopes.com/enrollment.html">Организационное занятие для нового набора RS
          School</a></h2>
      <p><i class="fa fa-map-marker"></i> <a target="_blank"
                                             href="https://www.eventbrite.com/e/the-rolling-scopes-school-2018-q1-introduction-tickets-38626360484">Вебинар
        </a></p></li>
  </ul>

</section>

<section>
  <div class="info-accented">

    <h2>RS School Mentors Wanted!</h2>
    <blockquote>"Teaching is a privilege. It's part of a Jedi's responsibility to help train the next generation."
      <p>―Obi-Wan Kenobi, Star Wars: The Clone Wars</p>
    </blockquote>

    <p><a class="enrollment-btn"
          href="https://docs.google.com/forms/d/e/1FAIpQLSeJX9b70eoF3MsB0shzeMzkyd8T0MfZbErul9-GKLmyL0svOg/viewform">See
        more</a></p>
  </div>
</section>

<% include common/main-nav %>

<section>
  <div class="info-accented">

    <h2>Join Frontend Belarus Community on Slack <i class="fa fa-slack"></i></h2>

    <p><a href="http://frontendbelarus.herokuapp.com/">http://frontendbelarus.herokuapp.com/</a></p></div>
</section>

<% include common/call-for-speakers %>

<% include common/footer %>

<% include common/scripts %>
</body>
</html>
