<!doctype html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <meta name="description" content="">
  <title><%= page.title %></title>
  <% include common/styles %>
</head>
<body>
<% include common/browsehappy %>
<% include common/header %>
<section>

  <h1 class="event-title">Upcoming Events</h1>
  <ul class="event-list">

    <li class="event-list-item"><h2 class="date">10</h2>
      <p class="mounth">JUNE</p>
      <h2>GRODNO: <a href="https://grodno.rollingscopes.com/">The Rolling Scopes #39</a></h2>
      <p><i class="fa fa-map-marker"></i> <a target="_blank" href="https://goo.gl/maps/27Zyis8WHNC2">ПВТ, ул. М. Горького, д.1,
          Гродно</a></p></li>
    <li class="event-list-item"><h2 class="date">17</h2>
      <p class="mounth">JUNE</p>
      <h2>GOMEL: <a href="https://gomel.rollingscopes.com/">The Rolling Scopes #37</a></h2>
      <p><i class="fa fa-map-marker"></i> <a target="_blank" href="https://goo.gl/MC5Bjh">ОКЦ,
          ул. Ланге 17, Гомель</a></p></li>

  </ul>
</section>

<% include common/main-nav %>

<section>
  <div class="slack-info">

    <h2>Join Frontend Belarus Community on Slack <i class="fa fa-slack"></i></h2>

    <p><a href="http://frontendbelarus.herokuapp.com/">http://frontendbelarus.herokuapp.com/</a></p></div>
</section>

<% include common/call-for-speakers %>

<% include common/footer %>

<% include common/scripts %>
</body>
</html>
