<!doctype html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <meta name="description" content="">
  <title><%= page.title %></title>
  <% include common/styles %>
</head>
<body>
<% include common/browsehappy %>
<% include common/header %>
<section>

  <h1 class="event-title">Upcoming Events</h1>
  <ul class="event-list">
    <li class="event-list-item"><h2 class="date">18</h2>
      <p class="mounth">APR</p>
      <h2>MINSK: <a href="https://minsk.rollingscopes.com/">The Rolling Scopes #36</a></h2>
      <p><i class="fa fa-map-marker"></i> <a target="_blank" href="https://goo.gl/maps/d25d5sAxwBU2">IMAGURU,
          ул. Фабрициуса 4, Минск</a></p></li>

    <li class="event-list-item"><h2 class="date">26</h2>
      <p class="mounth">APR</p>
      <h2>GDANSK: <a href="https://gdansk.rollingscopes.com/">The Rolling Scopes #34</a></h2>
      <p><i class="fa fa-map-marker"></i> <a target="_blank" href="https://goo.gl/maps/nHZVYjcVum72">SZTUKA WYBORU,
          Słowackiego 19, Gdańsk</a></p></li>
    <li class="event-list-item"><h2 class="date">27</h2>
      <p class="mounth">APR</p>
      <h2>KRAKOW: <a href="https://krakow.rollingscopes.com/">The Rolling Scopes #35</a></h2>
      <p><i class="fa fa-map-marker"></i> <a target="_blank" href="https://goo.gl/maps/z4kXc5tHnZu">BARKA, Podgórska
          16, Kraków</a></p></li>
    <li class="event-list-item"><h2 class="date">17</h2>
      <p class="mounth">JUNE</p>
      <h2>GOMEL: <a href="https://gomel.rollingscopes.com/">The Rolling Scopes #37</a></h2>
      <p><i class="fa fa-map-marker"></i> <a target="_blank" href="https://goo.gl/MC5Bjh">ОКЦ,
          ул. Ланге 17, Гомель</a></p></li>

  </ul>
</section>

<% include common/main-nav %>

<section>
  <div class="slack-info">

    <h2>Join Frontend Belarus Community on Slack <i class="fa fa-slack"></i></h2>

    <p><a href="http://frontendbelarus.herokuapp.com/">http://frontendbelarus.herokuapp.com/</a></p></div>
</section>

<% include common/call-for-speakers %>

<% include common/footer %>

<% include common/scripts %>
</body>
</html>
