<!doctype html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <title><%= page.title %></title>
    <% include common/styles %>
</head>
<body>
<% include common/browsehappy %>
<% include common/header %>
<% include common/main-nav %>

<% include common/call-for-speakers %>

<% include common/footer %>

<% include common/scripts %>
</body>
</html>
