<!doctype html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <meta name="description" content="">
  <title><%= page.title %></title>
  <% include common/styles %>
</head>
<body>
<% include common/browsehappy %>
<% include common/header %>
<section>
  <h1 class="event-title">The Rolling Scopes</h1>

  <p>This is not just another community of developers, this is something more.</p>

  <p>For years we have been organizing meetups and conferences, where you can always learn something new, share
    your knowledge, discover new technologies, meet old and find new friends.</p>

  <p>Web-related technologies stack is so broad that it is impossible to enumerate all the topics that have been
    covered at our events: JavaScript, HTML, CSS, Node, UX, UI, Testing, VR, React ...</p>

  <p>Each time our events take place in a different city, so that makes it hard to say where the next one will
    take place.</p>

  <p> We are happy to collaborate and welcome all kinds of talk proposals. Have any suggestions or feedback? Want
    to give a talk or conduct a workshop?
    Contact us on <a href="mailto:rolling.scopes@gmail.com">rolling.scopes@gmail.com</a></p>

</section>
<section>
  <h2 class="text-center">Upcoming Events</h2>
  <ul class="event-list">
    <!--<li class="event-list-item"><h2 class="date">17</h2>-->
    <!--<p class="mounth">APR</p>-->
    <!--<h2>ONLINE: <a href="#"></a></h2>-->
    <!--<p>Webinar 1 of 14</p>-->
    <!--</li>-->

    <li class="event-list-item"><h2 class="date">17</h2>
      <p class="mounth">MAY</p>
      <h2>KRAKOW: <a href="https://krakow.rollingscopes.com/">The Rolling
          Scopes #48</a></h2>
      <p><i class="fa fa-map-marker"></i> <a target="_blank" href="https://goo.gl/maps/z4kXc5tHnZu">BARKA,
          Podgórska 16, Krakow
        </a></p></li>
    <li class="event-list-item"><h2 class="date">8</h2>
      <p class="mounth">MAY</p>
      <h2>GDANSK: <a href="https://gdansk.rollingscopes.com/">The Rolling
          Scopes #49</a></h2>
      <p><i class="fa fa-map-marker"></i> <a target="_blank" href="https://gdansk.rollingscopes.com#venue">Olivia
          Business
          Centre - Olivia Four</a></p></li>

    <li class="event-list-item"><h2 class="date">10</h2>
      <p class="mounth">SEPT</p>
      <h2>ONLINE: <a
          href="https://www.eventbrite.com/e/the-rolling-scopes-school-2018-q3-introduction-tickets-43395172128">Вводное
          занятие для нового набора RS School 2018-Q3</a></h2>
      <!--<p><i class="fa fa-map-marker"></i> <a target="_blank" href="https://www.eventbrite.com/e/the-rolling-scopes-school-2018-q3-introduction-tickets-43395172128">Записаться</a></p>-->
    </li>
  </ul>

</section>

<section>
  <div class="info-accented">

    <h2>Join Frontend Belarus Community on Slack <i class="fa fa-slack"></i></h2>

    <p><a href="http://frontendbelarus.herokuapp.com/">http://frontendbelarus.herokuapp.com/</a></p></div>
</section>

<% include common/main-nav %>

<section>

  <h1 class="event-title">The Rolling Scopes School </h1>

  <p> RS School Locations: Minsk, Brest, Grodno, Gomel, Mogilev</p>

  <p>RS School Site: <a target="_blank"
                        href="https://school.rollingscopes.com/">https://school.rollingscopes.com</a><br/>

    <!--How to enroll in this school: <a target="_blank"-->
    <!--href="https://school.rollingscopes.com/enrollment.html">https://school.rollingscopes.com/enrollment.html</a>-->
    <!--<br/>-->

    Course Curriculum: <a target="_blank"
                          href="https://github.com/rolling-scopes-school/lectures">https://github.com/rolling-scopes-school/lectures</a>

    <br/>

    If you have any questions, feel free to join our gitter chat rooms:</p>
  <ul>
    <li><a target="_blank" href="https://gitter.im/rolling-scopes-school/padawans">Padawans</a> – discussions
      regarding the enrollment
    </li>
    <li><a target="_blank" href="https://gitter.im/rolling-scopes-school/questions">Questions</a> – chat for
      students enrolled
    </li>
  </ul>


  <div class="info-accented">

    <h2>RS School Mentors Wanted!</h2>
    <blockquote>"Teaching is a privilege. It's part of a Jedi's responsibility to help train the next generation."
      <p>―Obi-Wan Kenobi, Star Wars: The Clone Wars</p>
    </blockquote>

    <p><a class="enrollment-btn"
          href="https://docs.google.com/forms/d/e/1FAIpQLSf81BWgUWO9TwHRqpVlX-8h0xj2QjnY8AMwJ2x5DkCgzD_QiA/viewform">See
        more</a></p>
  </div>
</section>

<section><h2 class="text-center">Our Partners</h2>
  <ul class="partner-list">
    <li>
      <a href="http://www.epam.by/"><img src="images/partners/epam-systems.jpg" alt="epam logo"/></a>
    </li>
    <li>
      <a href="https://imaguru.by/en/"><img src="images/partners/logo_guru.png" alt="imaguru logo"/></a>
    </li>
    <li>
      <a href="https://www.jetbrains.com/"><img src="images/partners/jetbrains.png" alt="jetbrains logo"/></a>
    </li>
    <li>
      <a href="http://www.github.com/"><img src="images/partners/github_logo.png" alt="github logo"/></a>
    </li>
  </ul>
</section>

<% include common/call-for-speakers %>

<% include common/footer %>

<% include common/scripts %>
</body>
</html>
