<!doctype html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <title><%= page.title %></title>
  <meta name="viewport" content="width=device-width">
  <% include common/styles %>
</head>
<body>
<% include common/browsehappy %>
<div class="page-wrap">
  <% include common/header %>
  <% include index/meetup-banner %>
  <% include common/materials %>
  <section class="banner"><p><a class="register-button"
                                href="https://goo.gl/P4kFu3"><i
                class="fa fa-sign-in"></i> Register Now - It's Free!</a></p></section>
  <section>
     <p><a href="https://rollingscopes.com/">The Rolling Scopes</a>  - Front-end/JavaScript developer community.
        After having rocked Belarusian front-end scene with quality events Rolling Scopes 
        is paying a first-time-ever visit to Poland to meet front-enders in Krakow.
        
        Want to give talk, make a shout-out for your open source project or share your success story?
        Or would you like to preach the must-know fundamentals of Web, JavaScript, CSS, etc.?
        We welcome all kinds of talk proposals so do not hesitate to drop a short synopsis to 
        <a href="mailto:rolling.scopes@gmail.com">rolling.scopes@gmail.com</a>
        
        This meetup is organized by developers for developers. We generate no profit, just fun and awesomeness! <br />
        Let’s Roll!
        </p>
  </section>
  <section class="schedule">
    <h2>Agenda</h2>
    <% include common/scedule %>
  </section>
  <section class="banner"><p><a class="register-button"
                                href="https://goo.gl/P4kFu3"><i
                class="fa fa-sign-in"></i> Register Now - It's Free!</a></p></section>
  <% include index/venue %>
  <% include common/call-for-speakers %>
</div>
<% include common/footer %>
<% include common/scripts %>
</body>
</html>
