<!doctype html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <title><%= page.title %></title>
  <meta name="viewport" content="width=device-width">
  <% include common/styles %>
</head>
<body>
<% include common/browsehappy %>
<% include common/header %>
<section>
  <% include common/materials %>
  <% include index/meetup-banner %>
  <% include common/register-button %>
  <h2>Agenda</h2>
  <% include common/scedule %>

  <!--< % include custom-events/summer-summit-2018/summer-summit-2018.html % >-->
  <% include common/register-button %>
  <hr style="margin-bottom: 50px;">

</section>

<% include index/venue %>
<section>
  <iframe
    src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d9405.246664454751!2d27.5373119!3d53.8906642!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xf2ce80bc1380c57e!2sImaguru+Startup+Hub!5e0!3m2!1sen!2spl!4v1531899452892"
    width="100%" height="400" frameborder="0" style="border:0" allowfullscreen></iframe>
</section>
<section>
  <h2 class="text-center">Our Partners</h2>
  <ul class="partner-list">
    <li>
      <a target="_blank" href="https://www.youtube.com/channel/UCu5rhLxjbCD2qP9lJu9ygdA"><img src="images/partners/logo-minsk-json.jpg" alt="minsk json logo"/></a>
    </li>
    <li>
      <a target="_blank" href="http://www.epam.by/"><img src="images/partners/epam-systems.jpg" alt="epam logo"/></a>
    </li>
    <li>
      <a target="_blank" href="https://imaguru.by/en/"><img src="images/partners/logo_guru.png" alt="imaguru logo"/></a>
    </li>
    <li>
      <a target="_blank" href="https://dev.by/"><img src="images/partners/logo-dev.svg" alt="dev by logo"/></a>
    </li>

  </ul>
</section>
<% include common/call-for-speakers %>

<% include common/main-nav %>
<% include common/footer %>
<% include common/scripts %>
</body>
</html>
