<!doctype html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <title><%= page.title %></title>
  <meta name="viewport" content="width=device-width">
  <% include common/styles %>
</head>
<body>
<% include common/browsehappy %>
<div class="page-wrap">
  <% include common/header %>
  <% include index/meetup-banner %>
  <% include common/materials %>
  <section class="banner"><p><a class="register-button"
                                href="https://docs.google.com/forms/d/1Tt5vI4EQNeHib5iAQpMx6bQUqs4PJXWD003Jk_A58Kc/viewform"><i
          class="fa fa-sign-in"></i> Зарегистрироваться! Участие бесплатное!</a></p></section>
  <section class="schedule">
    <h2>Афиша (Формируется)</h2>
    <% include common/scedule %>
  </section>
  <section class="banner"><p><a class="register-button"
                                href="https://docs.google.com/forms/d/1Tt5vI4EQNeHib5iAQpMx6bQUqs4PJXWD003Jk_A58Kc/viewform"><i
          class="fa fa-sign-in"></i> Зарегистрироваться! Участие бесплатное!</a></p></section>
  <% include index/venue %>
  <section>
    <h2>Организаторы</h2>
    <ul class="partner-list">
      <li><a style="height:200px;" href="https://rollingscopes.com/"><img src="images/logo_rs2.svg" alt="rollingscopes logo" /></a></li>
      <li><a href="https://www.facebook.com/groups/DesignKitchen/"><img src="images/partners/ux.jpg" alt="Дизайн кUXня logo" /></a></li>

    </ul>
  </section>
  <section>
    <h2>Партнеры</h2>
    <ul class="partner-list">
      <li><a href="http://wargaming.com/ru/careers/vacancies/"><img src="images/partners/WG_Logo_Sharpen_Metal_01.png" alt="Wargaming logo" /></a></li>
      <li><a href="http://www.epam.by/"><img src="images/partners/epam-systems.jpg" alt="epam logo" /></a></li>
      <li><a href="https://www.jetbrains.com/"><img src="images/partners/logo_jetbrains.png" alt="jetbrains logo" /></a></li>
      <!--<li><a href="https://www.yandex.com/"><img src="images/partners/yandex.png" alt="yandex logo" /></a></li>-->
      <!--<li><a href="http://www.park.by/"><img src="images/partners/htp.gif" alt="htp logo" /></a></li>-->
    </ul>
  </section>
  <% include common/call-for-speakers %>
</div>
<% include common/footer %>
<% include common/scripts %>
</body>
</html>
