<!doctype html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <title><%= page.title %></title>
  <% include common/styles %>
</head>
<body>
<% include common/browsehappy %>
<% include common/header %>
<section>
<% include common/materials %>
<% include index/meetup-banner %>
<!--< % include common/register-button % >-->
<!--<h2>Афиша</h2>-->
  <!--< % include common/scedule % > -->

   <% include custom-events/summer-summit-2017/summer-summit-2017.html %>
<!--< % include common/register-button % >-->
</section>


<% include index/venue %>
<% include common/call-for-speakers %>

<% include common/main-nav %>
<% include common/footer %>
<% include common/scripts %>
</body>
</html>
