<!doctype html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <title><%= page.title %></title>
  <% include common/styles %>
</head>
<body>
<% include common/browsehappy %>

  <% include common/header %>

<% include custom-events/summer-summit/summer-summit %>


  <% include common/call-for-speakers %>


<% include common-v2/main-nav %>
<% include common/footer %>
<% include common/scripts %>
</body>
</html>
