<!doctype html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <title><%= page.title %></title>
    <meta name="viewport" content="width=device-width">
    <% include common/styles %>
</head>
<body>
<% include common/browsehappy %>

<% include common/header %>

<section>
    <% include index/meetup-banner %>
    <% include common/materials %>
    <% include common/register-button %>
    <h2>Афиша</h2>
    <% include common/scedule %>
  <!-- < % include custom-events/rs27-gomel/rs27-summit % >-->

    <!--<a target="_blank" href="https://goo.gl/maps/kPAbYEvR1yA2"><img style="width: 100%;"-->
                                                                    <!--src="images/rs-on-tour/rsgomelmap.jpg" alt=""/></a>-->
     <% include common/register-button %>
</section>
<section>
  <h2 class="text-center">Our Partners</h2>
  <ul class="partner-list">
    <li>
      <a href="http://www.epam.by/"><img src="images/partners/epam-systems.jpg" alt="epam logo"/></a>
    </li>
    <li>
      <a href="https://www.jetbrains.com/"><img src="images/partners/jetbrains.png" alt="jetbrains logo"/></a>
    </li>
    <li>
      <a target="_blank" href="https://www.evolutiongaming.com/">
        <img src="images/partners/logo-evolution-gaming.svg" alt="evolution gaming logo"/>
      </a>
    </li>
  </ul>
</section>

<% include index/venue %>
<% include common/call-for-speakers %>

<% include common/main-nav %>
<% include common/footer %>
<% include common/scripts %>
</body>
</html>
