<!doctype html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <title><%= page.title %></title>
    <meta name="viewport" content="width=device-width">
    <% include common/styles %>
</head>
<body>
<% include common/browsehappy %>
<% include common/header %>
<section>

    <h2 class="text-center" style="color: #f00">ВНИМАНИЕ! Набор на курсы открыт до 15 сентября</h2>
    <p>Повторное вводное занятие состоится 7 сентября в 18:00 по адресу: г.Минск, ул.Купревича, д.1, корп.5</p>

    <h2>Материалы вводного занятия</h2>
    <p><a href="https://github.com/rolling-scopes/front-end-course/wiki/Course-Intro">Презентации + тестовые задания</a></p>
    <h2>Видеозапись первого вводного занятия</h2>
    <iframe style="max-width: 560px; width: 100%; box-sizing: border-box;" height="315" src="https://www.youtube.com/embed/videoseries?list=PLe--kalBDwjgeyKiqErDuEOuB1dYQi15D" frameborder="0" allowfullscreen></iframe>

  <h1 class="event-title">The Rolling Scopes School</h1>

  <h2>Что такое RS School</h2>
    <p>Подробности <a href="https://github.com/rolling-scopes/front-end-course/wiki/About-Rolling-School">здесь</a></p>

    <h2>Следите за новостями в нашем Gitter чате</h2>
    <p><a href="https://gitter.im/rolling-scopes-school/padawans">Padawans</a> – здесь могут задать вопросы желающие попасть на курсы</p>
    <p><a href="https://gitter.im/rolling-scopes-school/questions">Questions</a> – общие вопросы/ответы</p>
    <p><a href="https://gitter.im/rolling-scopes-school/announcements">Announcements</a> – важные объявления (перенос/отмена занятия, смена места занятия)</p>
    <p><a href="https://gitter.im/rolling-scopes-school/general">General</a> – флудильня 😺</p>

    <h2>Программа курса</h2>
    <p><a href="https://github.com/rolling-scopes/front-end-course/wiki/Course-Curriculum-2.0">https://github.com/.../wiki/Course-Curriculum-2.0</a></p>

    <h2>Расписание занятий</h2>
    <p><a href="https://docs.google.com/spreadsheets/d/1qWF2QXmnUOoTioqfJ3znKLEr0KHsJo4QIs1olR392js/edit#gid=0">Расписание занятий</a> (может обновляться, следите в чате)</p>

    <h2>Отзывы/пожелания/вопросы оставлять тут</h2>
    <p><a href="https://docs.google.com/forms/d/1F4NeS0oBq-CY805aqiPVp6CIrl4_nIYJ7Z_vUcMOFrQ/viewform">Feedback</a></p>
</section>

<section><h1 class="event-title">Our Partners</h1>
    <ul class="partner-list">
        <li>
            <a href="http://www.epam.by/"><img src="images/partners/epam-systems.jpg" alt="epam logo"/></a>
        </li>
        <li>
            <a href="http://imaguru.co/en"><img src="images/partners/logo_guru.png" alt="imaguru logo"/></a>
        </li>
        <li>
            <a href="http://www.github.com/"><img src="images/partners/github_logo.png" alt="github logo"/></a>
        </li>
    </ul>
</section>
<% include common/footer %>
<% include common/scripts %>
</body>
</html>
