<!doctype html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <title><%= page.title %></title>
  <meta name="viewport" content="width=device-width">
  <% include common/styles %>
</head>
<body>
<% include common/browsehappy %>
<% include common/header %>

<div class="accent-section">
  <section>
    <h1 class="event-title">The Rolling Scopes School<span class="footnote">*</span></h1>
    <p><b><span class="footnote">*</span> - Что такое RS School :) Подробности <a
        href="https://github.com/rolling-scopes/front-end-course/wiki/About-Rolling-School">здесь</a></b></p>


    <div class="tile-menu">
      <a class="tile-menu-item"
         href="https://docs.google.com/spreadsheets/d/1qWF2QXmnUOoTioqfJ3znKLEr0KHsJo4QIs1olR392js/edit#gid=0"><i
          class="fa fa-calendar"
          aria-hidden="true"></i> Schedule</a>
      <a class="tile-menu-item" href="https://github.com/rolling-scopes-school/tasks"><i class="fa fa-tasks"
                                                                                         aria-hidden="true"></i>
        Tasks</a>
      <a class="tile-menu-item"
         href="https://docs.google.com/spreadsheets/d/1W2NI28cE8a4bXv31DNe4kaVhaTHGdLF1Z-tbA3e8Ub8/edit?pli=1#gid=0"><i
          class="fa fa-trophy" aria-hidden="true"></i> Score</a>

      <a class="tile-menu-item" href="https://github.com/rolling-scopes/front-end-course/wiki"><i class="fa fa-question"
                                                                                                  aria-hidden="true"></i>
        FAQ</a>

      <a class="tile-menu-item"
         href="https://docs.google.com/forms/d/1F4NeS0oBq-CY805aqiPVp6CIrl4_nIYJ7Z_vUcMOFrQ/viewform"><i
          class="fa fa-comment-o"
          aria-hidden="true"></i> Feedback</a>
      <a class="tile-menu-item" href="https://github.com/rolling-scopes/front-end-course/wiki/Course-Curriculum-2.0"><i
          class="fa fa-list" aria-hidden="true"></i> Course Curriculum</a>

    </div>
  </section>
  <section>
    <h2>Следите за новостями в нашем Gitter чате</h2>
    <div class="tile-menu">
      <a class="tile-menu-item"
         href="https://gitter.im/rolling-scopes-school/padawans"><span class="tile-menu-title">Padawans</span> здесь
        могут задать вопросы желающие попасть на курсы</a>

      <a class="tile-menu-item" href="https://gitter.im/rolling-scopes-school/questions"><span class="tile-menu-title">Questions</span>
        общие вопросы/ответы</a>
      <a class="tile-menu-item" href="https://gitter.im/rolling-scopes-school/announcements"><span
          class="tile-menu-title">Announcements</span> важные объявления (перенос/отмена занятия, смена места
        занятия)</a>

      <a class="tile-menu-item" href="https://gitter.im/rolling-scopes-school/general"><span class="tile-menu-title">General</span>
        флудильня 😺</a>
    </div>

  </section>
</div>

<section>
  <h2>ВНИМАНИЕ! Новый набор на курсы будет открыт в январе 2017 года</h2>
  <p>На данный момент можно записаться в <a href="https://docs.google.com/forms/d/e/1FAIpQLSfF7tbttpa-oeG8AX_fO8yH6xPIVgraySPeGWzCoSLJQ8kucg/viewform">лист ожидания</a>.</p>
</section>
<section>
  <h2>Видеозаписи лекций текущего набора:</h2>
    <iframe style="max-width: 560px; width: 100%;" height="315" src="https://www.youtube.com/embed/axJfr0sI88w?list=PLe--kalBDwjiXq7_8kUgcMmZJpix9ITkK"  allowfullscreen></iframe>
</section>

<section><h1 class="event-title">Our Partners</h1>
  <ul class="partner-list">
    <li>
      <a href="http://www.epam.by/"><img src="images/partners/epam-systems.jpg" alt="epam logo"/></a>
    </li>
    <li>
      <a href="http://imaguru.co/en"><img src="images/partners/logo_guru.png" alt="imaguru logo"/></a>
    </li>
    <li>
      <a href="http://www.github.com/"><img src="images/partners/github_logo.png" alt="github logo"/></a>
    </li>
  </ul>
</section>
<% include common/footer %>
<% include common/scripts %>
</body>
</html>
