<!doctype html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <title><%= page.title %></title>
  <meta name="viewport" content="width=device-width">
  <% include common/styles %>
</head>
<body>
<% include common/browsehappy %>
<% include common/header %>

<div class="accent-section">

  <section>
    <h1 class="event-title">The Rolling Scopes School</h1>

    <div class="tile-menu">
      <a class="tile-menu-item"
         href="https://docs.google.com/spreadsheets/d/1oM2O8DtjC0HodB3j7hcIResaWBw8P18tXkOl1ymelvE/edit#gid=0"><i
          class="fa fa-calendar"
          aria-hidden="true"></i> Schedule</a>
      <a class="tile-menu-item" href="https://github.com/rolling-scopes-school/tasks"><i class="fa fa-tasks"
                                                                                         aria-hidden="true"></i>
        Tasks</a>
      <a class="tile-menu-item"
         href="https://docs.google.com/spreadsheets/d/1WCRTuiZxaOcUvZcQRlzwS9EPnuLar0nKo2pHrXQSltE/edit#gid=0"><i
          class="fa fa-trophy" aria-hidden="true"></i> Score</a>
      <a  target="_blank" class="tile-menu-item"
         href="https://epa.ms/padawans"><i
                class="fa fa-address-card"
                aria-hidden="true"></i> RS Padawans</a>
      <a class="tile-menu-item"
         href="https://docs.google.com/forms/d/1F4NeS0oBq-CY805aqiPVp6CIrl4_nIYJ7Z_vUcMOFrQ/viewform"><i
          class="fa fa-comment-o"
          aria-hidden="true"></i> Feedback</a>
      <a class="tile-menu-item" href="https://github.com/rolling-scopes/front-end-course/wiki/Course-Curriculum-2.0"><i
          class="fa fa-list" aria-hidden="true"></i> Course Curriculum</a>

      <a class="tile-menu-item"
         href="https://gitter.im/rolling-scopes-school/padawans"><i class="fa fa-comments" aria-hidden="true"></i> Chat</a>

      <a class="tile-menu-item"
         href="https://gitter.im/rolling-scopes-school/announcements"><i class="fa fa-bullhorn" aria-hidden="true"></i>
        Announcements</a>

    </div>
  </section>
  <section>
    <h2>Абитуриенту</h2>

    <p>Новый набор планируется в сентябре 2017 года. Предварительная регистрация по <a target="_blank"
                                                                                       href="https://www.eventbrite.com/e/the-rolling-scopes-school-2017-q3-introduction-tickets-31826847959">ссылке</a>.
      Теперь обучение в RS School будет доступно для кандидатов из Брянска, Бреста, Гомеля, Гродно и Минска.
    </p>

    <div class="tile-menu">
      <a class="tile-menu-item"
         href="https://github.com/rolling-scopes/front-end-course/wiki/About-Rolling-School"><i
          class="fa fa-graduation-cap" aria-hidden="true"></i>Что такое RS School</a>
      <a class="tile-menu-item"
         href="https://github.com/rolling-scopes/front-end-course/wiki/%D0%9F%D0%BE%D0%B4%D0%B3%D0%BE%D1%82%D0%BE%D0%B2%D0%BA%D0%B0-%D0%B2-%D1%82%D0%B5%D1%85%D0%BD%D0%B8%D1%87%D0%B5%D1%81%D0%BA%D0%BE%D0%BC%D1%83-%D1%81%D0%BE%D0%B1%D0%B5%D1%81%D0%B5%D0%B4%D0%BE%D0%B2%D0%B0%D0%BD%D0%B8%D1%8E"><i
          class="fa fa-cogs" aria-hidden="true"></i> О техническом интервью
      </a>
      <a class="tile-menu-item" href="https://gitter.im/rolling-scopes-school/padawans"><i class="fa fa-comments"
                                                                                           aria-hidden="true"></i> Чат
        для абитуриентов</a>

      <a class="tile-menu-item" href="https://github.com/rolling-scopes/front-end-course/wiki"><i
          class="fa fa-question-circle" aria-hidden="true"></i>FAQ</a>
    </div>

    <h2>Наш филиал в БГУ</h2>
    <p>Приглашаем студентов БГУ 2-4 курсов ФПМИ и ММФ на факультативный курс JavaScript Development.</p>
    <p>Обучение будет проходить в вечернее время 2 раза в неделю. Всего 32 занятия.</p>
    <p>По результатам обучения возможно трудоустройство.</p>
    <p>Организационное собрание состоится <b>12 сентября</b> в 19:00 в ауд. 419 (Главный корпус БГУ)</p>
    <p>Обязательная регистрация по ссылке: <a href="https://goo.gl/XE9C8G">https://goo.gl/XE9C8G</a></p>

  </section>
</div>


<section>
  <h2>Видеозаписи</h2>
  <h3>Текущего набора</h3>
  <iframe width="560" height="315"
          src="https://www.youtube.com/embed/ch5vXi45ttg?list=PLe--kalBDwjhni4LpATaJscPwZUudxVHS" frameborder="0"
          allowfullscreen></iframe>

</section>

<section><h1 class="event-title">Our Partners</h1>
  <ul class="partner-list">
    <li>
      <a href="http://www.epam.by/"><img src="images/partners/epam-systems.jpg" alt="epam logo"/></a>
    </li>
    <li>
      <a href="http://imaguru.co/en"><img src="images/partners/logo_guru.png" alt="imaguru logo"/></a>
    </li>
    <li>
      <a href="http://www.github.com/"><img src="images/partners/github_logo.png" alt="github logo"/></a>
    </li>
  </ul>
</section>
<% include common/footer %>
<% include common/scripts %>
</body>
</html>
