<!doctype html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <title><%= page.title %></title>
  <meta name="viewport" content="width=device-width">
  <% include common/styles %>
</head>
<body>
<% include common/browsehappy %>
<% include common/header %>

<div class="accent-section">
  <section>
    <h1 class="event-title">The Rolling Scopes School</h1>
    <div class="tile-menu">
      <a class="tile-menu-item"
         href="https://docs.google.com/spreadsheets/d/1oM2O8DtjC0HodB3j7hcIResaWBw8P18tXkOl1ymelvE/edit#gid=0"><i
          class="fa fa-calendar"
          aria-hidden="true"></i> Schedule</a>
      <a class="tile-menu-item" href="https://github.com/rolling-scopes-school/tasks"><i class="fa fa-tasks"
                                                                                         aria-hidden="true"></i>
        Tasks</a>
      <!--<a class="tile-menu-item"-->
         <!--href=""><i-->
          <!--class="fa fa-trophy" aria-hidden="true"></i> Score</a>-->
      <a target="_blank" class="tile-menu-item"
         href="https://epa.ms/padawans-2018"><i
          class="fa fa-address-card"
          aria-hidden="true"></i> RS Padawans</a>
      <a class="tile-menu-item"
         href="https://docs.google.com/forms/d/1F4NeS0oBq-CY805aqiPVp6CIrl4_nIYJ7Z_vUcMOFrQ/viewform"><i
          class="fa fa-comment-o"
          aria-hidden="true"></i> Feedback</a>
      <a class="tile-menu-item"
         href="https://github.com/rolling-scopes-school/lectures"><i
          class="fa fa-list" aria-hidden="true"></i> Course Curriculum</a>

      <a class="tile-menu-item"
         href="https://gitter.im/rolling-scopes-school/padawans"><i class="fa fa-comments" aria-hidden="true"></i>
        Chat</a>

      <a class="tile-menu-item"
         href="https://gitter.im/rolling-scopes-school/announcements"><i class="fa fa-bullhorn"
                                                                         aria-hidden="true"></i>
        Announcements</a>
    </div>
  </section>
  <section>
    <div class="tile-menu">
      <a style="font-size: 20px; color: #e5194c;" class="tile-menu-item"
         href="https://github.com/rolling-scopes-school/lectures/blob/master/lectures/intro.md"><i
          style="color: #e5194c;"
          class="fa fa-bolt"
          aria-hidden="true"></i> Информация для студентов, которые пропустили вводное занятие RS School (2018-Q1)</a>
    </div>
  </section>
</div>


<section>
  <h2>Видеозаписи</h2>
  <h3>Предыдущего набора</h3>
  <iframe height="315" style="width: 100%; max-width: 560px;"
          src="https://www.youtube.com/embed/ch5vXi45ttg?list=PLe--kalBDwjhni4LpATaJscPwZUudxVHS" frameborder="0"
          allowfullscreen></iframe>
</section>


<section><h1 class="event-title">Our Partners</h1>
  <ul class="partner-list">
    <li>
      <a href="http://www.epam.by/"><img src="images/partners/epam-systems.jpg" alt="epam logo"/></a>
    </li>
    <li>
      <a href="http://imaguru.co"><img src="images/partners/logo_guru.png" alt="imaguru logo"/></a>
    </li>
    <li>
      <a href="http://www.github.com/"><img src="images/partners/github_logo.png" alt="github logo"/></a>
    </li>
  </ul>
</section>
<section>
  <div class="enrollment-banner"><p>10 сентября 2018</p>
    <p class="enrollment-text">Новый набор RS School 2018-Q3 </p>
    <a class="enrollment-btn"
       href="https://www.eventbrite.com/e/the-rolling-scopes-school-2018-q3-introduction-tickets-43395172128">Записаться</a>
  </div>
</section>
<% include common/footer %>
<% include common/scripts %>
</body>
</html>
