<!doctype html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <title><%= page.title %></title>
  <meta name="viewport" content="width=device-width">
  <% include common/styles %>
</head>
<body>
<% include common/browsehappy %>
<% include common/header %>
<section>
  <% include common/materials %>
  <% include index/meetup-banner %>
    < % include common/register-button % >
  <h2>Agenda</h2>
  <% include common/scedule %>

  <hr style="margin-bottom: 50px;">
    < % include common/register-button % >

</section>

<% include index/venue %>
<section>
  <iframe
    src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d5979.489022208402!2d69.33523452254033!3d41.339421140356045!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x3772abeffc72e7b8!2sInha%20University%20in%20Tashkent!5e0!3m2!1sen!2spl!4v1568028950563!5m2!1sen!2spl"
    width="100%" height="400" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
</section>
<section>
  <h2 class="text-center">Our Partners</h2>
  <ul class="partner-list">
    <li>
      <a target="_blank" href="http://www.epam.by/"><img src="images/partners/epam-systems.jpg" alt="epam logo"/></a>
    </li>

  </ul>
</section>
<% include common/call-for-speakers %>

<% include common/main-nav %>
<% include common/footer %>
<% include common/scripts %>
</body>
</html>
