// bower:scss
// endbower
@import "normalize";

/*------------------------------------*\
    VARIABLES
\*------------------------------------*/
$color-white: #fff;
$color-black: #151515;

$color-link: $color-black;
$color-text: $color-black;

$color-blue: #6CD9FF;
$color-purple: #BB94FF;
$color-pink: #FC94FC;
$color-yellow: #F8EF5A;
$color-lime: #CDE525;
$color-green: #51E782;

$content-xsm: 470px;
$content-sm: 555px;
$content-md: 740px;
$content-lg: 1134px;

$height-footer: 40px;

$font-family: 'Exo 2', sans-serif;

//text sizes
$font-size-sm: 1.8rem;
$line-height-sm: 2.8rem;
$font-size-md: 2.4rem;
$line-height-md: 3.6rem;
$font-size-lg: 3.6rem;
$line-height-lg: 4.6rem;

//text sizes for mobile
$font-size-sm-mb: 1.6rem;
$line-height-sm-mb: 2.4rem;
$font-size-md-mb: 1.8rem;
$line-height-md-mb: 2.6rem;
$font-size-lg-mb: 2.4rem;
$line-height-lg-mb: 3.2rem;

//heading sizes
$font-size-h1: 7.2rem;
$line-height-h1: 8rem;
$font-size-h2: 2rem;
$line-height-h2: 3rem;
$font-size-h3: 2rem;
$line-height-h3: 3rem;

//heading sizes for mobile
$font-size-h1-mb: 3rem;
$line-height-h1-mb: 3.8rem;
$font-size-h2-mb: 2rem;
$line-height-h2-mb: 3rem;
$font-size-h3-mb: 1.8rem;
$line-height-h3-mb: 2.6rem;

// Media queries breakpoints
$screen-desktop: 1024px;
$screen-tablet: 767px;
$screen-phone: 480px;

/*------------------------------------*\
      MIXINS
\*------------------------------------*/

// border-radius
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

// transform
@mixin transform($transforms) {
  -moz-transform: $transforms;
  -o-transform: $transforms;
  -ms-transform: $transforms;
  -webkit-transform: $transforms;
  transform: $transforms;
}

// rotate
@mixin rotate($deg) {
  @include transform(rotate(#{$deg}deg));
}

// scale
@mixin scale($scale) {
  @include transform(scale($scale));
}

// translate
@mixin translate($x, $y) {
  @include transform(translate($x, $y));
}

// skew
@mixin skew($x, $y) {
  @include transform(skew(#{$x}deg, #{$y}deg));
}

//transform origin
@mixin transform-origin($origin) {
  moz-transform-origin: $origin;
  -o-transform-origin: $origin;
  -ms-transform-origin: $origin;
  -webkit-transform-origin: $origin;
  transform-origin: $origin;
}

//box-model
@mixin box-sizing($box-model) {
  -webkit-box-sizing: $box-model; // Safari <= 5
  -moz-box-sizing: $box-model; // Firefox <= 19
  box-sizing: $box-model;
}

/*------------------------------------*\
    COMMON STYLES
\*------------------------------------*/

.browserupgrade {
  margin: 0.2em 0;
  background: $color-white;
  color: $color-black;
  padding: 0.2em 0;
  border: 2px solid $color-black;
}

html {
  @include box-sizing(border-box);
}

*,
*::before,
*::after {
  @include box-sizing(inherit);
}

html {
  height: 100%;
  font-size: 10px; // for using rem
}

body {
  height: 100%;
  background: $color-black;
  padding-top: 44px;
  font-family: 'Exo 2', sans-serif;
  color: $color-text;
  font-size: 1.8rem;
  line-height: 2.8rem;
}

.page-wrap {
  background: $color-blue;
  transition: all 200ms;
  min-width: 320px;

  &.page-speakers {
    background: $color-pink;
    .btn {
      &:hover {
        color: $color-pink;
      }
    }
    & + footer {
      color: $color-pink;
    }
  }

  &.page-venue, &.page-partners {
    background: $color-green;
    & + footer {
      color: $color-green;
    }
    .btn {
      &:hover {
        color: $color-green;
      }
    }
  }

  &.page-schedule {
    background: $color-lime;
    & + footer {
      color: $color-lime;
    }
    .btn {
      &:hover, &.active {
        color: $color-lime;
      }
    }
  }

  &.page-contacts {
    background: $color-purple;
    & + footer {
      color: $color-purple;
    }
  }

  &.page-talk {
    background: $color-yellow;
    & + footer {
      color: $color-yellow;
    }
    .btn {
      &:hover {
        color: $color-yellow;
      }
    }
  }

  &.page-about, &.page-code-of-conduct {
    background: $color-blue;
    & + footer, footer {
      color: $color-blue;
    }
    .btn {
      margin: 30px 0;
      @media (max-width: 767px) {
        margin: 15px 0;
      }
      &:hover {
        color: $color-blue;
      }
    }
  }

}

.noscroll {
  overflow: hidden;
  -webkit-overflow-scrolling: auto;
}

p {
  font: #{$font-size-sm}/#{$line-height-sm} $font-family;
  margin: .5rem 0;
  @media (max-width: $screen-tablet) {
    font: #{$font-size-sm-mb}/#{$line-height-sm-mb} $font-family;
    margin: .3rem 0;
  }
}

p.text-md {
  font: #{$font-size-md}/#{$line-height-md} $font-family;
  @media (max-width: $screen-tablet) {
    font: #{$font-size-md-mb}/#{$line-height-md-mb} $font-family;
  }
}

.text-lg {
  font: bold #{$font-size-lg}/#{$line-height-lg} $font-family;
  margin: 2rem 0;
  text-transform: none;
  @media (max-width: $screen-tablet) {
    font: bold #{$font-size-lg-mb}/#{$line-height-lg-mb} $font-family;
  }
}

h1 {
  font: bold #{$font-size-h1}/#{$line-height-h1} $font-family;
  margin: 1rem 0;

  @media (max-width: $screen-tablet) {
    font: bold #{$font-size-h1-mb}/#{$line-height-h1-mb} $font-family;
  }
}

h2 {
  font: bold #{$font-size-h2}/#{$line-height-h2} $font-family;
  text-transform: uppercase;
  margin-bottom: 60px;

  @media (max-width: $screen-tablet) {
    font: bold #{$font-size-h2-mb}/#{$line-height-h2-mb} $font-family;
    margin-top: 0;
    margin-bottom: 40px;
  }

  &.text-lg {
    margin-bottom: 60px;

    @media (max-width: $screen-tablet) {
      margin-bottom: 40px;
    }
  }
}

h3 {
  font: bold normal #{$font-size-h3}/#{$line-height-h3} $font-family;
  margin: 0;

  @media (max-width: $screen-tablet) {
    font: bold #{$font-size-h3-mb}/#{$line-height-h3-mb} $font-family;
  }
}

a {
  color: $color-link;
  text-decoration: none;
  border-bottom: 1px solid $color-link;
  &:hover {
    border-bottom: none;
  }
}

iframe {
  width: 100%;
  height: 315px;
}

.bold {
  font-weight: bold !important;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.padding-top-lg {
  padding-top: 80px;
}

.padding-top-md {
  padding-top: 50px;
}

.margin-bottom-md {
  margin-bottom: 30px;
  @media (max-width: $screen-tablet) {
    margin-bottom: 15px;
  }
}

.margin-bottom-lg, h2.margin-bottom-lg {
  margin-bottom: 100px;
  @media (max-width: $screen-tablet) {
    margin-bottom: 30px;
  }
}

section {
  padding: 80px 20px;
  text-align: center;

  @media (max-width: $screen-desktop) {
    padding: 50px 20px;
  }

  &.shorted {
    padding: 40px 20px;
    text-align: left;
    &:last-child {
      padding-bottom: 120px;
      @media (max-width: $screen-tablet) {
        padding-bottom: 50px;
      }
    }
    @media (max-width: $screen-tablet) {
      padding: 20px;
    }
  }

  .content-xsm {
    max-width: $content-xsm;
  }
  .content-sm {
    max-width: $content-sm;
  }
  .content-md {
    max-width: $content-md;
  }
  .content-lg {
    max-width: $content-lg;
  }
  .content-xsm,
  .content-sm,
  .content-md,
  .content-lg {
    margin-left: auto;
    margin-right: auto;
  }
}

nav + section.shorted {
  padding-top: 80px;
  @media (max-width: $screen-tablet) {
    padding-top: 40px;
  }
}

.btn {
  background: transparent;
  display: inline-block;
  padding: 15px 50px;
  border: 2px solid $color-link;
  color: $color-link;
  font-weight: bold;
  font-size: 2rem;
  line-height: 3rem;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  transition: .6s cubic-bezier(0.77, 0.2, 0.05, 1.0);

  &:hover, &.active {
    color: $color-white;
    background-color: $color-black;
    border-bottom: 2px solid $color-link;
  }
}


.social-links {
  text-align: center;
  padding: 80px 0 40px;
  margin: 0 auto;
  li {
    display: inline-block;
  }
  a {
    border-bottom: none;
    font-size: 3rem;
    padding: 0 5px;
  }
}

blockquote {
  @media (max-width: $screen-desktop) {
    margin: 1rem 20px;
  }
}

.for-print {
  display: none;
}

.badge-spec {
  width: 100%;
  max-width: 500px;
}

/*------------------------------------*\
    ANIMATED NAVIGATION
\*------------------------------------*/
nav {
  position: fixed;
  top: 0;
  width: 100%;
  height: 44px;
  background: $color-black;
  color: $color-white;
  text-align: center;
  z-index: 1001;

  a {
    color: $color-white;
    border-bottom: 1px solid $color-white;
    &:hover {
      border-bottom: none;
    }
  }
  h2 a {
    border-bottom: none;
  }

  .social-links a {
    font-size: 2.5rem;
  }
}

/*------------------------------------*\
    HAMBURGER MENU ICON
\*------------------------------------*/

.menu-icon {
  background: $color-black;
  height: 44px;
  padding-top: 14px;
  position: absolute;
  z-index: 1;
  width: 100%;
}

.menu-icon span {
  display: block;
  width: 40px;
  height: 2px;
  margin: 0 auto 5px;
  position: relative;
  font-size: 0;
  background: $color-white;
  z-index: 1;
  @include transform-origin(4px 0);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
  background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
  opacity 0.55s ease;
}

.menu-icon span:first-child {
  @include transform-origin(0);
}

.menu-icon span:nth-child(3) {
  @include transform-origin(0 100%);
  margin-bottom: 0;
}

/*------------------------------------*\
    MENU BUTTON
\*------------------------------------*/

.menu-btn {
  display: block;
  width: 40px;
  height: 20px;
  position: absolute;
  top: 14px;
  left: 50%;
  margin-left: -20px;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
  -webkit-touch-callout: none;
}

.menu-btn:checked {
  width: 24px;
  height: 24px;
  margin-left: -16px;
}

.menu-btn:checked + .menu-icon {
  padding-left: 8px;
  height: 64px;
}

.menu-btn:checked + .menu-icon span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, 2px);
  background: #fff;
  width: 33px;
}

.menu-btn:checked + .menu-icon span:nth-child(2) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

.menu-btn:checked + .menu-icon span:nth-child(3) {
  transform: rotate(-45deg) translate(-8px, 3px);
}

/*------------------------------------*\
    MENU CONTENT
\*------------------------------------*/
.menu-wrapper {
  overflow: auto;
  position: fixed;
  -webkit-overflow-scrolling: touch;
  top: 0;
  bottom: 0;
  width: 100%;
  //min-height: 100%;
  //height: 100vh;
  color: $color-white;
  background: $color-black;
  padding: 120px 0 0;
  -webkit-font-smoothing: antialiased;
  transform: translate(0, -120%);
  transform-origin: 0 0;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);

  @media (max-width: $screen-tablet) {
    padding: 40px 0;
  }
}

.menu-btn:checked ~ .menu-wrapper {
  transform: none;
}

.menu-content {
  width: 100%;
  max-width: 1200px;
  padding: 0 30px;
  margin: auto;
  text-align: left;

  display: inline-grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  grid-template-rows: auto;
  align-content: space-between;

  grid-template-areas: "primary about venue tickets" "primary previous venue tickets" "primary previous venue social" "lang . . . ";

  ul {
    list-style: none;
    padding: 0;
  }

  h2 {
    margin: 1.5rem 0;
    text-transform: uppercase;
    font-size: 1.8rem;
    line-height: 2.8rem;
  }

  h3 {
    margin: 0;
    font-size: 1.8rem;
    line-height: 2.8rem;
  }

  p {
    font-size: 1.6rem;
    line-height: 2.4rem;
    margin: 8px 0;
  }

  img {
    width: 100%;
    max-width: 260px;
    max-height: 146px;
  }

  @media (max-width: $screen-desktop) {
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 0;
    grid-template-areas: "primary about venue" "primary previous venue" "primary tickets social" "lang . .";
  }

  @media (max-width: $screen-tablet) {
    padding: 0 70px;
    text-align: center;

    grid-template-columns: repeat(1, 100%);
    grid-row-gap: 0;
    grid-template-areas: "primary" "tickets" "previous" "lang";
  }

}

.menu-item-primary {
  grid-area: primary;
  li {
    padding: 8px 0;
    text-transform: uppercase;
    font-weight: bold;
    &:first-child {
      padding-top: 0;
    }
  }
  a {
    border-bottom: none;
  }
}

.menu-item-lang {
  grid-area: lang;

  li {
    display: inline-block;

    a {
      height: 60px;
      line-height: 56px;
      text-align: center;
      text-transform: uppercase;
      font-weight: bold;
      width: 60px;
      display: inline-block;
      border: 2px solid $color-white;
      @include border-radius(50%);
      margin: 0 16px 0 0;

      &.active {
        background: $color-white;
        color: $color-black;
      }
    }
  }
}

.menu-item-about {
  grid-area: about;
  @media (max-width: $screen-tablet) {
    display: none;
  }
}

.menu-item-previous {
  grid-area: previous;

  li {
    display: inline-block;
    padding: 0 16px 0 0;
  }

  a.active {
    border-bottom: none;
  }

  //img {
  //  @media (max-width: $screen-desktop) {
  //    display: none;
  //  }
  //}

}

.menu-item-venue {
  grid-area: venue;
  @media (max-width: $screen-tablet) {
    display: none;
  }
}

.menu-item-tickets {
  grid-area: tickets;

  .btn, .placeholder-btn {
    width: 100%;
    margin: 20px 0;
    padding: 13px 0;
    border: 2px solid $color-white;
    color: $color-white;
    font-size: 2rem;
    line-height: 3rem;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;

    &:hover {
      background: $color-white;
      color: $color-black !important;
    }
  }

  .placeholder-btn {
    cursor: default;
    &:hover {
      background: transparent;
      color: $color-white !important;
    }
  }
}

.menu-item-social {
  grid-area: social;
  .social-links {
    text-align: left;
  }

  @media (max-width: $screen-tablet) {
    display: none;
  }
}

.city-address {
  @media (max-width: $screen-tablet) {
    display: none;
  }
}

// MS Edge Browser CSS
@supports (-ms-ime-align:auto) {
  .menu-content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }

  .menu-content > div {
    width: 25%;

    @media (max-width: $screen-desktop) {
      width: 33%;
    }

    @media (max-width: $screen-tablet) {
      width: 100%;
    }
  }

  .gallery {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    > li {
      padding: 5px;
    }
  }

}

// IE10 and IE11
@media all and (-ms-high-contrast: none) {
  .menu-content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }

  .menu-content > div {
    width: 25%;

    @media (max-width: $screen-desktop) {
      width: 33%;
    }

    @media (max-width: $screen-tablet) {
      width: 100%;
    }
  }

  .gallery {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    > li {
      padding: 5px;
    }
  }

}

/*------------------------------------*\
    ANNOUNCEMENT -BLUE
\*------------------------------------*/

.announcement {
  .btn {
    margin: 30px 20px 0;
    padding: 15px 30px;
    min-width: 210px;
    &:hover {
      color: $color-blue;
    }
  }
}

/*------------------------------------*\
    SPEAKER LIST
\*------------------------------------*/
.speaker-list {
  margin: 0 0 -60px;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: stretch;
  align-content: flex-start;
  li {
    display: list-item;
    width: 25%;
    margin-bottom: 60px;
    text-align: left;

    @media (max-width: $screen-tablet) {
      width: 50%;
      margin-bottom: 30px;
      img {
        max-width: 130px;
        height: 172px;
      }
    }
  }

  img {
    max-width: 260px;
    height: 230px;
    display: inline-block;
  }

  &.shorted {
    margin: 0;
    padding: 40px 0;
    border: solid $color-black;
    border-width: 1px 0;
    li {
      width: 33%;
      padding: 0 15px;
      margin: 0;
    }
  }
}

.speaker-list + h3 {
  margin-top: 50px;
}

/*------------------------------------*\
    SPEAKER PROFILE
\*------------------------------------*/

.speaker-profile {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  img {
    width: 50%;
    margin-right: 15px;
  }
  .speaker-about {
    display: inline-block;
    width: 50%;
    text-align: left;
    margin-left: 15px;
    p.text-lg {
      margin: 0 0 20px;
    }
  }

  @media (max-width: $screen-tablet) {
    display: block;
    .speaker-about {
      display: block;
      width: 100%;
      margin: 0;
    }

  }

}

/*------------------------------------*\
    TALK INFO
\*------------------------------------*/

.talk-info {
  h2 {
    margin: 0 0 30px;
  }

  .text-md {
    padding: 10px 0 30px;
    margin: 0;
  }

  //.talk-date {
  //  border-bottom: 1px solid $color-black;
  //}

  .talk-time,
  .talk-place,
  .talk-lang {
    padding: 0 5px;
  }

  .first-stream {
    background: $color-pink;
  }
  .second-stream {
    background: $color-blue;
  }

  .talk-with {
    padding-top: 15px;
  }
}

/*------------------------------------*\
    SCHEDULE
\*------------------------------------*/

.first-day-btn,
.second-day-btn {

  transition: 0.3s;

  @include border-radius(30px);
  margin: 0 15px;

  .abbr-view {
    display: none;
  }

  @media (max-width: $screen-tablet) {

    box-sizing: content-box;
    min-width: 40px;
    padding: 10px 20px;
    margin: 0 10px;

    .abbr-view {
      display: inline;
    }
    .full-view {
      display: none;
    }
  }
}

.schedule {
  display: none;
  list-style-type: none;
  text-align: left;
  flex-wrap: wrap;
  margin: 0;
  padding: 60px 0 0;

  @media (max-width: $screen-tablet) {
    padding: 40px 0 0;
  }

  &.active {
    display: flex;
  }

  & > li {
    width: 100%;
    position: relative;
    border-bottom: 1px solid $color-black;
    padding: 35px 100px;
    @media (max-width: $screen-tablet) {
      padding: 25px 10px 25px 75px;
    }

    &:first-child {
      border-top: 1px solid $color-black;
    }

    .schedule-time {
      position: absolute;
      left: 0;
    }

    .talk-place {
      padding: 0 7px;
      margin: 0 5px;
      background: $color-pink;
    }

    &.first-stream {
      .talk-place {
        background: $color-pink;
      }
    }
    &.second-stream {
      .talk-place {
        background: $color-blue;
      }
    }

    &.first-stream,
    &.second-stream {
      @media (min-width: $screen-tablet) {
        width: 50%;
        padding-right: 25px;
      }
    }

    &.second-stream {
      @media (min-width: $screen-tablet) {
        padding-right: 0;
        padding-left: 25px;
        .schedule-time {
          display: none;
        }
      }
    }

  }
}

/*------------------------------------*\
    VENUE
\*------------------------------------*/

.img-venue {
  max-width: 560px;
  margin-bottom: 20px;
}

/*------------------------------------*\
    TWEETS
\*------------------------------------*/

.tweets-carousel {
  overflow: hidden;
  padding-bottom: 20px;
}

.tweet {
  border: 2px solid $color-black;
  margin: 10px 0;
  text-align: left;
  float: left;
  width: 100%;
  clear: both;
  .bold {
    margin-right: 5px;
  }
}

/*------------------------------------*\
    GALLERY
\*------------------------------------*/

.gallery {
  list-style: none;
  margin: 20px auto;
  padding: 0;

  display: inline-grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px;
  align-content: space-between;

  img {
    height: 175px;
    width: 100%;
    max-width: 260px;
  }

  li {
    display: inline-block;
    margin: 0;
    line-height: 0;

    &:nth-child(2),
    &:nth-child(3),
    &:nth-child(5) {
      img {
        height: 380px;
      }
    }

    &:first-child {
      grid-column: 1 / 2;
      grid-row: 1 / 2;
    }
    &:nth-child(2) {
      grid-column: 2;
      grid-row: 1 / 3;
    }
    &:nth-child(3) {
      grid-column: 3;
      grid-row: 1 / 3;
    }
    &:nth-child(4) {
      grid-column: 4;
      grid-row: 1 / 2;
    }
    &:nth-child(5) {
      grid-column: 1;
      grid-row: 2 / 4;
    }
    &:nth-child(6) {
      grid-column: 2;
      grid-row: 3 / 4;
    }
    &:nth-child(7) {
      grid-column: 3;
      grid-row: 3 / 4;
    }

  }
  a {
    display: inline-block;
    overflow: hidden;
    border-bottom: 0;
  }

  @media (max-width: $screen-tablet) {
    overflow-x: scroll;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    display: flex;
    align-items: center;

    li {
      display: inline-block;
      margin: 0;
      padding: 0 20px;
    }

    img {
      width: auto;
    }
  }
}

/*------------------------------------*\
    PARTNERS
\*------------------------------------*/
.partner-list {
  max-width: 900px;
  margin: 0 auto;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: flex-start;
  li {
    display: list-item;
    width: 20%;
    margin: 0 20px 60px;

    @media (max-width: $screen-desktop) {
      width: 30%;
    }
    @media (max-width: $screen-tablet) {
      width: 50%;
      margin: 0 0 40px;
    }
  }
  a {
    border-bottom: 0;
    display: inline-block;
    position: relative;

    &:before {
      position: absolute;
      width: 48px;
      height: 48px;
      top: -25px;
      right: -50px;
    }

    &.partner-diamond:before {
      content: url("../images/partners/diamond.svg");
    }
    &.partner-gold:before {
      content: url("../images/partners/gold.svg");
    }
    &.partner-silver:before {
      content: url("../images/partners/silver.svg");
    }
    &.partner-bronze:before {
      content: url("../images/partners/bronze.svg");
    }
    &.partner-silver.shift-left:before,
    &.partner-bronze.shift-left:before {
      right: -20px;
    }
  }
  img {
    max-width: 140px;
    width: 100%;
    @media (max-width: $screen-tablet) {
      max-width: 100px;
    }
  }

  &.starred-list li {
    width: 20%;
    padding-right: 50px;

    @media (max-width: $screen-tablet) {
      width: 50%;
      margin: 0 0 40px;
    }
  }
}


.previous-conf-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  li {
    padding: 10px 0;
    &:first-child {
      padding-top: 0;
    }
  }
}

/*------------------------------------*\
    FOOTER
\*------------------------------------*/

.page-wrap {
  min-height: 100%;
  margin-bottom: -$height-footer;
}

.page-wrap:after {
  content: " ";
  display: block;
  height: $height-footer;
}

footer {
  height: $height-footer;
  text-align: center;
  background: $color-black;
  color: $color-purple;

  p {
    font-size: 1.4rem;
    line-height: 4rem;
    margin: 0;
  }
}




/*------------------------------------*\
    MEDIA PRINT a4
\*------------------------------------*/

@media print {

  .for-print {
    display: block;
  }
  span.for-print  {
    display: inline;
  }

  nav,
  footer,
  .section-follow-us {
    display: none;
  }

  body, .page-wrap {
    padding: 0;
    background: #fff;
    font-size: 12pt;
    color: #000;
  }

  section {
    padding: 5px 0;
  }

  a:link,
  a:visited {
    color: #000;
    border: none;
  }

  .schedule {
    display: flex;
    padding-top: 0;
  }

  .schedule > li {
    display: block;
    width: 100%;
    padding: 5px 0 5px 50px;


    &.first-stream,
    &.second-stream {
        width: 50%;
        padding-right: 5px;
    }

    &.second-stream {
        padding-right: 0;
        padding-left: 5px;
        .schedule-time {
          display: none;
        }
    }

    h3 {
      margin: 0;
      font-size: 8pt;
      line-height: 10pt;
    }
    p {
      font-size: 8pt;
      line-height: 10pt;
      margin: .2rem 0;
    }
  }

  h2.text-lg {
    page-break-before: always;
    font-size: 14pt;
    line-height: 14pt;
    margin: 0 0 5px;

    & + p {
      display: none;
    }
  }

}



/*------------------------------------*\
    MEDIA PRINT a2
\*------------------------------------*/

//@media print {
//
//  .for-print {
//    display: block;
//  }
//  span.for-print  {
//    display: inline;
//  }
//
//  nav,
//  footer,
//  .section-follow-us {
//    display: none;
//  }
//
//  html {
//    background: #CDE525 !important;
//
//  }
//
//  section .content-md {
//    max-width: 100%;
//  }
//
//  body, .page-wrap {
//    padding: 0;
//    background: #CDE525 !important;
//    //font-size: 24pt;
//    color: #000;
//    width: 100%;
//  }
//
//  .page-wrap {
//    padding: 100px 100px;
//    margin: 0 auto;
//  }
//
//  section {
//    padding: 5px 0;
//  }
//
//  a:link,
//  a:visited {
//    color: #000;
//    border: none;
//  }
//
//  .schedule {
//    width: 100%;
//    display: flex;
//    padding-top: 0;
//  }
//
//  .schedule > li {
//    display: block;
//    width: 100%;
//    padding: 11px 0 11px 150px;
//
//
//    &.first-stream,
//    &.second-stream {
//      width: 55%;
//      padding-right: 20px;
//    }
//
//    &.second-stream {
//      width: 45%;
//      padding-right: 0;
//      padding-left: 20px;
//      .schedule-time {
//        display: none;
//      }
//    }
//
//    h3 {
//      margin: 0;
//      font-size: 17pt;
//      line-height: 21pt;
//    }
//    p {
//      font-size: 17pt;
//      line-height: 21pt;
//      margin: .5rem 0;
//    }
//  }
//
//  h2.text-lg {
//    page-break-before: always;
//    font-size: 28pt;
//    line-height: 48pt;
//    margin: 120px 0 30px;
//
//    & + p {
//      display: none;
//    }
//  }
//
//}
