<div class="anchor">
  <a name="day-1"> </a>
  <h2 class="day-title"><span class="date">AUG 16 - WebGL Workshop </span></h2>
</div>
<p class="text-center"><a class="register-button shorted"
                          href="https://www.eventbrite.com/e/the-rolling-scopes-summer-summit-webgl-workshop-tickets-47581232748">Free
  Registration</a></p>


<ul class="event-schedule">
  <li class="event-schedule-item"><h2 class="speech-time">19:00</h2>
    <img class="speaker-photo"
         src="images/speakers/andrei_vouchanka.jpg"
         alt="Andrei Vouchanka photo">
    <h3>WebGL Workshop</h3>
    <p class="speaker-name">Andrei Vouchanka</p>
    <p>Осваиваем "страшный" low-level GPU мир на практических примерах. Никаких Three.js, Pixi.js, whatever.js, только
      native API, только хардкор.
      Полученные больше чем за год плотной работы с WebGL знания сложились в более подробный и детальный доклад, чем
      любой другой туториал "make a window => make a triangle => make a textured box => make the rest of f#¢king engine"
      (<a target="_blank" href="https://twitter.com/Tojiro/status/973314543215521792">ссылка на оригинальный
        источник</a>).
    </p>
    <p>Workshop рассчитан на аудиторию, не имеющую никакого опыта в WebGL/OpenGL, и будет состоять из двух частей:</p>

    <ul>
      <li>Intro to WebGL from zero to somewhat above zero</li>
      <li>Livecoding популярной в App Store и Play Market игры <a target="_blank"
                                                                  href="https://play.google.com/store/apps/details?id=com.h8games.helixjump">Helix
        Jump</a></li>
    </ul>

  </li>
</ul>

<div class="anchor">
  <a name="day-2"> </a>
  <h2 class="day-title"><span class="date">AUG 17 - UX DAY </span></h2>
</div>
<p class="text-center"><a class="register-button shorted"
                          href="https://www.eventbrite.com/e/the-rolling-scopes-summer-summit-ux-day-tickets-47582264835">Free
  Registration</a></p>

<ul class="event-schedule">
  <li class="event-schedule-item"><h2 class="speech-time">19:00</h2>
    <img class="speaker-photo" src="images/speakers/dzmitry_vanitski.jpg" alt="Dzmitry Vanitski photo">
    <h3>Настало время офигительных историй </h3>
    <p class="speaker-name">Dzmitry Vanitski</p>
    <p>Я расскажу о том, какое место в работе дизайнера занимает сторителлинг. В частности остановимся на том, как
      истории помогают работать с заказчиками и проектировать лучшие интерфейсы.</p>
  </li>
</ul>

<div class="anchor">
  <a name="day-3"> </a>
  <h2 class="day-title"><span class="date">AUG 18 - NETWORKING DAY</span></h2>
</div>
<p class="text-center"><a class="register-button shorted"
                          href="https://www.eventbrite.com/e/the-rolling-scopes-summer-summit-networking-day-tickets-47582280883">Free
  Registration</a></p>


<ul class="event-schedule">

  <li class="event-schedule-item"><h2 class="speech-time">10:00</h2>
    <img class="speaker-photo" src="images/speakers/vasiliy_vanchuk.jpg" alt="Vasiliy Vanchuk photo">
    <h3>CLI для кодогенерации своими руками</h3>
    <p class="speaker-name">Vasiliy Vanchuk</p>
    <p>Паттерны написания cli приложений на примере реализации cli для нужд проекта.</p>
  </li>

  <li class="event-schedule-item"><h2 class="speech-time">10:30</h2>
    <img class="speaker-photo" src="images/speakers/anna_yakovleva.jpg" alt="Anna Yakovleva photo">
    <h3>Как говорить про повышение ЗП</h3>
    <p class="speaker-name">Anna Yakovleva</p>
    <p>TBD</p>
  </li>

  <li class="event-schedule-item">
    <h2 class="speech-time">19:00</h2>
    <img class="speaker-photo" src="images/beerjs.png" alt="beer js logo">

    <h3>BeerJS party</h3>

    <p><a target="_blank" href="https://goo.gl/maps/Z2XQjx6A6bF2">Staramiescki pivavar

    </a><br/>
      vułica Revalucyjnaja 32, Minsk </p>
  </li>

</ul>


