<div class="anchor">
  <a name="day-1"> </a>
  <h2 class="day-title"><span class="date">AUG 16 - WebGL Workshop </span></h2>
</div>
<p class="text-center"><a target="_blank" class="register-button shorted"
                          href="https://www.eventbrite.com/e/the-rolling-scopes-summer-summit-webgl-workshop-tickets-47581232748">Free
  Registration</a></p>


<ul class="event-schedule">
  <li class="event-schedule-item"><h2 class="speech-time">19:00</h2>
    <img class="speaker-photo"
         src="images/speakers/andrei_vouchanka.jpg"
         alt="Andrei Vouchanka photo">
    <h3>WebGL Workshop</h3>
    <p class="speaker-name">Andrei Vouchanka | Minsk</p>
    <p>Осваиваем "страшный" low-level GPU мир на практических примерах. Никаких Three.js, Pixi.js, whatever.js, только
      native API, только хардкор.
      Полученные больше чем за год плотной работы с WebGL знания сложились в более подробный и детальный доклад, чем
      любой другой туториал "make a window => make a triangle => make a textured box => make the rest of f#¢king engine"
      (<a target="_blank" href="https://twitter.com/Tojiro/status/973314543215521792">ссылка на оригинальный
        источник</a>).
    </p>
    <p>Workshop рассчитан на аудиторию, не имеющую никакого опыта в WebGL/OpenGL, и будет состоять из двух частей:</p>

    <ul>
      <li>Intro to WebGL from zero to somewhat above zero</li>
      <li>Livecoding популярной в App Store и Play Market игры <a target="_blank"
                                                                  href="https://play.google.com/store/apps/details?id=com.h8games.helixjump">Helix
        Jump</a></li>
    </ul>

  </li>
</ul>

<div class="anchor">
  <a name="day-2"> </a>
  <h2 class="day-title"><span class="date">AUG 17 - UX DAY </span></h2>
</div>
<p class="text-center"><a target="_blank" class="register-button shorted"
                          href="https://www.eventbrite.com/e/the-rolling-scopes-summer-summit-ux-day-tickets-47582264835">Free
  Registration</a></p>

<ul class="event-schedule">
  <li class="event-schedule-item"><h2 class="speech-time">19:00</h2>
    <img class="speaker-photo" src="images/speakers/dzmitry_vanitski.jpg" alt="Dzmitry Vanitski photo">
    <h3>Настало время офигительных историй </h3>
    <p class="speaker-name">Dzmitry Vanitski | Minsk</p>
    <p>Я расскажу о том, какое место в работе дизайнера занимает сторителлинг. В частности остановимся на том, как
      истории помогают работать с заказчиками и проектировать лучшие интерфейсы.</p>
  </li>
</ul>

<div class="anchor">
  <a name="day-3"> </a>
  <h2 class="day-title"><span class="date">AUG 18 - NETWORKING DAY</span></h2>
</div>
<p class="text-center"><a target="_blank" class="register-button shorted"
                          href="https://www.eventbrite.com/e/the-rolling-scopes-summer-summit-networking-day-tickets-47582280883">Free
  Registration</a></p>


<ul class="event-schedule">

  <!--<li class="event-schedule-item">-->
  <!--<h2 class="speech-time">13:30</h2>-->
  <!--<h3>TBD</h3>-->
  <!--<p>TBD</p>-->
  <!--</li>-->

  <li class="event-schedule-item"><h2 class="speech-time">14:10</h2>
    <img class="speaker-photo" src="images/speakers/vasiliy_vanchuk.jpg" alt="Vasiliy Vanchuk photo">
    <h3>CLI для кодогенерации своими руками</h3>
    <p class="speaker-name">Vasiliy Vanchuk | Minsk</p>
    <p>Паттерны написания cli приложений на примере реализации cli для нужд проекта.</p>
  </li>

  <li class="event-schedule-item"><h2 class="speech-time">14:40</h2>
    <img class="speaker-photo" src="images/speakers/anna_yakovleva.jpg" alt="Anna Yakovleva photo">
    <h3>Как говорить про повышение ЗП</h3>
    <p class="speaker-name">Anna Yakovleva | Minsk</p>
    <p>TBD</p>
  </li>

  <li class="event-schedule-item"><h2 class="speech-time">15:00</h2>
    <img class="speaker-photo" src="images/speakers/rolling_scopes.jpg" alt="Rolling Scopes photo">
    <h3 class="capitalized">KostilJS</h3>
    <p class="speaker-name">Vladimir Galushko, Maxim Shastel | Minsk</p>
    <p>Каждый на проекте встречался с "изящными решениями", которые вызывают улыбку или недоумение. Мы решили собрать
      самые интересные решения с наших проектов в одной библиотеке, чтобы каждый мог поставить себе и наслаждаться.</p>
  </li>

  <li class="event-schedule-item">
    <h2 class="speech-time">15:20</h2>

    <h3><i class="fa fa-coffee"></i> Coffee break (20 min)</h3>
  </li>

  <li class="event-schedule-item">
    <h2 class="speech-time">15:40</h2>
    <img class="speaker-photo" src="images/speakers/vitali_haradkou.jpg" alt="Vitali Haradkou photo">
    <h3 class="capitalized">Be GODLIKE. Reflection and Metadata</h3>
    <p class="speaker-name">Vitali Haradkou | Mogilev</p>
    <p>Рефлеския и метадата в JS. Какое место они занимают в жизни frontend/fullstack разработчика. Познакомимся с
      техниками их написания, best practicies и опыт их использования на реальных проектах.</p>
  </li>

  <li class="event-schedule-item">
    <h2 class="speech-time">16:00</h2>
    <img class="speaker-photo" src="images/speakers/anton_hlynovskiy.jpg" alt="Anton Hlynovskiy photo">
    <h3>WebGL + WebAssembly: только лоу-левел, только хардкор!</h3>

    <p class="speaker-name">Антон Хлыновский | Ростов-на-Дону, РФ</p>
    <p>WebGL и WebAssembly сложны и непонятны, поэтому для работы с ними нужны абстракции и утилиты... Или нет?
    </p>
    <p>Мы заглянем «под капот» этих технологий и напишем несложную графическую демку, используя только низкоуровневое
      API. И убедимся, что не так страшен чёрт, как его малюют!
    </p>
  </li>

  <li class="event-schedule-item">
    <h2 class="speech-time">16:40</h2>

    <h3><i class="fa fa-coffee"></i> Coffee break (20 min)</h3>
  </li>

  <li class="event-schedule-item">
    <h2 class="speech-time">17:00</h2>
    <img class="speaker-photo" src="images/speakers/vitali_novikau.jpg" alt="Vitali Novikau photo">
    <h3>Что если разработчик решил (заставили) сделать дизайн</h3>
    <p class="speaker-name">Vitali Novikau | Minsk</p>
    <p>Наверняка, многим из вас, доводилось на прямую сталкиваться с дизайном. Если вы пытались рисовать макет
      самостоятельно, дизайнер отсутствовал на проекте, приходилось доделывать проект по шаблону и т.д. Я расскажу о
      том, как правильно сделать дизайн, который будет по настоящему рабочим! Никаких платных тулов, никаких замудренных
      дизайнерских штучек. Все максимально просто и главное - эффективно. Приходите, будет интересно!</p>
  </li>

  <li class="event-schedule-item">
    <h2 class="speech-time">17:30</h2>
    <img class="speaker-photo" src="images/speakers/pavel_liber.jpg" alt="Pavel Liber photo">
    <h3>Истории неуспеха</h3>
    <p class="speaker-name">Pavel Liber | Minsk </p>
    <p>Павел Либер, глава Front-end/Mobile/Design подразделений EPAM в СНГ.</p>
    <p>TBD</p>
  </li>


  <li class="event-schedule-item">
    <h2 class="speech-time">19:00</h2>
    <img class="speaker-photo" src="images/beerjs.png" alt="beer js logo">

    <h3>BeerJS party</h3>

    <p><a target="_blank" href="https://goo.gl/maps/Z2XQjx6A6bF2">Staramiescki pivavar

    </a><br/>
      vułica Revalucyjnaja 32, Minsk </p>
  </li>

</ul>


