<div class="anchor">
  <a name="day-1"> </a>
  <h2 class="day-title"><span class="date">AUG 16 - WebGL Workshop </span></h2>
</div>
<p class="text-center"><a target="_blank" class="register-button shorted"
                          href="https://www.eventbrite.com/e/the-rolling-scopes-summer-summit-webgl-workshop-tickets-47581232748">Регистрация
  на воркшоп</a></p>


<ul class="event-schedule">
  <li class="event-schedule-item"><h2 class="speech-time">19:00</h2>
    <img class="speaker-photo"
         src="images/speakers/andrei_vouchanka.jpg"
         alt="Andrei Vouchanka photo">
    <h3 class="capitalized">WebGL Воркшоп</h3>
    <p class="speaker-name">Андрпей Волченко | Минск</p>
    <p>Осваиваем "страшный" low-level GPU мир на практических примерах. Никаких Three.js, Pixi.js, whatever.js, только
      native API, только хардкор.
      Полученные больше чем за год плотной работы с WebGL знания сложились в более подробный и детальный доклад, чем
      любой другой туториал "make a window => make a triangle => make a textured box => make the rest of f#¢king engine"
      (<a target="_blank" href="https://twitter.com/Tojiro/status/973314543215521792">ссылка на оригинальный
        источник</a>).
    </p>
    <p>Воркшоп рассчитан на аудиторию, не имеющую никакого опыта в WebGL/OpenGL, и будет состоять из двух частей:</p>

    <ul>
      <li>Intro to WebGL from zero to somewhat above zero</li>
      <li>Livecoding популярной в App Store и Play Market игры <a target="_blank"
                                                                  href="https://play.google.com/store/apps/details?id=com.h8games.helixjump">Helix
        Jump</a></li>
    </ul>

  </li>
</ul>

<div class="anchor">
  <a name="day-2"> </a>
  <h2 class="day-title"><span class="date">AUG 17 - UX DAY </span></h2>
</div>
<p class="text-center"><a target="_blank" class="register-button shorted"
                          href="https://www.eventbrite.com/e/the-rolling-scopes-summer-summit-ux-day-tickets-47582264835">Регистрация
  на 2-ой день</a></p>

<ul class="event-schedule">
  <li class="event-schedule-item"><h2 class="speech-time">19:00</h2>
    <img class="speaker-photo" src="images/speakers/dzmitry_vanitski.jpg" alt="Dzmitry Vanitski photo">
    <h3>Настало время офигительных историй </h3>
    <p class="speaker-name">Дмитрий Ванитский | Минск</p>
    <p>Я расскажу о том, какое место в работе дизайнера занимает сторителлинг. В частности остановимся на том, как
      истории помогают работать с заказчиками и проектировать лучшие интерфейсы.</p>
  </li>
  <li class="event-schedule-item"><h2 class="speech-time">19:30</h2>
    <img class="speaker-photo" src="images/speakers/svetlana_jeltok.jpg" alt="Svetlana Jeltok photo">
    <h3>Истории из жизни дизайнера</h3>
    <p class="speaker-name">Светлана Желток | Минск</p>
    <p>Несколько кейс-стади, которые будут полезны дизайнерам.</p>
  </li>
</ul>

<div class="anchor">
  <a name="day-3"> </a>
  <h2 class="day-title"><span class="date">AUG 18 - NETWORKING DAY</span></h2>
</div>
<p class="text-center"><a target="_blank" class="register-button shorted"
                          href="https://www.eventbrite.com/e/the-rolling-scopes-summer-summit-networking-day-tickets-47582280883">Регистрация
  на 3-ий день</a></p>


<ul class="event-schedule">

  <!--<li class="event-schedule-item">-->
  <!--<h2 class="speech-time">13:30</h2>-->
  <!--<h3>TBD</h3>-->
  <!--<p>TBD</p>-->
  <!--</li>-->

  <li class="event-schedule-item"><h2 class="speech-time">14:30</h2>
    <img class="speaker-photo" src="images/speakers/vasiliy_vanchuk.jpg" alt="Vasiliy Vanchuk photo">
    <h3>CLI для кодогенерации своими руками</h3>
    <p class="speaker-name">Василий Ванчук | Минск</p>
    <p>Паттерны написания cli приложений на примере реализации cli для нужд проекта.</p>
  </li>

  <!--<li class="event-schedule-item"><h2 class="speech-time">14:40</h2>-->
    <!--<img class="speaker-photo" src="images/speakers/anna_yakovleva.jpg" alt="Anna Yakovleva photo">-->
    <!--<h3>Как говорить про повышение ЗП</h3>-->
    <!--<p class="speaker-name">Анна Яковлева | Минск</p>-->
    <!--<p>TBD</p>-->
  <!--</li>-->

  <li class="event-schedule-item"><h2 class="speech-time">15:00</h2>
    <img class="speaker-photo" src="images/speakers/rolling_scopes.jpg" alt="Rolling Scopes photo">
    <h3 class="capitalized">KostilJS</h3>
    <p class="speaker-name">Владимир Голушко, Максим Шастель| Минск</p>
    <p>Каждый на проекте встречался с "изящными решениями", которые вызывают улыбку или недоумение. Мы решили собрать
      самые интересные решения с наших проектов в одной библиотеке, чтобы каждый мог поставить себе и наслаждаться.</p>
  </li>

  <li class="event-schedule-item">
    <h2 class="speech-time">15:20</h2>

    <h3><i class="fa fa-coffee"></i> Кофе пауза (20 мин)</h3>
  </li>

  <li class="event-schedule-item">
    <h2 class="speech-time">15:40</h2>
    <img class="speaker-photo" src="images/speakers/vitali_haradkou.jpg" alt="Vitali Haradkou photo">
    <h3 class="capitalized">Be GODLIKE. Reflection and Metadata</h3>
    <p class="speaker-name">Виталий Городков | Могилев</p>
    <p>Рефлеския и метадата в JS. Какое место они занимают в жизни frontend/fullstack разработчика. Познакомимся с
      техниками их написания, best practicies и опыт их использования на реальных проектах.</p>
  </li>

  <li class="event-schedule-item">
    <h2 class="speech-time">16:00</h2>
    <img class="speaker-photo" src="images/speakers/anton_hlynovskiy.jpg" alt="Anton Hlynovskiy photo">
    <h3>WebGL + WebAssembly: только лоу-левел, только хардкор!</h3>

    <p class="speaker-name">Антон Хлыновский | Ростов-на-Дону, РФ</p>
    <p>WebGL и WebAssembly сложны и непонятны, поэтому для работы с ними нужны абстракции и утилиты... Или нет?
    </p>
    <p>Мы заглянем «под капот» этих технологий и напишем несложную графическую демку, используя только низкоуровневое
      API. И убедимся, что не так страшен чёрт, как его малюют!
    </p>
  </li>

  <li class="event-schedule-item">
    <h2 class="speech-time">16:40</h2>

    <h3><i class="fa fa-coffee"></i> Кофе пауза (20 мин)</h3>
  </li>

  <li class="event-schedule-item">
    <h2 class="speech-time">17:00</h2>
    <img class="speaker-photo" src="images/speakers/vitali_novikau.jpg" alt="Vitali Novikau photo">
    <h3>Что если разработчик решил (заставили) сделать дизайн</h3>
    <p class="speaker-name">Виталий Новиков | Минск</p>
    <p>Наверняка, многим из вас, доводилось на прямую сталкиваться с дизайном. Если вы пытались рисовать макет
      самостоятельно, дизайнер отсутствовал на проекте, приходилось доделывать проект по шаблону и т.д. Я расскажу о
      том, как правильно сделать дизайн, который будет по настоящему рабочим! Никаких платных тулов, никаких замудренных
      дизайнерских штучек. Все максимально просто и главное - эффективно. Приходите, будет интересно!</p>
  </li>

  <li class="event-schedule-item">
    <h2 class="speech-time">17:30</h2>
    <img class="speaker-photo" src="images/speakers/pavel_liber.jpg" alt="Pavel Liber photo">
    <h3>Истории неуспеха</h3>
    <p class="speaker-name">Павел Либер | Минск </p>
    <p>Павел Либер, глава Front-end/Mobile/Design подразделений EPAM в СНГ, расскажет, какие необычные задачи
      приходилось решать в последнее время... и невсегда успешно.</p>
  </li>

  <li class="event-schedule-item">
    <h2 class="speech-time">18:00</h2>
    <img class="speaker-photo" src="images/speakers/mikita_zenchanka.jpg" alt="Mikita Zenchanka photo">
    <h3>Исследование в реальном времени “Взгляд на будущее в IT образовании”</h3>
    <p class="speaker-name">Никита Зенченко | Минск </p>
    <p>Если вы слышали про сервис-дизайн, то знаете, что исследование продукта или сервиса может занимать два или три
      месяца. Мы решили сделать эксперимент и провести такое исследование всего за ОДИН ДЕНЬ!</p>

    <p> В течение дня мы вместе с вами будем исследовать проблемы и придумывать их решения, а в вечернем докладе
      расскажем о результатах и представим наш взгляд на IT образование в будущем.</p>
  </li>

  <li class="event-schedule-item">
    <h2 class="speech-time">19:00</h2>
    <img class="speaker-photo" src="images/beerjs.png" alt="beer js logo">

    <h3 class="capitalized">BeerJS party</h3>

    <p><a target="_blank" href="https://goo.gl/maps/Z2XQjx6A6bF2">Староместный пивовар

    </a><br/>
      улица Революционная 32, Минск </p>
  </li>

</ul>


