<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=7" />

<link href="ui/css/base/reset.css" rel="stylesheet" type="text/css" />
<link href="ui/css/base/general.css" rel="stylesheet" type="text/css" />

<link href="ui/css/footer.css" rel="stylesheet" type="text/css" />

<title>Footer</title>
</head>

<body>

	<div class="siteBody">
		Content <br /><br /><br /><br /><br /><br />
		Content <br /><br /><br /><br /><br /><br />
		Content <br /><br /><br /><br /><br /><br />
		Content <br /><br /><br /><br /><br /><br />
		Content <br /><br /><br /><br /><br /><br />
		Content
		
		<div class="forFooter"><!-- --></div>
	</div><!-- .siteBody -->
	<div class="siteFooter">
		Footer
	</div>

</body>
</html>
