<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=7" />

<link href="ui/css/base/reset.css" rel="stylesheet" type="text/css" />
<link href="ui/css/base/general.css" rel="stylesheet" type="text/css" />

<title>Index</title>
</head>

<body>

	<div class="body">
		<h1>Examples:</h1>
		
		<ol class="menuList">
			<li><a href="ie-bugs.html">IE Bugs</a></li>
			<li><a href="float.html">Float</a></li>
			<li><a href="footer.html">Footer at the bottom</a></li>
			<li><a href="buttons.html">Buttons</a></li>
			<li><a href="corners.html">Corners</a></li>
			<li><a href="transparent-block.html">Transparent block</a></li>
			<li><a href="catalog-items.html">Catalog items. Vertical align middle in div.</a></li>
		</ol>
	</div><!-- .body -->

</body>
</html>
