<ul class="event-schedule">

    <li class="event-schedule-item">
        <h2 class="speech-time">15:00</h2>


        <div class="first-stream first-stream-mark">
            <img class="speaker-photo" src="images/speakers/maria_putyrskaya.jpg">

            <h3>Азбука HTML и CSS, или как научить толпу людей верстать</h3>

            <p class="speaker-name">Мария Путырская</p>

            <p>Хотелось бы рассказать, как мы делали для Rolling Scopes School курс верстки и что из этого вышло.
                Поговорим о программе, планировании, тасках, о том, чему и как надо научить и при этом не сойти с ума,
                проверяя по 50 одинаковых домашних работ. Поделюсь набитыми шишками и интересными идеями.</p>

        </div>

        <div class="second-stream second-stream-mark">
            <img class="speaker-photo" src="images/speakers/siarhei_melnik.jpg">

            <h3>Cycle.js</h3>

            <p class="speaker-name">Сергей Мельник</p>

            <p>TBD</p>
        </div>
    </li>
    <li class="event-schedule-item">
        <h2 class="speech-time">15:30</h2>

        <div class="first-stream first-stream-mark">

            <img class="speaker-photo" src="images/speakers/Ales_Tsvil.jpg">

            <h3>Angular-Material in Practice</h3>

            <p class="speaker-name">Алесь Цвиль</p>

            <p>В докладе речь пойдет об опыте использования Angular-Material. Рассмотрим основные компоненты, директивы
                и сервисы, а также некоторые рецепты интеграции Angular-Material с готовым AngularJS приложением.
                Затронем также некоторые известные проблемы.</p>
        </div>

        <div class="second-stream second-stream-mark">
            <img class="speaker-photo"
                 src="images/speakers/Ruslan_Panasiuk.jpg">

            <h3>Некоторые алгоритмы и структуры для обработки строковых данных</h3>

            <p class="speaker-name">Руслан Панасюк</p>

            <p>Вероятно, от темы этого доклада так и веет университетским академизмом, но у нее, на самом деле,
                множество вариантов прикладного использования, которые находят применение в самых разнообразных
                областях, начиная от поиска и сравнения слов и заканчивая обработкой запросов на естественных языках и
                Data Mining'ом. В своем докладе я расскажу и покажу некоторые алгоритмы и структуры с примерами их
                использования, а также рассмотрю библиотеку для работы с естественным языками - natural.js.</p>
        </div>
    </li>

    <li class="event-schedule-item">
        <h2 class="speech-time">16:00</h2>

        <h3><i class="fa fa-coffee" aria-hidden="true"></i> Coffee break (20 min)</h3>
    </li>

    <li class="event-schedule-item">
        <h2 class="speech-time">16:20</h2>

        <div class="first-stream first-stream-mark">

            <img class="speaker-photo" src="images/speakers/Aliaksei_Kharchykau.jpg">

            <h3>TypeScript: application-scale JavaScript.</h3>

            <p class="speaker-name">Алексей Харчиков</p>

            <p>С каждым годом JavaScript растет, но масштабируемость до сих пор остается одним из его слабых мест.
                Рассмотрим один из вариантов решения этой проблемы.</p>
        </div>
        <div class="second-stream second-stream-mark">
            <img class="speaker-photo"
                 src="images/speakers/ivan_sialitski.jpg">

            <h3>Semantic Web: на чем сторится «smart» web</h3>

            <p class="speaker-name">Иван Селицкий</p>

            <p>В данном докладе я расскажу о техннологии Semantic Web: какие проблемы она призвана решить и каким
                образом она позволяет это делать, а также, как данную технологию применяют такие лидеры в работе с
                контентом, как Google и Facebook.</p>
        </div>
    </li>

    <li class="event-schedule-item">
        <h2 class="speech-time">16:50</h2>

        <div class="first-stream first-stream-mark">

            <img class="speaker-photo" src="images/speakers/Aliaksei_Rabchanka.jpg">

            <h3>Как подружить JAVA сервер-сайд разработчика с JASMINE</h3>

            <p class="speaker-name">Алексей Рябченко</p>

            <p>В докладе пойдет речь о довольно интересном опыте применения BDD фреймворка Jasmine в команде JAVA
                сервер-сайд разработчиков. Рассмотрим, чем фронт-енд разработчик может быть полезен такой команде.</p>
        </div>
        <div class="second-stream second-stream-mark">
            <img class="speaker-photo"
                 src="images/speakers/Uladzislau_Harbachou.jpg">

            <h3>Статическая типизация с Flow and Typescript</h3>

            <p class="speaker-name">Владислав Горбачев</p>

            <p>Как получить преимущество от статической типизации в React с помощью Flow и Typescript. Flow предназначен
                для статической проверки типов и для работы с React. Интеграция TypeScript более сложная и мы разберем
                такие проблемы, как система интеграции классов(Class System Integration) и JSX.</p>
        </div>
    </li>

    <li class="event-schedule-item">
        <h2 class="speech-time">17:20</h2>

        <h3><i class="fa fa-coffee" aria-hidden="true"></i> Coffee break (20 min)</h3>
    </li>

    <li class="event-schedule-item">
        <h2 class="speech-time">17:40</h2>

        <div class="first-stream first-stream-mark">

            <img class="speaker-photo" src="images/speakers/paul_yuhnovich.jpg">

            <h3>Creating VR web</h3>

            <p class="speaker-name">Павел Юхнович</p>

            <p>Взглянем на Virtual Reality с другой стороны - оценим перспективы развития, возможные сложности и, куда
                уж без них, подводные камни виртуальной реальности. Ну а затем шаг за шагом разберем процесс создания VR
                Web.</p>
        </div>
        <div class="second-stream second-stream-mark">
            <img class="speaker-photo"
                 src="images/speakers/Zhanna_Lud.jpg">

            <h3>Самые распространенные лайфхаки фронтенд разработчика, или как делать свою работу быстрее и проще</h3>

            <p class="speaker-name">Жанна Луд</p>

            <p>Рассмотрим самые известные и проверенные практики фронт-енд разработчиков, способные существенно
                облегчить и структурировать работу, известнейшие лайфхаки и трики, а также некоторые выводы, сделанные
                на основании собственного опыта.</p>
        </div>
    </li>

    <li class="event-schedule-item">
        <h2 class="speech-time">18:10</h2>
        <img class="speaker-photo" src="images/speakers/cowboy.jpg">

        <h3>CSS QuickDraw Gomel</h3>

        <p>Для тех, кто был участником RSConf, все знакомо: нужно с помощью CSS селекторов находить заданные элементы в
            тексте. При этом важны будут не только правильность, оптимальность, но и время выполнения запросов. Так что
            не забудьте взять свои ноутбуки. И пусть победит быстрейший ;)</p>
    </li>

    <li class="event-schedule-item">
        <h2 class="speech-time">20:00</h2>
        <img class="speaker-photo" src="images/bottles.jpg">

        <h3>Beer.css party</h3>

        <p><a target="_blank" href="https://goo.gl/maps/9KWpmSqSKww"> CINEMA CLUB HOLLYWOOD </a><br/>
            г. Гомель, ул. Коммунаров, 4 </p>
    </li>
</ul>







