<section>
    <h1 class="event-title">The Rolling Scopes Summer Summit</h1>

    <div class="event-info">
        <div class="event-date">3-4 июня 2016</div>
        <div class="event-location"><i class="fa fa-map-marker"></i> <a target="_blank" href="http://imaguru.co/ru">imaguru.co</a>
        </div>
    </div>

    <% include ../../common/register-button %>

    <h1>Афиша</h1>

    <h2 class="day-number"> 3 июня </h2>

    <ul class="event-schedule">

        <li class="event-schedule-item">
            <h2 class="speech-time">18:30</h2>

            <h3><i class="fa fa-coffee" aria-hidden="true"></i> Сбор участников</h3>
        </li>
        <li class="event-schedule-item">
            <h2 class="speech-time">19:00</h2>


            <div class="first-stream first-stream-mark">
                <img class="speaker-photo" src="images/speakers/nataliya_karatkova.jpg">

                <h3>Постигаем CSS Grid Layout</h3>

                <p class="speaker-name">Наталия Короткова</p>

                <p>Современный дизайн заставляет нас ломать голову над основной разметкой страницы. Благодаря
                    спецификации CSS
                    Grid Layout, скоро всё изменится!</p>

            </div>

            <div class="second-stream second-stream-mark">
                <img class="speaker-photo" src="images/speakers/anna_shiryaeva.jpg">

                <h3>Кто-то читает тексты в мобильной игре? Опыт World of Tanks Blitz и при чём здесь UX.</h3>

                <p class="speaker-name">Анна Ширяева</p>
                <ul>
                    <li>Текст в мобильной игре/приложении: какой и зачем?</li>
                    <li>Работа с текстом в WoT Blitz: как мы придумали процесс и принципы - и почему они нам нравятся;
                    </li>
                    <li>Принципы работы с текстом в WoT Blitz: унификация,рефакторинг, локализации;</li>
                    <li>Ну и при чём здесь UX?</li>
                    <li>Полезные советы.</li>
                </ul>
            </div>
        </li>
        <li class="event-schedule-item">
            <h2 class="speech-time">19:30</h2>

            <div class="first-stream first-stream-mark">
                <img class="speaker-photo" src="images/speakers/stanislau_zubovich.jpg">

                <h3>How to FAIL Web Accessibility</h3>

                <p class="speaker-name">Станислав Зубович</p>

                <p>Ошибки, заблуждения, мелочи, и просто глупые аспекты современной веб-доступности</p></div>

            <div class="second-stream second-stream-mark">
                <img class="speaker-photo"
                     src="images/speakers/kseniya_koltun.jpg">

                <h3>Контекст! Контекст! Контекст!</h3>

                <p class="speaker-name">Ксения Колтун</p>

                <p>Эта тема про все более и более актуальную часть дизайна, но, к сожалению, часто оставленную без
                    должного
                    внимания, про пользовательский контекст. Во времена, когда мы научились (почти) справляться с
                    адаптивным
                    дизайном, наша следующая задача как отрасли - создание интеллектуальных продуктов, которые
                    адаптируются под
                    контекст использования.</p>
            </div>
        </li>

        <li class="event-schedule-item second-stream-mark">
            <h2 class="speech-time">20:00</h2>

            <h3><i class="fa fa-coffee" aria-hidden="true"></i> Coffee break (20 min)</h3>
        </li>

        <li class="event-schedule-item second-stream-mark">
            <h2 class="speech-time">20:20</h2>
            <img class="speaker-photo" src="images/speakers/anastasiya_shpakava.jpg">

            <h3>Best UI Design Practices. UI Patterns</h3>

            <p class="speaker-name">Анастасия Шпакова</p>

            <p>Как создать продукт, понятный пользователю? Как создать интерфейс, соответствующий ожиданиям
                пользователя? Не
                всегда есть возможность исследовать целевую аудиторию, поэтому мы поговорим о том, что мы можем сделать
                без
                UX-исследований, а точнее — о том, почему стоит придерживаться UI-паттернов и как правильно их
                выбирать.</p>
        </li>
        <li class="event-schedule-item second-stream-mark">
            <h2 class="speech-time">20:40</h2>
            <img class="speaker-photo" src="images/speakers/viktoryia_rylkova.jpg">

            <h3>"Не иди за мной, я сам потерялся" или что такое UX исследования, и зачем они нужны</h3>

            <p class="speaker-name">Виктория Рылькова</p>

            <p>Как человек научился измерять сам себя: социальные исследования. Основные методы UX-исследований. Почему
                мы
                заблуждаемся, когда думаем, что можем предугадать желания пользователей. И просто немного интересного о
                нас, о
                людях.</p>
        </li>

        <li class="event-schedule-item">
            <h2 class="speech-time">21:30</h2>
            <img class="speaker-photo" src="images/bottles.jpg">

            <h3>Beer.css party</h3>

            <p>Place: TBD</p>
        </li>

    </ul>

    <h2 class="day-number"> 4 июня</h2>
    <ul class="event-schedule">
        <li class="event-schedule-item">
            <h2 class="speech-time">13:30</h2>

            <h3><i class="fa fa-coffee" aria-hidden="true"></i> Сбор участников</h3>
        </li>

        <li class="event-schedule-item">
            <h2 class="speech-time">14:00</h2>

            <div class="first-stream first-stream-mark">
                <img class="speaker-photo" src="images/speakers/egor_malkevich.jpg">

                <h3>Голая правда про браузер, загрузку файлов. UX при работе с ненормальным количеством файликов в
                    браузере.</h3>

                <p class="speaker-name">Егор Малкевич</p>

                <p>Поговорим про техническую сторону загрузки файлов, узнаем ограничения, приемы борьбы с пользователем.
                    Обсудим ненормальные сценарии и рассмотрим альтернативные хипстерские подходы к решению дедовских
                    проблем.</p></div>

            <div class="second-stream second-stream-mark">
                <img class="speaker-photo" src="images/speakers/vitali_fokin.jpg">

                <h3>Выжимаем максимум из React.js</h3>

                <p class="speaker-name">Виталий Фокин</p>

                <p>Рассмотрим, как оптимизировать SPA, написанный с использованием React.js</p>
            </div>
        </li>

        <li class="event-schedule-item">
            <h2 class="speech-time">14:40</h2>

            <div class="first-stream first-stream-mark">

                <img class="speaker-photo" src="images/speakers/alexander_orgish.jpg">

                <h3>Безусловное программирование</h3>

                <p class="speaker-name">Александр Оргиш</p>

                <p>Можно ли писать программу без ветвлений? Так ли обязательны условия для алгоритмов fizz-buzz и
                    крестики-нолики? Попробуем научиться мыслить &laquo;прямолинейно&raquo;.</p>
            </div>

            <div class="second-stream second-stream-mark">
                <img class="speaker-photo" src="images/speakers/peter_dodev.jpg">

                <h3>Living the GNU/Linux Dream</h3>

                <p class="speaker-name">Петар Додев</p>

                <p>Уже много лет я увлекаюсь Линуксом и FOSS. Сейчас в составе команды Яндекс.Карт я разрабатываю
                    приложения,
                    которыми пользуются миллионы пользователей ежедневно. В докладе я расскажу о том, как разработчики
                    Яндекс.Карт
                    используют Node.js в сочетании с утилитами GNU/Linux для разработки, деплоя, поддержки и мониторинга
                    серверных
                    приложений, работающих под большой нагрузкой.</p>

            </div>
        </li>

        <li class="event-schedule-item second-stream-mark">
            <h2 class="speech-time">15:20</h2>
            <img class="speaker-photo" src="images/speakers/andrey_voroshkov.jpg">

            <h3>Гонки дронов: спорт для гиков.</h3>

            <p class="speaker-name">Андрей Ворошков</p>

            <p>Очень кратко о гонках дронов - свежем виде спорта и хобби. Живой гоночный дрон и другое оборудование
                (демо
                без полетов). Завлекательные видео, ответы на вопросы - в избытке.</p>
        </li>
        <li class="event-schedule-item second-stream-mark">
            <h2 class="speech-time">15:40</h2>

            <h3><i class="fa fa-coffee" aria-hidden="true"></i> Coffee break (30 min)</h3>
        </li>
        <li class="event-schedule-item">
            <h2 class="speech-time">16:10</h2>


            <div class="first-stream first-stream-mark">
                <img class="speaker-photo" src="images/speakers/paul_yuhnovich.jpg">

                <h3>Welcome to V/A/M R.</h3>

                <p class="speaker-name">Paul Yuhnovich</p>

                <p>Что же кроется за этими тремя буквами VAM? Как мы к такому пришли? Что на самом деле сейчас
                    происходит в
                    мире
                    VR? Зачем вообще идти в VR, если здесь тепло и есть печеньки?</p></div>

            <div class="second-stream second-stream-mark">

                <img class="speaker-photo" src="images/speakers/viktor_khomyakov.jpg">

                <h3>Code review</h3>

                <p class="speaker-name">Виктор Хомяков</p>

                <p>Часто встречающиеся ошибки на основе анализа реального production-кода.</p>
            </div>


        </li>
        <li class="event-schedule-item">
            <h2 class="speech-time">16:55</h2>

            <div class="first-stream first-stream-mark">
                <img class="speaker-photo" src="images/speakers/dzianis_sheka.jpg">

                <h3>Blend4Web: нативные врата в мир WebGL</h3>

                <p class="speaker-name">Денис Шеко</p>

                <p>Краткий обзор возможностей фреймворка blend4web по мотивам первой конференции blend4web в Москве.
                    Стек
                    WebGL
                    сейчас, конкуренты и что дает нам opensource. А также другие модные слова: WebVR, Gamepad API, WebGL
                    2.0.</p>
            </div>

            <div class="second-stream second-stream-mark">

                <img class="speaker-photo" src="images/speakers/vsevolod.jpg">

                <h3>API Панорам</h3>

                <p class="speaker-name">Всеволод Шмыров</p>

                <p>В докладе пойдет речь про недавнее большое обновление API Яндекс.Карт. А именно об API Панорам. При
                    помощи
                    этого API теперь есть возможность встроить себе на сайт Панорамы улиц Яндекса. Аналогично при помощи
                    API
                    Панорам можно отображать собственные панорамы.</p>
            </div>
        </li>

        <li class="event-schedule-item  second-stream-mark">
            <h2 class="speech-time">17:25</h2>

            <h3><i class="fa fa-coffee" aria-hidden="true"></i> Coffee break (25 min)</h3>
        </li>
        <li class="event-schedule-item">
            <h2 class="speech-time">17:50</h2>


            <div class="first-stream first-stream-mark">

                <img class="speaker-photo" src="images/speakers/double.jpg">

                <h3>Кроссбраузерность в Blend4Web</h3>

                <p class="speaker-name">Константин Хомяков, Роман Семенцов</p>

                <p>Разберем различия реализаций WebGL во всевозможных десктопных и мобильных браузерах, а также
                    интересные приемы, используемые для поддержания кроссбраузерности в движке Blend4Web.</p></div>


            <div class="second-stream second-stream-mark">

                <img class="speaker-photo" src="images/speakers/alex_karlovich.jpg">

                <h3>TV in browsers: live cases</h3>

                <p class="speaker-name">Александр Карлович</p>

                <p>До сих пор многие медиа-компании используют для стриминга видео контента Flash или Silverlight.
                    Посмотрим,
                    как начать жить проще и по HTML5-стандартам.</p></div>
        </li>

        <li class="event-schedule-item second-stream-mark">
            <h2 class="speech-time">18:20</h2>
            <img class="speaker-photo" src="images/cssqd.png">

            <h3>CSS Quickdraw 2.0</h3>

            <p class="speaker-name">Кирилл Кныш, Андрей Волченко</p>

            <p>Кто был на #RSConf уже успел познакомиться c CSS Quickdraw. Но далеко не все взяли ноутбуки и были лишь в
                качестве зрителей. Исправляемся, берем на митап и играем!. Вас ждут: - новые задания; - пофиксанный
                бекенд; -
                лицензии от JetBrains в качестве приза первой тройке; - почетное звание фронтендщик "руки-ножницы"
                победителю.
                Let's Roll!</p>
        </li>

        <li class="event-schedule-item ">
            <h2 class="speech-time">20:00</h2>
            <img class="speaker-photo" src="images/bottles.jpg">

            <h3>Beer.js party</h3>

            <p>Place: TBD</p>
        </li>

    </ul>

    <% include ../../common/register-button %>

    <h1>Место проведения</h1>
    <p>
        IMAGURU Бизнес Клуб, г. Минск, ул. Фабрициуса, 4
    </p>
    <a target="_blank" href="https://goo.gl/maps/yNZ6znKhYwm"><img style="width: 100%;"
                                                                    src="images/rs-on-tour/imaguru-map.jpg" alt=""/></a>


</section>

<section>
    <h2 class="text-center">Организаторы</h2>
    <ul class="partner-list">
        <li><a href="https://rollingscopes.com/"><img src="images/logo_rs2.svg" alt="rollingscopes logo"/></a></li>
        <li><a href="https://www.facebook.com/groups/DesignKitchen/"><img src="images/partners/ux.jpg"
                                                                          alt="Дизайн кUXня logo"/></a></li>
    </ul>
</section>
<section>
    <h2 class="text-center">Партнеры</h2>
    <ul class="partner-list">
        <li><a href="http://wargaming.com/ru/careers/vacancies/"><img src="images/partners/WG_Logo_Sharpen_Metal_01.png"
                                                                      alt="Wargaming logo"/></a></li>
        <li><a href="http://www.epam.by/"><img src="images/partners/epam-systems.jpg" alt="epam logo"/></a></li>
        <li><a href="https://www.jetbrains.com/"><img src="images/partners/jetbrains.png" alt="jetbrains logo"/></a>
        </li>
        <li><a href="https://www.yandex.com/"><img src="images/partners/yandex.png" alt="yandex logo"/></a></li>
        <li><a href="http://imaguru.co/en"><img src="images/partners/logo_guru.png" alt="imaguru logo"/></a></li>
    </ul>
</section>


