.the-beginning .reveal .state-background {
	background-color: transparent;
	background-image: url(../images/sec-bg.png);
	background-size: cover;
}

.the-beginning .reveal .state-background::before {
	content: "";
	display: inline-block;
	background-image: url(../images/sec-logo.png);
	width: 206px;
	height: 32px;
	margin: 40px 80px;
}

.the-beginning .reveal .state-background::after {
	content: "";
	display: inline-block;
	background-image: url(../images/powered-by-logo.png);
	width: 147px;
	height: 59px;
	margin: 40px 80px;
	right: 0;
	bottom: 0;
	position: absolute;
}

.the-end .reveal .state-background {
	background-color: transparent;
	background-image: url(../images/sec-bg-2.png);
	background-size: cover;
}

.float-left {
	float: left;
}

.float-right {
	float: right;
}

.text-left {
	text-align: left;
}

.text-right {
	text-align: right;
}

.text-green {
  color: rgb(25, 255, 55);
}

.text-red {
	color: rgb(248, 104, 123);
}

.text-light-red {
	color: rgb(252, 194, 194);
}

.text-moccasin {
	color: #FFE4B5;
}

.text-yellow {
	color: rgb(248, 208, 104);
}

.reveal .display-block {
	display: block;
}

.half {
	width: 50%;
	float: left;
	position: relative;
}

.reveal .social {
	padding: 10px 0 10px 80px;
	position: relative;
}

.reveal .social .social-icon {
	position: absolute;
	left: 0;
	top: 0;
}

.social-icon {
	width: 59px;
	height: 59px;
	display: inline-block;
}

.social-icon.linkedin-icon {
	background-image: url(../images/linkedin.png);
}

.social-icon.link-icon {
	background-image: url(../images/link.png);
}

.social-icon.email-icon {
	background-image: url(../images/email.png);
}

.social-icon.skype-icon {
	background-image: url(../images/skype.png);
}

.social-icon.twitter-icon {
	background-image: url(../images/twitter.png);
}

.social-icon.fb-icon {
	background-image: url(../images/fb.png);
}

.reveal section .clear-img {
	background: transparent;
	border: none;
	box-shadow: none;
}

.reveal section .tech-img {
	max-height: 180px;
	max-width: 300px;
	vertical-align: middle;
	position: absolute;
	background: none;
	border: none;
	box-shadow: none;
}

.reveal h2.selected {
	color: rgb(255, 250, 205);
}

.reveal section .tech-wrap h3 {
	float: right;
	vertical-align: middle;
	line-height: 180px;
}

.reveal section .tech-wrap p, .reveal section .tech-wrap blockquote {
	float: right;
	vertical-align: middle;
	max-width: 50%;
	line-height: 1em;
}

.reveal section .tech-wrap {
	text-align: left;
	line-height: 180px;
	vertical-align: middle;
	padding: 0 0 4em 0;
	min-height: 4em;
}

.reveal section .circular {
	width: 300px;
	height: 300px;
	border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
	background: #FFFFFF;
	position: relative;
}

.reveal section .circular-large {
	width: 600px;
	height: 600px;
	border-radius: 300px;
	-webkit-border-radius: 300px;
	-moz-border-radius: 300px;
	background: #FFFFFF;
	position: relative;
	margin: 0 auto;
	overflow: hidden;
}

.reveal section .circular-mid {
	width: 400px;
	height: 400px;
	border-radius: 200px;
	-webkit-border-radius: 200px;
	-moz-border-radius: 200px;
	background: #FFFFFF;
	position: relative;
	margin: 0 auto;
	overflow: hidden;
}

.reveal section .circular-min {
	width: 200px;
	height: 200px;
	border-radius: 200px;
}

.reveal section .circular-large img, .reveal section .circular-mid img, .reveal section .circular-min img, .reveal section .circular-small img {
	background: none;
	border: none;
	box-shadow: none;
	position: absolute;
}

.reveal section img.nodecorations {
	border: none;
	background: none;
	box-shadow: none;
}

span.text-with-left-image {
	position: absolute;
	left: 250px;
	white-space: nowrap;
	font-weight: bold;
}

.text-middle {
	top: 85px;
}

ul.list-with-left-image {
	width: 100%;
	list-style: none;
}

ul.list-style-type-none {
	list-style: none;
}

.list-with-left-image li {
	margin: 15px 0;
}

.reveal section .circular-small {
	width: 100px;
	height: 100px;
	border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
	background: #FFFFFF;
	position: relative;
	overflow: hidden;
}

.reveal section .circular-small img {
	margin: 0;
}

.reveal section img.nodecorations {
	border: none;
	background: none;
	box-shadow: none;
}

.reveal section .text-wrap {
	text-align: left;
	line-height: 75px;
	vertical-align: middle;
	min-height: 100px;
	margin: 13px 0;
}

.reveal section .list-wrap {
	padding: 50px 0 0 10px;
	float: left;
	width: 40%;
}

.reveal section .text-inner {
	float: left;
	padding: 0 10px;
}

.reveal section.jstesting li.fragment {
	list-style-type: none;
}

.reveal a:not(.image) {
	color: #F3FF68;
}

.reveal a:not(.image):hover {
	color: #FFC42B;
}

.reveal section .box-shadow-img {
	box-shadow: 0 0 12px -1px #000;
}

.reveal q {
  quotes: "“" "”" "‘" "’" !important;
}

.reveal q:before {
    content: open-quote !important;
}

.reveal q:after {
    content: close-quote !important;
}

.reveal section .text-small {
	font-size: 0.75em;
}

.reveal section blockquote {
	width: 85%;
	box-shadow: 0 0 12px -1px #000;
	background: #2f2f2f;
}

.reveal pre code {
	box-shadow: 0 0 12px -1px #000;
	/*border: 1px solid #666;*/
	background: none;
	/*font-family: "Myriad Pro", Calibri, Helvetica, Arial, sans-serif;*/
	font-family: Consolas, 'Andale Mono', 'Courier New', monospace;
	background: #2f2f2f;
}

.reveal section .toc h4{
	color: #CCC;
	text-align: right;
}

.reveal section .toc h2, .reveal section .toc h3{
	text-align: right;
}

.reveal section .toc h4.old{
	color: #999;
}

.reveal section .toc h2.selected {
	color: #FFE4B5;
}

.reveal section .toc .active {
	color: #FFF;
}

.reveal section .profile-photo {
	margin: 10px 20px;
}

ul.list-style-type-packman {
	list-style-type: none;
}

ul.list-style-type-packman li:before {
	content: "•";
	color: yellow;
}

.reveal section .clear {
	clear: both;
}