<div class="accent-section">
    <h2>Информация для тех, кто едет из Минска</h2>

    <section>

        <h3>9 апреля</h3>

        <p>В 9:30 собираемся на АЗС Беларуснефть (Партизанский пр., 156), около ТЦ Момо (ст. м.
            Могилевская)</p>

        <p>В Гомель едем на микроавтобусе (21 место, цвет и номер TDB), проезд бесплатный, оплата ~150 тыс. за
            экскурсию.</p>

        <p>До поездки вам необходимо найти и забронировать место, где вы будете ночевать в Гомеле. Рекомендуем
            воспользоваться
            <a href="http://goo.gl/2TdFw8">booking.com</a></p>

        <p>По неотложным вопросам звонить +375 29 365 15 65 (Дима)</p>

        <p><a target="_blank" href="https://goo.gl/maps/D9vEk9eurs62"><img style="max-width: 100%;" src="images/rs-on-tour/rsminskmap.jpg" alt=""/></a></p>

    </section>

    <section>

        <h3>10 апреля</h3>

        <p>В 9:45 собираемся у здания по адресу ул.Ланге, д.17(там, где был митап). К этому времени
            желательно, чтобы вы успели где-то позавтракать.</p>

        <br/>
        <h2>План экскурсии</h2>

        <p>Экскурсию проводит известный экскурсовод,историк - Павел Каралёў</p>

        <h3>Гомель</h3>

        <p> Драўляная архітэктура Гомеля. Агляд унікальнай драўлянай забудовы Гомеля, якая яшчэ захавалася да нашага
            часу.
        </p>

        <h3>Ветка</h3>

        <p>Музей стараверства і беларускіх традыцый імя Шклярава на мясцовай Краснай плошчы.
            Адзін з цікавейшых музеяў не толькі рэгіёна, але ўсёй краіны.
            Сабраныя ўнікальныя матэрыялы датычныя жыцця ў наваколлі старавераў.
            Рэдкія іконы, рукапісныя рарытэты, друкаваныя выданні. <br/> Кошт квітка з чалавека 20 тыс. + экскурсія 40
            тыс. на групу.</p>

        <h3>Красны бераг</h3>

        <p>Наведванне палацава-паркавага комплекса Козел-Паклеўскіх 1890-1893 гадоў. Палац адчынены пасля рэстаўрацыі,
            больш 30 залаў.<br/>
            Мясцовы парк – помнік прыроды рэспубліканскага значэння. Там растуць розныя экзоты (піхта сібірская, чырвоны
            дуб, хвоя чырвоная і інш). <br/>
            Кошт квітка на тэрыторыю палацава комплексу з чалавека 30 тыс. + экскурсія 150 тыс. на групу.</p>

        <p>
            Наведванне мемарыяльнага комплекса дзецям-ахвярам Другой сусветнай вайны. <br/>Квіток на чалавека 15 тыс.
        </p>

        <h3>Бабруйск</h3>

        <p>Агляд горада.<br/>
            Касцёл пач. 20 ст., царква 19 ст., гарадская забудова.<br/>
            Бабруйская крэпасць – помнік фартыфікацыі 19 ст.</p>


    </section>
</div>