<div class="accent-section">
    <section>
        <h2>План экскурсии (10 апреля) </h2>

        <h3>Гомель</h3>

        <p> Драўляная архітэктура Гомеля. Агляд унікальнай драўлянай забудовы Гомеля, якая яшчэ захавалася да нашага
            часу.
        </p>

        <h3>Ветка</h3>

        <p>Музей стараверства і беларускіх традыцый імя Шклярава на мясцовай Краснай плошчы.
            Адзін з цікавейшых музеяў не толькі рэгіёна, але ўсёй краіны.
            Сабраныя ўнікальныя матэрыялы датычныя жыцця ў наваколлі старавераў.
            Рэдкія іконы, рукапісныя рарытэты, друкаваныя выданні. <br/> Кошт квітка з чалавека 20 тыс. + экскурсія 40
            тыс. на групу.</p>

        <h3>Красны бераг</h3>

        <p>Наведванне палацава-паркавага комплекса Козел-Паклеўскіх 1890-1893 гадоў. Палац адчынены пасля рэстаўрацыі,
            больш 30 залаў.<br/>
            Мясцовы парк – помнік прыроды рэспубліканскага значэння. Там растуць розныя экзоты (піхта сібірская, чырвоны
            дуб, хвоя чырвоная і інш). <br/>
            Кошт квітка на тэрыторыю палацава комплексу з чалавека 30 тыс. + экскурсія 150 тыс. на групу.</p>

        <p>
            Наведванне мемарыяльнага комплекса дзецям-ахвярам Другой сусветнай вайны. <br/>Квіток на чалавека 15 тыс.
        </p>

        <h3>Бабруйск</h3>

        <p>Агляд горада.<br/>
            Касцёл пач. 20 ст., царква 19 ст., гарадская забудова.<br/>
            Бабруйская крэпасць – помнік фартыфікацыі 19 ст.</p>


    </section>
</div>