// bower:scss
@import "../../../node_modules/normalize.scss/normalize.scss";

// endbower

/*------------------------------------*\
    VARIABLES
\*------------------------------------*/
$accent-color: #f0bf19;
$link-color: #e5194c;

/*------------------------------------*\
    MIXINS
\*------------------------------------*/

@mixin transform($transforms) {
  -moz-transform: $transforms;
  -o-transform: $transforms;
  -ms-transform: $transforms;
  -webkit-transform: $transforms;
  transform: $transforms;
}

// rotate
@mixin rotate($deg) {
  @include transform(rotate(#{$deg}deg));
}

// scale
@mixin scale($scale) {
  @include transform(scale($scale));
}

// translate
@mixin translate($x, $y) {
  @include transform(translate($x, $y));
}

// skew
@mixin skew($x, $y) {
  @include transform(skew(#{$x}deg, #{$y}deg));
}

//transform origin
@mixin transform-origin($origin) {
  moz-transform-origin: $origin;
  -o-transform-origin: $origin;
  -ms-transform-origin: $origin;
  -webkit-transform-origin: $origin;
  transform-origin: $origin;
}

/*------------------------------------*\
    COMMON STYLES
\*------------------------------------*/
body {
  background: #fff;
  font-family: 'Cuprum', sans-serif;
  color: #333;
}

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

section {
  max-width: 1024px;
  margin: auto;
  overflow: hidden;
  padding: 30px 20px;
}

h1 {
  font-size: 3em;
}

h2, h3 {
  text-transform: uppercase;
  margin: .5em 0;
}

p {
  line-height: 1.4;
  margin: .5em 0;
}

a, .footnote {
  color: $link-color;
  text-decoration: none
}

a:hover {
  text-decoration: underline
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.accent-section {
  background: #ebebeb;
}

iframe {
  border: 0;
}

blockquote {
  text-align: right;
  font-size: 1.2em;
  display: inline-block;
  p {
    font-size: .8em;
    color: #bbb;
  }
}
/*------------------------------------*\
    HEADER
\*------------------------------------*/

.header-wrapper {
  width: 100%;
  height: 50px;
  background: #141414;
  position: fixed;
  top: 0;
  z-index: 1000;
}

header {
  @extend section;
  padding: 0 20px;
}

.logo {
  position: absolute;
  img {
    height: 80px;
    margin-top: 10px;
  }
}

.header-wrapper + section {
  padding-top: 80px;
}

.header-wrapper + .accent-section {
  padding-top: 60px;
}

/*------------------------------------*\
    NAVIGATION
\*------------------------------------*/

.main-nav-wrapper {
  padding: 0;
}

.main-nav {
  padding: 0;
  margin: 0 auto;
  li {
    float: left;
    display: inline-block;
    position: relative;
    width: 25%;
    overflow: hidden;
    padding-bottom: 25%;

    a {
      display: block;
      position: absolute;
      color: #fff;
      text-transform: uppercase;
      font-size: 34px;
      line-height: 0;

      top: 10px;
      left: 10px;
      bottom: 10px;
      right: 10px;

      &:before {
        content: " ";
        position: absolute;
        top: 0;
        bottom: 100%;
        width: 100%;
        height: 100%;
        background: #000;
        opacity: 0.25;
        z-index: 10;
      }
      &:hover:before {
        opacity: 0.45;
      }
    }
    img {
      width: 100%;
    }
    .title {
      position: absolute;
      top: 50%;
      @include transform(translate(0, -50%));
      width: 100%;
      text-align: center;
      z-index: 10;
      line-height: 50px;
      font-size: 50px;
    }

  }

  //li:nth-child(-n+10) {
  //  width: 20%;
  //  padding-bottom: 20%;
  //}
}

.nav {
  margin: 8px 0 0 0;
  padding: 0 0 0 20px;
  float: right;
  li {
    display: inline;
    a {
      text-decoration: none;
      display: inline-block;
      margin: 0 0 0 5px;
      padding: 7px;
      background: #404040;
      color: #fff;
      &:hover {
        background: #141414;
      }
    }
  }
}

.speaker-wanted {
  background: #ebebeb;

  section {
    max-width: 600px;
    //padding: 60px 0;
    text-align: center;
  }
}

.info-accented {
  border: 4px double #ccc;
  text-align: center;
  padding: 10px;
  h2 {
    text-transform: none;
  }
}

/*------------------------------------*\
    FOOTER
\*------------------------------------*/

.footer-wrapper {
  background: #252525;
  color: #666;
}

footer {
  @extend section;
  position: relative;
  min-height: 240px;
  padding: 0 20px;

  .nav {
    float: none;
    padding: 0;
    margin: 0;
    li:first-child a {
      margin: 0;
    }

    li a {
      &:hover {
        background: #252525;
      }
    }
  }
}

.footer-logo {
  position: absolute;
  top: 50%;
  right: -100px;
  display: block;
  background: url("../images/logo_rs2.svg") no-repeat 0 0;
  background-size: contain;
  width: 289px;
  height: 151px;
  opacity: .7;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  transform: translateY(-50%);
}

/*------------------------------------*\
    SCHEDULE
\*------------------------------------*/

.event-title {
  border-bottom: 4px double #333;
  text-align: right;
  margin-bottom: 6px;
  line-height: 1.3;
  clear: both;
}

.event-info {
  display: table;
  width: 100%;
  font-size: 20px;
  margin: 10px 0 0;
}

.event-date, .event-location {
  display: table-cell;
  width: 50%;
}

.event-location {
  text-align: right;
}

.button-wrapper {
  text-align: center;
  padding: 20px 0 30px;
}

.event-schedule + .button-wrapper {
  padding: 0 0 20px;
}

.register-button {
  text-align: center;
  display: inline-block;
  width: 100%;
  padding: 10px 0;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: $link-color;
  border-radius: 2px;
  box-shadow: 0 0 2px $link-color;
  transition: background .3s, color .1s;
  background: #fff;
  i {
    margin-right: 10px;
  }
  &:hover {
    text-decoration: none;
    background: $link-color;
    color: #fff;
  }
}

.registration-closed {
  @extend .register-button;
  background: $link-color;
  color: #fff;
  box-shadow: none;
}

h2.day-number {
  padding: 5px 0;
  margin: 0;
  font-weight: normal;
  background: #bbb;
  color: #fff;
  text-align: center;
}

h1 a[name] {
  color: #333;

  &:hover {
    text-decoration: none;
  }
}



.event-schedule {
  padding: 0;
  margin: 0;
}

.event-schedule-item {
  position: relative;
  list-style: none;
  overflow: hidden;
  padding: 50px 0 50px 88px;
  border-top: 1px solid #ccc;
  .first-stream, .second-stream {
    display: table-cell;
    padding: 0 30px 0 0;
    width: 40%;
    > * {
      margin: 0 0 0 130px;
    }
    ul {
      padding: 0;
    }
  }
  .second-stream {
    padding: 0 0 0 30px;
  }

  > * {
    margin: 0 0 0 130px;
    line-height: 1.4em;
    padding: 0;
    list-style-position: inside;
  }
  h3 {
    color: #000;
    position: relative;
  }
  p {
    padding: .3em 0;
  }
  .speaker-photo {
    width: 100px;
    border-radius: 50%;
    float: left;
    margin: 6px 30px 0 0;
  }

  .speaker-photo + .speaker-photo {
    position: relative;
    left: -100px;
  }

  .speaker-name {
    color: #bbb;
  }
}

.speech-time {
  position: absolute;
  left: 0;
  width: 58px;
  font-size: 30px;
  line-height: 1em;
  color: #ccc;
  font-weight: 400;
  padding: 0;
  margin: 0;
  top: 5px;
}

.first-stream-mark h3:before, .second-stream-mark h3:before {
  content: "1 поток";
  position: absolute;
  top: -22px;
  left: 0;
  box-sizing: border-box;
  padding: 3px 5px;
  text-align: center;
  line-height: .8em;
  background: #194ce5;
  color: #fff;
  font-size: 12px;
}

.second-stream-mark h3:before {
  content: "2 поток";
}

/*------------------------------------*\
    PARTNER-LIST
\*------------------------------------*/
.partner-list, .team-list {
  padding: 0;
  -webkit-flex-flow: wrap row;
  flex-flow: row wrap;
  list-style-type: none;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  li {
    max-width: 220px;
    margin: auto;
    padding: 1em .5em;
    box-sizing: border-box;
    text-align: center;
    img {
      width: 200px;
      max-height: 200px;
    }
  }
}

.team-list li {
  max-width: 15%;
  padding: 1em .5em .5em;
  margin: 0 auto;

  img {
    width: 100%;
    max-height: 100%;
  }
  h3 {
    font-size: 14px;
    margin: 0;
  }
}

.team-list.hall-of-fame li {
  padding: 0 3px 20px;

  h3 {
    margin: 0 0 10px;
    font-size: 16px;
    color: #888;
    font-weight: normal;
  }

  p {
    line-height: 1.1;
    margin: 0 0 6px;
    text-align: left;
    font-size: 13px;
  }
}

/*------------------------------------*\
    EVENT-LIST
\*------------------------------------*/
.event-list {
  margin: 0;
  padding: 0;
}

.event-list-item {
  position: relative;
  display: block;
  margin: 0 0 0 100px;
  padding: 30px 0;
  border-top: 1px solid #ccc;
  .date, .mounth {
    width: 80px;
    position: absolute;
    left: -80px;
    top: 30px;
    color: #888;
    margin: 0;
    font-weight: normal;
  }
  .mounth {
    top: 55px;
    font-size: 14px;
  }
  h2 {
    text-transform: none;
    margin: 0;

    a {
      text-decoration: underline;
      font-weight: normal;
    }
  }
  p {
    color: #bbb;
    margin: 5px 0;
    a {
      color: #bbb;
    }
  }
  &:first-child {
    border-top: 0;
  }
}

/*------------------------------------*\
    TILE MENU
\*------------------------------------*/

.tile-menu {
  margin: 0 -5px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: stretch;
}

.tile-menu-item {
  position: relative;
  flex-basis: 200px;
  flex-grow: 1;
  margin: 5px;
  font-size: 14px;
  padding: 20px;
  color: #999;
  background: #fff;
  text-align: center;
  box-shadow: 0 2px 0 #e2e2e2;
  border-radius: 5px;
  border: 1px solid transparent;
  overflow: hidden;

  i {
    color: #333;
    font-size: 40px;
    display: block;
    margin-bottom: 10px;
  }

  &:hover {
    background: #f7f7f7;
    text-decoration: none;
  }
}

.tile-menu-title {
  display: block;
  font-size: 24px;
  margin: 0 0 10px;
  text-transform: uppercase;
  color: #333;
  font-weight: normal;
  letter-spacing: 1px;
}

/*------------------------------------*\
    Enrollment Banner
\*------------------------------------*/

.enrollment-banner {
  background: url(../images/enrollment.jpg) no-repeat 0 50%;
  background-size: cover;
  display: block;
  min-height: 260px;
  box-sizing: border-box;
  text-align: center;
  padding: 10px 20px;
  font-size: 30px;
  color: #fff;
}

.enrollment-text {
  color: #fff;
  font-size: 64px;
  text-transform: uppercase;
  margin: 0;
}

.enrollment-btn {
  @extend .register-button;
  background: $link-color;
  color: #fff;
  display: inline-block;
  box-sizing: border-box;
  padding: 10px 30px;
  margin: 10px 20px;
  width: auto;
  min-width: 190px;
  text-align: center;
  opacity: 0.85;
  &:hover {
    opacity: 1;
    transition: all 0.23s ease-in-out 0s;
  }
}

/*------------------------------------*\
    BREAKPOINT - 1024
\*------------------------------------*/

@media only screen and (max-width: 1024px) {
  section {
    max-width: 768px;
  }

  .main-nav li {
    width: 33% !important;
    padding-bottom: 33% !important;
    a {
      top: 10px;
      right: 10px;
      bottom: 10px;
      left: 10px;
    }

    .title {
      font-size: 44px;
      line-height: 44px;
    }
  }

  h1 {
    font-size: 2em;
  }

  .event-schedule-item {
    padding: 50px 0;

    .first-stream, .second-stream {
      display: block;
      margin: 0;
      width: 100%;
    }
    .second-stream {
      padding: 50px 0 0 0;
    }
  }

  .speech-time {
    font-size: 20px;
  }

  .first-stream-mark h3:before, .second-stream-mark h3:before {
    top: -18px;
  }

  .team-list li {
    max-width: 25%;
  }
}

/*------------------------------------*\
   BREAKPOINT - 768
\*------------------------------------*/

@media only screen and (max-width: 768px) {
  section {
    max-width: 600px;
  }

  header {
    min-height: 130px;

    .nav:first-child {
      display: none;
    }
  }

  .logo img {
    height: 70px;
  }

  .banner h2 {
    font-size: 100%;
  }

  .nav + .nav {
    clear: both;
  }

  .main-nav li {

    .title {
      font-size: 40px;
      line-height: 40px;
    }
  }

  .team-list li {
    max-width: 33%;
  }

}

/*------------------------------------*\
   BREAKPOINT - 600
\*------------------------------------*/

@media only screen and (max-width: 600px) {
  .main-nav li {
    width: 50% !important;
    padding-bottom: 50% !important;
  }

  section {
    max-width: 480px;
  }

  .event-schedule-item > *,
  .event-schedule-item .first-stream > *, .event-schedule-item .second-stream > * {
    margin: 0;
  }

  .event-schedule-item .speaker-photo {
    border-radius: 0;
    margin: 6px 0 10px 10px;
    float: right;
  }

  .event-title {
    text-align: center;
  }

  .first-stream-mark h3:before, .second-stream-mark h3:before {
    left: auto;
    right: 0;
    top: -12px;
  }

  .partner-list li img {
    width: 140px;
  }

  .team-list li {
    max-width: 50%;
  }

  .event-list-item {
    margin: 0 0 0 60px;
    padding: 10px 0;
    .date, .mounth {
      width: 60px;
      left: -60px;
      top: 10px;
    }
    .mounth {
      top: 25px;
    }
    h2 {
      font-size: 1em;
    }
  }

}

/*------------------------------------*\
   BREAKPOINT - 480
\*------------------------------------*/

@media only screen and (max-width: 480px) {
  section {
    max-width: 375px;
  }

  .header-wrapper {
    height: 55px;
  }

  .logo img {
    position: absolute;
    top: 0;
    height: 40px;
    left: 50%;
    transform: translateX(-50%);
  }

  header {
    text-align: center;
  }

  .header-wrapper + section {
    padding-top: 65px;
  }

  .header-wrapper + .accent-section {
    padding-top: 45px;
  }

  .main-nav li .title {
    font-size: 30px;
    line-height: 30px;
  }

  .nav {
    margin-top: 12px;
  }

  .nav li a {
    font-size: 14px;
  }

  .schedule-full {
    li {
      padding: 0;
    }
    .speaker-photo {
      position: relative;
      float: right;
      height: 80px;
      width: 80px;
      top: 10px;
      margin: 0 0 10px 10px;
    }
  }

  footer {
    text-align: center;
    padding-bottom: 20px;
  }

  .footer-logo {
    position: relative;
    top: auto;
    right: 0;
    transform: translateY(0);
    margin: auto;
    width: auto;
    background-position: center;
  }

  .button-wrapper {
    text-align: right;
    padding-bottom: 0;
  }

  .register-button {
    padding: 10px;
    box-sizing: border-box;
    width: 240px;
    text-align: right;
    line-height: 30px;
    i {
      float: left;
      margin: 0;
      font-size: 30px;
    }
  }

  .register-button {
    color: #fff;
    background: $link-color;
    &:hover {
      background: #fff;
      color: $link-color;
    }
  }

  .registration-closed {
    text-align: center;
    width: 100%;
  }

  .enrollment-text {
    font-size: 44px;
  }

  .enrollment-btn {
    text-align: center;
  }
}

/*------------------------------------*\
   BREAKPOINT - 375
\*------------------------------------*/

@media only screen and (max-width: 375px) {
  section {
    max-width: 320px;
    padding: 20px 10px;
  }
  header {
    padding: 0 10px 0;
  }
  .nav {
    padding: 0;
  }
  .nav li a {
    font-size: 12px;
  }

  .button-wrapper {
    text-align: center;
  }
}

/*------------------------------------*\
   BREAKPOINT - 320
\*------------------------------------*/

@media only screen and (max-width: 320px) {
  section {
    max-width: 300px;
  }
}
