<h1><a name="day-1">JS DAY / 20-06-2017</a></h1>

<ul class="event-schedule">
  <li class="event-schedule-item"><h2 class="speech-time">19:00</h2>
    <img class="speaker-photo"
         src="images/speakers/aleh_kashnikau.jpg"
         alt="Aleh Kashnikau photo">
    <h3>Про TDD, BDD и зачем все это</h3>
    <p class="speaker-name">Aleh Kashnikau</p>
    <p>Кратко о том, что такое тест и чем он отличается от спеки; зачем писать тесты и зачем писать тесты до кода; какие
      у всего этого плюсы и когда это все не нужно; как исторически процесс-разработки стал включать циклы
      тестирования.</p></li>
  <li class="event-schedule-item"><h2 class="speech-time">19:45</h2>
    <h3><i class="fa fa-coffee" aria-hidden="true"></i> Coffee break</h3></li>
  <li class="event-schedule-item"><h2 class="speech-time">19:55</h2><img class="speaker-photo"
                                                                         src="images/speakers/andrei_vouchanka.jpg"
                                                                         alt="Andrei Vouchanka photo">
    <h3>React Native shared components. Write once, use everywhere (well, almost everywhere)
    </h3>
    <p class="speaker-name">Andrei Vouchanka</p>
    <p>Поговорим об экспансии react.js во все сферы разработки, server-side rendering-е, next.js, как вклинить webgl
      компонент в реактовский жизненный цикл, слепить из всего этого &laquo;реюзабельную&raquo; библиотеку, написать
      вокруг нее UI
      на react native + react native web.
    </p></li>
  <li class="event-schedule-item"><h2 class="speech-time">20:40</h2>
    <h3><i class="fa fa-coffee" aria-hidden="true"></i> Coffee break</h3></li>
  <li class="event-schedule-item"><h2 class="speech-time">20:50</h2><img class="speaker-photo"
                                                                         src="images/speakers/siarhei_melnik.jpg"
                                                                         alt="Siarhei Melnik photo">
    <h3>REACT NATIVE & CLOSURESCRIPT</h3>
    <p class="speaker-name">Siarhei Melnik</p>
    <p>После анонса Сreate React Native App можно сказать, что входной барьер написания нативных приложений стал
      достаточно низок. Так давайте добавим выразительность, прагматизм и эффективность СlojureScript...
    </p></li>
</ul>


<h1><a name="day-2">UX DAY / 21-06-2017</a></h1>

<ul class="event-schedule">
  <li class="event-schedule-item"><h2 class="speech-time">18:00</h2>
    <img class="speaker-photo" src="images/speakers/Maksim_Barysau.jpg" alt="Maksim Barysau photo">
    <h3>Service design for &laquo;Krumkachy&raquo; football team </h3>
    <p class="speaker-name">Maksim Barysau</p>
    <p>TBD</p></li>


  <li class="event-schedule-item"><h2 class="speech-time">18:45</h2>
    <img class="speaker-photo"
         src="images/speakers/kseniya_koltun.jpg"
         alt="Ксения Колтун photo">
    <h3> Оценка интерфейсов</h3>
    <p class="speaker-name">Ксения Колтун</p>
    <p>Типичные проблемы найденные на проектах в разных доменных областях: массовые продукты, финансовые инструменты,
      специализированные продукты (навигатор для кораблей) и тд. Советы, на что обращать внимание, если вы увлеклись
      “фичиризмом” и команда программистов реализует новые опции, &laquo;потому что может&raquo;.</p></li>

  <li class="event-schedule-item"><h2 class="speech-time">19:30</h2>
    <h3><i class="fa fa-coffee" aria-hidden="true"></i> Coffee break</h3></li>
  <li class="event-schedule-item"><h2 class="speech-time">19:50</h2>
    <img class="speaker-photo"
         src="images/speakers/stanislav_borisevich.jpg"
         alt="Vital Voronovich photo">
    <h3>Education in Design или Как выучить дизайнеров? </h3>
    <p class="speaker-name">Станислав Борисевич</p>
    <p>TBD </p></li>

  <li class="event-schedule-item"><h2 class="speech-time">20:35</h2>
    <img class="speaker-photo"
         src="images/speakers/rolling_scopes.jpg"
         alt="RS CREW photo">
    <h3>Design/UX Round Table </h3>
    <p class="speaker-name">RS CREW</p>
    <p>TBD</p></li>
</ul>


<h1><a name="day-3">IT LEAGUE DAY / 22-06-2017</a></h1>

<p>Паб-квиз &laquo;Frontend League&raquo; возвращается под новым названием!</p>

<p>Организаторы предудущих квизов (три минских фронтенд-сообшества: 4Front, WebNotBombs и RollingScopes) подумали, что
  все вопросы по фронтенду они уже спросили,
  да и в целом направленность конкурсных вопросов все больше и больше стремилась к более общей айтишной тематике.
  Поэтому встречайте!</p>

<p>&laquo;IT LEAGUE&raquo; - айти-лига, где принять участие может любой человек, интересующийся и увлекающийся
  информационными технологиями. Дизайнеры, фронты, бекенд-девелоперы, фуллстеки, пиэмы и даже студенты технических вузов
  -
  любой из вас может создать команду, зарегистрироваться и поучаствовать в игре.</p>

<p>Место проведения: бар Хулиган, Октябрьская 16.</p>
<p>Дата: 22-го июня (четверг), 19-00</p>

<p>Формат проведения - приблизительно 7 туров с разного рода вопросами по IT тематике</p>

<p>Команда, занявшая первое место, награждается памятными призами, 2 и 3 - утешительными.</p>

<p>Ориентировочный состав: 3-6 человек. Всего планируется 11 команд - 10 регистрируют капитаны, и в 11-ой будут играть
  участники без команды (для таких участников будет специальная опция)</p>

<p>Участие абсолютно бесплатное.</p>
<p>Ссылка на регистрацию будет доступна в скором времени. Следите за апдейтами на сайте, а также в группах сообществ:
  <a href="https://www.facebook.com/groups/4front/" target="_blank">4Front</a>, <a
    href="https://www.facebook.com/webnotbombs/" target="_blank">WebNotBombs</a>, <a
    href="https://www.facebook.com/groups/TheRollingScopes/" target="_blank">RollingScopes</a></p>

<h1><a name="day-4">JS/UX DAY / 23-06-2017</a></h1>

<ul class="event-schedule">

  <li class="event-schedule-item">
    <h2 class="speech-time">19:00</h2>


    <div class="first-stream first-stream-mark">
      <img class="speaker-photo" src="images/speakers/denis_vlassenko.jpg">

      <h3>Accelerated Mobile Pages: Делаем WEB сверхбыстрым</h3>

      <p class="speaker-name">Денис Влассенко</p>

      <p>Высокоуровневый обзор проекта AMP, open-source архитектуры от Google для мгновенной доставки контента
        первый доклад</p>

    </div>

    <div class="second-stream second-stream-mark">
      <img class="speaker-photo"
           src="images/speakers/vital_varanovich.jpg"
           alt="Vital Voronovich photo">
      <h3>MeteoGroup: product design audit & research </h3>
      <p class="speaker-name">Виталий Воронович</p>
      <p>TBD </p>
    </div>
  </li>
  <li class="event-schedule-item">
    <h2 class="speech-time">19:45</h2>

    <div class="first-stream first-stream-mark">

      <img class="speaker-photo" src="images/ide_logo.jpg">

      <h3>IDE Battle </h3>

      <p class="speaker-name">RS Crew</p>

      <p>Приглашаем всех желающих рассказать/обсудить/сравнить любимые редактора и полезные тулы.</p>
    </div>

    <div class="second-stream second-stream-mark">
      <img class="speaker-photo"
           src="images/speakers/anna_shiryaeva.jpg"
           alt="Анна Ширяева photo">
      <h3> Никто ничего не читает (на самом деле это не так)</h3>
      <p class="speaker-name">Анна Ширяева</p>
      <p>Анна расскажет о том, что пользователи читают тексты, так что история о «всё равно кто и что там напишет - уже
        не прокатывает»; о том, что в команде нужен человек, который умеет писать (как бы вы его не называли);
        в чём польза от такого человека команде и продукту</p>
    </div>
  </li>

  <li class="event-schedule-item">
    <h2 class="speech-time">20:30</h2>

    <h3><i class="fa fa-coffee"></i> Coffee break (20 min)</h3>
  </li>

  <li class="event-schedule-item">
    <h2 class="speech-time">20:50</h2>

    <div class="first-stream first-stream-mark">
      <img class="speaker-photo" src="images/WebSockets_logo.jpg">

      <h3> WebSocket Challenge</h3>

      <p class="speaker-name">RS Crew</p>

      <p>Приглашаем принять участие в небольшом codding челлендже, где вам придется вспомнить и послушать немного про
        WebSockets и бинарные данные. При желании челлендж можно пройти на любом языке программирования, где есть
        реализация WebSocket.</p>
    </div>

    <div class="second-stream second-stream-mark">
      <img class="speaker-photo"
           src="images/Novikau_Vanitski.gif"
           alt="Vitali Novikau & Dzmitry Vanitski photo">

      <!--<img class="speaker-photo"-->
           <!--src="images/speakers/dzmitry_vanitski.jpg"-->
           <!--alt="Dzmitry Vanitski photo">-->

      <h3>101 EPAM projects in one ecosystem</h3>
      <p class="speaker-name">Vitali Novikau, Dzmitry Vanitski</p>
      <p>Наша история о том, как мы перешли от ограниченного проектами мышления к цельной экосистеме. Мы поделимся нашим
        опытом, подводными камнями, с которыми столкнулись на нашем пути и прогнозом на будущее.</p>


    </div>
  </li>

  <!--<li class="event-schedule-item">-->
    <!--<h2 class="speech-time">20:50</h2>-->
    <!--<img class="speaker-photo" src="images/bottles.jpg">-->

    <!--<h3>Beer.css party</h3>-->

    <!--<p><a target="_blank" href="https://goo.gl/maps/oUBV1Vopw1P2">Пивной ресторан «Gaststätte (Гаштет)»</a><br/>-->
      <!--г. Минск, ул. Захарова, 31 </p>-->
  <!--</li>-->

</ul>

