<h1><a name="day-1">JS DAY / 20-06-2017</a></h1>

<ul class="event-schedule">
  <li class="event-schedule-item"><h2 class="speech-time">19:00</h2>
    <!--<img class="speaker-photo"-->
    <!--src="images/speakers/Aleh_Kashnikau.jpg"-->
    <!--alt="Aleh Kashnikau photo">-->
    <h3>Про TDD, BDD и зачем все это</h3>
    <p class="speaker-name">Aleh Kashnikau</p>
    <p>Кратко о том, что такое тест и чем он отличается от спеки; зачем писать тесты и зачем писать тесты до кода; какие
      у всего этого плюсы и когда это все не нужно; как исторически процесс-разработки стал включать циклы
      тестирования.</p></li>
  <li class="event-schedule-item"><h2 class="speech-time">18:45</h2><img class="speaker-photo"
                                                                         src="images/speakers/andrei_vouchanka.jpg"
                                                                         alt="Andrei Vouchanka photo">
    <h3>React Native shared components. Write once, use everywhere (well, almost everywhere)
    </h3>
    <p class="speaker-name">Andrei Vouchanka</p>
    <p>Поговорим об экспансии react.js во все сферы разработки, server-side rendering-е, next.js, как вклинить webgl
      компонент в реактовский жизненный цикл, слепить из всего этого &laquo;реюзабельную&raquo; библиотеку, написать
      вокруг нее UI
      на react native + react native web.
    </p></li>
  <li class="event-schedule-item"><h2 class="speech-time">19:30</h2><img class="speaker-photo"
                                                                         src="images/speakers/siarhei_melnik.jpg"
                                                                         alt="Siarhei Melnik photo">
    <h3>REACT NATIVE & CLOSURESCRIPT</h3>
    <p class="speaker-name">Siarhei Melnik</p>
    <p>После анонса Сreate React Native App можно сказать, что входной барьер написания нативных приложений стал
      достаточно низок. Так давайте добавим выразительность, прагматизм и эффективность СlojureScript...
    </p></li>
  <li class="event-schedule-item"><h2 class="speech-time">19:50</h2><img class="speaker-photo"
                                                                         src="images/speakers/kirill_shutemov1.jpg"
                                                                         alt="Кирилл Шутемов photo">
    <h3>Persistent Memory and Linux</h3>
    <p class="speaker-name">Кирилл Шутемов</p>
    <p>Рассказ Кирилла о процессе разработки ядра Linux на позапрошлом митапе слушатели оценили как &laquo;Жутко
      интересный&raquo; и
      потребовали больше хардкора.
      В новом докладе мы послушаем и обсудим Persistent Memory and Linux.</p>

    <p>Кирилл контрибьютит в Linux Kernel c 2005 года, а последние 6 лет занимает должность Senior Linux Kernel
      Developer в Intel Corporation.
    </p></li>
</ul>


<h1><a name="day-2">UX DAY / 21-06-2017</a></h1>

<ul class="event-schedule">
  <li class="event-schedule-item"><h2 class="speech-time">19:00</h2>
    <!--<img class="speaker-photo"-->
    <!--src="images/speakers/Maksim_Barysau.jpg"-->
    <!--alt="Maksim Barysau photo">-->
    <h3>Service design for &laquo;Krumkachy&raquo; football team </h3>
    <p class="speaker-name">Maksim Barysau</p>
    <p>TBD</p></li>


  <li class="event-schedule-item"><h2 class="speech-time">18:45</h2>
    <!--<img class="speaker-photo"-->
    <!--src="images/speakers/wargaming_speaker.jpg"-->
    <!--alt="wargaming speaker photo">-->
    <h3> UX в мобилках</h3>
    <p class="speaker-name">Wargaming</p>
    <p>TBD</p></li>


  <li class="event-schedule-item"><h2 class="speech-time">19:30</h2>
    <img class="speaker-photo"
         src="images/speakers/vital_varanovich.jpg"
         alt="Vital Voronovich photo">
    <h3>MeteoGroup: product design audit & research </h3>
    <p class="speaker-name">Vital Voronovich</p>
    <p>TBD </p></li>


  <li class="event-schedule-item"><h2 class="speech-time">19:50</h2>
    <img class="speaker-photo"
         src="images/speakers/rolling_scopes.jpg"
         alt="RS CREW photo">
    <h3>Design/UX Round Table </h3>
    <p class="speaker-name">RS CREW</p>
    <p>TBD</p></li>
</ul>


<h1>	<a name="day-3">IT LEAGUE DAY / 21-06-2017</a></h1>

<p>Паб-квиз &laquo;Frontend League&raquo; возвращается под новым названием!</p>

<p>Организаторы предудущих квизов (три минских фронтенд-сообшества: 4Front, WebNotBombs и RollingScopes) подумали, что
  все вопросы по фронтенду они уже спросили,
  да и в целом направленность конкурсных вопросов все больше и больше стремилась к более общей айтишной тематике.
  Поэтому встречайте!</p>

<p>&laquo;IT LEAGUE&raquo; - айти-лига, где принять участие может любой человек, интересующийся и увлекающийся
  интернет-технологиями. Дизайнеры, фронты, бекенд-девелоперы, фуллстеки, пиэмы и даже студенты технических вузов -
  любой из вас может создать команду, зарегистрироваться и поучаствовать в игре.</p>

<p>Первые три места награждаются памятными призами.</p>

<p>Ориентировочный состав: 3-6 человек.</p>

<p>Участие абсолютно бесплатное.</p>

<h1>	<a name="day-4">JS/UX DAY / 23-06-2017</a></h1>

<p>TBD</p>
