<h1 class="event-title"><%= event.name %></h1>

<div class="event-info">
    <div class="event-date"> <%= event.date %></div>
    <div class="event-location"><i class="fa fa-map-marker"></i> <a
                                                                    href="<%= event.locationLink %>"><%= event.location %></a>
    </div>
</div>
<% if (event.registrationAvailable) { %>
<p>
    <a class="register-button" href="/register.html">
        <i class="fa fa-sign-in"></i>
        Я буду, ждите!
    </a>
</p>
<% } %>

