<section class="banner">
    <h1><%= event.name %></h1>
    <h2>
      <%= event.date %>
      <a class="location" href="<%= event.locationLink %>"><%= event.location %></a>
    </h2>
    <% if (event.registrationAvailable) { %>
      <p>
        <a class="register-button" href="/register.html">
          <i class="fa fa-sign-in"></i>
          Я буду, ждите!
        </a>
      </p>
    <% } %>
</section>
