<% if (event.location === 'imaguru.co') { %>
<section>
    <h2>Место проведения</h2>
      <p><a href="http://imaguru.co/ru">IMAGURU</a> бизнес-клуб | стартап-хаб </p>
      <p>Минск, ул. Фабрициуса, 4 (ст.м. Институт Культуры)</p>
      <p><a target="_blank" href="https://goo.gl/maps/d25d5sAxwBU2">Посмотреть на карте <i
              class="fa fa-external-link-square"></i></a></p>
</section>
<% } %>
